.diskuf-extended {
	display: block;
	overflow: hidden;
	margin: 0 -10px;
}

.diskuf-extended-item {
	background-color: transparent;
	display: block;
	cursor: pointer;
	height: 36px;
	padding: 0 15px;
	position: relative;
	text-decoration: none;
	outline: none;
	white-space: nowrap;
	-webkit-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c68;
	line-height: 36px;
}

.diskuf-extended-item:hover,
.diskuf-extended-item-active {
	color: #333;
	background-color: #f6f8f9;
}

.diskuf-extended-item label {
	cursor: pointer;
}