.imconnector-livechat-button {
	display: block;
	overflow: hidden;
	background: #20a4e2;
	width: 290px;
	height: 35px;
	padding: 0 0 0 40px;
	line-height: 35px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight: var(--ui-font-weight-bold);
	position: relative;
	cursor: pointer;
}

.imconnector-livechat-button:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 35px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTcgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+d2ViY2hhdDwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgaWQ9ItCi0LXQu9C10LPRgNCw0LwtMDIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMzEuMDAwMDAwLCAtNDczMS4wMDAwMDApIiBmaWxsPSIjRkZGRkZGIj4gICAgICAgICAgICA8cGF0aCBkPSJNMzQ0LjQwODg4NSw0NzM2LjI2NDcxIEwzMzQuMzI0OTI1LDQ3MzYuMjY0NzEgQzMzNC4xMjU3Miw0NzM2LjI2NDcxIDMzMy45NjQyNjUsNDczNi4xMDMyNSAzMzMuOTY0MjY1LDQ3MzUuOTA0NjMgTDMzMy45NjQyNjUsNDczNC40MjY1NiBDMzMzLjk2NDI2NSw0NzM0LjIyNzk0IDMzNC4xMjU3Miw0NzM0LjA2NjQ4IDMzNC4zMjQ5MjUsNDczNC4wNjY0OCBMMzQ0LjQwODg4NSw0NzM0LjA2NjQ4IEMzNDQuNjA4MDksNDczNC4wNjY0OCAzNDQuNzY4OTY0LDQ3MzQuMjI3OTQgMzQ0Ljc2ODk2NCw0NzM0LjQyNjU2IEwzNDQuNzY4OTY0LDQ3MzUuOTA0NjMgQzM0NC43Njg5NjQsNDczNi4xMDMyNSAzNDQuNjA4MDksNDczNi4yNjQ3MSAzNDQuNDA4ODg1LDQ3MzYuMjY0NzEgTTM0NC40MDg4ODUsNDczOS45MTMxMiBMMzM0LjMyNDkyNSw0NzM5LjkxMzEyIEMzMzQuMTI1NzIsNDczOS45MTMxMiAzMzMuOTY0MjY1LDQ3MzkuNzUxNjcgMzMzLjk2NDI2NSw0NzM5LjU1MzA0IEwzMzMuOTY0MjY1LDQ3MzguMDc0OTggQzMzMy45NjQyNjUsNDczNy44NzU3NyAzMzQuMTI1NzIsNDczNy43MTQ5IDMzNC4zMjQ5MjUsNDczNy43MTQ5IEwzNDQuNDA4ODg1LDQ3MzcuNzE0OSBDMzQ0LjYwODA5LDQ3MzcuNzE0OSAzNDQuNzY4OTY0LDQ3MzcuODc1NzcgMzQ0Ljc2ODk2NCw0NzM4LjA3NDk4IEwzNDQuNzY4OTY0LDQ3MzkuNTUzMDQgQzM0NC43Njg5NjQsNDczOS43NTE2NyAzNDQuNjA4MDksNDczOS45MTMxMiAzNDQuNDA4ODg1LDQ3MzkuOTEzMTIgTTM0NS45ODYyNjQsNDczMSBMMzMyLjc0NzU0Niw0NzMxIEMzMzEuNzg2MzY3LDQ3MzEgMzMxLDQ3MzEuNzg2MzcgMzMxLDQ3MzIuNzQ2OTYgTDMzMSw0NzQxLjcwMzA2IEMzMzEsNDc0Mi42NjQyNCAzMzEuNzg2MzY3LDQ3NDMuNDUwNjEgMzMyLjc0NzU0Niw0NzQzLjQ1MDYxIEwzNDAuNzc5NjM1LDQ3NDMuNDUwNjEgQzM0MC44ODA2OSw0NzQzLjQ1MDYxIDM0MC45NzcwOTgsNDc0My40OTMwMSAzNDEuMDQ1NjI5LDQ3NDMuNTY3OTMgTDM0My40OTQxNjgsNDc0Ni4yNDg3NyBDMzQzLjcxNjAyMyw0NzQ2LjQ5MTU0IDM0NC4xMjAyNDEsNDc0Ni4zMzQ3MyAzNDQuMTIwMjQxLDQ3NDYuMDA1NDMgTDM0NC4xMTkwOCw0NzQzLjgxMDY5IEMzNDQuMTE5MDgsNDc0My42MTIwNiAzNDQuMjgwNTM0LDQ3NDMuNDUwNjEgMzQ0LjQ3OTc0LDQ3NDMuNDUwNjEgTDM0NS45ODYyNjQsNDc0My40NTA2MSBDMzQ2Ljk0NzQ0NCw0NzQzLjQ1MDYxIDM0Ny43MzMyMjksNDc0Mi42NjQyNCAzNDcuNzMzMjI5LDQ3NDEuNzAzMDYgTDM0Ny43MzMyMjksNDczMi43NDY5NiBDMzQ3LjczMzIyOSw0NzMxLjc4NjM3IDM0Ni45NDc0NDQsNDczMSAzNDUuOTg2MjY0LDQ3MzEiIGlkPSJ3ZWJjaGF0Ij48L3BhdGg+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=) center center no-repeat;
	left: 0;
	top: 0;
}

.imconnector-livechat-block-title {
	display: block;
	overflow: hidden;
	height: 35px;
	line-height:35px;
	background: #eef2f5;
	color: #4a74a5;
	font-size: 14px;
	font-weight: var(--ui-font-weight-bold);
	position: relative;
	padding: 0 0 0 40px;
}

.imconnector-livechat-block-title:after {
	content: '';
	width: 35px;
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTNweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTMgMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+UmVjdGFuZ2xlIDI2IENvcHkgNDwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9IjAuOCI+ICAgICAgICA8ZyBpZD0i0YTQtdC50YHQsdGD0LowNiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTU2Ni4wMDAwMDAsIC03MDUuMDAwMDAwKSIgZmlsbD0iIzNDQTFDRiI+ICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMzOC4wMDAwMDAsIDY5My4wMDAwMDApIj4gICAgICAgICAgICAgICAgPHBhdGggZD0iTTIzNy4zMjQ4NTIsMTkuNTUwOTUxIEwyMzcuMzI0ODUyLDEwLjU5MTQ2NjkgQzIzNy4zMjQ4NTIsMTAuMDQwNzI2NCAyMzYuODc3MTM2LDkuNTk1ODg5NDIgMjM2LjMyNDg1Miw5LjU5NTg4OTQyIEMyMzUuNzY4NzE2LDkuNTk1ODg5NDIgMjM1LjMyNDg1MiwxMC4wNDE2MjQ2IDIzNS4zMjQ4NTIsMTAuNTkxNDY2OSBMMjM1LjMyNDg1MiwxOS4zNzg5MDIxIEwyMzIuMDQzMjA0LDE5LjM3ODkwMjEgQzIzMS41ODM0NCwxOS4zNzg5MDIxIDIzMS4xOTg2OTMsMTkuNzU5MzUwNiAyMzEuMTk4NjkzLDIwLjIyODY1NzYgQzIzMS4xOTg2OTMsMjAuNzAxMjM2NSAyMzEuNTc2Nzk0LDIxLjA3ODQxMyAyMzIuMDQzMjA0LDIxLjA3ODQxMyBMMjM2LjgxNDAxOSwyMS4wNzg0MTMgQzIzNy4yNzM3ODMsMjEuMDc4NDEzIDIzNy42NTg1MywyMC42OTc5NjQ2IDIzNy42NTg1MywyMC4yMjg2NTc2IEMyMzcuNjU4NTMsMTkuOTUwNTkyIDIzNy41Mjc2MjYsMTkuNzA1NTU2MSAyMzcuMzI0ODUyLDE5LjU1MDk1MSBaIiBpZD0iUmVjdGFuZ2xlLTI2LUNvcHktNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjM0LjI3ODkxMCwgMTUuMjc4OTEwKSByb3RhdGUoLTMxNS4wMDAwMDApIHRyYW5zbGF0ZSgtMjM0LjI3ODkxMCwgLTE1LjI3ODkxMCkgIj48L3BhdGg+ICAgICAgICAgICAgPC9nPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+) center center no-repeat;
}

.imconnector-livechat-block-title-no-connect {
	background: #fad9da;
}

.imconnector-livechat-block-title-no-connect:after {
	content: '';
	width: 35px;
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTNweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTMgMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+R3JvdXAgNDwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9IjAuOCI+ICAgICAgICA8ZyBpZD0i0YTQtdC50YHQsdGD0LowNiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTU2Ny4wMDAwMDAsIC04NTAuMDAwMDAwKSIgZmlsbD0iI0VCMzE0QiI+ICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTItQ29weSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzM4LjAwMDAwMCwgODM5LjAwMDAwMCkiPiAgICAgICAgICAgICAgICA8ZyBpZD0iR3JvdXAtNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjI5LjAwMDAwMCwgMTEuMDAwMDAwKSI+ICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTIuNzg0MDUzOSw5LjU5NzI1MjAxIEw3Ljg3OTAyNzIxLDEuMDQ5MjM0NzQgQzcuNTk2NDUxMDEsMC41NTQxNTMwMzEgNy4wNzAxNTMzMiwwLjI0ODU1NTA1NyA2LjUwMDEwNDg5LDAuMjQ4NTU1MDU3IEM1LjkzMDA1NjQ3LDAuMjQ4NTU1MDU3IDUuNDAzNzU4NzgsMC41NTQxNTMwMzEgNS4xMjExODI1OCwxLjA0OTIzNDc0IEwwLjIxNTczNjIyNiw5LjU5NzI1MjAxIEMtMC4wNzE5MTIwNzU0LDEwLjA5MjUxMjcgLTAuMDcxOTEyMDc1NCwxMC43MDM5ODM5IDAuMjE1NzM2MjI2LDExLjE5OTI0NDUgQzAuNDk2MzExNDk1LDExLjY5NjYyNzYgMS4wMjQyMzM2OSwxMi4wMDMwNjk4IDEuNTk1Mjg4MDksMTIuMDAwMDMxIEwxMS40MDU3NjExLDEyLjAwMDAzMSBDMTEuOTc2NTM5NSwxMi4wMDI4NTQyIDEyLjUwNDExMDcsMTEuNjk2NDI5MyAxMi43ODQ0NzM2LDExLjE5OTI0NDUgQzEzLjA3MTk5MjEsMTAuNzAzOTA4NSAxMy4wNzE4MzE5LDEwLjA5MjQzNzMgMTIuNzg0MDUzOSw5LjU5NzI1MjAxIEwxMi43ODQwNTM5LDkuNTk3MjUyMDEgWiBNNS43MzMxMDQyOCwzLjQ0NDAzOTQgQzUuNzMzMTA0MjgsMy4wMjE0Nzk3MyA2LjA3NTY1NjU3LDIuNjc4OTI3NDMgNi40OTgyMTYyNSwyLjY3ODkyNzQzIEM2LjkyMDc3NTkyLDIuNjc4OTI3NDMgNy4yNjMzMjgyMiwzLjAyMTQ3OTczIDcuMjYzMzI4MjIsMy40NDQwMzk0IEw3LjI2MzMyODIyLDYuMjAzMTQzMTIgQzcuMjYzMzI4MjIsNi42MjU3MDI4IDYuOTIwNzc1OTIsNi45NjgyNTUwOSA2LjQ5ODIxNjI1LDYuOTY4MjU1MDkgQzYuMDc1NjU2NTcsNi45NjgyNTUwOSA1LjczMzEwNDI4LDYuNjI1NzAyOCA1LjczMzEwNDI4LDYuMjAzMTQzMTIgTDUuNzMzMTA0MjgsMy40NDQwMzk0IEw1LjczMzEwNDI4LDMuNDQ0MDM5NCBaIE02LjQ5ODIxNjI1LDEwLjMzNzE4MiBDNi4xMzAxNzUzMywxMC4zMzkzOTIgNS43OTcxNTEyNSwxMC4xMTkzNjc5IDUuNjU0ODEzMzQsOS43Nzk5NTgyNCBDNS41MTI0NzU0Myw5LjQ0MDU0ODU3IDUuNTg4OTQwMDEsOS4wNDg3OTc2NCA1Ljg0ODQ2NDM0LDguNzg3ODI2MTUgQzYuMTA3OTg4NjgsOC41MjY4NTQ2NSA2LjQ5OTMwODM2LDguNDQ4MjEyODYgNi44Mzk1MDQyNyw4LjU4ODY2MTIzIEM3LjE3OTcwMDE4LDguNzI5MTA5NiA3LjQwMTU3MjY4LDkuMDYwOTA1MDQgNy40MDE0MDkzMSw5LjQyODk1MjU2IEM3LjQwMjM0MTc3LDkuOTI4MzIxMTQgNi45OTkyNTY3OSwxMC4zMzQ0MDg2IDYuNDk5ODk1MDQsMTAuMzM3MTgyIEw2LjQ5ODIxNjI1LDEwLjMzNzE4MiBaIiBpZD0iRm9ybWFfMV9jb3B5Ij48L3BhdGg+ICAgICAgICAgICAgICAgIDwvZz4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=) center center no-repeat;
}

.imconnector-livechat-block-title:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 35px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTcgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+d2ViY2hhdDwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgaWQ9ItCi0LXQu9C10LPRgNCw0LwtMDIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMzEuMDAwMDAwLCAtNDczMS4wMDAwMDApIiBmaWxsPSIjM2NhMWNmIj4gICAgICAgICAgICA8cGF0aCBkPSJNMzQ0LjQwODg4NSw0NzM2LjI2NDcxIEwzMzQuMzI0OTI1LDQ3MzYuMjY0NzEgQzMzNC4xMjU3Miw0NzM2LjI2NDcxIDMzMy45NjQyNjUsNDczNi4xMDMyNSAzMzMuOTY0MjY1LDQ3MzUuOTA0NjMgTDMzMy45NjQyNjUsNDczNC40MjY1NiBDMzMzLjk2NDI2NSw0NzM0LjIyNzk0IDMzNC4xMjU3Miw0NzM0LjA2NjQ4IDMzNC4zMjQ5MjUsNDczNC4wNjY0OCBMMzQ0LjQwODg4NSw0NzM0LjA2NjQ4IEMzNDQuNjA4MDksNDczNC4wNjY0OCAzNDQuNzY4OTY0LDQ3MzQuMjI3OTQgMzQ0Ljc2ODk2NCw0NzM0LjQyNjU2IEwzNDQuNzY4OTY0LDQ3MzUuOTA0NjMgQzM0NC43Njg5NjQsNDczNi4xMDMyNSAzNDQuNjA4MDksNDczNi4yNjQ3MSAzNDQuNDA4ODg1LDQ3MzYuMjY0NzEgTTM0NC40MDg4ODUsNDczOS45MTMxMiBMMzM0LjMyNDkyNSw0NzM5LjkxMzEyIEMzMzQuMTI1NzIsNDczOS45MTMxMiAzMzMuOTY0MjY1LDQ3MzkuNzUxNjcgMzMzLjk2NDI2NSw0NzM5LjU1MzA0IEwzMzMuOTY0MjY1LDQ3MzguMDc0OTggQzMzMy45NjQyNjUsNDczNy44NzU3NyAzMzQuMTI1NzIsNDczNy43MTQ5IDMzNC4zMjQ5MjUsNDczNy43MTQ5IEwzNDQuNDA4ODg1LDQ3MzcuNzE0OSBDMzQ0LjYwODA5LDQ3MzcuNzE0OSAzNDQuNzY4OTY0LDQ3MzcuODc1NzcgMzQ0Ljc2ODk2NCw0NzM4LjA3NDk4IEwzNDQuNzY4OTY0LDQ3MzkuNTUzMDQgQzM0NC43Njg5NjQsNDczOS43NTE2NyAzNDQuNjA4MDksNDczOS45MTMxMiAzNDQuNDA4ODg1LDQ3MzkuOTEzMTIgTTM0NS45ODYyNjQsNDczMSBMMzMyLjc0NzU0Niw0NzMxIEMzMzEuNzg2MzY3LDQ3MzEgMzMxLDQ3MzEuNzg2MzcgMzMxLDQ3MzIuNzQ2OTYgTDMzMSw0NzQxLjcwMzA2IEMzMzEsNDc0Mi42NjQyNCAzMzEuNzg2MzY3LDQ3NDMuNDUwNjEgMzMyLjc0NzU0Niw0NzQzLjQ1MDYxIEwzNDAuNzc5NjM1LDQ3NDMuNDUwNjEgQzM0MC44ODA2OSw0NzQzLjQ1MDYxIDM0MC45NzcwOTgsNDc0My40OTMwMSAzNDEuMDQ1NjI5LDQ3NDMuNTY3OTMgTDM0My40OTQxNjgsNDc0Ni4yNDg3NyBDMzQzLjcxNjAyMyw0NzQ2LjQ5MTU0IDM0NC4xMjAyNDEsNDc0Ni4zMzQ3MyAzNDQuMTIwMjQxLDQ3NDYuMDA1NDMgTDM0NC4xMTkwOCw0NzQzLjgxMDY5IEMzNDQuMTE5MDgsNDc0My42MTIwNiAzNDQuMjgwNTM0LDQ3NDMuNDUwNjEgMzQ0LjQ3OTc0LDQ3NDMuNDUwNjEgTDM0NS45ODYyNjQsNDc0My40NTA2MSBDMzQ2Ljk0NzQ0NCw0NzQzLjQ1MDYxIDM0Ny43MzMyMjksNDc0Mi42NjQyNCAzNDcuNzMzMjI5LDQ3NDEuNzAzMDYgTDM0Ny43MzMyMjksNDczMi43NDY5NiBDMzQ3LjczMzIyOSw0NzMxLjc4NjM3IDM0Ni45NDc0NDQsNDczMSAzNDUuOTg2MjY0LDQ3MzEiIGlkPSJ3ZWJjaGF0Ij48L3BhdGg+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=) center center no-repeat;
	left: 0;
	top: 0;
}

/* New styles */

.imconnector-livechat-button-container {
	margin: 15px auto 30px auto;
	width: auto;
}

.imconnector-livechat-inner-container {
	padding: 15px 0 0 0;
}

.imconnector-livechat-border {
	border-top: 1px solid #eef2f5;
}

.imconnector-livechat-outer-border {
	margin: 0 20px;
}

.imconnector-livechat-body-block {
	margin-bottom: 20px;
}

.imconnector-livechat-whitespace-text {
	white-space: normal;
}

.imconnector-livechat-public-link-header {
	padding: 10px 15px;
	background: #eef4f4;
	border-radius: var(--ui-border-radius-2xs);
}
.imconnector-livechat-public-link-code {
	background: #ececec;
	padding: 4px 10px;
	display: inline-block;
	border-radius: 10px;
}

.imconnector-livechat-public-link-header-item,
.imconnector-livechat-public-link-inner-header-item {
	display: inline-block;
	font: var(--ui-font-weight-bold) 14px/17px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.imconnector-livechat-public-link-inner {
	padding-top: 20px;
}

.imconnector-livechat-public-link-inner-header {
	margin: 0 0 10px 0;
}

/* Copy block */

.imconnector-livechat-public-link-inner-copy-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.imconnector-livechat-public-link-inner-copy-field {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.imconnector-livechat-public-link-inner-copy-field-item {
	padding: 9px 0 9px 17px;
	width: -webkit-calc(100% - 248px);
	width: calc(100% - 248px);
	height: 38px;
	border: 1px solid #c1c5c8;
	border-radius: var(--ui-field-border-radius, 2px);
	font: 14px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.imconnector-livechat-public-link-inner-copy-description {
	margin: 15px 0 25px 0;
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.imconnector-livechat-public-link-inner-copy-description-item {
	color: #80868e;
}

.imconnector-livechat-public-link-inner-copy-description-link {
	color: #29619b;
}

/* Settings */

.imconnector-livechat-public-link-settings {
	/*margin: 11px 0 0 20px;*/
}

.imconnector-livechat-public-link-settings-item {
	display: inline-block;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #80868e;
	border-bottom: 1px dashed #80868e;
	vertical-align: middle;
	-webkit-transition: border-bottom .3s ease;
	-moz-transition: border-bottom .3s ease;
	transition: border-bottom .3s ease;
	cursor: pointer;
}

.imconnector-livechat-public-link-settings-triangle-down {
	display: inline-block;
	margin: 0 0 0 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3px 3px 0 3px;
	border-color: #000 transparent transparent transparent;
	vertical-align: middle;
}

.imconnector-livechat-public-link-settings-triangle-up {
	display: inline-block;
	margin: 0 0 0 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 3px 3px 3px;
	border-color: transparent transparent #000 transparent;
}

.imconnector-livechat-public-link-settings-item:hover {
	border-bottom: 1px dashed transparent;
}

/* Settings inner */

.imconnector-livechat-public-link-settings-inner {
	position: relative;
	/*margin: 0 20px;*/
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .5s ease, padding .5s;
	-moz-transition: max-height .5s ease, padding .5s;
	transition: max-height .5s ease, padding .5s;
	margin-bottom:24px;
}

.imconnector-livechat-public-link-settings-inner.imconnector-livechat-public-open {
	max-height: 1000px;
	padding: 27px 0 0 0;
}

.imconnector-livechat-public-link-settings-inner.imconnector-livechat-no-padding.imconnector-livechat-public-open {
	padding: 0;
}

.imconnector-livechat-public-link-settings-inner-param {
	display: inline-block;
	margin: 0 10px 0 0;
	width: 130px;
	float: left;
	font: 13px/19px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #424956;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.imconnector-livechat-public-link-settings-inner-param-text-input {
	margin: 9px 10px 0 0;
}

.imconnector-livechat-public-column-row .imconnector-livechat-public-link-settings-inner-param {
	display: block;
	margin: 0 0 5px 0;
	float: none;
	width: auto;
}

.imconnector-livechat-public-link-settings-inner-content {
	overflow: hidden;
}

.imconnector-livechat-public-column-row .imconnector-livechat-public-link-settings-inner-content {
	overflow: auto;
}

.imconnector-livechat-public-link-settings-inner-chat-image {
	width: 112px;
	height: 182px;
}

.imconnector-livechat-colorless {
	background: url(images/imconnector-chat-sprite.svg?1) 0 0 no-repeat;
}

.imconnector-livechat-color {
	background: url(images/imconnector-chat-sprite.svg?1) 0 -182px no-repeat;
}

.imconnector-livechat-public-link-settings-inner-chat {
	display: inline-block;
	padding: 0 40px 0 0;
	min-width: 125px;
	vertical-align: middle;
}

.imconnector-livechat-public-link-settings-inner-field-container {
	margin: 14px 0 0 0;
}

/* Upload settings */

.imconnector-livechat-public-link-settings-inner-upload {
	margin: 0px 0 0 0;
}

.imconnector-livechat-public-link-settings-inner-upload-field {
	position: relative;
	display: inline-block;
	margin: 0 0 24px 0;
	border: 1px solid #c6cdd3;
	border-radius: var(--ui-field-border-radius, 2px);
	cursor: pointer;
}

.imconnector-livechat-public-link-settings-inner-upload-button {
	display: inline-block;
	padding: 10px 20px;
	border: 0;
	border-radius: var(--ui-field-border-radius);
	background: #fff;
	font: 12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #535c69;
	text-align: center;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
}

.imconnector-livechat-public-link-settings-inner-upload-item {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	width: 100%;
	height: 38px;
	opacity: 0;
	cursor: pointer;
}

.imconnector-livechat-public-link-settings-inner-settings-container {
	padding: 15px 0;
}

.imconnector-lock-icon:after {
	content: "";
	display: inline-block;
	height: 10px;
	width: 8px;
	background: url(images/imconnector-chat-sprite.svg) 0 -377px no-repeat;
}

.imconnector-livechat-public-link-settings-bold {
	font: var(--ui-font-weight-bold) 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

/* Add styles */

.imconnector-livechat-public-link-settings-inner-add-wrapper {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .5s ease;
	-moz-transition: max-height .5s ease;
	transition: max-height .5s ease;
}

.imconnector-livechat-public-link-settings-inner-add-wrapper.imconnector-livechat-public-add-open {
	max-height: 500px;
}

.imconnector-livechat-public-link-settings-inner-add-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 20px 0 0 0;
	padding: 0 0 15px 0;
}

.imconnector-livechat-public-link-settings-inner-add-checkbox-container {
	margin: auto 10px auto 0;
}

.imconnector-livechat-public-link-settings-inner-add-input-container {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.imconnector-livechat-public-link-settings-inner-add-item {
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.imconnector-livechat-public-link-settings-inner-add-input,
.imconnector-livechat-public-link-settings-inner-add-textarea-item {
	padding: 9px 0 9px 17px;
	height: 38px;
	width: 100%;
	border: 1px solid #caced7;
	border-radius: var(--ui-field-border-radius, 2px);
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.imconnector-livechat-public-link-settings-inner-add-textarea {
	margin: 11px 0 0 0;
}

.imconnector-livechat-public-link-settings-inner-add-textarea-header {
	margin: 15px 0 10px 0;
}

.imconnector-livechat-public-link-settings-inner-add-textarea-header-item {
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.imconnector-livechat-public-link-settings-inner-add-textarea-item {
	padding: 13px;
	min-height: 101px;
	outline: none;
	resize: none;
}
.imconnector-livechat-public-link-inner-copy-field-item-livechat {
 	margin-left: 4px;
	padding: 5px;
	width: auto;
}

.imconnector-livechat-public-link-inner-copy-field-item-livechat-error {
 	border-color: #e40015;
}

.imconnector-livechat-public-link-upload-checkbox-container {
	display: block;
	font-size: 13px;
	margin: -12px 0 10px;
}

.imconnector-livechat-public-link-upload-image-container {
	max-width: 150px;
}

.imconnector-livechat-public-link-upload-image {
	max-width: 100%;
	height: auto;
	border-radius: 2px;
	margin-bottom: 32px;
}
.imconnector-livechat-public-link-settings-inner-upload-info { margin-left: 10px; font-size: 12px;}
.imconnector-copy-public-link-content-box { overflow: hidden; transition: all .5s;}
