.booking-booking-sidebar {
	box-sizing: border-box;
	position: absolute;
	z-index: 12;
	top: 55px;
	right: 0;
	padding: 15px;
	pointer-events: none;
	transform-origin: top right;
	transform: scale(calc(260 / 300));
}
