.intranet-release-iframe-container {
	background-color: #fff;
}

.intranet-release-iframe-container,
.intranet-release-iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0;
	border: none;
	margin: 0;
}

.intranet-release-ear {
	position: fixed;
	z-index: 800;
	right: 0;
	cursor: pointer;
	bottom: 100px;
	display: flex;
	align-items: center;
	padding: 7px 25px 7px 15px;
	background: #956FFF;
	border-radius: 40px 0 0 40px;
	transition: 0.2s transform;
}

.intranet-release-ear.--rewind {
	transform: translateX(100%);
}

.intranet-release-ear.--hidden {
	transform: translateX(100%);
	transition: none;
}

.intranet-release-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 63px;
	height: 63px;
	margin-right: 10px;
	cursor: pointer;
	transition: .25s;
}

.intranet-release-ear:hover .intranet-release-button {

}

.intranet-release-button:last-child {
	margin-right: unset;
}

.intranet-release-button i {
	width: 63px;
	height: 63px;
	background: url(images/arrow-new.svg) center no-repeat;
	background-size: contain;
}

.intranet-release-logo {
	display: inline-block;
	width: 93px;
	height: 37px;
	background: url(images/logo-en.svg) center no-repeat;
	background-size: contain;
}

.intranet-release-logo.--ru,
.intranet-release-logo.--kz {
	width: 124px;
	height: 42px;
	margin-bottom: -3px;
	background-image: url(images/logo-ru.svg);
}

.intranet-release-logo.--by {
	width: 121px;
	height: 42px;
	margin-bottom: -6px;
	background-image: url(images/logo-by.svg);
}

.intranet-release-logo.--br {
	display: inline-block;
	width: 93px;
	height: 37px;
	background-image: url(images/logo-br.svg);
}

.intranet-release-logo.--de {
	display: inline-block;
	background-image: url(images/logo-de.svg);
}

.intranet-release-logo.--la {
	display: inline-block;
	background-image: url(images/logo-es.svg);
}

.intranet-release-logo.--fr {
	display: inline-block;
	background-image: url(images/logo-fr.svg);
}

.intranet-release-logo.--it {
	display: inline-block;
	background-image: url(images/logo-it.svg);
}

.intranet-release-logo.--pl {
	display: inline-block;
	background-image: url(images/logo-pl.svg);
}

.intranet-release-logo.--tr {
	display: inline-block;
	width: 96px;
	height: 37px;
	background-image: url(images/logo-tr.svg);
}
