.biconnector-dataset-entity-selector .ui-selector-tab-labels {
	display: none;
}

.ui-tag-selector-tag {
	max-width: 100%;
}

.connection-error {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-top: 6px;
	color: var(--ui-color-palette-red-50);
}

.connection-error:before {
	content: '';
	display: inline-block;
	top: 5px;
	left: 0;
	min-width: 18px;
	width: 18px;
	height: 18px;
	background-image: url('../images/validation-error.svg');
	background-size: 14px 12px;
	background-repeat: no-repeat;
	background-position: center center;
}

.table-title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.table-hint {
	width: 20px;
	height: 20px;
	margin-left: 4px;
}
