.generic-popup {
}

.generic-popup__header {
	margin: 0;
	padding: 14px;
	color: var(--ui-color-text-secondary);
}

.generic-popup__content {
	padding: 4px 14px 19px 14px;
	color: var(--ui-color-text-secondary);
}

.generic-popup__content p {
	margin: 0;
}

.generic-popup__buttons-wrapper {
	border-top: 1px solid rgba(var(--ui-color-palette-gray-90-rgb), 0.08);
	padding-top: 13px;
	padding-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
