.bizproc-automation-whats-app-message-activity-editor {
	background-color: var(--ui-color-palette-white-base);
	border: var(--ui-border-width-thin) solid var(--ui-color-base-20);
	border-radius: var(--ui-border-radius-lg);
	padding: 14px 12px 16px 18px;
}

.bizproc-automation-whats-app-message-activity-editor-wrapper.--hidden {
	display: none;
}

.bizproc-automation-whats-app-message-activity-help {
	border-bottom: var(--ui-border-width-thin) dotted;
	color: var(--ui-color-palette-gray-70);
	font-size: var(--ui-font-size-sm);
	line-height: var(--ui-typography-text-sm-line-height);
	text-decoration: none;
	transition: border .2s linear;
	display: inline-block;
}

.bizproc-automation-whats-app-message-activity-help:hover {
	color: var(--ui-color-palette-gray-70);
	border-color: rgba(var(--ui-color-palette-gray-70), var(--ui-opacity-80));
}
