.hr-hcmlink-sync__line-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 9px;
	color: var(--ui-color-palette-gray-30);
}

.hr-hcmlink-sync__line-left-container {
	display: flex;
	flex-grow: 4;
	flex-basis: 250px;
}

.hr-hcmlink-sync__line-right-container.--person {
	border: 10px solid var(--ui-color-palette-orange-30);
}

.hr-hcmlink-sync__line-right-container.--user {
	border: 10px solid var(--ui-color-palette-blue-30);
}

.hr-hcmlink-sync__line-right-container {
	display: flex;
	flex-grow: 4;
	flex-basis: 230px;
	border-radius: 6px;
}