.invite-wrap {
	 padding: 0 3px !important;
 }

.invite-title-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	border-bottom: 1px solid #edeef0;
	padding-bottom: 9px;
	margin-bottom: 17px;
	/*padding-left: 3px;*/
}

.invite-title-icon {
	width: 47px;
	height: 47px;
	-ms-flex-preferred-size: 47px;
	    flex-basis: 47px;
	background-repeat: no-repeat;
}

.invite-title-icon-message {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle cx='22.906' cy='22.906' r='23' fill='%232FC6F6'/%3E%3Cpath fill='%23FFF' d='M29.44 19.853a7.98 7.98 0 110 15.958 7.98 7.98 0 010-15.958zm2.484 1.098c-.034.098-.062.165-.082.174-1.238.603-2.703.883-3.581 2.04-.124.163-.287.47-.11.664.218.24.291-.043 1.087.014.796.057 3.041.58 3.114.943.073.364-.853 1.052-1.756.553-.267-.147-1.329-.33-1.69-.395-.253-.045-2.432.229-2.335 2.819.04 1.05.33 2.155 1.756 1.738.95-.277 1.636.039 2.056.948.1 1.196.224 2.087.368 2.672.088.353.274.848.721.887.678.058 1.135-.398 1.542-.871.324-.377.735-.705.977-1.147.384-.701.279-1.536.685-2.239.327-.567.36-1.941-.153-1.902-1.083.082-1.752-.373-2.005-1.365.922-.21 1.843-.421 2.764-.635 1.381-.322.856-.112 1.12-.268a7.293 7.293 0 00-1.79-2.92 7.292 7.292 0 00-2.688-1.71zm-9.728 5.872a7.44 7.44 0 00-.07 1.01 7.262 7.262 0 001.745 4.74c.111-.08.201-.149.221-.166.256-.217.47-.483.567-.81.223-.76-.217-1.598-.637-2.21-.25-.364-.536-.715-.793-1.073-.157-.219-.616-.95-1.033-1.491zM29.67 12.76v4.315a11.307 11.307 0 00-.297-.004c-5.082 0-9.367 3.417-10.68 8.08h-7.331c-.783 0-1.419-.556-1.419-1.244V12.76l9.864 7.294 9.863-7.294zm-1.518-1.732l-8.345 5.747-8.346-5.747h16.691z'/%3E%3C/g%3E%3C/svg%3E");
}

.invite-title-text {
	padding-left: 17px;
	/*flex: 1;*/
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	font-size: 18px;
	color: #333;
	letter-spacing: 0;
}

.invite-content-container {

}

.invite-form-container {
	padding-bottom: 9px;
	margin-bottom: 21px;
}

.invite-form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.invite-form-col {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-bottom: 17px;
}

.invite-form-row .invite-form-col:first-child {
	padding-right: 10px;
}

.invite-form-row .invite-form-col:last-child {
	padding-left: 10px;
}

.invite-form-buttons {
	border-top: 1px solid #edeef0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	padding-top: 23px;
}