.bx-disk-404-container {
	/*padding-top: 130px;*/
	margin: 0 auto;
	width: 90%;
	max-width: 550px
}

.bx-disk-404-image {
	display: block;
	text-align: center;
	padding-bottom: 35px;
}

.bx-disk-404-title {
	text-align: center;
	padding-bottom: 10px;
	--font-family-default: 'Montserrat-regular', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-family: var(--ui-font-family-montserrat, --font-family-default);
	color: #000;
	font-size: 40px;
}

.bx-disk-404-description {
	max-width: 460px;
	margin: 0 auto;
	color: #808080;
	font-size: 20px;
	line-height: 130%;
	--font-family-default: 'Montserrat-regular', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-family: var(--ui-font-family-montserrat, --font-family-default);
	text-align: center;
}

.bx-disk-404-align-center .workarea-content-paddings {
	height: 100%;
	box-sizing: border-box;
}

.bx-disk-404-align-center .bx-disk-grid {
	height: 100%;
}

.bx-disk-404-align-center .bx-disk-404-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
