.ai__copilot-chat-messages-date-group {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: flex-end;
}

.ai__copilot-chat-messages-date-group__date {
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	margin-top: 12px;
	z-index: 2;
}

.ai__copilot-chat-messages-date-group__date-label {
	padding: 4px 16px 6px 16px;
	border-radius: var(--ui-border-radius-lg);
	background: rgba(var(--ui-color-base-solid-rgb), 0.2);
	color: var(--ui-color-on-primary);
	font-size: var(--ui-font-size-sm);
}
