@icon-set: url(/bitrix/js/tasks/css/images/media.png);

.bg-image (@y: 0, @x: 0) {
	background: @icon-set no-repeat @x @y;
}
.box-sizing (@value) {
	-webkit-box-sizing: @value;
	-moz-box-sizing: @value;
	box-sizing: @value;
}