.red-alert {

	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;

	background: #ce2d2d;
	border-radius: 12px;

	display: inline-block;

	min-width: 16px;
	height: 16px;
	padding: 2px 7px 0;
	vertical-align: top;

	text-align: center;
}
.red-alert.hidden
{
	display: none;
}