.sign-preview {
	min-width: 280px;
	flex: .9;
	display: flex;
	flex-direction: column;
}

.sign-preview__placeholder {
	background: #fdfeff;
	border-radius: 12px;
	border: 1px solid #c6e3f0;
	box-sizing: border-box;
	padding: 20px 40px;
}

.sign-preview__placeholder_text {
	font: 600 14px/20px var(--ui-font-family-system);
	color: #9fc8d9;
	text-align: center;
	margin-bottom: 0;
}

.sign-preview__placeholder__img {
	width: 100%;
}

.sign-preview__content {
	position: relative;
	scrollbar-width: thin;
}

.sign-preview__content_scalable {
	transform-origin: 0 0;
}

.sign-preview__content.--with-overlay {
	background: var(--ui-color-palette-white-base);
	border-radius: 12px;
}

.sign-preview__content.--with-overlay .sign-preview__placeholder {
	visibility: hidden;
}

.sign-preview__content.--overflowed {
	overflow: auto;
}

.sign-preview__content::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.sign-preview__content::-webkit-scrollbar-thumb {
	background: var(--color-5-2);
	border-radius: 5px;
}

.sign-preview__content::-webkit-scrollbar-thumb:hover {
	background: var(--color-5-3);
}

.sign-preview__content::-webkit-scrollbar-thumb:active {
	background: var(--color-5-4);
}

.sign-preview__content::-webkit-scrollbar-corner {
	display: none;
}

.sign-preview__page {
	width: 100%;
	display: block;
	border-radius: 12px;
}

.sign-preview__block {
	box-sizing: border-box;
	box-shadow: 0 2px 12px rgba(47, 198, 246, .5);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: absolute;
	overflow: hidden;
	line-height: 1.2;
}

.sign-preview__block::after {
	content: '';
	position: absolute;
	pointer-events: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2px;
	border: 1px solid rgba(0,172,227,1);
	border-radius: 2px;
	box-sizing: border-box;
}

.sign-preview__block.--filled {
	box-shadow: none;
}

.sign-preview__block.--filled:after {
	border-color: #b2c7a8;
}

.sign-preview__block img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.sign-preview__placeholder.--hidden,
.sign-preview__page.--hidden,
.sign-preview__block.--hidden {
	display: none;
}

.sign-preview__controls {
	font: var(--ui-font-weight-semi-bold) var(--ui-size-sm) var(--ui-font-family-open-sans);
	color: var(--ui-color-palette-gray-90);
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.sign-preview__controls.--locked {
	opacity: .2;
	pointer-events: none;
}

.sign-preview__pagination {
	background: var(--ui-color-palette-white-base);
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
	padding: 7px 5px;
}

.sign-preview__btn {
	border: 1px solid transparent;
	border-radius: 50%;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.sign-preview__btn.--disabled {
	opacity: .5;
	pointer-events: none;
}

.sign-preview__pagination_btn {
	background: url('./images/sign-preview-nav-arrow.svg') no-repeat center;
}

.sign-preview__pagination_btn:not(.--disabled):hover {
	border-color: var(--ui-color-palette-gray-40-rgb);
}

.sign-preview__pagination_btn.--next {
	transform: rotate(180deg);
}

.sign-preview__pagination_page-num {
	display: inline-block;
	margin: 0 10px;
}

.sign-preview__zoom {
	padding: 7px 0;
}

.sign-preview__zoom_btn {
	opacity: .7;
}

.sign-preview__zoom_btn:hover {
	opacity: 1;
}

.sign-preview__zoom_btn.--plus {
	background: url('./images/sign-preview-zoom-minus.svg') no-repeat center;
}

.sign-preview__zoom_btn.--minus {
	background: url('./images/sign-preview-zoom-plus.svg') no-repeat center;
}

.sign-preview__zoom_value {
	margin: 0 3px;
}
