/*region common*/
.page-section {
	padding: 15px;
	padding-bottom: 0;
	background-color: #fff;
}

.page-section.order-payment-view-mode { padding-top: 0; }

.bx-dark .page-section,
.bx-dark.page-section { background-color: #242426; }

.page-section-title {
	color: #333;
	opacity: .8;
	font: 16px/18px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-dark .page-section-title { color: #fff; }

.page-section-inner { margin: 0 -15px; }

.page-section-inner p {
	color: #81818b;
	font: 17px/22px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-dark .page-section-inner p { color: #fff; }

/*endregion*/

/*region payment*/
.order-payment-container {
	position: relative;
	min-width: calc(100% - 10px);
	width: calc(100% - 10px);
	margin: 0 5px;
	z-index: 5;
	padding: 12px 15px;
	border: 1px solid rgba(151, 151, 151, 0.33);
	border-radius: 6px;
}

.order-payment-container.order-payment-sibling-container:before {
	position: absolute;
	top: -21px;
	left: 20px;
	width: 1px;
	height: 17px;
	background: rgba(151, 151, 151, 0.33);
	content: '';
}

.order-payment-title {
	margin-bottom: 6px;
	color: rgba(172, 172, 180, 0.78);
	font: 13px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-dark .order-payment-title { color: rgba(172, 172, 180, 0.79); }

.order-payment-inner { }

.order-payment-operator {
	padding-right: 10px;
	max-width: 100%;
}

.order-payment-operator img {
	max-width: 100%;
	height: auto;
}

.order-payment-status {
	padding-right: 10px;
	color: #393945;
	text-transform: uppercase;
	white-space: nowrap;
	font: 500 10px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-dark .order-payment-status { color: #fff; }

.order-payment-status-ok {
	width: 16px;
	height: 12px;
	background: url(images/payment-check.svg) no-repeat left center;
}

.order-payment-price {
	color: rgba(44, 44, 54, 0.6);
	white-space: nowrap;
	font: 14px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-dark .order-payment-price { color: rgba(255, 255, 255, 0.6); }

.order-payment-price .rub { font-family: 'rubleBitrix'; }

.order-payment-buttons-container {
	margin-top: 20px;
	padding-bottom: 15px;
	text-align: center;
}

/*endregion*/

/*region payment-method*/
.order-pay-method-list {}

.order-pay-method-item-container {
	display: flex;
	align-items: center;
	padding: 14px 0;
	border-bottom: 1px solid rgba(18, 18, 18, .1);
	flex-wrap: wrap;
}

.order-pay-method-item-logo-block {
	width: 66px;
	min-width: 66px;
	max-width: 66px;
	height: 46px;
	padding: 3px;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.order-pay-method-logo {
	background-color: #fff;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
}

.order-pay-method-text-block {
	padding-left: 10px;
	flex: 1;
}

.order-pay-method-text {
	font: 15px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
}

.bx-dark .order-pay-method-text { color: #fff; }

.order-pay-method-btn-block {}

.order-payment-method-item-img {
	max-height: 100%;
	max-width: 170px;
}

.btn.order-payment-method-item-button {
	padding: 10px 20px !important;
	font: 500 18px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	cursor: pointer;
	color: #fff;
	border: none !important;
	line-height: normal !important;
}

.btn.order-payment-method-item-button,
.btn.order-payment-method-item-button:hover,
.btn.order-payment-method-item-button:focus,
.btn.order-payment-method-item-button:active {
	background-color: #00ae34 !important;
	--theme-color-primary: #00ae34;
}


.btn.info-mode {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 15px !important;
	line-height: 18px !important;
	text-transform: uppercase;
	color: #55a8ff;
}

.btn.info-mode:hover { color: #fff; }

.bx-dark .order-payment-method-item-button.info-mode { color: #55a8ff; }

.order-payment-method-item.info-mode:first-child { margin-top: -15px; }

.order-payment-method-item.selected.info-mode .order-payment-method-item-button { color: #badcff; }

.order-payment-button-reload {
	padding: 10px 30px;
	font: 500 18px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	color: #333;
	border-radius: 20px;
	background: none;
}

.bx-dark .order-payment-button-reload { color: #fff; }


.order-payment-method-description { font: 14px/24px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.order-payment-method-description-title {
	border-top: 1px solid #eeeff0;
	padding: 15px 15px 0;
	color: #3c3c3c;
	margin-bottom: 5px;
}

.bx-dark .order-payment-method-description-title {
	border-color: #32323d;
	color: #fff;
}

.order-payment-method-description .order-payment-method-description-text {
	padding: 0 15px 15px;
	position: relative;
	color: #94949e;
}

.bx-dark .order-payment-method-description-text { color: #d3d3d3; }

/*endregion*/

.order-payment-method-container .main-user-consent-request-announce {
	font: 11px/13px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.order-payment-method-container .main-user-consent-request {
	padding: 15px;
	margin: 0;
}

.bx-dark .main-user-consent-request-announce { color: #fff; }

/*Controls*/
.bx-dark .form-control {
	border: none;
	border-bottom: 1px solid rgba(82, 92, 105, 0.1);
	background-color: transparent;
	border-radius: 0;
	padding-left: 0;
}

.bx-dark .form-control::placeholder {
	color: #ccccd3;
	opacity: 1;
}

.bx-dark .form-control:active,
.bx-dark .form-control:focus {
	color: #fff;
	background-color: transparent;
}

.bx-dark .form-control {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.bx-dark .form-control::-moz-placeholder {
	color: rgba(255, 255, 255, 0.3);
	transition: 170ms linear all;
}

.bx-dark .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
	transition: 170ms linear all;
}

.bx-dark .form-control:-moz-placeholder {
	color: rgba(255, 255, 255, 0.3);
	transition: 170ms linear all;
}

.bx-dark .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
	transition: 170ms linear all;
}

a.check-link {
	color: rgb(83, 173, 235);
	text-decoration: underline;
}

a.check-link:hover { text-decoration: none; }

.bx-dark a.check-link {
	color: rgba(172, 172, 180, 0.79);
	text-decoration: underline;
}

.bx-dark a.check-link:hover { text-decoration: none; }

.bx-dark .check-print {
	color: rgba(172, 172, 180, 0.79);
}

.page-section input[type=submit] {
	margin: 25px auto auto;
	display: block;
}

.order-payment-pay-system-name {
	color: #8f9297;
	font-size: 21px;
}

.order-payment-operator .order-payment-pay-system-name {
	font-size: 16px;
	word-wrap: break-word;
}


.order-payment-loader {
	position: relative;
	color: transparent !important;
}

.order-payment-loader:after {
	content: '';
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -6px;
	margin-left: -6px;
	animation-name: spin;
	animation-duration: 1000ms !important;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


/* Gray theme section */

.gray-theme .salescenter-payment-pay-app {
	font-family: "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 15px;
	line-height: 1.37;
	letter-spacing: -0.15px;
	color: #a8adb4;
}

.gray-theme .strong-value {
	color: #ffffff;
	font-weight: 500;
}

.gray-theme fieldset input {
	color: #ffffff;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	padding: 20px 10px;
	font-size: 15px;
	background: none;
	transition: 0.3s border;
}

.gray-theme fieldset input:focus {
	color: #ffffff;
	border: 1px solid rgba(255, 255, 255, 0.5);
	background: none;
}


.gray-theme .qr-code {
	border-radius: 12px;
	padding: 14px;
	background-color: #ffffff;
}

.gray-theme .qr-code-container {
	margin-top: 35px;
	display: flex;
	justify-content: center;
}


.gray-theme .widget-paysystem-name {
	color: #ffffff;
}

.gray-theme .widget-paysystem-checkout-sum {
	color: #ffffff;
}

.gray-theme .widget-payment-checkout-info {
	margin-bottom: 5px;
	color: #A8ADB4;
	font-family: "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 21px;
	letter-spacing: -0.35px;
	font-size: 15px;
	font-weight: 400;
	word-wrap: break-word;
}


.gray-theme .qr-code-image {
	width: 160px;
}

.gray-theme .loading-button-text {
	opacity: 0;
}

/* I'm very sorry but I need to do this important */
.gray-theme .order-payment-method-item-button,
.gray-theme .btn
{
	flex-shrink: 0;
	padding: 6px 20px !important;
	border-radius: 99rem;
	font-family: "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px !important;
	line-height: 24px !important;
	font-weight: 700 !important;
	text-align: center;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	color: rgba(255,255,255,.8) !important;
	background: #326446 !important;
	transition: .2s;
	cursor: pointer;
	border: none !important;
}

.gray-theme .page-section-title {
	padding: 5px 0 13px 0;
	font-family: "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.15px;
	color: #ffffff;
}

.gray-theme .order-payment-method-item-button:hover,
.gray-theme .btn:hover {
	background: #348856 !important;
}

.gray-theme .order-pay-method-item-container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 12px 7px 12px;
	margin-bottom: 15px;
	border-bottom: none;
}

.gray-theme .order-pay-method-item-container:last-child::before {
	background: none;
}

.gray-theme .order-pay-method-item-container::before {
	content: '';
	position: absolute;
	bottom: -9px;
	left: 7px;
	display: block;
	width: calc(100% - 14px);
	height: 1px;
	background: rgba(255,255,255,.1);
}

.gray-theme .order-basket-section-description {
	border-top: 1px solid #46464F;
	padding: 10px 0 0 0 !important;
	text-align: left;
	margin-right: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 15px;
	line-height: 1.37;
	letter-spacing: -0.15px;
	color: #a8adb4;
}

.gray-theme .order-payment-buttons-container {
	padding-bottom: 0;
}

.gray-theme .order-payment-container {
	border: none;
	margin: 0;
	width: auto;
	background: #31313b;
	color: white;
	font-family: "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.gray-theme .order-payment-operator img {
	width: 66px;
	height: 46px;
	margin-right: 14px;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.gray-theme .order-payment-inner {
	padding: 7px 12px;
}

.gray-theme .order-payment-title {
	flex: 1;
	margin-right: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 15px;
	line-height: 1.37;
	letter-spacing: -0.15px;
	color: #a8adb4;
}

.gray-theme .order-payment-status {
	color: #ffffff;
	font-weight: 500;
}

.gray-theme .order-payment-price {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.6);
	font-weight: 400;
}

.gray-theme .order-pay-method-logo {
	flex-shrink: 0;
	width: 66px;
	height: 46px;
	margin-right: 14px;
}

.gray-theme .order-pay-method-text {
	margin-right: auto;
	font-family: "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
	padding-right: 10px;
}

.gray-theme .order-pay-method-text-block {
	padding-left: 15px;
}

.gray-theme .order-payment-method-list {
	overflow: hidden;
}

.gray-theme .order-basket-section-another-payment-button {
	display: flex;
	justify-content: center;
	padding: 45px 0;
}

.gray-theme .error-box {
	padding-top: 18px;
}

.gray-theme .alert {
	padding: 1.16rem 1.25rem;
	margin-bottom: 36px;
	top: 18px;
	border-radius: 8px;
	text-align: center;
	font-family: "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.3;
	font-size: 13px;
	letter-spacing: -0.2px;
	border: none;
}

.gray-theme .alert-danger {
	color: #eddddb;
	background-color: #5f312d;
}

.gray-theme .alert-success {
	color: #daeae0;
	background-color: #345742;
}

.gray-theme .alert-info {
	color: #c3f0ff;
	background-color: #2f4459;
}

.gray-theme .page-section {
	padding: 14px 18px;
	border-radius: 6px;
	background: #31313b !important;
}

.gray-theme .checkout-basket-personal-order-info-item strong {
	color: #ffffff;
}

@media (max-width: 480px) {
	.gray-theme .page-section-title {
		padding: 10px 3px;
		font-size: 14px;
	}

	.gray-theme .order-pay-method-item-container {
		padding: 0;
	}

	.gray-theme .order-pay-method-item-container::before {
		width: 100%;
		left: 0;
	}


	.gray-theme .order-pay-method-text {
		font-size: 14px;
	}

}
