@icon-set: url(/bitrix/js/tasks/css/images/media.png);

.bg-image (@y: 0, @x: 0) {
	background: @icon-set no-repeat @x @y;
}

.pinned .task-option-fixedbtn,
.pinable-block:hover .task-option-fixedbtn{
	visibility: visible;
}

.task-openable-block {
	overflow: hidden;
}
.task-openable-block.invisible {
	height: 0;
	opacity: 0;
}