.popup-window-angly--arrow {
	border-radius: var(--booking-popup-angle-border-radius, 0);
}

.booking-booking-sticky-popup {
	height: 100vh;
	box-shadow: none;
	pointer-events: none;
}

.booking-booking-sticky-popup-content {
	position: sticky;
	padding: 12px;
	pointer-events: all;
}
