.crm-form-fields-mapper-row {
	display: flex;
	flex-direction: row;
}

.crm-form-fields-mapper-row-label {
	width: 300px;
	flex-grow: 1;
	font-weight: bold;
}

.crm-form-fields-mapper-row-label-error {
	color: #ff7a7a;
	font-weight: normal;
}
