.booking-booking-intersections-line {
	width: calc(100% - 310px);
	padding: 0 6px;
	box-sizing: border-box;
	min-height: 48px;
	align-content: center;
	background: var(--ui-color-background-primary);
}
