.imconnector-notifications-scenario-label {
	display: inline-block;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	vertical-align: middle;
	line-height: 18px;
	padding-left: 10px;
	color: #333;
}