.bx-imol-header-button_container-list {
	--imol-header-button__color-icon: var(--ui-color-palette-gray-90);
	--imol-header-button__color_icon-active: var(--ui-color-palette-blue-60);

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bx-imol-header-button_container-item {
	display: flex;
	align-items: center;
	margin-right: 12px;
	width: 22px;
	height: 22px;
}

.bx-imol-header-button__icon-container {
	padding: 0;
	width: 22px;
	height: 22px;
	border: none;
	background-color: transparent;
	opacity: 0.35;
	cursor: pointer;
}

.bx-imol-header-button__icon {
	color: var(--imol-header-button__color-icon);
}

.bx-imol-header-button__icon-container:hover {
	opacity: 0.7;
}

.bx-imol-header-button__icon-container.--active {
	opacity: 1;
}

.bx-imol-header-button__icon-container.--active .fa-arrows-turn-right {
	color: var(--imol-header-button__color_icon-active);
}