/*#tasks_panel_menu_view_role_auditor .main-buttons-item-counter,*/
/*#tasks_panel_menu_view_role_originator .main-buttons-item-counter,*/
/*#tasks_panel_menu_view_role_responsible .main-buttons-item-counter,*/
/*#tasks_panel_menu_view_role_accomplice .main-buttons-item-counter*/
/*{background: #ccc}*/

[data-mib-counter-id="tasks_efficiency_counter"] {
	background: #4fc3f7 !important;
}

[data-mib-counter-id="tasks_efficiency_counter"]::after {
	content: '%';
}

#tasks_panel_menu_bic_efficiency_dashboards .main-buttons-item-counter {
	background: #4fc3f7;
}

#tasks_panel_menu_bic_efficiency_dashboards .main-buttons-item-counter::after {
	content: '%';
}

#tasks_panel_menu_group_view_effective .main-buttons-item-counter {
    background: #4fc3f7;
}

#tasks_panel_menu_group_view_effective .main-buttons-item-counter::after {
    content: '%';
}

.tasks-tariff-lock {
	display: flex !important;
	align-items: center;
	padding-right: 20px !important;
}

.tasks-tariff-lock:before {
	content: '';
	order: 1;
	height: 14px;
	width: 9px;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgOSAxMiI+ICA8cGF0aCBmaWxsPSIjMjhCQUU5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03Ljk1Miw1IEw5LDUgTDksMTIgTDAsMTIgTDAsNSBMMS4wNTIsNSBMMS4wNTIsMy40MTIgQzEuMTE1MzMxNjcsMS41NTIzMjI3NCAyLjY0MTI0NDY2LDAuMDc3NDkwNDI1MSA0LjUwMiwwLjA3NzQ5MDQyNTEgQzYuMzYyNzU1MzQsMC4wNzc0OTA0MjUxIDcuODg4NjY4MzMsMS41NTIzMjI3NCA3Ljk1MiwzLjQxMiBMNy45NTIsNSBaIE02Ljk5NjQyNzgzLDUgTDcuMDA4LDMuNDEyIEM2LjkwMzAwMjI5LDIuMDc3Mjc1NzMgNS44MzU3NDU5MywxLjAyMTA4MzQ0IDQuNSwwLjkzIEMzLjE2NDI1NDA3LDEuMDIxMDgzNDQgMi4wOTY5OTc3MSwyLjA3NzI3NTczIDEuOTkyLDMuNDEyIEwyLjAwNTA0MDUzLDUgTDYuOTk2NDI3ODMsNSBaIE01LjAxOSw4Ljg3OSBMNS4wMTksMTAuMTY2IEwzLjk4MSwxMC4xNjYgTDMuOTgxLDguODc5IEMzLjc4NzY5NDg0LDguNzI1MzU2MDEgMy42NzUwMzA3Nyw4LjQ5MTkyNzg1IDMuNjc1LDguMjQ1IEMzLjY3NSw3Ljc4OTM2NTA4IDQuMDQ0MzY1MDgsNy40MiA0LjUsNy40MiBDNC45NTU2MzQ5Miw3LjQyIDUuMzI1LDcuNzg5MzY1MDggNS4zMjUsOC4yNDUgQzUuMzI0OTY5MjMsOC40OTE5Mjc4NSA1LjIxMjMwNTE2LDguNzI1MzU2MDEgNS4wMTksOC44NzkgTDUuMDE5LDguODc5IFoiLz48L3N2Zz4=) top center no-repeat;
}

.tasks-tariff-lock.menu-popup-item.main-buttons-submenu-item .menu-popup-item-icon {
	width: 15px;
	margin: 0;
}