.sign-blank-selector {
	padding-bottom: 5px;
}

.sign-blank-selector__list {
	padding-bottom: 20px;
}

.sign-blank-selector__list.--hidden {
	display: none;
}

.sign-blank-selector__list_drag-area-label {
	border: 2px dashed rgba(82, 92, 105, .15);
	border-radius: 5px;
	color: rgba(82, 92, 105, .5);
	cursor: pointer;
	display: block;
	text-align: center;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	padding: 10px 0;
	margin-top: 25px;
}

.sign-blank-selector__list_drag-area-label:hover {
	border: 2px dashed rgba(82,92,105,.30)
}

.sign-blank-selector__list_item {
	border: 1px solid var(--ui-color-palette-gray-10);
	border-radius: var(--ui-border-radius-xs);
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	margin: 10px 10px 0 0;
	padding: 20px 3px 10px;
	vertical-align: top;
	text-align: center;
	width: 120px;
}

.sign-blank-selector__list_item:hover {
	border-color: rgba(82, 92, 105, .2);
}

.sign-blank-selector__list_item:before {
	display: inline-block;
	content: '';
	background: url(/bitrix/js/ui/icons/disk/images/sprite-files.min.svg?v1.3) no-repeat 0 0;
	background-size: 100% auto;
	width: 39px;
	height: 39px;
	margin-bottom: 15px;
}

.sign-blank-selector__list_item.--img:before {
	background-position: 0 calc(100% / var(--icon-file-col) * 11);
}

.sign-blank-selector__list_item.--pdf:before {
	background-position: 0 calc(100% / var(--icon-file-col) * 5);
}

.sign-blank-selector__list_item.--doc:before {
	background-position: 0 calc(100% / var(--icon-file-col) * 2);
}

.sign-blank-selector__list_item-title {
	font: 12px/14.32px var(--ui-font-family-system);
	color: var(--ui-color-palette-gray-90);
}

.sign-blank-selector__list_item-info {
	font: 11px/13.5px var(--ui-font-family-system);
	color: var(--ui-color-palette-gray-60);
}

.sign-blank-selector__list_item-info,
.sign-blank-selector__list_item-title {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sign-blank-selector__templates_title {
	font: 16px/21.79px var(--font_os_regular);
	color: var(--ui-color-palette-black-base);
	margin-bottom: 2px;
}

.sign-blank-selector__list_item.--blank {
	cursor: default;
	padding-top: 3px;
	aspect-ratio: 2/1.65;
	display: inline-flex;
	flex-direction: column;
	width: calc(100% / 3 - 10px);
}

.sign-blank-selector__list_item.--blank .sign-blank-selector__list_item-title,
.sign-blank-selector__list_item.--blank .sign-blank-selector__list_item-info {
	text-align: left;
	padding: 0 5px;
}

.sign-blank-selector__list_item.--blank .sign-blank-selector__list_item-title {
	font: 14px/16.71px var(--ui-font-family-system);
	margin-bottom: 5px;
}

.sign-blank-selector__list_item.--blank .sign-blank-selector__list_item-info {
	font: 13px/15.51px var(--ui-font-family-system);
}

.sign-blank-selector__list_item.--blank.--loaded {
	cursor: pointer;
}

.sign-blank-selector__list_item.--blank:focus {
	outline: none;
}

.sign-blank-selector__list_item.--blank.--active {
	border-color: var(--ui-color-palette-blue-50);
}

.sign-blank-selector__list_item.--blank.--disabled {
	opacity: .5;
	pointer-events: none;
	user-select: none;
}

.sign-blank-selector__list_item.--blank:before {
	display: none;
}

.sign-blank-selector__list_item-status {
	background: rgba(47,198,246,.08);
	border-radius: var(--ui-border-radius-xs);
	margin-bottom: 7px;
	position: relative;
	flex: 1;
}

.sign-blank-selector__list_item-status:before {
	content: '';
	display: inline-block;
	background: no-repeat center url(images/sign-master-suitcase.svg);
	width: 39px;
	height: 39px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.sign-blank-selector__list_item-preview {
	flex: 1;
	min-height: 0;
	margin-bottom: 7px;
	overflow: hidden;
	filter: brightness(95%);
}

.sign-blank-selector__list_item-preview img {
	width: 100%;
	border-radius: var(--ui-border-radius-3xs);
}

.sign-blank-selector__list_item-info-avatar {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	vertical-align: text-bottom;
	margin-right: 5px;
}

.sign-blank-selector__list_item.--loaded .sign-blank-selector__list_item-status:before {
	opacity: 1;
}

.sign-blank-selector__tile-widget_clear-btn {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 5px;
	width: 25px;
	height: 25px;
}

.sign-blank-selector__tile-widget_clear-btn:hover {
	opacity: .8;
}

.sign-blank-selector__tile-widget_clear-btn:before,
.sign-blank-selector__tile-widget_clear-btn:after {
	position: absolute;
	content: '';
	height: 13px;
	width: 2px;
	top: 6px;
	left: 12px;
	background-color: #525C69;
}

.sign-blank-selector__tile-widget_clear-btn:before {
	transform: rotate(45deg);
}

.sign-blank-selector__tile-widget_clear-btn:after {
	transform: rotate(-45deg);
}

.sign-blank-selector__tile-widget.--hidden {
	display: none;
}

.sign-blank-selector__load-more {
	font: 15px/17.9px var(--ui-font-family-system);
	color: var(--ui-color-link-primary-base);
	text-align: center;
}

.sign-blank-selector__load-more span {
	cursor: pointer;
}

.sign-blank-selector__load-more.--hidden {
	display: none;
}

.sign-blank-selector .main-ui-loader-custom {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
}

.sign-blank-selector .ui-tile-uploader-item-state {
	background: none;
}

.sign-blank-selector .ui-tile-uploader-item-preview:before,
.sign-blank-selector .ui-tile-uploader-item-state-icon,
.sign-blank-selector .ui-tile-uploader-item-status,
.sign-blank-selector .ui-tile-uploader-item-actions {
	display: none;
}

.sign-blank-selector .ui-tile-uploader-item-state-remove {
	opacity: 6;
}

.sign-blank-selector .ui-tile-uploader-item-state-remove:hover {
	opacity: .8;
}

@media (max-width: 1200px) {
	.sign-blank-selector__list_item.--blank {
		width: calc(100% / 2 - 10px);
	}
}

@media (max-width: 768px) {
	.sign-blank-selector__list_item.--blank {
		width: calc(100% - 10px);
	}
}
