.event_date { display: inline-block; margin:0; padding:0; padding-top: 5px;margin-bottom: 6px; text-decoration: none; border-bottom: 1px dashed #000;outline:none; cursor: pointer; color: #000}
.event_date:hover  {padding-top: 5px;text-decoration: none; border-bottom: 1px dashed #E00000; color: #E00000}
.event_date_box { padding-top: 5px;display: none;}
.event_date_box a img { vertical-align: middle }
table.bx-edit-table td.bx-padding.event_date_text { padding-top: 11px!important; line-height:24px!important }
table.bx-edit-table td.bx-padding.event_date_text2 { padding-top: 11px!important; }
.event-desc { padding-top: 10px!important; padding-bottom: 10px!important; }
.event-desc textarea { width: 484px; height: 79px; color: #767676 ; margin-top: 5px; resize: none;}
.event-file { padding-top: 15px!important; }
.event-file div input { margin-bottom: 3px!important; }
.event-file-title { padding-bottom: 5px!important; }
div.crm-event-id-notice { margin: 8px 0 0 0; color: #4A4A4A; }
.crm-required-field .bx-field-value { font-weight: bold; }