.disk-user-field-panel {
	display: flex;
	flex-direction: column;
}

.disk-user-field-panel + .disk-user-field-panel {
	margin-top: 20px;
}

.disk-user-field-panel-doc-wrap {
	display: flex;
	align-items: center;
}

.disk-user-field-panel-file-wrap {
	display: flex;
	align-items: flex-start;
	transition: opacity .3s;
}

.disk-user-field-control.--has-files .disk-user-field-panel-file-wrap {
	border-top: 1px solid rgba(82,92,105,.1);
	padding-top: 24px;
}

.disk-user-field-panel-label {
	margin: 0 -13px 0 -35px;
}

.disk-user-field-panel-label-item {
	position: relative;
	margin-bottom: 9px;
	padding: 0 13px;
	display: block;
	font: 14px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: rgba(255,255,255,.5);
	transform: rotate(-90deg);
}

.disk-user-field-panel-label-item:before,
.disk-user-field-panel-label-item:after {
	content: '';
	position: absolute;
	top: -8px;
	left: -18px;
	display: block;
	width: 1px;
	height: 39px;
	background-color: rgba(255,255,255,.2);
	transform: rotate(90deg);
}

.disk-user-field-panel-label-item:after {
	top: -6px;
	left: auto;
	right: -14px;
	height: 35px;
}

.disk-user-field-panel-card-box {
	margin-right: 16px;
	border-radius: 12px 61px 12px 12px;
	transition: box-shadow .3s;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.09);
}

.disk-user-field-panel-card-box:hover {
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.11);
}

.disk-user-field-panel-card {
	position: relative;
	display: inline-block;
	padding: 0 11px;
	width: 130px;
	height: 166px;
	text-align: center;
	/*-webkit-clip-path: polygon(72% 0, 90% 14%, 104% 27%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 75%, 0% 35%, 0 0);*/
	/*clip-path: polygon(72% 0, 90% 14%, 104% 27%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 75%, 0% 35%, 0 0);*/
	background-image: url(images/card.svg);
	box-sizing: border-box;
	cursor: pointer;
}

.disk-user-field-panel-card-icon {
	width: 50px;
	height: 50px;
	margin: 33px auto 15px auto;
	background-image: url(images/blank.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.disk-user-field-panel-card-btn {
	display: none;
	margin: 0 auto 7px auto;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #a8adb4;
	background-image: url(images/plus.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 10px 10px;
}

.disk-user-field-panel-doc-wrap .disk-user-field-panel-card-btn {
	display: block;
}

.disk-user-field-panel-card-file .disk-user-field-panel-card {
	position: relative;
	display: inline-block;
	padding: 0 11px;
	width: 120px;
	height: 122px;
	border-radius: 12px;
	background-color: #fff;
	text-align: center;
	transition: box-shadow .3s;
	clip-path: none;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.09);
	box-sizing: border-box;
	cursor: pointer;
}

.disk-user-field-panel-file-wrap {
	display: grid;
	align-items: center;
	grid-template-columns: minmax(75px,136px) minmax(75px,136px) minmax(3px,17px) minmax(75px,136px) minmax(75px,136px) minmax(59px,136px);
	margin-bottom: 15px;
	max-height: 123px;
}

.disk-user-field-panel-file-wrap .disk-user-field-panel-card-box {
	box-shadow: none;
}

.disk-user-field-panel-file-wrap .disk-user-field-panel-card:hover {
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.11);
}

.disk-user-field-panel-card-box:last-child {
	margin-right: 0;
}

.disk-user-field-panel-card-file .disk-user-field-panel-card {
	padding: 11px;
	width: 100%;
	height: 100%;
	max-width: 120px;
	min-width: 75px;
}

.disk-user-field-panel-file-wrap .disk-user-field-panel-card-content .disk-user-field-panel-card-icon {
	margin: 0;
	width: 65%;
	height: 65%;
}

.disk-user-field-panel-card-file .disk-user-field-panel-card:before {
	content: '';
	display: block;
	padding-top: 100%;
}

.disk-user-field-panel-card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.disk-user-field-panel-card-icon--docs .disk-user-field-panel-card-icon {
	background-image: url("data:image/svg+xml,%3Csvg width='38' height='26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.14 12.362h33.72c.968 0 1.752.784 1.752 1.752v8.758a2.628 2.628 0 01-2.628 2.628H3.016a2.628 2.628 0 01-2.628-2.628v-8.758c0-.968.784-1.752 1.752-1.752zm10.586 4.92c-.555 0-.899.48-.899 1.07v.774c0 .59.344 1.069.9 1.069h18.29c.554 0 .923-.479.923-1.069v-.775c0-.59-.369-1.068-.924-1.068h-18.29zm-5.77 4.082a2.433 2.433 0 100-4.865 2.433 2.433 0 000 4.865zM7.828.5H30.2a2.19 2.19 0 011.943 1.18l4.374 7.999H1.702l4.164-7.964A2.19 2.19 0 017.827.5z' fill='%23525C69' fill-rule='evenodd' opacity='.5'/%3E%3C/svg%3E");
	background-size: 38px 26px;
}

.disk-user-field-panel-card-icon--b24 .disk-user-field-panel-card-icon {
	background-image: url(images/my-drive.svg);
	background-size: 39px 27px;
}

.disk-user-field-panel-card-icon--google-docs .disk-user-field-panel-card-icon {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.47 19.36A8.25 8.25 0 0 0 16 24.234c1.461 0 2.84-.39 4.045-1.063l5.276 5.23A15.561 15.561 0 0 1 16 31.5a15.608 15.608 0 0 1-12.908-6.809Zm21.991-6.993c.44 0 .818.31.9.738.183.946.275 1.921.275 2.895 0 4.392-1.869 8.352-4.848 11.166l-5.178-5.134a8.14 8.14 0 0 0 1.84-2.4H16.06a.912.912 0 0 1-.916-.908v-5.449c0-.502.41-.908.916-.908ZM2.078 8.993l5.749 5.699c-.07.429-.134.86-.134 1.308 0 .448.064.88.134 1.308l-5.749 5.699A15.218 15.218 0 0 1 .364 16c0-2.524.626-4.901 1.714-7.007ZM16 .5c3.646 0 7.195 1.28 9.993 3.604a.903.903 0 0 1 .059 1.338l-3.91 3.877a.92.92 0 0 1-1.198.084A8.21 8.21 0 0 0 16 7.766a8.25 8.25 0 0 0-7.53 4.874L3.092 7.309A15.609 15.609 0 0 1 16 .5Z' fill='%23525C69' fill-rule='evenodd' opacity='.3'/%3E%3C/svg%3E");
	background-size: 32px 32px;
}

.disk-user-field-panel-card-icon--office365 .disk-user-field-panel-card-icon {
	background-image: url(images/office365.svg);
	background-size: 37px 37px;
}

.disk-user-field-panel-card-icon--dropbox .disk-user-field-panel-card-icon {
	background-image: url(images/dropbox.svg);
	background-size: 37px 37px;
}

.disk-user-field-panel-card-icon--upload .disk-user-field-panel-card-icon {
	background-image: url(images/upload.svg);
	background-size: 22px 29px;
}

.disk-user-field-panel-card-icon--more .disk-user-field-panel-card-icon {
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5.167a3.833 3.833 0 110 7.666 3.833 3.833 0 010-7.666zm11.5 0a3.833 3.833 0 110 7.666 3.833 3.833 0 010-7.666zm11.5 0a3.833 3.833 0 110 7.666 3.833 3.833 0 010-7.666z' fill='%23525C69' fill-rule='evenodd' opacity='.3'/%3E%3C/svg%3E");
	background-size: 32px 8px;
}

.disk-user-field-panel-card--doc .disk-user-field-panel-card-icon,
.disk-user-field-panel-card--docx .disk-user-field-panel-card-icon {
	background-image: url(images/doc.svg?v2);
	background-size: cover;
}

.disk-user-field-panel-card--xls .disk-user-field-panel-card-icon,
.disk-user-field-panel-card--xlsx .disk-user-field-panel-card-icon{
	background-image: url(images/xls.svg?v2);
	background-size: cover;
}

.disk-user-field-panel-card--ppt .disk-user-field-panel-card-icon,
.disk-user-field-panel-card--pptx .disk-user-field-panel-card-icon {
	background-image: url(images/ppt.svg?v2);
	background-size: cover;
}

.disk-user-field-panel-card--board .disk-user-field-panel-card-icon {
	background-image: url(images/disk-board-card-icon.svg);
	background-size: cover;
}

.disk-user-field-panel-card--doc .disk-user-field-panel-card-btn {
	background-color: #2c77b1;
}

.disk-user-field-panel-card--xls .disk-user-field-panel-card-btn {
	background-color: #54b51e;
}

.disk-user-field-panel-card--ppt .disk-user-field-panel-card-btn {
	background-color: #e89e00;
}

.disk-user-field-panel-card--board .disk-user-field-panel-card-btn {
	background-color: #20adbf;
}

.disk-user-field-panel-card-name {
	display: block;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: rgba(82,92,105,.9);
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	padding: 0 7px;
	box-sizing: border-box;
}

.disk-user-field-panel-card-file .disk-user-field-panel-card-name {
	color: #525c69;
}

.disk-user-field-panel-card-divider {
	display: block;
	margin-right: 16px;
	min-width: 1px;
	width: 1px;
	height: 106px;
	background-color: rgba(82,92,105,.1);
}

.disk-user-field-panel-file-wrap .disk-user-field-panel-card-divider {
	height: calc(100% - 17px);
}
