.ai__role-master_avatar-uploader-wrapper {
	position: relative;
	width: 42px;
	height: 42px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: var(--ui-border-radius-circle);
	background-color: var(--ui-color-copilot-secondary);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	outline: none;
}

.ai__role-master_avatar-uploader {
	--ui-icon-set__icon-color: var(--ui-color-on-primary);

	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.ai__role-master_avatar-uploader-icon {
	width: 28px;
	height: 28px;
}
.ai__role-master_avatar-uploader:hover .ai__role-master_avatar-uploader-icon {
	display: none;
}

.ai__role-master_avatar-uploader:hover .ai__role-master_avatar-uploader-hover,
.ai__role-master_avatar-uploader:focus .ai__role-master_avatar-uploader-hover {
	opacity: 1;
}

.ai__role-master_avatar-uploader-hover {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--ui-color-base-solid-rgb), 0.5);
	opacity: 0;
}

.ai__role-master_avatar-uploader-drop-area {
	box-sizing: border-box;
	position: absolute;
	top: 56px;
	width: 100%;
	height: calc(100% - 49px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(7px);
	border: var(--ui-border-width-thick) dashed rgba(var(--ui-color-copilot-secondary-rgb), 0.5);
	border-radius: 10px;
	z-index: 4;
}

.ai__role-master_avatar-uploader-drop-area-icon {
	--ui-icon-set__icon-color: var(--ui-color-copilot-secondary);

	width: 100px;
	height: 100px;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--ui-border-radius-circle);
	border: var(--ui-border-width-thick) solid rgba(var(--ui-color-copilot-secondary-rgb), 0.3);
	margin-bottom: 20px;
}

.ai__role-master_avatar-uploader-drop-area-text {
	font-size: var(--ui-font-size-md);
	color: var(--ui-color-text-subtle);
}

.ai-role-master-drop-area-fade-enter-active, .ai-role-master-drop-area-fade-leave-active {
	transition: opacity .15s
}
.ai-role-master-drop-area-fade-enter-from, .ai-role-master-drop-area-fade-leave-enter-to {
	opacity: 0
}
