.imopenlines-report-stepper-container
{
    padding-bottom: 15px;
}

.reports-stub {
    display: block;
    overflow: hidden;
    font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
    color: #333;
	padding: 0 0 10px 0;
}

.reports-stub-content {
    border-bottom: 1px solid rgba(82,92,105,.08);
}

.reports-stub-title {
    font-size: 18px;
}

.reports-stub-text {
    font-size: 13px;
}

.reports-stub-img {
    display: block;
    max-width: 670px;
    margin: 40px auto 45px auto;
}