.tasks-checklist-notification-balloon-message-container {
	margin: -9px -20px;
}

.tasks-checklist-notification-balloon-message {
	vertical-align: middle;
	margin-left: 7px;
}

.tasks-checklist-notification-balloon-avatar {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2089%2089%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20fill%3D%22%23535C69%22%20cx%3D%2244.5%22%20cy%3D%2244.5%22%20r%3D%2244.5%22/%3E%3Cpath%20d%3D%22M68.18%2071.062c0-3.217-3.61-16.826-3.61-16.826%200-1.99-2.6-4.26-7.72-5.585-1.734-.483-3.383-1.233-4.887-2.223-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.695%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04.388-2.625.388-5.293%200-7.918-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217c.024.58-.023%201.162-.14%201.732-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16-.78%203.093-3.095%2015.32-3.095%2015.32H68.18z%22%20fill%3D%22%23FFF%22/%3E%3C/svg%3E');
    background-size: cover;
}

.tasks-checklist-notification-balloon-avatar-img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #000;
}

.tasks-checklist-loader-files {
	display: none!important;
}

.diskuf-extended {
	display: block;
	overflow: hidden;
	margin: 0 -10px;
}

.diskuf-extended-item {
	background-color: transparent;
	display: block;
	cursor: pointer;
	height: 36px;
	padding: 0 15px;
	position: relative;
	text-decoration: none;
	outline: none;
	white-space: nowrap;
	-webkit-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c68;
	line-height: 36px;
}

.diskuf-extended-item:hover,
.diskuf-extended-item-active {
	color: #333;
	background-color: #f6f8f9;
}

.diskuf-extended-item label {
	cursor: pointer;
}

.tasks-checklist-item-accomplice-link.tasks-checklist-item-collaber,
.tasks-checklist-item-auditor-link.tasks-checklist-item-collaber {
	color: #19CC45;
}