.crm-features-list-item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.crm-features-list-item .crm-features-list-item-value {
	width: 60px;
}
.crm-features-list-item .crm-features-list-item-name {
	display: flex;
	flex-direction: column;
	font-size: var(--ui-font-size-lg);
	color: var(--ui-color-palette-gray-90);
	font-family: var(--ui-font-family-open-sans);
}
.crm-features-list-item.--tour-switcher {
	margin-top: 5px;
}
.crm-features-list-item.--tour {
	padding: 10px 0px 12px 16px;
	gap: 4px;
	border-radius: 8px;
	background-color: #FFFFFFB2;;
	border: 1px solid var(--ui-color-palette-gray-10);
	display: flex;
	align-items: center;

}
.crm-features-list-item.--tour .crm-features-list-item-name {
	font-size: var(--ui-font-size-2xl);
	flex: 1;
}
.crm-features-list-item .crm-features-list-item-id {
	color: var(--ui-color-palette-gray-60);
	font-size: var(--ui-font-size-xs);
 }
.crm-features-list-item.--tour .crm-features-list-item-id {
	margin-top:5px;
	color: var(--ui-color-palette-gray-40);
}
.crm-features-list-item .crm-features-list-item-description {
	color: var(--ui-color-palette-gray-70);
	font-size: var(--ui-font-size-sm);
}
.crm-features-list-item-action {
	width: 220px;
	text-align: right;
	margin-right: 14px;
}
.crm-features-list-item .crm-features-list-item-copy {
	cursor: pointer;
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.82804 4.34811H11.8151C12.6436 4.34811 13.3151 5.01968 13.3151 5.84811V12.0264H13.4755C14.3039 12.0264 14.9755 11.3548 14.9755 10.5264V4.53125C14.9755 3.70282 14.3039 3.03125 13.4755 3.03125H7.317C6.54982 3.03125 5.91824 3.60687 5.82804 4.34811Z' fill='%23A8ADB4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.01709 7.46348C3.01709 6.63505 3.68866 5.96348 4.51709 5.96348H10.5211C11.3495 5.96348 12.0211 6.63505 12.0211 7.46348V13.4675C12.0211 14.2959 11.3495 14.9675 10.5211 14.9675H4.51709C3.68866 14.9675 3.01709 14.2959 3.01709 13.4675V7.46348ZM10.4628 7.52205H4.57552V13.4093H10.4628V7.52205Z' fill='%23A8ADB4'/%3E%3C/svg%3E%0A");
	width: 18px;
	height: 18px;
	display: inline-block;
	opacity: .5;
	vertical-align: bottom;
}

.crm-features-list-item .crm-features-list-item-copy:hover {
	opacity: 1;
	transition: opacity ease 2s;
}
