.crm-analytics-entity-field {
	width: 100%;
	padding: 15px 15px 12px;
	box-sizing: border-box;

	border: 1px solid #edeef0;
	border-radius: 1px;
	background-color: #fdfdfd;
}

.crm-analytics-entity-field-row {
	display: flex;
}

.crm-analytics-entity-field-row:first-child {
	margin-bottom: 18px;
}

.crm-analytics-entity-field-item {
	display: flex;
	flex-direction: column;
}

.crm-analytics-entity-field-item:first-child {
	margin-right: 62px;
}

.crm-analytics-entity-field-title {
	font-size: 12px;
	line-height: 20px;
	color: #a7adbe;
	text-transform: lowercase;
}

.crm-analytics-entity-field-value {
	color: #333;
	font-size: 15px;
	line-height: 21px;
	position: relative;
}

.crm-analytics-entity-field-item-source .crm-analytics-entity-field-value {
	padding-left: 26px;
}

.crm-analytics-entity-field-item-source .crm-analytics-entity-field-value:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 2px;
	width: 18px;
	height: 18px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.crm-analytics-entity-field-value-fb:before {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10%2020c5.523%200%2010-4.477%2010-10S15.523%200%2010%200%200%204.477%200%2010s4.477%2010%2010%2010z%22%20fill%3D%22%2338659F%22/%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.297%208.976H7v2.02h1.297V17h2.663v-6.003h1.788s.168-.969.25-2.028H10.97V7.587c0-.206.29-.483.577-.483H13V5h-1.974c-2.795%200-2.73%202.022-2.73%202.324v1.652z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A);
}

.crm-analytics-entity-field-value-google:before {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22258%22%20height%3D%22238%22%20viewBox%3D%220%200%20258%20238%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Crect%20width%3D%2276%22%20height%3D%22230%22%20x%3D%2252.409%22%20y%3D%223.593%22%20fill%3D%22%23FFB806%22%20transform%3D%22scale%28-1%201%29%20rotate%28-30%200%20456.004%29%22%20rx%3D%2238%22/%3E%0A%20%20%20%20%3Crect%20width%3D%2276%22%20height%3D%22230%22%20x%3D%22132.409%22%20y%3D%223.593%22%20fill%3D%22%233889DB%22%20transform%3D%22rotate%28-30%20170.409%20118.593%29%22%20rx%3D%2238%22/%3E%0A%20%20%20%20%3Crect%20width%3D%2276%22%20height%3D%2276.069%22%20x%3D%2213.926%22%20y%3D%22147.449%22%20fill%3D%22%232B9952%22%20transform%3D%22scale%28-1%201%29%20rotate%28-30%200%20379.275%29%22%20rx%3D%2238%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A);
}

.crm-analytics-entity-field-value-vk:before {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10%2020c5.523%200%2010-4.477%2010-10S15.523%200%2010%200%200%204.477%200%2010s4.477%2010%2010%2010z%22%20fill%3D%22%233871BA%22/%3E%0A%20%20%3Cpath%20d%3D%22M14.942%2013.419a.734.734%200%200%200-.038-.069c-.19-.328-.555-.732-1.094-1.21l-.01-.01-.007-.006-.005-.006h-.006a6.499%206.499%200%200%201-.464-.449c-.118-.146-.145-.294-.08-.443.046-.114.217-.353.515-.718.157-.193.28-.348.372-.465.661-.84.947-1.376.86-1.61l-.035-.054c-.022-.033-.082-.063-.177-.09a.942.942%200%200%200-.367-.014l-1.65.01a.224.224%200%200%200-.114.003l-.074.017-.029.013-.023.017a.25.25%200%200%200-.063.057.37.37%200%200%200-.057.096%208.78%208.78%200%200%201-.613%201.232c-.141.226-.27.423-.39.589a2.847%202.847%200%200%201-.297.367c-.08.078-.153.14-.218.188-.065.048-.114.068-.149.06a5.2%205.2%200%200%201-.097-.021.37.37%200%200%201-.129-.134.58.58%200%200%201-.066-.214%202.273%202.273%200%200%201-.017-.485c.004-.113.006-.19.006-.23%200-.138.003-.289.008-.451.006-.163.01-.291.015-.386.004-.095.006-.196.006-.301%200-.106-.007-.19-.02-.25a.83.83%200%200%200-.06-.175.3.3%200%200%200-.118-.131.679.679%200%200%200-.192-.074A3.981%203.981%200%200%200%209.292%208c-.71-.008-1.166.036-1.369.131a.767.767%200%200%200-.217.164c-.07.08-.079.125-.03.132.23.033.392.111.488.235l.034.066c.027.047.054.131.08.252.027.12.044.254.052.4.019.266.019.494%200%20.684-.02.19-.037.338-.055.443a.857.857%200%200%201-.146.378.097.097%200%200%201-.028.028.446.446%200%200%201-.155.027.373.373%200%200%201-.195-.077%201.358%201.358%200%200%201-.237-.21%202.826%202.826%200%200%201-.278-.376c-.103-.16-.21-.35-.32-.569l-.092-.159a13.443%2013.443%200%200%201-.235-.446%208.42%208.42%200%200%201-.264-.567.363.363%200%200%200-.137-.175l-.029-.016a.63.63%200%200%200-.223-.082l-1.57.01c-.16%200-.269.035-.326.104l-.023.033A.17.17%200%200%200%204%208.5c0%20.04.011.09.034.148.23.514.479%201.01.748%201.489.269.478.503.863.701%201.155.199.292.401.568.607.827.207.26.343.425.41.498.067.073.12.128.157.165l.144.13c.091.088.226.194.403.316.178.122.375.242.59.361.216.119.467.216.753.29.287.075.566.105.837.09h.658a.466.466%200%200%200%20.304-.12l.023-.027a.533.533%200%200%200%20.063-.252%201.73%201.73%200%200%201%20.037-.424c.028-.126.06-.221.097-.285a.702.702%200%200%201%20.22-.24.388.388%200%200%201%20.046-.02c.092-.03.2%200%20.324.085.124.086.24.192.35.317.108.127.24.268.392.425.153.157.286.274.4.35l.115.066c.077.044.176.084.298.12a.67.67%200%200%200%20.32.028l1.467-.022a.69.69%200%200%200%20.338-.069c.08-.045.128-.095.143-.15a.404.404%200%200%200%20.003-.186.662.662%200%200%200-.04-.145z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A);
}

.crm-analytics-entity-field-value-ya:before {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.6504%200H0V9.46381V10.4851V16H3.30469V10.4851H4.25V16H7.55469V10.4851H8.36523V12.1191H11.6699V10.4851H15.6504V0Z%22%20fill%3D%22%23FFCE00%22/%3E%0A%3Crect%20x%3D%2212.3105%22%20y%3D%2210.451%22%20width%3D%224.65476%22%20height%3D%224.49362%22%20fill%3D%22%23E0B300%22/%3E%0A%3Crect%20x%3D%224.04688%22%20y%3D%222.7915%22%20width%3D%227.21825%22%20height%3D%221.3617%22%20fill%3D%22%23262022%22/%3E%0A%3Crect%20x%3D%224.04688%22%20y%3D%225.78723%22%20width%3D%227.21825%22%20height%3D%221.3617%22%20fill%3D%22%23262022%22/%3E%0A%3C/svg%3E%0A);
}

.crm-analytics-entity-field-value-ads:before {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10%2020c5.523%200%2010-4.477%2010-10S15.523%200%2010%200%200%204.477%200%2010s4.477%2010%2010%2010z%22%20fill%3D%22%23FFA900%22/%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M13.313%208.814h-2.75c-.241%200-.438-.2-.438-.443%200-.244.197-.444.438-.444h2.75c.24%200%20.437.2.437.444a.442.442%200%200%201-.438.443zm0%201.647h-2.75c-.241%200-.438-.2-.438-.444%200-.243.197-.443.438-.443h2.75c.24%200%20.437.2.437.443a.442.442%200%200%201-.438.444zm0%201.647h-2.75c-.241%200-.438-.2-.438-.444s.197-.443.438-.443h2.75c.24%200%20.437.2.437.443a.442.442%200%200%201-.438.444zm-6.17-.216c-1.114%200-2.018-.916-2.018-2.046S6.029%207.8%207.144%207.8c1.114%200%202.018.916%202.018%202.046s-.904%202.046-2.018%202.046zM13.5%206.534h-1V4.507A.505.505%200%200%200%2012%204c-.275%200-.5.228-.5.507v2.027h-6c-.825%200-1.5.684-1.5%201.52v4.94c0%20.836.675%201.52%201.5%201.52h8c.825%200%201.5-.684%201.5-1.52v-4.94c0-.836-.675-1.52-1.5-1.52z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A);
}

