.first-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.first-popup-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.first-popup-content {
	display: flex;
	flex-direction: column;
	position: relative;
	background: url('./images/background.svg') no-repeat;
	color: #fff;
	border-radius: 24px;
	padding: 20px;
	width: 784px;
	height: 543px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	font: var(--ui-font-weight-medium) 18px/22px var(--ui-font-family-system);
	overflow: visible;
	background-size: cover
}

.first-popup-left {
	flex: 1;
	padding: 0 20px 20px 20px;
	max-width: 422px;
	flex-direction: column;
}

.first-popup-content .title {
	font: var(--ui-font-weight-bold) 32px/38px var(--ui-font-family-system);
   	padding: 20px 20px 0 20px;
}

.first-popup-left .description {
	margin-block-start: 8px;
	margin-bottom: 30px;
	color: rgba(255, 255, 255, 0.7);
	font: var(--ui-font-weight-normal) 22px/26px var(--ui-font-family-system);
}
.first-popup-left .sub-description {
	margin-bottom: 20px;
	color: rgba(255, 255, 255, 0.8);
	font: var(--ui-font-weight-normal) 18px/22px var(--ui-font-family-system);
}

.first-popup-list {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	gap: 10px;
}
.first-popup-list-item {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	font: var(--ui-font-weight-normal) 16px/19px var(--ui-font-family-system);
	line-height: 1.5;
}

.first-popup-list-item-point {
	font: var(--ui-font-weight-bold) 24px/36px var(--ui-font-family-system);
	color: var(--ui-color-palette-green-40);
	line-height: 0;
	margin-top: 10px;
}

.first-popup-list-item-feature {
	flex: 1;
}

.first-popup-right {
	position: absolute;
	top: 50%;
	right: -20%;
	transform: translateY(-50%);
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
}

.first-popup-right video {
	border-radius: 12px;
	max-width: 100%;
	max-height: 100%;
	outline: none;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.first-popup-close {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
}
.first-popup-close:hover {
	color: rgba(0, 0, 0, 0.2);
}

.first-popup-ui-btn {
	border-radius: 64px;
	width: 139px;
	height: 47px;
}
