.ai__picker-image_history {
	display: flex;
	flex-grow: 1;
	margin-top: -2px;
}


.ai-ui-history-item--images {
	display: flex;
	justify-content: space-around;
}

.ai-ui-history-item--image {
	position: relative;
	width: 33%;
}

.ai-ui-history-item--image img {
	max-width: 100%;
	height: auto;
}

.ai-ui-history-item--button {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 2px 4px;
	border: 1px solid #aaaaaa;
	background: #ddd;
	color: #000;
	border-radius: 6px;
	cursor: pointer;
}

.ai__picker_history-image-group {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.ai__picker_history-image-group-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2px;
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
}

.ai__history-image_item-wrapper {
	overflow: hidden;
	padding-bottom: 24px;
	transition: 0.5s ease-out height, 0.5s ease-out opacity;
	opacity: 0;
	box-sizing: border-box;
}

.ai__picker_history-image-group-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	height: 0;
	background-color: var(--ui-color-base-02);
}

@supports (aspect-ratio: 1 / 1) {
	.ai__picker_history-image-group-item {
		aspect-ratio: 1 / 1;
		height: auto;
		padding-bottom: 0;
	}
}

.ai__picker_history-image-group-item.--error {
	background-image: url(../../../images/ai__image-loading-error-icon.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

.ai__picker_history-image-group-item .ai__picker_history-image-group-item-loader {
	display: none;
}

.ai__picker_history-image-group-item.--empty .ai__picker_history-image-group-item-loader {
	display: block;
	transform: scale(1.8);
	--ai__picker-image-loader-font-color: var(--ui-color-base-02);
}


.ai__picker_history-image-group-item-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: 0.2s ease-out opacity;
}

.ai__picker_history-image-group-item.--empty img,
.ai__picker_history-image-group-item.--error img {
	opacity: 0;
}

.ai__picker_history-image-group-item img[src="*"] {
	opacity: 1;
}

.ai__picker_history-image-group-item-controls {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: row;
	z-index: 3;
	opacity: 0;
	transition: 0.25s ease-in-out opacity;
}

.ai__picker_history-image-group-item:hover .ai__picker_history-image-group-item-controls {
	transition-duration: 0s;
	opacity: 1;
}

.ai__picker_history-image-group-item.--empty:hover .ai__picker_history-image-group-item-controls,
.ai__picker_history-image-group-item.--error:hover .ai__picker_history-image-group-item-controls{
	transition-duration: 0s;
	opacity: 0;
}

.ai__picker_history-image-group-title {
	--ai__picker_history-image-group-title-color: var(--ui-color-base-60);

	margin-bottom: 9px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: var(--ui-font-size-sm);
	line-height: 24px;
	color: var(--ai__picker_history-image-group-title-color);
	word-break: break-word;
}

.ai__picker_history-image-group-title::before {
	content: '';
	width: 24px;
	height: 24px;
	min-width: 24px;
	margin-right: 7px;
	margin-left: -2px;
	mask-image: url(../../../images/ai-image-icon.svg);
	mask-size: contain;
	mask-position: center;
	background-color: var(--ai__picker_history-image-group-title-color);
}

.ai__history-image_loader {
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.ai__picker_text-history-item-loader-container {

}
