/*******************************************************************************
 * Project:------------crm
 * Component-----------crm.entity.progressbar
 * File Path-----------/modules/crm/install/components/bitrix/crm.entity.progressbar/templates/wrapper/style.css
 * Last Modified:------02.06.17 11:31
 *
 * @version:-----------17.6.2
 ******************************************************************************/
/* ENTITY STATUS */
.crm-entity-section-status-wrap {
	position: relative;
	height: 32px;
	margin-bottom: 6px;
}

.crm-entity-section-status-container { }

.crm-entity-section-status-container-flex {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.crm-entity-section-status-step {
	position: relative;
	overflow: hidden;
	transition: 300ms all linear;
	flex: 1 1 100%;
}

.crm-entity-section-status-step-hover:hover { flex: 4 0 100%; }

.crm-entity-section-status-step-item {
	position: relative;
	z-index: 10;
	box-sizing: border-box;
	padding: 0 1px 0 2px;
	height: 32px;
	color: #525c68;
	vertical-align: middle;
}

.crm-entity-section-status-container-flex .crm-entity-section-status-step:first-child { padding-left: 0; }

.crm-entity-section-status-container-flex .crm-entity-section-status-step:last-child { padding-right: 0; }

.crm-entity-section-status-step-item-text {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	padding: 2px 5px;
	width: 100%;
	height: 32px;
	border-width: 3px 10px 3px 3px;
	border-style: solid;
	border-image: url(images/bar.svg) 3 10 3 3 fill stretch;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 12px/23px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	cursor: pointer;
	transition: all 250ms ease;
}

.crm-entity-section-status-step.--disabled{
	opacity: .6;
	pointer-events: auto;
	cursor: not-allowed;
}

.crm-entity-section-status-step.--disabled .crm-entity-section-status-step-item-text{
	cursor: not-allowed;
}
