html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #337e96;
	color: #000000;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: #2067b0;
	text-decoration: none;

	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

a:hover {
	color: #2067b0;
	text-decoration: none;
}

h1 {
	margin: 0;
	padding: 0;
}

/* Transparent theme */

.page-theme-transparent .content {background: rgba(255, 255, 255, 0.85);}
.page-theme-transparent .crm-webform-block {background: transparent;}

/* Image theme */

.page-theme-image {
	background-size: cover;
	background-attachment: fixed;
}
.page-theme-image .left-cloud,
.page-theme-image .right-cloud,
.page-theme-image .bottom-cloud {
	display: none;
}


.main-wrapper {
	height: 100%;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

.main-wrapper-content-cell {
	padding: 95px 10px 0;
	vertical-align: top;
}

.main-wrapper-footer-cell {
	vertical-align: bottom;
	height: 75px;
	padding: 0 10px 25px 10px;
}

.content-wrap {
	position: relative;
	margin: 0 auto;
	width: 1000px;
}

.flexible-mode--linear-blue--v2 .main-wrapper {
	background: rgb(92,229,251);
	background: linear-gradient(180deg, rgba(92,229,251,1) 0%, rgba(47,198,246,1) 100%);
}

.flexible-mode--linear-blue--v2 .content-wrap {
	position: static;
	height: calc(100% - 30px);
	height: -webkit-calc(100% - 30px);
	width: auto;
	min-width: 300px;
	max-width: 544px;
}

.flexible-mode--linear-blue--v2 .content-wrap:after {
	content: '';
	position: absolute;
	top: 100px;
	right: 0;
	width: 113px;
	height: 77px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22106%22%20height%3D%2276%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M95.833%2022.315C94.786%2011.477%2085.567%203%2074.343%203%2065.677%203%2058.207%208.059%2054.77%2015.354a21.751%2021.751%200%2000-7.38-1.282c-11.925%200-21.591%209.568-21.591%2021.373%200%20.558.028%201.11.07%201.657a18.59%2018.59%200%2000-4.463-.542C11.24%2036.56%203%2044.717%203%2054.78%203%2064.843%2011.24%2073%2021.405%2073h68.67C104.394%2073%20116%2061.51%20116%2047.336c0-12.214-8.621-22.428-20.167-25.021%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%226%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.12%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.flexible-mode--linear-blue--v2 .content {
	position: relative;
	margin-top: 30px;
	height: 100%;
	border-radius: 30px;
	box-shadow: 0 22px 34px 0 rgba(0,0,0,.25);
}

.flexible-mode--linear-blue--v2 .content:before {
	content: '';
	position: absolute;
	top: -60px;
	left: -430px;
	width: 568px;
	height: 363px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22578%22%20height%3D%22363%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M471.627%20102.403C466.367%2047.748%20420.025%205%20363.613%205c-43.567%200-81.12%2025.51-98.391%2062.3-11.577-4.182-24.069-6.468-37.1-6.468-59.94%200-108.528%2048.254-108.528%20107.782%200%202.816.142%205.598.355%208.36a93.154%2093.154%200%2000-22.433-2.737C46.42%20174.237%205%20215.373%205%20266.119%205%20316.864%2046.42%20358%2097.516%20358H442.69C514.66%20358%20573%20300.055%20573%20228.58c0-61.593-43.336-113.1-101.373-126.177%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%2210%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.12%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

/*.flexible-mode--linear-blue--v2 .content:after {*/
/*	content: '';*/
/*	position: absolute;*/
/*	right: -311px;*/
/*	bottom: 0;*/
/*	width: 264px;*/
/*	height: 165px;*/
/*	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22264%22%20height%3D%22165%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M216.883%2045.528C214.438%2019.981%20192.9%200%20166.68%200c-20.249%200-37.703%2011.924-45.73%2029.12a50.413%2050.413%200%2000-17.245-3.023c-27.859%200-50.442%2022.555-50.442%2050.38%200%201.316.066%202.616.165%203.907A43.066%2043.066%200%200043%2079.105c-23.749%200-43%2019.228-43%2042.948C0%20145.772%2019.251%20165%2043%20165h160.433c33.45%200%2060.567-27.085%2060.567-60.493%200-28.79-20.142-52.866-47.117-58.979%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.2%22/%3E%3C/svg%3E');*/
/*	background-repeat: no-repeat;*/
/*}*/

.flexible-mode--linear-blue--v2 .main-title {
	margin-top: -13px;
	padding-right: 0;
	width: 100%;
	text-align: center;
}

.flexible-mode--linear-blue--v2 .main-title-inner,
.flexible-mode--linear-blue--v2 .title-num {
	font-size: 26px;
	color: #fff;
	text-transform: uppercase;
}

.flexible-mode--linear-blue--v2 .main-title-custom {
	font-size: 26px;
	color: #fff;
}

.flexible-mode--linear-blue--v2 .main-title:before {
	display: none;
}

.flexible-mode--linear-blue .main-wrapper {
	background: rgb(48,199,246);
	background: linear-gradient(90deg, rgba(48,199,246,1) 0%, rgba(91,228,251,1) 100%);
}

.flexible-mode--linear-blue .content-wrap {
	width: auto;
	min-width: 320px;
	max-width: 1000px;
	box-shadow: 0 7px 8px 0 rgba(0,0,0,.1);
}

.flexible-mode--linear-blue .content {
	position: relative;
	border-radius: 8px;
	z-index: 2;
}

.flexible-mode--linear-blue .main-title {
	padding-left: 18px;
}

.flexible-mode--linear-blue .main-title-inner,
.flexible-mode--linear-blue .main-title-custom,
.flexible-mode--linear-blue .title-num {
	font-size: 35px;
	color: #fff;
}

.flexible-mode--linear-blue .footer-logo {
	display: none;
}

@media (max-width: 675px) {
	.flexible-mode--linear-blue .main-title {
		display: flex;
	}
}

@media (max-width: 480px) {
	.flexible-mode--linear-blue .main-wrapper-content-cell {
		padding: 82px 0 0;
		height: 100%;
	}

	.flexible-mode--linear-blue .content-wrap {
		height: 100%;
		box-shadow: none !important;
	}

	.flexible-mode--linear-blue .content {
		margin: 0 !important;
		height: 100%;
		border-radius: 0 !important;
	}

	.flexible-mode--linear-blue .main-wrapper-footer-cell {
		display: none;
	}

	.flexible-mode--linear-blue .main-title {
		top: -82px;
		padding-right: 60px;
		padding-left: 22px;
		height: 82px;
		line-height: 82px;
		font-family: var(--ui-font-face-roboto), var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	}

	.flexible-mode--linear-blue .main-title-inner,
	.flexible-mode--linear-blue .main-title-custom,
	.flexible-mode--linear-blue .title-num {
		font-size: 26px;
		font-weight: 500;
	}
}

.flexible .content-wrap {
	width: auto;
	min-width: 300px;
	max-width: 1000px;
}

.flexible-middle-width .content-wrap {
	width: auto;
	min-width: 300px;
	max-width: 600px;
}

.content {
	margin: 10px 0 10px 0;
	background-color: #ffffff;
	border-radius: var(--ui-border-radius-md, 3px);
	min-height: 400px;
}

.main-title {
	color: #ffffff;
	font-size: 0;
	height: 95px;
	left: 0;
	line-height: 95px;
	max-width: 100%;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	padding-right: 80px;
	position: absolute;
	top: -95px;
	box-sizing: border-box;
}

.main-title:before {
	background: url(images/sprite.png?2) no-repeat 0 0;
	content: '';
	height: 38px;
	position: absolute;
	right: 0;
	top: 17px;
	width: 60px;
}

.main-title-inner {
	box-sizing: border-box;
	display: inline-block;
	font-size: 37px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
	padding-right: 54px;
}

.main-title-custom {
	box-sizing: border-box;
	display: inline-block;
	font-size: 37px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}

.title-num {
	color: #c2d1d6;
	font-size: 37px;
	display: inline-block;
	vertical-align: top;
	margin-left: -44px;
	width: 44px;
}

.left-cloud,
.right-cloud {
	position: absolute;
	background: url(images/sprite.png?2) no-repeat 100px 100px;
}

.left-cloud {
	left: 105px;
	top: 122px;
	width: 95px;
	height: 67px;
	background-position: 0 -200px;
}

.right-cloud {
	background-position: 0 -81px;
	top: 265px;
	right: 85px;
	width: 109px;
	height: 68px;
}

.bottom-cloud {
	background: url(images/sprite.png?2) no-repeat 0 -284px;
	bottom: 100px;
	height: 51px;
	position: absolute;
	right: 30px;
	width: 80px;
}

.feed-post-block {
	border: none;
}

.ui-btn.pub-btn-lang {
	border-color: rgba(255, 255, 255, .4);
	color: #70a5b5;
}
.ui-btn.pub-btn-lang:hover { color:#fff; background-color: rgba(255, 255, 255, .3); }
.ui-btn.pub-btn-lang:active { color:#fff; background-color: rgba(255, 255, 255, .4); }
.ui-btn.pub-btn-lang.ui-btn-dropdown:before { border-color: #70a5b5; }
.ui-btn.pub-btn-lang.ui-btn-dropdown:hover:before { border-color: #fff; }

.lang-popup-item .menu-popup-item-icon {
	border: 1px solid #ccd3d7;
	background: url("images/flags.png?1") no-repeat 0 0;
	background-size: 100px 400px;
	height: 18px;
	width: 24px;
}

.footer-logo {
	float: right;
	font-size: 0;
	text-decoration: none;
}

.footer-logo-none .footer-logo {
	display: none;
}

.footer-logo-text {
	color: #71a5b6;
	display: inline-block;
	font-size: 12px;
	font-weight: var(--ui-font-weight-bold);
	padding:1px 9px 0 0;
	vertical-align: top;
}

.footer-logo-img {
	background: url(images/sprite.png?2) no-repeat;
	display: inline-block;
	height: 20px;
	vertical-align: top;
}

.footer-logo.ru .footer-logo-img {
	background-position: 0 -367px;
	width: 101px;
}

.footer-logo.ua .footer-logo-img {
	background-position: 0 -408px;
	width: 92px;
}

.footer-logo.en .footer-logo-img {
	background-position: 0 -450px;
	width: 77px;
}


.external-page-popup-content {
	border-radius: 3px;
	color: #32373e;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	font-size: 18px;
	min-height: 130px;
	padding: 23px 41px 17px;
	text-align: center;
	width: 585px;
}


.external-page-popup-title,
.error-block-title {
	color: #2974c5;
	font-size: 27px;
	line-height: 30px;
	padding-bottom: 19px;
}

.external-page-popup-title-small {
	font-size: 23px;
}

.external-page-popup-close-btn {
	background:url("images/sprite.png?2") no-repeat right -472px;
	cursor: pointer;
	height: 50px;
	opacity: 0.5;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
}

.external-page-popup-close-btn:hover {
	opacity: 1;
}

.external-page-popup-inp-wrap {
	margin: 12px 0 40px;
}

.external-page-popup-inp-block {
	margin-bottom: 28px;
}

.external-page-popup-inp {
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #888e92;
	border-radius: 2px;
	color: #464646;
	height: 57px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	font-size: 18px;
	padding: 0 17px;
	width: 100%;
}

.external-page-popup-footer {
	text-align: center;
	padding-bottom: 17px;
}

.external-page-popup-green-button,
.external-page-popup-link {
	border-radius: 3px;
	color: #535c69;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	height: 55px;
	line-height: 55px;
	padding: 0 32px;
	text-transform: uppercase;
}

.external-page-popup-green-button {
	background-color: #bbed21;
}

.external-page-popup-green-button:hover {
	background-color: #d2fb52;
}

#mail-entry-loader {
	background: url("images/loader.gif") center no-repeat;
	position: absolute;
	margin-top: -50px;
	top: 50%;
	width: 100%;
	height: 100px;
}

.error-block {
	text-align: center;
	position: absolute;
	top: 50%;
	margin: -150px 0 0 0;
	width: 100%;
	height: 300px;
	background: #fff;
}

.error-block-text {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	font-size: 18px;
}

.pub-template-error-image {
	margin: auto;
	width: 314px;
	height: 174px;
	background: url(images/404.png);
}

.intranet-pub-title-user-logo {
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 30px;
}

.iframe-body {
	background: transparent;
	padding: 20px;
}
.iframe-body .content-wrap {
	position: initial;
	width: 100%;
}
.iframe-body .main-wrapper-content-cell {
	padding: 0;
}
.iframe-body .main-wrapper-footer {
	display: none;
}
.iframe-body .content {
	background-color: transparent;
	margin: 0;
}
.iframe-body .intranet-user-consent-view-wrapper {
	background-color: transparent;
	padding: 0;
	padding-bottom: 20px;
}

.feed-com-text a.blog-p-user-name,
.feed-com-text a.blog-p-user-name:link,
.feed-com-text a.blog-p-user-name:visited {
	color: currentColor;
	cursor: not-allowed;
	text-decoration: none;
	pointer-events: none;
}
