.bx-webdav-invite-access {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 7px 12px 6px 11px;
	position: relative;
	width: 417px;
}

.bx-webdav-invite-access-wide {
	width: 464px;
}

.bx-webdav-invite-access-title {
	border-bottom: 1px solid #e5e5e5;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 12px;
}

.bx-webdav-invite-cont {
	margin-bottom: 25px;
}

.bx-webdav-invite-whom {
	padding:11px 0 12px;
}

.bx-webdav-invite-whom-l {
	background: url(images/bx-webdav-invite-sprite.png?1) no-repeat left 12px;
	color: #555;
	font-size: 13px;
	float: left;
	padding:8px 7px 0 22px;
}

.bx-webdav-invite-whom-r {
	min-height: 25px;
	overflow: hidden;
	padding: 10px 10px 0;
}

.bx-webdav-invite-textar,
.bx-webdav-invite-whom-r {
	background-color: #fff;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c6c8;
	-webkit-box-shadow: inset 0 1px 2px #dedede;
	box-shadow: inset 0 1px 2px #dedede;
	border-radius: 2px;
}

.bx-webdav-invite-textar {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	height: 65px;
	margin-left: 64px;
	padding: 10px;
	resize: none;
	width: 331px;
}

.bx-webdav-invite-checkbox-wrap {
	padding-top: 9px;
	margin-left: 64px;
}

.bx-webdav-invite-tabs-wrap .bx-webdav-invite-checkbox-wrap {
	margin-bottom: 20px;
}

.bx-webdav-invite-checkbox {
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.bx-webdav-invite-label {
	color: #555;
	font-size: 12px;
	vertical-align: middle;
}

.bx-webdav-invite-footer {
	border-top: 1px solid #e5e5e5;
	text-align: center;
	padding-top: 10px;
}

.bx-webdav-invite-footer .webform-button-link {
	color: #000000;
	display: inline-block;
	margin-top: 8px;
}


.bx-webdav-invite-close-btn {
	background: url(images/bx-webdav-invite-sprite.png?1) no-repeat center -121px;
	cursor: pointer;
	height: 17px;
	top: 0;
	right: 0;
	opacity: 0.7;
	position: absolute;
	width: 17px;
}
.bx-webdav-invite-close-btn:hover {
	opacity: 1;
}

.bx-webdav-invite-tabs-wrap .bx-webdav-invite-close-btn {
	top: 9px;
	right: 9px;
}

.bx-webdav-invite-text-popup .bx-webdav-invite-close-btn {
	top: -12px;
	right: -7px;
}



.bx-webdav-invite-tabs-wrap {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 11px 5px 8px 7px;
	width: 463px;
}

.bx-webdav-invite-tabs {
	position: relative;
	z-index: 2;
}

.bx-webdav-invite-tab {
	background-image: -webkit-linear-gradient(top, #f5f7f9, #e5eff6);
	background-image:    -moz-linear-gradient(top, #f5f7f9, #e5eff6);
	background-image:     -ms-linear-gradient(top, #f5f7f9, #e5eff6);
	background-image:      -o-linear-gradient(top, #f5f7f9, #e5eff6);
	background-image:         linear-gradient(to bottom, #f5f7f9, #e5eff6);
	color: #2067b0;
	border: 1px solid #bcd0d5;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.75), inset 0 -1px 0 #e1ecf3;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.75), inset 0 -1px 0 #e1ecf3;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 31px;
	line-height: 30px;
	margin-right: 5px;
	padding: 0 14px;
	text-shadow: 0 1px #fff;
	cursor: pointer;
}

.bx-webdav-invite-tab-active {
	background: #fff;
	border-bottom: 1px solid #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #555;
	margin-bottom: -1px;
	cursor: pointer;
}

.bx-webdav-invite-tabs-cont {
	background-color: #fff;
	border: 1px solid #bbcfd4;
	border-radius: 0 3px 3px 3px;
	padding: 14px 14px 0;
}


.bx-webdav-invite-users-list,
.bx-webdav-invite-users-meditate {
	background-color: #eef1f4;
	border-radius: 2px;
	border: 1px solid;
	border-color: #c5c7ca #d9dcdf #e7eaed;
	-webkit-box-shadow: inset 0 1px 1px 0 #d9dcdf;
	box-shadow: inset 0 1px 1px 0 #d9dcdf;
	height: 32px;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 9px 15px 0;
}


.bx-webdav-invite-users-title {
	padding-bottom: 15px;
	position: relative;
}

.bx-webdav-invite-users-title-text {
	border-bottom: 1px dashed #555;
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
}

.bx-webdav-invite-users-arrow {
	background: url(images/bx-webdav-invite-sprite.png?1) no-repeat center -105px;
	height: 5px;
	position: absolute;
	right: 0;
	top: 9px;
	width: 8px;
}

.bx-webdav-invite-users-list-open .bx-webdav-invite-users-arrow {
	background-position: center -69px;
}

.bx-webdav-invite-users-block {
	margin-right: -5px;
}

.bx-webdav-invite-users {
	display: inline-block;
	height: 28px;
	margin-right: 5px;
	padding: 5px 0 0 35px;
	position: relative;
	vertical-align: top;
	white-space: nowrap;
	width: 163px;
}

.bx-webdav-invite-us-avatar {
	background: url(images/bx-webdav-invite-sprite.png?1) no-repeat center -18px #fff;
	border: 1px solid rgb(214, 214, 214);
	-webkit-box-shadow: 0 0 1px rgb(240, 240, 240) inset;
	box-shadow: 0 0 1px rgb(240, 240, 240) inset;
	height: 21px;
	left: 0;
	top: 0;
	padding: 2px;
	position: absolute;
	width: 21px;
}

.bx-webdav-invite-us-name {
	color: #1f67b0;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	max-width: 160px;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
}
.bx-webdav-invite-us-name:hover {
	text-decoration: underline;
}

.bx-webdav-invite-us-descript {
	color: #737373;
	font-size: 13px;
	margin-left: 7px;
}

.bx-webdav-invite-owner {
	margin-bottom: 7px;
}

.bx-webdav-invite-us-set {
	background: url(images/bx-webdav-invite-sprite.png?1) no-repeat center -45px;
	display: inline-block;
	cursor: pointer;
	margin-top: 1px;
	vertical-align: top;
	height: 19px;
	width: 19px;
}

.bx-webdav-invite-us-set:hover {
	background-position: center -80px;
}


.bx-webdav-invite-us-more {
	padding: 7px 0 15px;
}

.bx-webdav-invite-us-more-link {
	border-bottom: 1px dashed #555;
	color: #555;
	cursor: pointer;
	font-size: 12px;
}


.bx-webdav-invite-text-popup {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 16px 13px 14px;
	position: relative;
	text-align: center;
	width: 464px;
}

.bx-webdav-invite-text-title {
	color: #000;
	font-size: 23px;
	font-weight: bold;
	padding-bottom: 10px;
}

.bx-webdav-invite-text {
	color: #000;
	font-size: 14px;
	min-height: 85px;
	padding-bottom: 15px;
}

.bx-webdav-invite-text-alignment {
	display: inline-block;
	margin-left: -1px;
	height: 85px;
	vertical-align: middle;
	width: 1px;
}

.bx-webdav-invite-text-inner {
	display: inline-block;
	vertical-align: middle;
}

.bx-webdav-invite-footer-link-block {
	padding-bottom: 17px;
}

.bx-webdav-invite-footer-link {
	color: #2067b0;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

.feed-add-post-destination-block {overflow:hidden; position:relative; zoom:1;}
.feed-add-post-destination-block .feed-add-post-destination-title {margin-top:12px;}
.feed-add-post-dest-source {color:#1a60a9;}
.feed-add-post-destination-wrap {
	border:1px solid;
	border-color:#e3e4e5 #e4e6e7 #e6e8e9;
	border-radius:2px;
	box-shadow:inset 0 1px 2px #ebebeb;
	overflow:hidden;
	padding:10px 10px 0;
	zoom:1;
}
.feed-add-post-destination-wrap-but {margin-top:-9px;}
.feed-add-post-destination {
	border: 1px solid;
	border-radius: 2px;
	box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.6) inset, 0 1px 2px -1px rgba(164, 164, 164, 0.6);
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	margin: 0 9px 9px 0;
	overflow: hidden;
	padding: 0 23px 0 11px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	vertical-align: middle;
	z-index: 2;
}
.feed-add-post-destination a:link, .feed-add-post-destination a:visited, .feed-add-post-destination a:active, .feed-add-post-destination a:hover {text-decoration:none;}
.feed-add-post-destination-wrap-but .feed-add-post-destination {margin:9px 9px 0 0;}
.feed-add-post-destination-wrap .feed-add-post-destination {padding-right:23px;}
.feed-add-post-del-but {
	background: url("images/bx-webdav-invite-sprite.png?1") no-repeat center 100px;
	cursor: pointer;
	height: 20px;
	opacity: 0.7;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
}
.feed-add-post-destination:hover {text-decoration:none;}
.feed-add-post-destination-all-users {
	background:#edf2d4;
	background:linear-gradient(top, #f1f5de, #e6eec5);
	background:-moz-linear-gradient(top, #f1f5de, #e6eec5);
	background:-o-linear-gradient(top, #f1f5de, #e6eec5);
	background:-ms-linear-gradient(top, #f1f5de, #e6eec5);
	background:-webkit-gradient(linear, left top, left bottom,
	from(#f1f5de), to(#e6eec5));
	border-top-color:#a3ca26;
	border-right-color:#99c220;
	border-left-color:#99c220;
	border-bottom-color:#8cb919;
	color:#688617!important;
}
.feed-add-post-destination-all-users .feed-add-post-del-but {background-position:-107px -39px;}
.feed-add-post-destination-hover.feed-add-post-destination-all-users {
	background-color:#f5f9e5;
	background:linear-gradient(top, #f8faec, #f2f7dd);
	background:-moz-linear-gradient(top, #f8faec, #f2f7dd);
	background:-o-linear-gradient(top, #f8faec, #f2f7dd);
	background:-ms-linear-gradient(top, #f8faec, #f2f7dd);
	background:-webkit-gradient(linear, left top, left bottom, from(#f8faec), to(#f2f7dd));
}
.feed-add-post-destination-hover.feed-add-post-destination-all-users .feed-add-post-del-but {background-position:-27px -60px;}
.feed-add-post-destination-users {
	background-color: #e4eff3;
	background-image: -webkit-linear-gradient(top, rgb(236, 244, 247), rgb(221, 235, 241));
	background-image:    -moz-linear-gradient(top, rgb(236, 244, 247), rgb(221, 235, 241));
	background-image:     -ms-linear-gradient(top, rgb(236, 244, 247), rgb(221, 235, 241));
	background-image:      -o-linear-gradient(top, rgb(236, 244, 247), rgb(221, 235, 241));
	background-image:         linear-gradient(to bottom, rgb(236, 244, 247), rgb(221, 235, 241));
	border-color: rgb(137, 196, 221) rgb(124, 186, 213) rgb(106, 170, 200);
	color: rgb(32, 103, 176) !important;
}
.feed-add-post-destination-users .feed-add-post-del-but {
	background-position: center -179px;
}
.feed-add-post-destination-hover.feed-add-post-destination-users {
	background-color: #f0f5f8;
	background-image: -webkit-linear-gradient(top,  rgb(245, 248, 250), rgb(237, 243, 247));
	background-image:    -moz-linear-gradient(top,  rgb(245, 248, 250), rgb(237, 243, 247));
	background-image:     -ms-linear-gradient(top,  rgb(245, 248, 250), rgb(237, 243, 247));
	background-image:      -o-linear-gradient(top,  rgb(245, 248, 250), rgb(237, 243, 247));
	background-image:         linear-gradient(to bottom,  rgb(245, 248, 250), rgb(237, 243, 247));
}
.feed-add-post-destination-text {
	line-height: 20px;
}
.feed-add-post-destination-hover.feed-add-post-destination-users .feed-add-post-del-but {
	opacity: 1;
}
.feed-add-post-destination-sonetgroups {
	background-color:#f6ebe2;
	background:linear-gradient(top, #f8efe9, #f3e3d8);
	background:-moz-linear-gradient(top, #f8efe9, #f3e3d8);
	background:-o-linear-gradient(top, #f8efe9, #f3e3d8);
	background:-ms-linear-gradient(top, #f8efe9, #f3e3d8);
	background:-webkit-gradient(linear, left top, left bottom, from(#f8efe9), to(#f3e3d8));
	border-top-color:#e4a878;
	border-right-color:#e49a61;
	border-left-color:#e49a61;
	border-bottom-color:#e48d4a;
	color:#b54515!important;
}
.feed-add-post-destination-sonetgroups .feed-add-post-del-but {background-position:7px 6px;}
.feed-add-post-destination-hover.feed-add-post-destination-sonetgroups {background-color:#faf5f2; background:linear-gradient(top, #fbf8f5, #f9f2ed); background:-moz-linear-gradient(top, #fbf8f5, #f9f2ed); background:-o-linear-gradient(top, #fbf8f5, #f9f2ed); background:-ms-linear-gradient(top, #fbf8f5, #f9f2ed); background:-webkit-gradient(linear, left top, left bottom, from(#fbf8f5), to(#f9f2ed));}
.feed-add-post-destination-hover.feed-add-post-destination-sonetgroups .feed-add-post-del-but {background-position:-42px -61px;}

.feed-add-post-destination-department, .feed-add-post-destination-crm {
	background-color:#e9eff1;
	background:linear-gradient(top, #eef3f4, #f3e3d8);
	background:-moz-linear-gradient(top, #eef3f4, #e1eaec);
	background:-o-linear-gradient(top, #eef3f4, #e1eaec);
	background:-ms-linear-gradient(top, #eef3f4, #e1eaec);
	background:-webkit-gradient(linear, left top, left bottom, from(#eef3f4), to(#e1eaec));
	border-top-color:#a9b6c6;
	border-right-color:#9ca8b8;
	border-left-color:#9ca8b8;
	border-bottom-color:#8f9bab;
	color:#5c6470!important;
}
.feed-add-post-destination-department .feed-add-post-del-but,
.feed-add-post-destination-crm .feed-add-post-del-but {background-position:7px -20px;}
.feed-add-post-destination-hover.feed-add-post-destination-department,
.feed-add-post-destination-hover.feed-add-post-destination-crm {background-color:#f2f7f9; background:linear-gradient(top, #f5f9fa, #eef4f7); background:-moz-linear-gradient(top, #f5f9fa, #eef4f7); background:-o-linear-gradient(top, #f5f9fa, #eef4f7); background:-ms-linear-gradient(top, #f5f9fa, #eef4f7); background:-webkit-gradient(linear, left top, left bottom, from(#f5f9fa), to(#eef4f7));}
.feed-add-post-destination-hover.feed-add-post-destination-department .feed-add-post-del-but, .feed-add-post-destination-hover.feed-add-post-destination-crm .feed-add-post-del-but {background-position:-58px -61px;}

.feed-add-destination-inp {background:#fff; border:none; color:#555; display:inline-block; font-size:12px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; margin:0 9px 9px 0; height:20px; min-width:108px; outline:none; padding:0; vertical-align:middle;}

.feed-add-destination-link {
	background: url("images/bx-webdav-invite-sprite.png?1") no-repeat left -149px;
	color: rgb(32, 103, 176);
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin: 0 9px 9px 0;
	padding-left: 14px;
	vertical-align: middle;
}

.feed-add-destination-input-box {display: none;}