.bx-crm-widget-form-config-wrapper {}

/* Sidebar */

.bx-crm-widget-form-config-sidebar {
	position: fixed;
	left: -3850px;
	height: 100%;
	width: 369px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
	background: rgba(255,255,255, .98);
	overflow: hidden;
	transition: opacity .5s ease;
	box-sizing: border-box;
	opacity: 0;
	z-index: 10101;
}

.bx-crm-widget-form-config-sidebar-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bx-crm-widget-form-config-sidebar.open-sidebar {
	left: auto;
	right: 0;
	opacity: 1;
	top: 0;
}

.bx-crm-widget-form-config-button.open-sidebar {
	display: none;
}

.bx-crm-widget-form-config-button.button-visible {
	display: block;
}

.bx-crm-widget-form-config-sidebar.close-sidebar {
	right: -385px;
}

/* Sidebar header */

.bx-crm-widget-form-config-sidebar-header {
	position: absolute;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 20px;
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #e6e6e7;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.03);
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 4;
}

.bx-crm-widget-form-config-sidebar-close {
	display: inline-block;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.bx-crm-widget-form-config-sidebar-close-item {
	display: inline-block;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDE1IDE1Ij4gIDxwYXRoIGZpbGw9IiM4MDg2OEUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTE2NDIuNDI0NjIsMjQ1LjAxMDQwOCBMMTYzNi40MTQyMSwyMzkgTDE2MzUsMjQwLjQxNDIxNCBMMTY0MS4wMTA0MSwyNDYuNDI0NjIxIEwxNjM1LDI1Mi40MzUwMjkgTDE2MzYuNDE0MjEsMjUzLjg0OTI0MiBMMTY0Mi40MjQ2MiwyNDcuODM4ODM1IEwxNjQ4LjQzNTAzLDI1My44NDkyNDIgTDE2NDkuODQ5MjQsMjUyLjQzNTAyOSBMMTY0My44Mzg4MywyNDYuNDI0NjIxIEwxNjQ5Ljg0OTI0LDI0MC40MTQyMTQgTDE2NDguNDM1MDMsMjM5IEwxNjQyLjQyNDYyLDI0NS4wMTA0MDggWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE2MzUgLTIzOSkiLz48L3N2Zz4=);
	cursor: pointer;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	opacity: .5;
}

.bx-crm-widget-form-config-sidebar-close-item {
	width: 20px;
	height: 18px;
	background-position: 3px 2px;
	background-repeat: no-repeat;
}

.bx-crm-widget-form-config-sidebar-close-item:hover {
	opacity: 1;
}

.bx-crm-widget-form-config-sidebar-message {
	-webkit-box-flex: 16;
	-ms-flex: 16;
	flex: 16;
	text-align: center;
}

.bx-crm-widget-form-config-sidebar-message-item {
	display: inline-block;
	max-width: 310px;
	font: var(--ui-font-weight-bold) 10px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #424956;
	text-transform: uppercase;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.bx-crm-widget-form-config-sidebar-rollup {
	display: none;
	margin: 0 6px 0 0;
}

.bx-crm-widget-form-config-sidebar-hamburger {
	display: none;
}

/* Info block */

.bx-crm-widget-form-config-sidebar-info {
	position: absolute;
	top: 60px;
	width: 100%;
	-webkit-height: calc(100% - 130px);
	height: calc(100% - 130px);
	background: #fff;
	transition: opacity .6s ease;
	overflow: auto;
	opacity: 1;
	-webkit-overflow-scrolling: touch;
}

.bx-crm-widget-form-copyright-disabled .bx-crm-widget-form-config-sidebar-info {
	height: calc(100% - 75px);
}

.bx-crm-widget-form-copyright-disabled .bx-crm-widget-form-config-sidebar-logo {
	display: none;
}

/* Chat */

.bx-crm-widget-form-config-sidebar-chat-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #fff;
	box-sizing: border-box;
	z-index: 4;
}

.bx-crm-widget-form-config-sidebar-chat {
	padding: 20px;
	-webkit-box-shadow: 0 -2px 0 0 rgba(0,0,0,0.03);
	box-shadow: 0 -2px 0 0 rgba(0,0,0,0.03);
}

.bx-crm-widget-form-config-sidebar-chat-border {
	height: 3px;
	background: #2fc7f7; /* Old browsers */
	background: -moz-linear-gradient(left,  #2fc7f7 0%, #35e8f6 50%, #7ce3a7 74%, #bcf664 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #2fc7f7 0%,#35e8f6 50%,#7ce3a7 74%,#bcf664 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #2fc7f7 0%,#35e8f6 50%,#7ce3a7 74%,#bcf664 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* Logo */

.bx-crm-widget-form-config-sidebar-logo {
	padding: 15px 0 10px 0;
	text-align: center;
}
.bx-crm-widget-form-config-sidebar-logo a {
	text-decoration: none!important;
}

.bx-crm-widget-form-config-sidebar-logo-text {
	display: inline-block;
	margin: 0 0 0 -2px;
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #b2b6bd;
}

.bx-crm-widget-form-config-sidebar-logo-bx {
	display: inline-block;
	margin: 0 -2px 0 0;
	font: var(--ui-font-weight-bold) 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #2fc7f7;
}

.bx-crm-widget-form-config-sidebar-logo-24 {
	display: inline-block;
	font: var(--ui-font-weight-bold) 15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #215f98;
}

/* MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 420px) {
	/*.bx-imopenlines-config-mobile-mask {*/
	/*width: 100vw;*/
	/*overflow: hidden;*/
	/*}*/
	.bx-crm-widget-form-config-sidebar {
		width: 100%;
	}
	.bx-crm-widget-form-config-sidebar-info-block-container {
		padding: 0;
		width: 100%;
		height: 115px;
		border-radius: 0;
	}
	.bx-crm-widget-form-config-sidebar-info-block-container:before {
		top: 0;
		left: 0;
		width: 100%;
		height: 113px;
		border-radius: 0;
	}
	.bx-crm-widget-form-config-sidebar-info-block-container:after {
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;
		border-radius: 0;
	}
	.bx-crm-widget-form-config-sidebar-social {
		width: 100%;
	}
	.crm-webform-header-container {
		text-align: center;
	}
}
