.config-webform-field-upload {
	overflow: hidden;
	width: 200px;
}
.config-webform-field-upload:hover .webform-button-text {
	color: #000000;
	cursor: pointer !important;
}
.config-webform-field-upload input {
	font-size: 150px;
	height: 50px;
	margin-left: -410px;
	margin-top: -114px;
	opacity: 0;
}
.config-webform-field-upload:hover .content-edit-form-button-left {
	background-position: -95px -67px;
}
.config-webform-field-upload:hover .content-edit-form-button-right {
	background-position: -101px -67px;
}
.config-webform-field-upload:hover .content-edit-form-button-text {
	background-position: -101px -143px;
}
.config-webform-button-upload, .config-webform-button-upload .config-webform-button-left, .config-webform-button-upload .config-webform-button-right, .config-webform-button-upload .config-webform-button-text {
	cursor: pointer;
	display: inline-block;
	height: 27px;
	line-height: 27px;
	vertical-align: top;
}
.config-webform-button-upload .config-webform-button-left {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat 0 -222px;
	width: 6px;
}
.config-webform-button-upload .config-webform-button-text {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") repeat-x 0 -251px;
	color: #5b5b5b;
	font: 14px/26px Arial,Helvetica,sans-serif;
	padding: 0 8px;
	text-shadow: none;
}
.config-webform-button-upload .config-webform-button-right {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat right -222px;
	width: 6px;
}
.config-webform-logo-img {
	background: none repeat 0 0 #ffffff;
	border: 1px solid #ced0d1;
	border-radius: 2px;
	box-shadow: 0 0 0 1px #f5f5f5 inset, 0 0 0 1px #e9eced;
	display: inline-block;
	padding: 3px;
}
.config_logo_delete_link {
	line-height: 40px;
	margin-top: 10px;
	margin-left: 15px;
	vertical-align: top;
}

.config_notify_message
{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fdfaea;
	border-color: #e5e0c4 #f1edd7 #f9f6e4;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px #ede8cc inset;
	color: #555555;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 12px;
	padding: 11px 14px;
	position: relative;
}

.content-edit-form-field-star:after {
	content: "*";
	color: red;
	padding-left: 5px;
}

.progressbar-container {
	width: 40%;
	margin: 42px auto;
}

.progressbar-track {
	height: 19px;
	background: #edf2f5;
	border-radius: 9px;
	overflow: hidden;
	position: relative;
}

.progressbar-loader {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	border-radius: 9px;
	background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQECAgICAgICAgICAgMDAwMDAwMDAwP/2wBDAQEBAQEBAQEBAQECAgECAgMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwP/wgARCAATAEsDAREAAhEBAxEB/8QAGAABAQEBAQAAAAAAAAAAAAAABwYFCAT/xAAcAQEBAQABBQAAAAAAAAAAAAAEBQMAAQIGCAn/2gAMAwEAAhADEAAAAQH3m+e3Sk+lztQmvQKA2wScZcdsfU7NfVzoilWHXPH8zHek3PFnUgpIYmWrJISGUtoMOmVeWoMHFvXlqDCx7txXiSEytSvm4pG6G2ExPpf/xAAjEAACAgEDAwUAAAAAAAAAAAAEBQIDAQAGNBITMhQWIjEz/9oACAEBAAEFAoxtLIYGVo0YIsjS9ysoBrUgODj93teqG1wsEH7taesK2gHHve56e4jrxG1udk0lHiI0Dy5GkqpwXh33TJuHIiqXfO6y8zC5bobh6s4Mfs/jD/sy8AeSy89f/8QAMBEAAQIEAwUFCQAAAAAAAAAAAQACAwQRMRITIRAyNEFxBRRhgcEiIzNCUpGh0eH/2gAIAQMBAT8B1cfEp0cQYGXDumjE4BTExSFlMt6KEAXjFuqbmcbRDFlLUzA51gpuOYpDflClKMdmFd+18MXp+1GmBCIbX2kwktBddRZkMfgadUK0FbozPvMth1XVMmcyJgYdE4hoLjZQZgxXUbbZMcYa1uL2/HLZD43X6uf8Tt1ykOJ+91MfAi3tyXZu/E6eanuHffyXZu5E6+ez/8QAKxEAAQMDAQYFBQAAAAAAAAAAAQACAxESMQQFECEyM0ETNGFx8BQjQoHR/9oACAECAQE/AeDR6BNhMs178JxtaSoIKy+K/wCFSkhhplaWCwmQ5WorYWtyVpYfDBd+RWqq5tgX0fD1tUUBkBPZOADiG4UcF7LzhGleGENP9u9+50FjLn5QBJAGVLCI21Od0HlRSmO3zO6TyhpTl7JvMFreh/FB1o8Z7raHLH7rR9duP2toc7Pbd//EADcQAAADBAQKCgIDAAAAAAAAAAECAwARITEEEjKBExQiIzNBQlJhkQUQQ1FTYnFygsGhsRWTwv/aAAgBAQAGPwICxOtSFZjMx1DREbxYtDowuVMni6YhMTnB66/rEbxBkaMXtD5Rt0gROa4rJdGUXIwxCpuLsUVNwCEPEEHc2SIcMymOFX9hBs/MYMl0akLiwWXdw0Kf3yYKSqD0aG5SMjLdkFw5VzEoZDZmiW+4y5p/1lh6vZTpFUIJPSo7/EMGWcPaQXXtbLg/5XE+OL4rp/bjX4Y1KNsZKfuG0a4v7YY5tLNk/wBGvFlKUeBjhVKO6mETD8h/TKLGlZIHcQtljrGtqBhDd9ULBb/tlFjxOqYR5yAPRoaR1YfMseQfH6beOofmYwsFHRFxqmCKIbxtIp1A6tZPoncd7a6trRBo3VZcY1fywSmE5Xu1NtzLKrVv11WSlbC1Jk7doZuqy5vYktfrLZ8zJ27I2nVZ6na+r//EACUQAAIBBAICAgIDAAAAAAAAAAERACExUWFBcYGRELHR8KHB4f/aAAgBAQABPyEUikMJqRXqwmDc0jgYUCNw7iB6gQO7O9o+YoqyYI2AkNxDHwmIiF6EW+pnHeVQFQkWAvFoDZoEASMoIKvRDsJhQ0O9XscFAAiQoBuQXUbn7iR3H80gztL8dDuUEpyMhdCj+3wBEBECv8JfUGqLFrWDyKnZlBvQwyvyfcH7JF5TeEFBCEK56wjZFI6gXZNWJqakSdkx0psQkBPZUnRIjOTd35z3G+4jL+/fw1lHXEt7uE5fkefZtG0Vf0mC5U/KrlS3OOHHwex5Lx8XnoFe3pRmPWwPyls9fH//2gAMAwEAAgADAAAAEMj0WE70jTz++Bbl/wD/xAAlEQACAQMDAwUBAAAAAAAAAAABEUEAITFRcYEQodFhkbHB4fD/2gAIAQMBAT8QbJLN3NBJMEOcmnmUCb7TQQ2yCtAefNR+FniOaIb6z9D79qAUWXmPNDeftP55ojVsWG8n2+a2MHEv5ih4Bg9h+0X64Ot1zuYrIcL0+/MuZ9qaDKiyp2E0UlAGaJzW3O3T0x8Vu+Szd9Mdzfm+7SGoprDaOE8Q7PR2pMsr1OFZ6uHTWJYPh95WL0sLTLlELWWqa1MQ1lxqr8OliaawmFovV9P/xAAlEQACAQMCBgMBAAAAAAAAAAABEUEAITFRgRBhcaGx0ZHB4fD/2gAIAQIBAT8QwQEDxRSNsztgUsBcCikuEF7vXqpVwh72oIboH2fr5ojNQbT6oJ4ej99UA+M3PTSnhJu8fHejJFtt6FhYVRUP5E0AEuVYFZPb9pXQFDTYdzFDTZFCg4d9hw5ofmnW3g8W4bYf1xrKc0l1JjLWZV1qq0cMcm7jRSqW5BJdu3PNq2TYxiZekZpL8DLSFPXyqadN0zEvV8lw/8QAJBAAAgICAQMEAwAAAAAAAAAAAREAITFBUWGBkXGx8PEQodH/2gAIAQEAAT8QGG4TDsmyJZWmYY0dvgJVQL2mh+AioEtOEjYPKDcPgUi7XLYYBQxOY55zIY5GOhx2HURcAqzGSEi0rgYxCYCcTi8PVIc80PeBGqaDYqbA+RgihgUCk9C0AQQTiffKjg2745gm1fEKqxTUdWFiAoyyEzQigSJA5kLwDdRLSOQEWL6BhWscoSGhRgH1IkQqfLh1ayCxNgeIAi1s4ATS4hgCIeiemGySTBhh3AFs8WW6ULtkmDDlrBcleOJsBqf3l7/lmdgLbdXVdq0pQ5OcnOc76yx8y64vM3E1N2kr9qWsT46WvWfuKiXcPYXydtDpzP8AykWHscovL2tre+LBPanGvbA/qqn4/9k=);
	background-position: 0 0;
	background-size: auto 19px;
	-webkit-animation: progressbar 2s infinite linear;
	-moz-animation: progressbar 2s infinite linear;
	-ms-animation: progressbar 2s infinite linear;
	-o-animation: progressbar 2s infinite linear;
	animation: progressbar 2s infinite linear;
}

@-webkit-keyframes progressbar { 0 {background-position: 0 0;} 100% {background-position: 75px 0;} }
@-moz-keyframes progressbar { 0 {background-position: 0 0;} 100% {background-position: 75px 0;} }
@-ms-keyframes progressbar { 0 {background-position: 0 0;} 100% {background-position: 75px 0;} }
@-o-keyframes progressbar { 0 {background-position: 0 0;} 100% {background-position: 75px 0;} }
@keyframes progressbar { 0 {background-position: 0 0;} 100% {background-position: 75px 0;} }

.progressbar-counter {
	padding-top: 10px;
	color: #000;
	font: 300 28px/29px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

.config_notify_message
{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fdfaea;
	border-color: #e5e0c4 #f1edd7 #f9f6e4;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px #ede8cc inset;
	color: #555555;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 12px;
	padding: 11px 14px;
	position: relative;
}