table.intranet-tasks
{
	border:1px solid #C4C4C3;
	border-collapse:collapse;
}

table.intranet-tasks td
{
	border:1px solid #c4c4c4;
	padding:6px 5px;
}

table.intranet-tasks thead td, table.intranet-tasks th
{
	background-color:#f2f2ea;
	/*text-align:left;*/
	font-weight:bold;
	font-size:12px;
	background-image:none;
	border:1px solid #C4C4C3;
	border-bottom:none;
	padding:8px;
}

table.intranet-view-form  
{
	width: 100%;
	border: 1px solid #ABC4D0;
	border-collapse:collapse;
	padding: 0px;

}
table.intranet-view-form td, table.intranet-view-form tbody td
{
	font-weight:normal;
	font-size:11px;
	border:none;
	padding:7px;
}

table.intranet-view-form th
{
	font-weight:normal;
	font-size:12px;
	background-color:#F0F5F7;
	padding: 7px;
	border:none;	
}

table.intranet-view-form th.intranet-view-form-small
{
	font-size:11px;
}

table.intranet-view-form-smile tbody td, table.intranet-view-form-smile td
{
	border:none;
	padding:3px;
}

.required-field
{
	font-weight:bold;
	color:#FF0000;
}
