#dashboard-create-form {
	padding: 24px;
}

.dashboard-create-top-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--ui-color-palette-blue-15);
	border-radius: 6px;
	margin-bottom: 22px;
	padding: 16px;
}

.dashboard-create-top-block-image {
	width: 106px;
	height: 56px;
	margin-right: 24px;
	background: url('images/top-block-icon.svg') no-repeat center;
}

.dashboard-create-top-block-text {
	flex: 1;
	font-size: 14px;
	line-height: 18px;
}

.dashboard-title-wrapper {
	margin-bottom: 16px;
}

.ui-button-panel.ui-button-panel-align-center {
	padding: 10px;
}

#ui-button-panel {
	box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .05);
}
