.rpa-kanban {
	padding: 6px 10px 0 0;
}

.rpa-kanban-form {
	display: none;
	background-color: #f9fafb;
	margin-bottom: 7px;
	border-radius: var(--ui-border-radius-md);
}

.rpa-kanban-form .ui-entity-editor-section-add-btn-container {
	margin-bottom: 0;
}

.rpa-kanban-form .ui-entity-editor-container, .rpa-kanban-form-with-settings {
	line-height: 22px;
}

.rpa-kanban-form .ui-entity-editor-section,
.rpa-kanban-form .ui-entity-editor-section-edit {
	margin: 0;
}

.rpa-kanban-form .ui-entity-card-content-actions-container .ui-entity-card-common,
.rpa-kanban-form .ui-entity-card-content-actions-container .ui-entity-card-private {
	display: none;
}

.rpa-kanban-form .ui-entity-editor-content-add-lnk {
	display: none !important;
}

.rpa-kanban-form.rpa-kanban-form-with-settings .ui-entity-editor-content-add-lnk {
	display: inline-block !important;
}

.rpa-kanban-form-buttons {
	display: none;
	background-color: #fff;
	line-height: 50px;
	margin: -15px 0 0 0;
	padding: 15px;
	position: relative;
	border-radius: var(--ui-border-radius-md);
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.rpa-kanban-column-task-btn {
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid #c6cdd3;
	border-radius: 14px;
	padding: 3px 9px 3px 12px;
	cursor: pointer;
	font-size: 0;
	color: #535b69;
	transition: 160ms background-color linear, 160ms color linear, 160ms opacity linear, 160ms border-color linear;
}

.rpa-kanban-column-task-btn:hover {
	background: #cfd4d8;
}

.rpa-kanban-column-task-block {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 70px;
	line-height: normal;
	height: 50px; /* ie */
}

.rpa-kanban-column-task-btn-title {
	font: 12px/18px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	padding-right: 8px;
}

.rpa-kanban-column-task-inner {
	display: flex;
	align-items: center;
}

.rpa-kanban-column-task-btn-counter {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	position: relative;
	padding-right: 11px;
	font-size: 12px;
}

.rpa-kanban-column-task-btn-counter:after {
	content: '';
	position: absolute;
	right: 0;
	top: 7px;
	border: 3px solid transparent;
	opacity: .5;
	border-top-color: #535b69;
}

.bitrix24-light-theme .rpa-kanban-column-task-btn {
	color: #fff;
	background: rgba(255, 255, 255, .15);
	border-color: rgba(255, 255, 255, .4);
}

.bitrix24-light-theme .rpa-kanban-column-task-btn-counter:after {
	border-top-color: #fff;
}

.bitrix24-light-theme .rpa-kanban-column-task-btn:hover {
	background: rgba(255, 255, 255, .3);
}

.main-kanban-column-settings-button-rpa {
	font-size: 12px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.rpa-kanban-column-task-responsible {
	position: relative;
	margin-right: 24px;
}

.rpa-kanban-column-task-responsible-list {
	border-radius: 15px;
	font-size: 0;
	display: flex;
}

.rpa-kanban-column-task-responsible-item {
	border-radius: 50%;
	width: 27px;
	height: 27px;
	display: inline-block;
	vertical-align: top;
	z-index: 10;
	margin-left: -10px;
}

.rpa-kanban-column-task-responsible-item:first-child {
	margin-left: 0;
}

.rpa-kanban-column-task-responsible-img {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	display: block;
	background: #525b69 url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2247.188%22%20height%3D%2254.063%22%3E%3Cpath%20data-name%3D%22Shape%202%20copy%204%22%20d%3D%22M47.18%2054.062c0-3.217-3.61-16.826-3.61-16.826%200-1.99-2.6-4.26-7.72-5.585a17.394%2017.394%200%2001-4.887-2.223c-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.695%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04a27.05%2027.05%200%20000-7.918c-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217a7.1%207.1%200%2001-.14%201.732c-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16S-.012%2054.06-.012%2054.06h47.19z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E) no-repeat center;
	background-size: cover;
	border: 3px solid transparent;
	box-sizing: border-box;
}

.rpa-kanban-tasks-popup-inner {
	min-width: 248px;
	padding: 18px 23px 19px 20px;
	box-sizing: border-box;
}

.rpa-kanban-column-task-responsible-add {
	width: 22px;
	height: 22px;
	display: inline-block;
	background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2210%22%3E%3Cpath%20fill%3D%22%230FBBF1%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6%200v4h4v2H6v4H4V5.999L0%206V4l4-.001V0h2z%22/%3E%3C/svg%3E) no-repeat center;
	border-radius: 50%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
	position: absolute;
	right: -14px;
	top: 3px;
	z-index: 101;
	cursor: pointer;
}

.rpa-kanban-tasks-popup-name {
	font-size: 14px;
	line-height: 20px;
	border-bottom: 1px dashed rgba(130, 139, 149, .4);
	transition: all .2s linear;
	cursor: pointer;
	color: #80868e;
	margin-bottom: 12px;
	display: inline-block;
}

.rpa-kanban-tasks-popup-name:hover {
	border-color: rgba(130, 139, 149, 1);
}

.rpa-kanban-tasks-popup-desc {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rpa-kanban-tasks-popup-item {
	border-bottom: 1px solid #edeef0;
	padding-bottom: 17px;
	margin-bottom: 13px;
}

.rpa-kanban-tasks-popup-inner .rpa-kanban-column-task-responsible-list {
	background: #eceeee !important;
	box-shadow: 0 0 0 1px #e6e8e9;
}

.rpa-kanban-tasks-popup-inner .rpa-kanban-column-task-responsible-img {
	border-color: #eceeee !important;
}

.rpa-kanban-tasks-popup-delete {
	color: #525c69;
	font-size: 11px;
	line-height: 17px;
	opacity: .5;
	transition: opacity .2s linear;
	cursor: pointer;
}

.rpa-kanban-tasks-popup-delete:hover {
	opacity: .8;
}

.rpa-kanban-tasks-popup-add {
	border-bottom: 1px dashed rgba(39, 107, 179, .4);
}

.rpa-kanban-tasks-popup-add:hover {
	border-color: rgba(39, 107, 179, .8);
}

.main-kanban-item-new .rpa-kanban-item {
	animation: rpa-kanban-item-show-animate .2s linear forwards;
}

@keyframes rpa-kanban-item-show-animate {
	from {
		opacity: 0;
		transform: scale3d(.95,.95,.95);
	}
	to {
		opacity: 1;
		transform: scale3d(1,1,1);
	}
}

.rpa-kanban-item {
	position: relative;
	padding: 10px;
	border-radius: var(--ui-border-radius-md, 2px);
	overflow: hidden;
}

.rpa-kanban-item-line {
	display: block;
	width: 3px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: var(--rpa-kanban-item-color);
}

.rpa-kanban-item-shadow {
	position: absolute;
	overflow: hidden;
	bottom: -15px;
	left: -3px;
	right: 0;
	height: 15px;
	border-top: 1px solid #e1e7ea;
	transition: .2s;
}

.rpa-kanban-item-shadow:before {
	content: '';
	position: absolute;
	left: 5px;
	right: 5px;
	top: -5px;
	height: 5px;
	opacity: 0;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	transition: .2s;
}

.rpa-kanban-item:hover .rpa-kanban-item-shadow {
	border-top: 1px solid transparent;
}

.rpa-kanban-item:hover .rpa-kanban-item-shadow:before {
	opacity: 1;
	transform: translateY(0);
}

.rpa-kanban-item-title {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 12px;
	vertical-align: top;
	font: 13px/15px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #000;
	text-decoration: none;
	transition: color .2s linear;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rpa-kanban-item-title:hover {
	color: #2067b0;
}

.rpa-kanban-item-field-item {
	display: flex;
	flex-direction: column;
}

.rpa-kanban-item-field-item + .rpa-kanban-item-field-item {
	margin-top: 8px;
}

.rpa-kanban-item-field-item-name {
	font-size: 11px;
	line-height: 15px;
	color: rgba(82, 92, 105, .7);
	margin-bottom: 5px;
}

.rpa-kanban-item-field-item-value {
	font: 12px/16px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #525c69;
}

.rpa-kanban-item-field-item-value .fields.file img {
	max-width: 100%;
	height: auto;
}

.rpa-kanban-item-description .rpa-kanban-column-task-responsible-item {
	width: 20px;
	height: 20px;
	position: relative;
	border: 2px solid #fff;
}

.rpa-kanban-item-description .rpa-kanban-column-task-responsible-item + .rpa-kanban-column-task-responsible-item {
	margin-left: 20px;
}

.rpa-kanban-item-description .rpa-kanban-column-task-responsible-img {
	border: none;
	/*background: transparent;*/
}

.rpa-kanban-item-description .rpa-kanban-column-task-responsible-img img {
	width: 21px;
	height: 21px;
}

.rpa-kanban-item-description .rpa-kanban-column-task-responsible-item:after {
	content: '';
	width: 5px;
	height: 5px;
	background: #fff;
	border: 2px solid rgba(185, 189, 195, .69);
	border-bottom: none;
	border-left: none;
	transform: rotate(45deg);
	display: inline-block;
	position: absolute;
	left: 27px;
	top: 6px;
	cursor: default;
}

.rpa-kanban-item-description .rpa-kanban-column-task-responsible-item:last-child:after {
	content: none;
}

.rpa-kanban-item-field-list {
	margin-bottom: 17px;
}

.rpa-kanban-column-task-responsible-item-more {
	box-shadow: 2px 0 0 0 #c9ccd0;
	margin-right: 7px;
}

.rpa-kanban-item-description .rpa-kanban-column-task-responsible-item-more:after {
	left: 31px;
}

.rpa-kanban-item-description {
	display: flex;
	align-items: center;
}

.rpa-kanban-item-counter {
	margin-left: auto;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.rpa-kanban-item-counter-text {
	font: 13px/17px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #2066b0;
	margin-right: 7px;
}

.rpa-kanban-item-counter-value {
	width: 21px;
	height: 16px;
	border-radius: 8px;
	background: #f54819;
	color: #fff;
	font: 11px/15px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	text-align: center;
	transform: translateY(1px);
}

.rpa-kanban-item-field-item-value-link {
	font: 12px/18px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.rpa-kanban-item-contact {
	position: absolute;
	top: 8px;
	right: 0;
	opacity: 1;
	transition: .6s;
	transition-delay: 0s;
	z-index: 9;
}

.rpa-kanban-item-contact-im {
	display: block;
	width: 32px;
	height: 24px;
	text-decoration: none;
	cursor: pointer;
	transition: .1s;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23468EE5%22%20fill-rule%3D%22evenodd%22%20d%3D%22M3.58803617%2C50.4166756%20C2.8668347%2C50.4166756%202.27930883%2C51.0031234%202.27930883%2C51.7254029%20L2.27930883%2C57.9046658%20C2.27930883%2C58.6258673%202.8668347%2C59.2133932%203.58803617%2C59.2133932%20L5.03906336%2C59.2133932%20C5.39589099%2C59.2133932%205.68588083%2C59.502305%205.68588083%2C59.8602106%20L5.68588083%2C62.4884456%20C5.97263657%2C62.20708%206.68736987%2C61.427665%208.40251419%2C59.4376232%20C8.52648754%2C59.2953234%208.70436234%2C59.2133932%208.89301743%2C59.2133932%20L14.2907092%2C59.2133932%20C14.3133478%2C59.2133932%2014.3359864%2C59.2144712%2014.358625%2C59.2166272%20C15.0485637%2C59.1810523%2015.5994365%2C58.6086188%2015.5994365%2C57.910056%20L15.5983585%2C51.7254029%20C15.5983585%2C51.0031234%2015.0119107%2C50.4166756%2014.2907092%2C50.4166756%20L3.58803617%2C50.4166756%20Z%20M5.21586013%2C64.1777172%20C5.09943299%2C64.1777172%204.98192782%2C64.1540006%204.86765673%2C64.1000991%20C4.57012069%2C63.9631894%204.39224589%2C63.6602632%204.39224589%2C63.2915773%20L4.39224589%2C60.5070281%20L3.58803617%2C60.5070281%20C2.15317942%2C60.5070281%200.985673896%2C59.3395226%200.985673896%2C57.9046658%20L0.985673896%2C51.7254029%20C0.985673896%2C50.2905462%202.15317942%2C49.1230407%203.58803617%2C49.1230407%20L14.2907092%2C49.1230407%20C15.7244879%2C49.1230407%2016.8919934%2C50.2905462%2016.8919934%2C51.7254029%20L16.8930715%2C57.910056%20C16.8930715%2C59.3449127%2015.7255659%2C60.5124182%2014.2907092%2C60.5124182%20C14.2626804%2C60.5124182%2014.2346517%2C60.5102622%2014.207701%2C60.5070281%20L9.18947544%2C60.5070281%20C7.58321206%2C62.3666283%206.7218668%2C63.318528%206.40492624%2C63.5826452%20C6.06426904%2C63.871557%205.63952557%2C64.1777172%205.21586013%2C64.1777172%20Z%22%20transform%3D%22translate%280%20-49%29%22/%3E%0A%3C/svg%3E%0A) no-repeat 7px center;
	background-size: 17px 16px;
}

.rpa-kanban-item-contact-im:hover {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23468EE5%22%20fill-rule%3D%22evenodd%22%20d%3D%22M4.23018624%2C182.054677%20C4.11375909%2C182.054677%203.99625392%2C182.03096%203.88198283%2C181.977058%20C3.5844468%2C181.840149%203.406572%2C181.537223%203.406572%2C181.168537%20L3.406572%2C178.383987%20L2.60236228%2C178.383987%20C1.16750553%2C178.383987%200%2C177.216482%200%2C175.781625%20L0%2C169.602362%20C0%2C168.167506%201.16750553%2C167%202.60236228%2C167%20L13.3050353%2C167%20C14.738814%2C167%2015.9063196%2C168.167506%2015.9063196%2C169.602362%20L15.9073976%2C175.787015%20C15.9073976%2C177.221872%2014.7398921%2C178.389378%2013.3050353%2C178.389378%20C13.2770065%2C178.389378%2013.2489778%2C178.387222%2013.2220271%2C178.383987%20L8.20380155%2C178.383987%20C6.59753817%2C180.243588%205.73619291%2C181.195487%205.41925235%2C181.459604%20C5.07859515%2C181.748516%204.65385168%2C182.054677%204.23018624%2C182.054677%20Z%22%20transform%3D%22translate%280%20-167%29%22/%3E%0A%3C/svg%3E%0A);
}

.rpa-kanban-item-contact-im-disabled {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23D8DADB%22%20fill-rule%3D%22evenodd%22%20d%3D%22M3.58803617%2C50.4166756%20C2.8668347%2C50.4166756%202.27930883%2C51.0031234%202.27930883%2C51.7254029%20L2.27930883%2C57.9046658%20C2.27930883%2C58.6258673%202.8668347%2C59.2133932%203.58803617%2C59.2133932%20L5.03906336%2C59.2133932%20C5.39589099%2C59.2133932%205.68588083%2C59.502305%205.68588083%2C59.8602106%20L5.68588083%2C62.4884456%20C5.97263657%2C62.20708%206.68736987%2C61.427665%208.40251419%2C59.4376232%20C8.52648754%2C59.2953234%208.70436234%2C59.2133932%208.89301743%2C59.2133932%20L14.2907092%2C59.2133932%20C14.3133478%2C59.2133932%2014.3359864%2C59.2144712%2014.358625%2C59.2166272%20C15.0485637%2C59.1810523%2015.5994365%2C58.6086188%2015.5994365%2C57.910056%20L15.5983585%2C51.7254029%20C15.5983585%2C51.0031234%2015.0119107%2C50.4166756%2014.2907092%2C50.4166756%20L3.58803617%2C50.4166756%20Z%20M5.21586013%2C64.1777172%20C5.09943299%2C64.1777172%204.98192782%2C64.1540006%204.86765673%2C64.1000991%20C4.57012069%2C63.9631894%204.39224589%2C63.6602632%204.39224589%2C63.2915773%20L4.39224589%2C60.5070281%20L3.58803617%2C60.5070281%20C2.15317942%2C60.5070281%200.985673896%2C59.3395226%200.985673896%2C57.9046658%20L0.985673896%2C51.7254029%20C0.985673896%2C50.2905462%202.15317942%2C49.1230407%203.58803617%2C49.1230407%20L14.2907092%2C49.1230407%20C15.7244879%2C49.1230407%2016.8919934%2C50.2905462%2016.8919934%2C51.7254029%20L16.8930715%2C57.910056%20C16.8930715%2C59.3449127%2015.7255659%2C60.5124182%2014.2907092%2C60.5124182%20C14.2626804%2C60.5124182%2014.2346517%2C60.5102622%2014.207701%2C60.5070281%20L9.18947544%2C60.5070281%20C7.58321206%2C62.3666283%206.7218668%2C63.318528%206.40492624%2C63.5826452%20C6.06426904%2C63.871557%205.63952557%2C64.1777172%205.21586013%2C64.1777172%20Z%22%20transform%3D%22translate%280%20-49%29%22/%3E%0A%3C/svg%3E%0A) !important;
}

.rpa-kanban-form .field-item.date, .rpa-kanban-form .field-item.datetime,
.rpa-kanban-form .webform-field-upload,
.rpa-kanban-form .field-item.double input,
.rpa-kanban-form .field-item .file-input {
	width: 100%;
}

.rpa-kanban-form .main-ui-control-entity.main-ui-control,
.rpa-kanban-form .ui-tile-selector-selector-wrap,
.rpa-kanban-form .field-wrap {
	text-align: left;
}

.rpa-kanban-form .field-item .file-input .webform-field-upload-list li,
.rpa-kanban-form .field-item .file-input .webform-field-upload-list a {
	margin-left: 0;
	text-align: left;
}

.rpa-kanban-form .field-item .file-input .webform-field-upload-list {
	margin: 0 0 0 17px;
}

.rpa-kanban-form .field-item .file-input .webform-field-upload-list-single {
	margin: 0 0 10px;
}

.rpa-kanban-item-field-item .fields.employee .crm-widget-employee-change {
	display: none;
}

.rpa-kanban-form .field-item .main-ui-control.main-ui-select {
	text-align: left;
	width: auto;
	padding-right: 22px !important;
}

.rpa-kanban-form .field-item .money-editor {
	align-items: center;
}

.rpa-kanban-form .ui-entity-editor-content-block span.fields > span.money input {
	width: 50%;
}

.rpa-kanban-form .money-editor-currency-selector-wrap {
	min-width: 75px;
	width: 100%;
}

.rpa-kanban-form .money-editor-currency-selector-wrap .main-ui-select-name {
	max-width: 100%;
	padding: 0;
}

.rpa-kanban-form .fields.boolean.field-item label,
.rpa-kanban-form .fields.enumeration.enumeration-checkbox.field-item label,
.rpa-kanban-form .ui-entity-editor-field-custom-checkbox .boolean label {
	text-align: left;
	line-height: 22px;
}

.rpa-kanban-form .main-ui-square-container .main-ui-square-item,
.rpa-kanban-form .main-ui-control.main-ui-select .main-ui-select-name,
.rpa-kanban-form .main-ui-square {
	width: 100%;
}

.rpa-kanban-form .main-ui-control.main-ui-multi-select {
	display: inline-block;
}

.rpa-kanban-item-user {
	display: block;
	overflow: hidden;
	padding: 2px 0;
	white-space: nowrap;
}

.rpa-kanban-item-user .rpa-kanban-item-user-photo {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	margin-right: 5px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2040%2040%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%2220%22%20fill%3D%22%23525C68%22/%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M30.4364902%2C31.4100231%20C30.4364902%2C29.9871769%2028.8398242%2C23.9680557%2028.8398242%2C23.9680557%20C28.8398242%2C23.0883414%2027.6898708%2C22.083459%2025.4253473%2C21.4978674%20C24.6581347%2C21.2838747%2023.9288072%2C20.9520366%2023.2634349%2C20.514215%20C23.1179216%2C20.4310645%2023.1400361%2C19.6628072%2023.1400361%2C19.6628072%20L22.4107003%2C19.5517925%20C22.4107003%2C19.4894296%2022.3483374%2C18.5681401%2022.3483374%2C18.5681401%20C23.2209751%2C18.274902%2023.1311903%2C16.5451067%2023.1311903%2C16.5451067%20C23.6853794%2C16.8524981%2024.0462878%2C15.4836113%2024.0462878%2C15.4836113%20C24.7017612%2C13.5817654%2023.719878%2C13.6967607%2023.719878%2C13.6967607%20C23.8916546%2C12.5357299%2023.8916546%2C11.3557413%2023.719878%2C10.1947105%20C23.283338%2C6.34325128%2016.7109122%2C7.38882426%2017.4902268%2C8.64669632%20C15.5693624%2C8.29286451%2016.0076715%2C12.6635719%2016.0076715%2C12.6635719%20L16.4243085%2C13.7953913%20C15.6060724%2C14.326139%2016.1748571%2C14.9679015%2016.2031636%2C15.7065254%20C16.243412%2C16.7972119%2016.9108272%2C16.5712018%2016.9108272%2C16.5712018%20C16.9519602%2C18.3713211%2017.8396357%2C18.6057347%2017.8396357%2C18.6057347%20C18.0063789%2C19.7362273%2017.9024408%2C19.5438313%2017.9024408%2C19.5438313%20L17.1125113%2C19.6393659%20C17.1232047%2C19.896452%2017.1022601%2C20.1538778%2017.0501485%2C20.405854%20C16.12134%2C20.8198372%2015.921425%2C21.0626543%2014.9983663%2C21.4673494%20C13.215054%2C22.2488754%2011.2769403%2C23.2652573%2010.9323966%2C24.6337018%20C10.5878529%2C26.0021463%209.56350982%2C31.4100231%209.56350982%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4364902%2C31.4100231%20Z%22/%3E%0A%3C/svg%3E%0A');
	background-size: cover;
	border-radius: 9px;
}

.rpa-kanban-item-user .rpa-kanban-item-user-name {
	display: inline-block;
	vertical-align: middle;
	padding-top: 1px;
	max-width: calc(100% - 18px - 5px);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom: 1px solid transparent;
	color: #2067b0;
}

.rpa-kanban-column-task-responsible-item-other {
	padding: 0 5px;
	text-align: center;
}

.rpa-kanban-column-task-responsible-other-text {
	font: 12px/18px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #fff;
	padding-top: 5px;
	display: inline-block;
}

.rpa-kanban-tasks-popup-inner .rpa-kanban-column-task-responsible-other-text {
	color: #333;
}