.bx-timeman-monitor-report-consent-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.bx-timeman-monitor-report-consent-logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.bx-timeman-monitor-report-consent-logo {
	display: block;
	width: 500px;
	height: 500px;
	background-image: url('logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}