.task-iframe-popup-side-slider .tasks-gantt{
    margin-left:30px;
    margin-right:20px;
}

.modern-page-navigation {
    font-size: 11px;
    font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
    color: #5c6470;
}
.modern-page-navigation .modern-page-title {
    text-transform: uppercase;
}
.modern-page-navigation a {
    text-transform: uppercase;
}