.sign-document-summary {
	align-items: center;
	display: flex;
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iODAiIHZpZXdCb3g9IjAgMCA5OCA4MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggb3BhY2l0eT0iMC42IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTY5LjEzMDUgODAuNjcyOEgtMi4yMjY5MkMtMi44Mjc3MSA4MC42NzI4IC0zLjQyMzMyIDgwLjY0OTYgLTQuMDEyOTkgODAuNjAzOUMtMTkuODgxNCA4MC4yMjU0IC0zMi42MzMgNjYuNjMxNSAtMzIuNjMzOCA0OS45MTgxQy0zMi42MjkyIDQxLjc3MTkgLTI5LjUzNTggMzMuOTYxMyAtMjQuMDM0IDI4LjIwNDVDLTIxLjIxMzkgMjUuMjUzNiAtMTcuODc5NSAyMi45NjYzIC0xNC4yNTE3IDIxLjQzODJDLTE0LjMxMjQgMjAuNjA5MyAtMTQuMzQzMyAxOS43NzE2IC0xNC4zNDMzIDE4LjkyNjRDLTE0LjMzODMgMTAuMzMxIC0xMS4wNzQxIDIuMDg5NjggLTUuMjY4OTYgLTMuOTg0NDhDMC41MzYyMzIgLTEwLjA1ODYgOC40MDY5NCAtMTMuNDY4MSAxNi42MTE3IC0xMy40NjI5QzI3LjEyMTggLTEzLjQ0OTUgMzguNjg5MiAtNy45NDM1MSA0NC4yNjU4IDAuNDYwM0M0Ni45MTQgLTAuNTIyNjUgNDkuNzY0NyAtMS4wNTY5IDUyLjczNDYgLTEuMDU1MjZDNjUuODU0MiAtMS4wMzg3MiA3Ni42Mjk3IDkuNDM4NDIgNzcuODc4OCAyMi44MzY5QzkwLjQ0OTYgMjUuNzA4IDk3LjU2ODYgMzcuNDQwMiA5Ny41NTc1IDUxLjQ2NzVDOTcuNTQ0NyA2Ny42MzI2IDg2LjE3MjkgODAuNzI4MSA3MC43NDI0IDgwLjcyMTRDNzAuMjAxNCA4MC43MjEyIDY5LjY2MzkgODAuNzA0OCA2OS4xMzA1IDgwLjY3MjhaIiBmaWxsPSIjQzNGMEZGIi8+Cjwvc3ZnPgo=) no-repeat, var(--ui-color-palette-blue-10);
	border: none;
	padding: 10px;
	border-radius: 6px;
}

.sign-document-summary:before {
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTMiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA1MyA2NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgZmlsdGVyPSJ1cmwoI2ZpbHRlcjBfZF81NjNfNDExMTI4KSI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNCA4QzQgNC42ODYyOSA2LjY4NjI5IDIgMTAgMkgzMy4xMDQzQzM0LjY1NzggMiAzNi4xNTA4IDIuNjAyNTcgMzcuMjY5MSAzLjY4MDkzTDQ2Ljk2NDggMTMuMDMwNEM0OC4xMzc1IDE0LjE2MTIgNDguOCAxNS43MjAzIDQ4LjggMTcuMzQ5NFY1MkM0OC44IDU1LjMxMzcgNDYuMTEzNyA1OCA0Mi44IDU4SDkuOTk5OTlDNi42ODYyOCA1OCA0IDU1LjMxMzcgNCA1MlY4WiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTQuNSA4QzQuNSA0Ljk2MjQzIDYuOTYyNDMgMi41IDEwIDIuNUgzMy4xMDQzQzM0LjUyODQgMi41IDM1Ljg5NjkgMy4wNTIzNiAzNi45MjIgNC4wNDA4Nkw0Ni42MTc3IDEzLjM5MDNDNDcuNjkyNyAxNC40MjY5IDQ4LjMgMTUuODU2MSA0OC4zIDE3LjM0OTRWNTJDNDguMyA1NS4wMzc2IDQ1LjgzNzYgNTcuNSA0Mi44IDU3LjVIOS45OTk5OUM2Ljk2MjQzIDU3LjUgNC41IDU1LjAzNzYgNC41IDUyVjhaIiBzdHJva2U9IiMyRkM2RjYiLz4KPC9nPgo8cmVjdCB4PSIxMC43MTk3IiB5PSIxOS45MTk5IiB3aWR0aD0iMjUuODQ2MSIgaGVpZ2h0PSIyLjI0IiByeD0iMS4xMiIgZmlsbD0iIzJGQzZGNiIvPgo8cmVjdCB4PSIxMC43MTk3IiB5PSIyNS41MTk1IiB3aWR0aD0iMjUuODQ2MSIgaGVpZ2h0PSIyLjI0IiByeD0iMS4xMiIgZmlsbD0iIzJGQzZGNiIvPgo8cmVjdCB4PSIxMC43MTk3IiB5PSIzMS4xMTkxIiB3aWR0aD0iMjUuODQ2MSIgaGVpZ2h0PSIyLjI0IiByeD0iMS4xMiIgZmlsbD0iIzJGQzZGNiIvPgo8cmVjdCB4PSIxMC43MTk3IiB5PSIzNi43MjA3IiB3aWR0aD0iMTguOTUzOCIgaGVpZ2h0PSIyLjI0IiByeD0iMS4xMiIgZmlsbD0iIzJGQzZGNiIvPgo8cGF0aCBvcGFjaXR5PSIwLjIiIGQ9Ik0zNy4zNjA0IDE2LjAwMDhDMzYuMjU1OCAxNi4wMDA4IDM1LjM2MDQgMTUuMTA1IDM1LjM2MDQgMTQuMDAwNVY0LjM0OTY1QzM1LjM2MDQgMy40NjgxNyAzNi40MTgxIDMuMDE3ODUgMzcuMDUzNSAzLjYyODgyTDQyLjY0MDQgOS4wMDA4M0w0OC4yNDA0IDE0LjMyMDhMNDguODAwNCAxNi4wMDA4SDM3LjM2MDRaIiBmaWxsPSIjMkZDNkY2Ii8+CjxkZWZzPgo8ZmlsdGVyIGlkPSJmaWx0ZXIwX2RfNTYzXzQxMTEyOCIgeD0iMC42NCIgeT0iMC44OCIgd2lkdGg9IjUxLjUxOTgiIGhlaWdodD0iNjIuNzIiIGZpbHRlclVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzPSJzUkdCIj4KPGZlRmxvb2QgZmxvb2Qtb3BhY2l0eT0iMCIgcmVzdWx0PSJCYWNrZ3JvdW5kSW1hZ2VGaXgiLz4KPGZlQ29sb3JNYXRyaXggaW49IlNvdXJjZUFscGhhIiB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMTI3IDAiIHJlc3VsdD0iaGFyZEFscGhhIi8+CjxmZU9mZnNldCBkeT0iMi4yNCIvPgo8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIxLjY4Ii8+CjxmZUNvbXBvc2l0ZSBpbjI9ImhhcmRBbHBoYSIgb3BlcmF0b3I9Im91dCIvPgo8ZmVDb2xvck1hdHJpeCB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMC4yNDk3NyAwIDAgMCAwIDAuMzI5MTY3IDAgMCAwIDAuMiAwIi8+CjxmZUJsZW5kIG1vZGU9Im5vcm1hbCIgaW4yPSJCYWNrZ3JvdW5kSW1hZ2VGaXgiIHJlc3VsdD0iZWZmZWN0MV9kcm9wU2hhZG93XzU2M180MTExMjgiLz4KPGZlQmxlbmQgbW9kZT0ibm9ybWFsIiBpbj0iU291cmNlR3JhcGhpYyIgaW4yPSJlZmZlY3QxX2Ryb3BTaGFkb3dfNTYzXzQxMTEyOCIgcmVzdWx0PSJzaGFwZSIvPgo8L2ZpbHRlcj4KPC9kZWZzPgo8L3N2Zz4K) no-repeat;
	background-size: contain;
	content: '';
	display: block;
	min-width: 42px;
	height: 50px;
	margin-right: 15px;
}

.sign-document-summary__details {
	flex-grow: 1;
	min-width: 0;
}

.sign-document-summary__details_title {
	display: flex;
	margin: 0 0 5px 0;
	color: var(--ui-color-palette-gray-90);
	font: 16px/21px var(--ui-font-family-system);
}

.sign-document-summary__details_title-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sign-document-summary__reg_number
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 12px/14.32px var(--ui-font-family-system);
	color: var(--ui-color-palette-gray-60);
	padding-right: 20px;
}

.sign-document-summary__details_edit-title-btn {
	display: inline-block;
	background: url('images/sign-wizard-edit.svg') center no-repeat;
	cursor: pointer;
	margin-left: 5px;
	opacity: 0;
	height: 20px;
	min-width: 20px;
	transition: opacity .2s ease;
	vertical-align: sub;
}

.sign-document-summary__details_title:hover .sign-document-summary__details_edit-title-btn {
	opacity: .8;
}


.sign-document-summary__details_structure {
	color: var(--ui-color-palette-gray-60);
	font: 12px/14.32px var(--ui-font-family-system);
	margin: 0;
}

.sign-document-summary__title-editor_controls {
	display: flex;
	align-items: center;
}

.sign-document-summary__title-editor_controls .ui-ctl {
	height: 32px;
}

.sign-document-summary__title-editor_help {
	color: var(--color-3);
	font-size: 13px;
	margin: 2px 0 0 0;
}

.sign-document-summary__title-editor_ok-btn,
.sign-document-summary__title-editor_discard-btn {
	flex-shrink: 0;
	padding: 0;
	width: 32px;
}

.sign-document-summary__title-editor_ok-btn:before {
	background: url('images/sign-wizard-check.svg') no-repeat center;
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
}

.sign-document-summary__title-editor_ok-btn.ui-btn-wait:before {
	display: none;
}

.sign-document-summary__title-editor_discard-btn:before {
	background: url('images/sign-wizard-cross.svg') no-repeat center;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
}

.sign-document-summary + .sign-document-summary {
	margin-top: 10px;
}
