.ui-toolbar-after-title-buttons {
	flex-shrink: 0;
	margin-left: 0 !important;
}

.ui-label-inner {
	text-transform: uppercase;
}

.biconnector-grid-username-cell {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	overflow: hidden;
	height: 22px;
	padding: 3px 12px 3px 3px;
	margin-top: -4px;
	white-space: nowrap;
	border-radius: 14px;
	transition: 0.1s linear all;
	cursor: pointer;
}

.biconnector-grid-username-cell:hover {
	background: #C0EDFD;
	text-decoration: none !important;
}

.biconnector-grid-username-cell-active {
	background: #C0EDFD;
	text-decoration: none !important;
}

.biconnector-grid-market-cell {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	overflow: hidden;
	height: 22px;
	padding: 3px 12px 3px 3px;
	margin-top: -4px;
	white-space: nowrap;
}

.biconnector-grid-filter-close {
	width: 20px;
	height: 20px;
	margin-left: 4px;
	margin-right: -8px;
}

.biconnector-grid-avatar.ui-icon.ui-icon-common-user,
.biconnector-grid-avatar.ui-icon.ui-icon-common-user-group {
	width: 22px;
	min-width: 22px;
	height: 22px;
}

.biconnector-grid-username {
	display: inline-block;
	padding-left: 10px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.biconnector-dashboard-pinned td {
	background-color: var(--ui-color-palette-gray-03) !important;
}

.dashboard-title-wrapper__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dashboard-title-non-favorite {
	margin-left: 20px;
}

.dashboard-title-wrapper__item i {
	margin-left: 5px;
	--ui-icon-set__icon-size: 21px;
	--ui-icon-set__icon-color: none;
}

.dashboard-title-wrapper__item i.dashboard-unpin-icon {
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-60) !important;
}

.dashboard-title-wrapper__buttons-wrapper {
	width: 65px;
	overflow: hidden;
	display: block;
}

.dashboard-title-buttons {
	display: flex;
	flex-direction: row;
}

.dashboard-title-wrapper__buttons {
	display: flex;
}

.dashboard-title-wrapper__item a i:hover {
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-60) !important;
	transition: .2s !important;
}

.dashboard-title-input-danger {
	border-color: var(--ui-field-color-danger, #FF5752) !important;
}

.dashboard-title-wrapper a i {
	display: block;
	cursor: pointer;
}


.dashboard-title-wrapper__spinner {
	position: relative;
	transition: transform 0.5s ease-in-out;
	animation: .8s linear 0s normal none infinite running rotate;
	-webkit-transform-origin: center;
	transform-origin: center;
}

.dashboard-title-edited td {
	-webkit-animation: editedTowHoveredTd 900ms ease;
	animation: editedTowHoveredTd 900ms ease;
}

@keyframes editedTowHoveredTd {
	0% {
		background-color: #FFF2D5;
	}

	60% {
		background-color: #FFF2D5;
	}

	100% {
		background-color: #f6f8f9;
	}
}

.main-grid-row i {
	transition: .0s;
}

.main-grid-row:hover i {
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-40);
}

.dashboard-status-label-wrapper {
	display: flex;
}

.dashboard-status-label-error {
	margin-right: 4px;
}


.dashboard-status-label-error-btn {
	background: #DFE0E3;
	border-radius: 20px;
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	transition: background-color .2s;
	cursor: pointer;
}

.dashboard-status-label-error-btn:hover {
	background: rgba(0, 0, 0, 0.05);
}

.dashboard-status-label-error-btn__loading {
	transition: transform 0.5s ease-in-out;
	cursor: default;
	background: rgba(0, 0, 0, 0.05);

	animation: rotate 0.8s linear infinite;
	-webkit-transform-origin: center;
	transform-origin: center;
}

.dashboard-status-label-error-btn__loading:hover {
	background: rgba(0, 0, 0, 0.05);
}

.dashboard-status-label-error-icon {
	height: 17px;
	margin-left: 1px;
	width: 17px;
	background: #828B95;
}

.dashboard-status-label-error-icon:hover {
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.dashboard-tag-already-exists-alert{
	transform: translateY(150%);
	animation: dashboard-tag-already-exists-alert-ani 1s forwards;
	z-index: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

@keyframes dashboard-tag-already-exists-alert-ani {
	0% {transform: translateY(0);}
	100% {transform: translateY(-150%);}
}

.biconnector-grid-scope-hint-more {
	color: var(--ui-color-link-primary-base);
	transition: .2s ease;
}

.biconnector-grid-scope-hint-more:hover {
	color: var(--ui-color-palette-blue-95);
}

.main-grid-row .ui-hint {
	height: 13px;
	width: 13px;
	line-height: 13px;
}

.main-grid-row .ui-hint-icon {
	margin: 0;
}
