.crm-search-tag-del {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAICAMAAAAC2hU0AAAABGdBTUEAALGPC/xhBQAAAEhQTFRF////AAAAY3GIZ3aKZ3WJZXSKN0JQOkRUOkVUOkZUZnaKUGN9aHaKZXWKYnGIUGJ7SllwUGJ9ZHKIZnSKZXSJZHOISlpwO0VVjr8QCAAAAAJ0Uk5TfQDsAsqDAAAAPElEQVQI1w3KRxaAMAzEUA0dEkqaff+b4o0W/4lvSBpG9q6+L9D8PWYQaStRVS8+iee8WL1id2Az4pDgB0mAAgfRKN1bAAAAAElFTkSuQmCC") no-repeat center !important;
}

.crm-search-box{
	position: absolute;
	left: 0;
	right: 90px;
	top: 0;
	bottom: 0;
	/*background: #000;*/
}

.crm-search-tag-cell{
	white-space: nowrap;
	padding-top: 5px;
}
.crm-search-tag{
	background: #caee9f;
	height: 29px;
	display: inline-block;
	border-radius: 3px;
	color: #000;
	padding: 0 12px;
	vertical-align: middle;
	line-height: 29px;
	margin: 0 5px;
	white-space: nowrap !important;
}
.crm-search-tag-del{
	position: relative;
	width: 10px;
	height: 29px;
	display: inline-block;
	vertical-align: middle;
	opacity: .7;
	margin-left: 5px;
	cursor: pointer;
}
.crm-search-tag-del:hover{
	opacity: 1;
}

.crm-search-input-cell{
	width: 100%;
	padding-top: 5px;
}
.crm-search-input-cell input{
	width: 100%;
	height: 27px;
	background: none !important;
	box-shadow: none !important;
	border: none !important;
	font-size: 13px;
	outline: none;
}



/* grid styles */
table.bx-crm-interface-grid tr.bx-active td,
table.bx-crm-interface-grid tr.bx-active td.bx-crm-sorted
{
	background: none repeat scroll 0 0 #f5fcde !important;
}







/*>--------------------------------------------- crm-popup-catalog ---------------------------------------------->*/
.crm-catalog {
	background-color: #f3f6f7;
	height: 530px;
	overflow: hidden;
	position: relative;
	width: 1100px;
}

.crm-catalog-left {
	background-color: #f3f6f7;
	height: 100%;
	float: left;
	overflow: auto;
	width: 275px;
}

.crm-catalog-left-inner {
	padding-left: 10px;
}

.crm-catalog-right {
	background-color: #fff;
	height: 100%;
	overflow: auto;
}

.crm-catalog-right-inner {
	padding: 10px 10px 0;
}

.crm-catalog-search {
	border: 1px solid #c6cdd3;
	border-radius: 1px;
	min-height: 36px;
	margin-bottom: 0;
	overflow: hidden;
	padding: 7px 80px 1px 7px;
	position: relative;
}

.crm-catalog-search-icon,
.crm-catalog-search-clear {
	background: url(images/catalog-popup-sprite.png) no-repeat 100px 100px;
	cursor: pointer;
	height: 44px;
	opacity: 0.7;
	position: absolute;
	top: 0;
	width: 40px;
}

.crm-catalog-search-icon {
	background-position: center 13px;
	right: 0;
	cursor: auto;
}

.crm-catalog-search-clear {
	background-position: center -25px;
	right: 45px;
}

.crm-catalog-search-icon:hover,
.crm-catalog-search-clear:hover {
	opacity: 1;
}

.crm-catalog-search-clear:before {
	background-color: #dadbdd;
	display: block;
	content: '';
	margin-top: 11px;
	height: 24px;
	width: 1px;
	float: right;
}

.crm-catalog .bx-crm-interface-product-section-crumbs {
	color: #a2a6ae;
	padding: 0;
}

.crm-catalog .bx-crm-interface-product-section-crumbs-item {
	color: #a2a6ae;
}

.crm-gds-item {
	border-bottom: none;
	display: inline-block;
	color: #0b66c3;
	font-size: 14px;
	min-height: 14px;
	margin-left: 34px;
	position: relative;
}

.crm-gds-item:before {
	background: url(images/catalog-popup-sprite.png) no-repeat 100px 100px;
	content: '';
	height: 14px;
	left: -34px;
	position: absolute;
	top: 0;
	width: 34px;
}

.crm-gds-item-gds:before {background-position: center -121px;}
.crm-gds-item-offer:before {background-position: center -163px}
.crm-gds-item-kit:before {background-position: center -205px}
.crm-gds-item-section:before {background-position: center -245px}

.bx-crm-table-body > td > img {
	border: 1px solid #d9d9d9;
}

.bx-crm.bx-crm-grid-head > td.bx-disk-right {
	padding: 0;
	width: 40px;
}

.crm-catalog .bx-crm-wf-section-name.tal {
	background: url(images/catalog-popup-sprite.png) no-repeat left -316px;
	font-size: 13px;
	height: 17px;
	margin-top: 20px;
	text-transform: uppercase;
	padding-left: 23px;
}

.bx-crm-wood-section {
	margin-top: 0;
}

.crm-catalog-search-query-settings-container
{
	margin-bottom: 24px;
}
.crm-catalog-search-query-settings-container .crm-catalog-search-query-settings
{
	margin: 5px 10px 0 20px;
}

/*<--------------------------------------------- crm-popup-catalog ----------------------------------------------<*/


.adm-input-file-del-lbl {display: none;}

/* disable ms clear cross */
.crm-search-input-cell input::-ms-clear {
	display: none;
}
