.show-copilot-btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	border: none;
	padding: 0 10px 0 5px;
	background-color: #8e52ec;
	height: var(--ui-size-3xl);
	color: var(--ui-color-palette-white-base);
	border-radius: var(--ui-border-radius-2xs);
	font-family: var(--ui-font-family-system);
	font-weight: var(--ui-font-weight-bold);
	font-size: var(--ui-font-size-xs);
	line-height: var(--ui-typography-heading-h1-line-height);
}

.show-copilot-btn:hover {
	box-shadow: inset 0 0 9999px rgba(255, 255, 255, 0.2);
}

.show-copilot-btn-icon {
	--ui-icon-set__icon-color: var(--ui-color-palette-white-base);;
	margin-right: 3px;
}
