.market-catalog {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 74px);
	font-family:  var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	background: #fff;
	/*font-family: 'Open Sans';*/
}

.market-catalog__nav {
	padding: 16px 38px 9px;
	border-bottom: 1px solid #edeef0;
}

.market-catalog__breadcrumbs {
	display: flex;
	align-items: center;
	margin-bottom: 7px;
	font-size: var(--ui-font-size-xs, 12px);
	color: #bdc1c2;
}

.market-catalog__breadcrumbs_item {
	display: flex;
}

.market-catalog__breadcrumbs_point {
	display: inline-block;
	margin: 0 9px;
	font-size: 20px;
	line-height: 0;
}

.market-catalog__title-block {
	margin-bottom: 18px;
}

.market-catalog__title {
	display: flex;
	align-items: flex-start;
}

.market-catalog__title_name {
	font-weight: var(--ui-font-weight-semi-bold, 600);
	font-size: 20px;
	line-height: var(--ui-font-line-height-sm, 1.35);
	color: #333333;
}

.market-catalog__title_counter {
	margin-left: 6px;
	padding: 1px 3px;
	border-radius: var(--ui-border-radius-pill, 99rem);
	font-size: var(--ui-font-size-xs, 12px);
	line-height: var(--ui-font-line-height-reset, 1);
	background: #1aa9d6;
	color: rgba(255,255,255,.7);
}

.market-catalog__categories {
	display: flex;
	align-items: center;
	overflow: hidden;
	padding: 9px 0;
}

.market-catalog__categories-item {
	display: flex;
	align-items: center;
	padding: 5px 11px;
	margin-right: 13px;
	border: 1px solid transparent;
	border-radius: var(--ui-border-radius-pill, 99rem);
	font-size: var(--ui-font-size-md, 14px);
	line-height: var(--ui-font-line-height-md, 1.4);
	white-space: nowrap;
	color: var(--ui-color-text-secondary, #525c69);
	background: #f5f7f8;
	cursor: pointer;
	transition: .2s;
}

.market-catalog__categories-item:hover {
	color: #333333;
	border-color: #dfe0e3;
	background: #edeef0;
}

.market-catalog__categories-item.--checked {
	padding-right: 5px;
	color: #ffffff;
	background: #1aa9d6;
}

.market-catalog__categories-item::after {
	content: '';
	display: block;
	width: 0;
	height: 12px;
	margin-left: 0;
	border-radius: var(--ui-border-radius-circle, 50%);
	background-color: rgba(255,255,255,.3);
	background-image: url("/bitrix/js/market/images/market-rating__close.svg");
	background-repeat: no-repeat;
	background-position: center;
	transition: .2s;
}

.market-catalog__categories-item.--checked::after {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: 6px;
}

.market-catalog__categories-item.--checked:hover {
	border-color: transparent;
}

.market-catalog__categories-item.--checked:hover::after {
	background-color: rgba(255,255,255,.5);
}

.market-catalog__nav .ui-ear-left,
.market-catalog__nav .ui-ear-right {
	width: 48px;
	background-size: 48px;
	background-image: url("/bitrix/js/market/images/market-ui-ear.svg");
}

.market-catalog__nav .ui-ear-left {
	transform: rotate(180deg);
}

.market-catalog__nav .ui-ear-show {
	opacity: .8;
}

.market-catalog__nav .ui-ear:hover {
	opacity: 1;
}

.market-catalog__content {
	/*flex: 1;*/
	display: flex;
	width: 100%;
	flex-direction: column;
	align-content: stretch;
	align-items: stretch;
	padding: 16px 38px 18px;
	border-radius: 24px;
	box-sizing: border-box;
	--market-catalog__section-gap-x: 55px;
	--market-catalog__section-column: 5;
}

.market-catalog__sorting {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 26px;
	font-size: var(--ui-font-size-xs, 12px);
	line-height: var(--ui-font-line-height-sm, 1.35);
	color: #333333;
}

.market-catalog__sorting-link {
	margin-left: 11px;
	padding: 0 3px;
	color: #959ca4;
	transition: .2s;
	cursor: pointer;
}

.market-catalog__sorting-link:first-of-type {
	margin-left: 5px;
}

.market-catalog__sorting-link.--active,
.market-catalog__sorting-link:hover {
	color: #525c69;
}

.market-catalog__elements {
	flex: 1;
	display: flex;
	align-items: stretch;
	padding: 0 10px;
	gap: 48px var(--market-catalog__section-gap-x);
	flex-wrap: wrap;
}

.market-catalog__elements_loader {
	position: relative;
	height: 120px;
}

.market-catalog__elements_no-updates {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 15%;
	width: 100%;
}

.market-catalog__elements_no-updates-title {
	margin-top: 11px;
	font-size: var(--ui-font-size-4xl, 24px);
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #333333;
}

.market-catalog__elements_no-updates-description {
	margin-top: 6px;
	color: #828B95;
}

@media (max-width: 1520px) {
	.market-catalog__content {
		--market-catalog__section-column: 4;
	}
}

@media (max-width: 1220px) {
	.market-catalog__content {
		--market-catalog__section-column: 3;
	}
	/*245*/
}