.ai__copilot-menu-popup {
	/*box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.12);*/
	/*border: var(--ui-border-width-thin) solid rgba(var(--ui-color-base-solid-rgb), 0.1);*/
}

.ai__copilot-menu-popup.--bordered {
	border: var(--ui-border-width-thin) solid var(--ui-color-base-30);
}

.ai__copilot-menu-popup .menu-popup-item {
	min-height: 36px;
	height: auto;
}

.ai__copilot-menu-popup .menu-popup-item-loading.menu-popup-item-submenu::after {
	opacity: 0;
}

.ai__copilot-menu_delimiter-label .ui-label {
	margin-right: 0;
	margin-left: 6px;
}

.ai__copilot-menu_item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.ai__copilot-menu-popup .menu-popup-item-text {
	padding-right: 5px;
}

.ai__copilot-menu_item .ui-label {
	margin-right: 0;
}

.ai__copilot-menu_item-left,
.ai__copilot-menu_item-right {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.ai__copilot-menu_item-left {
	margin-right: 10px;
}

.ai__copilot-menu_item.--selected .ai__copilot-menu_item-check {
	opacity: 1;
}

.ai__copilot-menu_item-check {
	display: flex;
	opacity: 0;
}

.ai__copilot-menu_item.--favourite-icon-on-hover .ai__copilot-menu_item-favourite {
	opacity: 0;
}

.ai__copilot-menu_item.--highlight.ai__copilot-menu_item.--favourite-icon-on-hover .ai__copilot-menu_item-favourite {
	opacity: 1;
}

.ai__copilot-menu_item-favourite {
	--ui-icon-set__icon-color: var(--ui-color-base-50);
	width: 24px;
	height: 24px;
	opacity: 0;
}

.ai__copilot-menu-popup .menu-popup-item.--highlight .ai__copilot-menu_item-favourite {
	opacity: 1;
}

.ai__copilot-menu-popup .menu-popup-item.--highlight .ai__copilot-menu_item-favourite:hover {
	--ui-icon-set__icon-color: var(--ui-color-base-70);
}

.ai__copilot-menu_item-favourite.--is-favourite,
.ai__copilot-menu-popup .menu-popup-item.--highlight .ai__copilot-menu_item-favourite.--is-favourite,
.ai__copilot-menu-popup .menu-popup-item.--highlight .ai__copilot-menu_item-favourite:hover {
	--ui-icon-set__icon-color: var(--ui-color-base-90);
	opacity: 1;
}

.ai__copilot-menu_item.--selected .ai__copilot-menu_item-favourite:hover {
	--ui-icon-set__icon-color: var(--ui-color-base-90);
}

.ai__copilot-menu_item-icon {
	width: 24px;
	height: 24px;
}

.ai__copilot-menu_item-icon .ui-icon-set {
	--ui-icon-set__icon-color: var(--ai__copilot_color-main);
}

.ai__copilot-menu_item.--system .ai__copilot-menu_item-icon .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-60);
}

.ai__copilot-menu_item.--highlight-text .ai__copilot-menu_item-text {
	color: var(--ai__copilot_color-main);
	font-weight: var(--ui-font-weight-medium);
}

.ai__copilot-menu_item-text {
	margin-left: 7px;
}

.ai__copilot-menu_item.--no-icon .ai__copilot-menu_item-text {
	margin-left: 0;
}

.ai__copilot-menu_role {
	height: 54px;
	width: 100%;
	padding-right: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.ai__copilot-menu_role-left {
	display: flex;
}
.ai__copilot-menu_role-avatar {
	width: 42px;
	min-width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: var(--ui-color-base-10);
	object-fit: cover;
}

.ai__copilot-menu_role-right {
	margin-left: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.ai__copilot-menu_role-title {
	margin-bottom: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var(--ui-font-size-lg);
	font-weight: var(--ui-font-weight-medium);
	color: var(--ui-color-copilot-primary);
	line-height: var(--ui-font-line-height-3xs);
}

.ai__copilot-menu_role-subtitle {
	font-size: var(--ui-font-size-md);
	line-height: var(--ui-font-line-height-reset);
	color: var(--ui-color-base-50);
}

.ai__copilot-menu-popup.--keyboard-control .menu-popup-item:hover {
	background-color: #fff;
}

.ai__copilot-menu-popup.--keyboard-control .menu-popup-item.--role-item::after {
	background-image: none;
	mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgNiA5IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0tLjAxIDEuMTg3bDIuOTIyIDIuOTItMi45MiAyLjkyMyAxLjE3MyAxLjE3MyAyLjkyLTIuOTJMNS4yNiA0LjEwNyAxLjE2NC4wMTMiIGZpbGw9IiNBOEFCQjIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
	mask-size: cover;
	mask-repeat: no-repeat;
	background-color: var(--ui-color-base-70);
	width: 8px;
	height: 14px;
}

.ai__copilot-menu-popup.--keyboard-control .menu-popup-item.--highlight,
.ai__copilot-menu-popup.--keyboard-control .menu-popup-item.--highlight:hover{
	background-color: #f7f7f7;
}

.ai__copilot-menu-popup.--keyboard-control .menu-popup-item.--role-item.--highlight,
.ai__copilot-menu-popup.--keyboard-control .menu-popup-item.--role-item.--highlight:hover {
	background-color: #fff;
	cursor: default;
}

.ai__copilot-menu-popup.--keyboard-control .menu-popup-item-submenu.menu-popup-item.--role-item.--highlight,
.ai__copilot-menu-popup.--keyboard-control .menu-popup-item-submenu.menu-popup-item.--role-item.--highlight:hover {
	cursor: pointer;
}

.ai__copilot-menu-popup.--keyboard-control .menu-popup-item-submenu.menu-popup-item.--role-item.--highlight::after,
.ai__copilot-menu-popup.--keyboard-control .menu-popup-item-submenu.menu-popup-item.--role-item.--highlight:hover::after {
	background-color: var(--ui-color-copilot-primary);
}

.ai__copilot-menu-popup.--keyboard-control .menu-popup-item-submenu.menu-popup-item-submenu.menu-popup-item.--role-item.--highlight .ai__copilot-menu_role-subtitle,
.ai__copilot-menu-popup.--keyboard-control .menu-popup-item-submenu.menu-popup-item.--role-item.--highlight:hover .ai__copilot-menu_role-subtitle {
	color: var(--ui-color-copilot-secondary, red);
}

.ai__copilot-menu-popup_fade {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--ui-color-background-primary-rgb), 0.5);
	pointer-events: none;
}

.ai__copilot-menu_item-loader {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 5px;
	right: 0;
}
