.employee-card {
	padding: 0 0 20px 0;
	margin: 0;
	background: #fff;
}


.emp-profile {
	height: 355px;
	background-color: #404f5d;
	background-size: 226px 419px;
	background-image: url(images/sprite.png);
	background-repeat: no-repeat;
	background-position: center -68px;
	position: relative;
	color: #fff;
}

.emp-profile-info {
	position: absolute;
	left: 0;
	bottom: 53px;
	height: 80px;
	width: 100%;
	background: rgba(0,0,0, 0.5);
	text-align: center;

}

.emp-profile-name {
	font-size: 24px;
	line-height: 26px;
	padding: 12px 17px 0;
}

.emp-profile-position {
	font-size: 18px;
	line-height: 20px;
	padding: 6px 17px 0;
	opacity: 0.8;
}

.emp-profile-name, .emp-profile-position {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.emp-profile-buttons {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 53px;
	width: 100%;
	overflow: hidden;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.emp-profile-button {
	float: left;
	width: 33.3%;
	height: 53px;
	text-align: center;
	font-size: 9px;
	position: relative;
	line-height: 74px;
	background: rgba(0,0,0, 0.7);
}

.emp-profile-no-buttons .emp-profile-buttons {
	display: none;
}

.emp-profile-no-buttons .emp-profile-info {
	bottom: 0;
}

.emp-profile-button-selected { background: rgba(0,0,0, 0.85); }

.emp-profile-buttons-1 .emp-profile-button { width: 100%; }
.emp-profile-buttons-2 .emp-profile-button { width: 50%; }
.emp-profile-buttons-3 .emp-profile-button { width: 33.3%; }
.emp-profile-buttons-4 .emp-profile-button { width: 25%; }
.emp-profile-buttons-5 .emp-profile-button { width: 20%; }

.emp-profile-button span { opacity: 0.7; }
.emp-profile-button:before {
	display: block;
	opacity: 1;
	content: "";
	width: 25px;
	height: 25px;
	position: absolute;
	top: 6px;
	left: 50%;
	margin-left: -9px;
	background-image: url(images/sprite.png);
	background-repeat: no-repeat;
	background-size: 226px 419px;
}

.emp-profile-button.emp-profile-video:before { background-position: -61px -19px  }
.emp-profile-button.emp-profile-audio:before { background-position: -107px -19px }
.emp-profile-button.emp-profile-text:before { background-position: -153px -19px }

.emp-profile-button:after {
	display: block;
	content: "";
	width: 1px;
	height: 32px;
	position: absolute;
	top: 9px;
	right: 0;
	background: #636566;
	opacity: 0.6;
}

.emp-profile-button:last-child:after {
	display: none;
}

.emp-profile-status {
	position: absolute;
	left: 12px;
	top: 12px;
	padding: 0 0 0 25px;
	font-size: 17px;
	line-height: 17px;
	display: none;
	text-shadow: 0 0 2px #000;
}

.emp-profile-status-online, .emp-profile-status-offline {
	display: block;
}

.emp-profile-status:before {
	content: "";
	position: absolute;
	background: #80d611;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	left: 0;
	top: 0;
}

.emp-profile-status.emp-profile-status-offline:before {
	background: #ff1919;
}

.emp-info-block {
	padding: 21px 17px 18px;
}
.emp-info-title {
	color:#000;
	font-size:18px;
	line-height: 18px;
	padding-bottom:3px;
}


.emp-info-cell{
	display: inline-block;
	vertical-align: top;
	overflow:hidden;
	word-wrap:break-word;
}

.emp-info-cell:nth-child(even) {
	color:#555555;
	font-size:14px;
	line-height: 17px;
	width:40%;
	padding:9px 0 0;
}

.emp-info-cell:nth-child(odd) {
	color:#3372cd;
	font-size:15px;
	line-height: 18px;
	width:60%;
	padding:9px 0 0;
	text-align:left;
}

.emp-info-cell:nth-child(odd) a {
	color:#3372cd;
	font-size:15px;
	line-height: 18px;
}