.crm-kanban-item-title {
	margin-bottom: 8px !important;
}

.crm-kanban-item-last-activity-time {
	margin-bottom: 5px;
}

.crm-kanban-item-footer {
	margin-top: 14px;
}

.crm-kanban-item-last-activity-by {
	margin-left: 6px !important;
}

.crm-kanban-item-fields-item-value-userpic,
.crm-kanban-item-last-activity-by-userpic {
	width: 20px !important;
	height: 20px !important;
}

.sign-b2e-ui-icon {
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="22" height="22" rx="11" fill="%23A4DBF7"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13.0474 5.96365C12.7818 5.69527 12.3487 5.69382 12.0813 5.96042L6.59528 11.4306L8.23775 13.0903L13.7274 7.61654C13.9934 7.35136 13.9948 6.92105 13.7306 6.6541L13.0474 5.96365ZM5.71598 13.9691C5.67382 13.9258 5.65718 13.8637 5.67271 13.8049L6.16751 11.9694L7.71624 13.5177L5.88017 14.0123C5.82137 14.029 5.75925 14.0123 5.71598 13.9691ZM6.71759 15.4987L6.25307 14.9958C6.3126 15.0004 6.37278 15.0028 6.43351 15.0028C7.40958 15.0028 8.24296 14.3918 8.57204 13.5314L8.7354 13.4156C9.0926 13.1622 9.57641 13.1844 9.90893 13.4694L10.9197 14.3358L11.925 13.5699C12.4089 13.2012 13.0973 13.279 13.4867 13.7463L13.8527 14.1855L15.3556 13.4126C15.6905 13.2404 16.1015 13.3723 16.2738 13.7071C16.446 14.042 16.3141 14.4531 15.9793 14.6253L14.3145 15.4815C13.8412 15.7249 13.2624 15.6073 12.9217 15.1984L12.5784 14.7864L11.4831 15.6209C11.1251 15.8937 10.6251 15.8793 10.2834 15.5864L9.26392 14.7126L7.97113 15.6296C7.57977 15.9073 7.04315 15.8512 6.71759 15.4987Z" fill="white"/></svg>');
}

.sign-b2e-ui-icon-cancel {
	background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="22" height="22" rx="11" fill="%23B5B9BF"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.00083 14.2995C9.58361 14.6567 10.2692 14.8627 11.0028 14.8627C13.1214 14.8627 14.8389 13.1452 14.8389 11.0265C14.8389 10.2929 14.633 9.60735 14.2757 9.02457L9.00083 14.2995H9.00083ZM7.72985 13.0288L13.0048 7.75392C12.422 7.39668 11.7364 7.19074 11.0028 7.19074C8.88416 7.19074 7.16667 8.90822 7.16667 11.0269C7.16667 11.7605 7.37262 12.446 7.72985 13.0288ZM11.0028 16.3702C8.0516 16.3702 5.65918 13.9777 5.65918 11.0265C5.65918 8.07534 8.0516 5.68292 11.0028 5.68292C13.954 5.68292 16.3464 8.07534 16.3464 11.0265C16.3464 13.9777 13.954 16.3702 11.0028 16.3702Z" fill="white"/></svg>');
}

.sign-b2e-ui-button-delimiter {
	float: left;
	height: 8px;
	margin: 0 1px 0 4px;
	border-left: solid 1px #DFE0E3;
	display: none;
	position: relative;
	top: 6px;
}

.sign-b2e-ui-icon-pencil {
	background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="22" height="22" rx="11" fill="%23A4DBF7"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13.0474 5.96365C12.7818 5.69527 12.3487 5.69382 12.0813 5.96042L6.59528 11.4306L8.23775 13.0903L13.7274 7.61654C13.9934 7.35136 13.9948 6.92105 13.7306 6.6541L13.0474 5.96365ZM5.71598 13.9691C5.67382 13.9258 5.65718 13.8637 5.67271 13.8049L6.16751 11.9694L7.71624 13.5177L5.88017 14.0123C5.82137 14.029 5.75925 14.0123 5.71598 13.9691ZM6.71759 15.4987L6.25307 14.9958C6.3126 15.0004 6.37278 15.0028 6.43351 15.0028C7.40958 15.0028 8.24296 14.3918 8.57204 13.5314L8.7354 13.4156C9.0926 13.1622 9.57641 13.1844 9.90893 13.4694L10.9197 14.3358L11.925 13.5699C12.4089 13.2012 13.0973 13.279 13.4867 13.7463L13.8527 14.1855L15.3556 13.4126C15.6905 13.2404 16.1015 13.3723 16.2738 13.7071C16.446 14.042 16.3141 14.4531 15.9793 14.6253L14.3145 15.4815C13.8412 15.7249 13.2624 15.6073 12.9217 15.1984L12.5784 14.7864L11.4831 15.6209C11.1251 15.8937 10.6251 15.8793 10.2834 15.5864L9.26392 14.7126L7.97113 15.6296C7.57977 15.9073 7.04315 15.8512 6.71759 15.4987Z" fill="white"/></svg>');
}

.sign-b2e-ui-icon-view {
	background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="22" height="22" rx="11" fill="%23B5B9BF"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7.63835 5.86905C7.27016 5.86905 6.97168 6.16753 6.97168 6.53572L6.97171 15.5167C6.97171 15.8849 7.27018 16.1834 7.63837 16.1834H14.3609C14.7291 16.1834 15.0275 15.8849 15.0275 15.5167V9.32242C15.0275 8.98763 14.9016 8.66508 14.6747 8.41888L12.8184 6.29885C12.5659 6.0249 12.2104 5.86905 11.8379 5.86905H7.63835ZM8.85296 8.64286C8.56217 8.64286 8.32645 8.88126 8.32645 9.17204C8.32645 9.46282 8.56218 9.70122 8.85296 9.70122H12.7565C13.0473 9.70122 13.283 9.46282 13.283 9.17204C13.283 8.88126 13.0473 8.64286 12.7565 8.64286H8.85296ZM8.85296 10.653C8.56217 10.653 8.32645 10.8914 8.32645 11.1822C8.32645 11.473 8.56218 11.7114 8.85296 11.7114H12.7565C13.0473 11.7114 13.283 11.473 13.283 11.1822C13.283 10.8914 13.0473 10.653 12.7565 10.653H8.85296ZM8.32645 13.1655C8.32645 12.8747 8.56217 12.6363 8.85296 12.6363H11.6146C11.9054 12.6363 12.1411 12.8747 12.1411 13.1655C12.1411 13.4563 11.9054 13.6947 11.6146 13.6947H8.85296C8.56217 13.6947 8.32645 13.4563 8.32645 13.1655Z" fill="white"/></svg>');
}

.sign-b2e-ui-icon-fill {
	background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="22" height="22" rx="11" fill="%23A4DBF7"/><path fill-rule="evenodd" clip-rule="evenodd" d="M14.4112 11.4133L15.6541 10.1704V14.4172C15.6541 15.1032 15.0973 15.66 14.4112 15.66H7.57581C6.88978 15.66 6.33301 15.1032 6.33301 14.4172V7.58174C6.33301 6.89571 6.88978 6.33893 7.57581 6.33893H11.5764L10.3336 7.58174H7.57581V14.4172H14.4112V11.4133ZM15.3021 5.14828L16.8513 6.71378L12.3603 11.1884L10.8112 9.62294L15.3021 5.14828ZM10.0917 11.7117L10.5584 9.98041L12.0192 11.4407L10.2874 11.9073C10.2319 11.923 10.1733 11.9073 10.1325 11.8665C10.0928 11.8257 10.0771 11.7671 10.0917 11.7117Z" fill="white"/></svg>');
}

.sign-b2e-process-document {
	background-image: url('data:image/svg+xml,<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.400024" width="22" height="22" rx="11" fill="%23B5B9BF"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.81934 6.75256C6.26705 6.75256 5.81934 7.20028 5.81934 7.75256C5.81934 8.30485 6.26705 8.75256 6.81934 8.75256C7.37162 8.75256 7.81934 8.30485 7.81934 7.75256C7.81934 7.20028 7.37162 6.75256 6.81934 6.75256ZM9.40007 6.99996C9.03188 6.99996 8.7334 7.29844 8.7334 7.66663C8.7334 8.03482 9.03188 8.33329 9.40007 8.33329H16.0667C16.4349 8.33329 16.7334 8.03482 16.7334 7.66663C16.7334 7.29844 16.4349 6.99996 16.0667 6.99996H9.40007ZM8.7334 14.3333C8.7334 13.9651 9.03188 13.6666 9.40006 13.6666H16.0667C16.4349 13.6666 16.7334 13.9651 16.7334 14.3333C16.7334 14.7015 16.4349 15 16.0667 15H9.40006C9.03188 15 8.7334 14.7015 8.7334 14.3333ZM6.81934 13.3642C6.26705 13.3642 5.81934 13.812 5.81934 14.3642C5.81934 14.9165 6.26705 15.3642 6.81934 15.3642C7.37162 15.3642 7.81934 14.9165 7.81934 14.3642C7.81934 13.812 7.37162 13.3642 6.81934 13.3642ZM8.7334 11C8.7334 10.6318 9.03188 10.3333 9.40007 10.3333H16.0667C16.4349 10.3333 16.7334 10.6318 16.7334 11C16.7334 11.3681 16.4349 11.6666 16.0667 11.6666H9.40007C9.03188 11.6666 8.7334 11.3681 8.7334 11ZM6.81934 10.0309C6.26705 10.0309 5.81934 10.4786 5.81934 11.0309C5.81934 11.5832 6.26705 12.0309 6.81934 12.0309C7.37162 12.0309 7.81934 11.5832 7.81934 11.0309C7.81934 10.4786 7.37162 10.0309 6.81934 10.0309Z" fill="white"/></svg>');
}

.sign-b2e-sign-document,
.sign-b2e-edit-document,
.sign-b2e-review-document,
.sign-b2e-preview-document,
.sign-b2e-modify-document,
.sign-b2e-cancel-document,
.sign-b2e-process-document {
	cursor: pointer;
	display: none;
	opacity: 0.7;
	float: left;
	margin-left: 4px;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.crm-kanban-item:hover .sign-b2e-sign-document,
.crm-kanban-item:hover .sign-b2e-edit-document,
.crm-kanban-item:hover .sign-b2e-review-document,
.crm-kanban-item:hover .sign-b2e-preview-document,
.crm-kanban-item:hover .sign-b2e-modify-document,
.crm-kanban-item:hover .sign-b2e-cancel-document,
.crm-kanban-item:hover .sign-b2e-process-document,
.crm-kanban-item:hover .sign-b2e-ui-button-delimiter{
	display: block;
}

.sign-b2e-sign-document:hover,
.sign-b2e-edit-document:hover,
.sign-b2e-review-document:hover,
.sign-b2e-preview-document:hover,
.sign-b2e-modify-document:hover,
.sign-b2e-cancel-document:hover,
.sign-b2e-process-document:hover {
	opacity: 1;
}

.sign-b2e-buttons-block {
	position: absolute;
	left: 10px;
	bottom: 9px;
	cursor: pointer;
}
