.imconnector-network-title {
	clear: both;
	display: block;
	overflow: hidden;
}

.imconnector-network-button {
	display: block;
	overflow: hidden;
	background: #1eaf44;
	width: 290px;
	height: 35px;
	padding: 0 0 0 40px;
	line-height: 35px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight: var(--ui-font-weight-bold);
	position: relative;
	cursor: pointer;
}

.imconnector-network-button:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 35px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAxNSI+ICA8cGF0aCBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zNDIuOTc4OTQzLDUxMDcuODQ3ODEgTDM0Mi4wOTk2Myw1MTA3Ljg0NzgxIEwzNDIuMDk5NjMsNTExMC42NTY5OCBMMzQyLjI3NTUwNyw1MTEwLjY1Njk4IEwzNDIuOTc4OTQzLDUxMTAuNjU2OTggTDM0NC45MTM0NDYsNTExMC42NTY5OCBMMzQ0LjkxMzQ0Niw1MTA5Ljc3OTExIEwzNDIuOTc4OTQzLDUxMDkuNzc5MTEgTDM0Mi45Nzg5NDMsNTEwNy44NDc4MSBaIE0zNDIuNzg2NjAzLDUxMTMuNTQ3NzcgQzM0MC43MzI3MjksNTExMy41NDc3NyAzMzkuMDY3NzE2LDUxMTEuODgyNzYgMzM5LjA2NzcxNiw1MTA5LjgyODg5IEMzMzkuMDY3NzE2LDUxMDcuNzc1MDEgMzQwLjczMjcyOSw1MTA2LjExIDM0Mi43ODY2MDMsNTEwNi4xMSBDMzQ0Ljg0MDQ3OCw1MTA2LjExIDM0Ni41MDU0OSw1MTA3Ljc3NTAxIDM0Ni41MDU0OSw1MTA5LjgyODg5IEMzNDYuNTA1NDksNTExMS44ODI3NiAzNDQuODQwNDc4LDUxMTMuNTQ3NzcgMzQyLjc4NjYwMyw1MTEzLjU0Nzc3IEwzNDIuNzg2NjAzLDUxMTMuNTQ3NzcgWiBNMzQ5LjU5Njc0Nyw1MTA3LjQzMjAxIEMzNDkuNDA1MTksNTEwNS40MjQ5MyAzNDcuNzQ4NzM5LDUxMDMuODU2NDIgMzQ1LjczMzU4Nyw1MTAzLjg1NjQyIEwzNDUuNzMzNTM4LDUxMDMuODU2NDIgQzM0NS4yODE0MTgsNTEwMy44NTY0MiAzNDQuODQ3NDk4LDUxMDMuOTM1NjUgMzQ0LjQ0Mzk4Myw1MTA0LjA4MDc4IEMzNDMuNTg2ODgxLDUxMDIuODIzMjUgMzQyLjE2MTUxNyw1MTAyIDM0MC41NDc3NzYsNTEwMiBDMzM3LjkyNzQwMSw1MTAyIDMzNS44MDMyNDksNTEwNC4xNjk3NSAzMzUuODAzMjQ5LDUxMDYuODQ2MDkgQzMzNS44MDMyNDksNTEwNi45NzIzNiAzMzUuODA3OTk0LDUxMDcuMDk3NTEgMzM1LjgxNzI4OSw1MTA3LjIyMTM1IEMzMzQuMTY1ODA0LDUxMDcuOTAwOTQgMzMzLDUxMDkuNTUyNzQgMzMzLDUxMTEuNDgyODIgQzMzMyw1MTEzLjk4MjUyIDMzNC45NTUzMiw1MTE2LjAxNTczIDMzNy4zODg4MzUsNTExNi4wNzQxMiBDMzM3LjQ3ODQzNyw1MTE2LjA4MDgyIDMzNy41Njg4Nyw1MTE2LjA4NDM0IDMzNy42NjAxMzYsNTExNi4wODQzNCBMMzQ4LjQyNTM0LDUxMTYuMDg0MzQgQzM0OC41MDgzODcsNTExNi4wODkyNCAzNDguNTkyMDIsNTExNi4wOTIgMzQ4LjY3NjI2NSw1MTE2LjA5MiBDMzUxLjA0NDk4Miw1MTE2LjA5MiAzNTIuOTY1Miw1MTE0LjEzMDgxIDM1Mi45NjUyLDUxMTEuNzExMzQgQzM1Mi45NjUyLDUxMDkuNjE0NjUgMzUxLjUyMzAwNiw1MTA3Ljg2MjM0IDM0OS41OTY3NDcsNTEwNy40MzIwMSBMMzQ5LjU5Njc0Nyw1MTA3LjQzMjAxIFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMzMgLTUxMDIpIi8+PC9zdmc+);
	background-size: 20px 15px;
	background-position: center center;
	background-repeat: no-repeat;
	left: 0;
	top: 0;
}

.imconnector-network-block-title {
	display: block;
	overflow: hidden;
	height: 35px;
	line-height:35px;
	background: #eef2f5;
	color: #4a74a5;
	font-size: 14px;
	font-weight: var(--ui-font-weight-bold);
	position: relative;
	padding: 0 0 0 40px;
}

.imconnector-network-block-title:after {
	content: '';
	width: 35px;
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTNweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTMgMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+UmVjdGFuZ2xlIDI2IENvcHkgNDwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9IjAuOCI+ICAgICAgICA8ZyBpZD0i0YTQtdC50YHQsdGD0LowNiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTU2Ni4wMDAwMDAsIC03MDUuMDAwMDAwKSIgZmlsbD0iIzNDQTFDRiI+ICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMzOC4wMDAwMDAsIDY5My4wMDAwMDApIj4gICAgICAgICAgICAgICAgPHBhdGggZD0iTTIzNy4zMjQ4NTIsMTkuNTUwOTUxIEwyMzcuMzI0ODUyLDEwLjU5MTQ2NjkgQzIzNy4zMjQ4NTIsMTAuMDQwNzI2NCAyMzYuODc3MTM2LDkuNTk1ODg5NDIgMjM2LjMyNDg1Miw5LjU5NTg4OTQyIEMyMzUuNzY4NzE2LDkuNTk1ODg5NDIgMjM1LjMyNDg1MiwxMC4wNDE2MjQ2IDIzNS4zMjQ4NTIsMTAuNTkxNDY2OSBMMjM1LjMyNDg1MiwxOS4zNzg5MDIxIEwyMzIuMDQzMjA0LDE5LjM3ODkwMjEgQzIzMS41ODM0NCwxOS4zNzg5MDIxIDIzMS4xOTg2OTMsMTkuNzU5MzUwNiAyMzEuMTk4NjkzLDIwLjIyODY1NzYgQzIzMS4xOTg2OTMsMjAuNzAxMjM2NSAyMzEuNTc2Nzk0LDIxLjA3ODQxMyAyMzIuMDQzMjA0LDIxLjA3ODQxMyBMMjM2LjgxNDAxOSwyMS4wNzg0MTMgQzIzNy4yNzM3ODMsMjEuMDc4NDEzIDIzNy42NTg1MywyMC42OTc5NjQ2IDIzNy42NTg1MywyMC4yMjg2NTc2IEMyMzcuNjU4NTMsMTkuOTUwNTkyIDIzNy41Mjc2MjYsMTkuNzA1NTU2MSAyMzcuMzI0ODUyLDE5LjU1MDk1MSBaIiBpZD0iUmVjdGFuZ2xlLTI2LUNvcHktNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjM0LjI3ODkxMCwgMTUuMjc4OTEwKSByb3RhdGUoLTMxNS4wMDAwMDApIHRyYW5zbGF0ZSgtMjM0LjI3ODkxMCwgLTE1LjI3ODkxMCkgIj48L3BhdGg+ICAgICAgICAgICAgPC9nPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+) center center no-repeat;
}

.imconnector-network-block-title-no-connect {
	background: #fad9da;
}

.imconnector-network-block-title-no-connect:after {
	content: '';
	width: 35px;
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTNweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTMgMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+R3JvdXAgNDwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9IjAuOCI+ICAgICAgICA8ZyBpZD0i0YTQtdC50YHQsdGD0LowNiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTU2Ny4wMDAwMDAsIC04NTAuMDAwMDAwKSIgZmlsbD0iI0VCMzE0QiI+ICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTItQ29weSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzM4LjAwMDAwMCwgODM5LjAwMDAwMCkiPiAgICAgICAgICAgICAgICA8ZyBpZD0iR3JvdXAtNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjI5LjAwMDAwMCwgMTEuMDAwMDAwKSI+ICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTIuNzg0MDUzOSw5LjU5NzI1MjAxIEw3Ljg3OTAyNzIxLDEuMDQ5MjM0NzQgQzcuNTk2NDUxMDEsMC41NTQxNTMwMzEgNy4wNzAxNTMzMiwwLjI0ODU1NTA1NyA2LjUwMDEwNDg5LDAuMjQ4NTU1MDU3IEM1LjkzMDA1NjQ3LDAuMjQ4NTU1MDU3IDUuNDAzNzU4NzgsMC41NTQxNTMwMzEgNS4xMjExODI1OCwxLjA0OTIzNDc0IEwwLjIxNTczNjIyNiw5LjU5NzI1MjAxIEMtMC4wNzE5MTIwNzU0LDEwLjA5MjUxMjcgLTAuMDcxOTEyMDc1NCwxMC43MDM5ODM5IDAuMjE1NzM2MjI2LDExLjE5OTI0NDUgQzAuNDk2MzExNDk1LDExLjY5NjYyNzYgMS4wMjQyMzM2OSwxMi4wMDMwNjk4IDEuNTk1Mjg4MDksMTIuMDAwMDMxIEwxMS40MDU3NjExLDEyLjAwMDAzMSBDMTEuOTc2NTM5NSwxMi4wMDI4NTQyIDEyLjUwNDExMDcsMTEuNjk2NDI5MyAxMi43ODQ0NzM2LDExLjE5OTI0NDUgQzEzLjA3MTk5MjEsMTAuNzAzOTA4NSAxMy4wNzE4MzE5LDEwLjA5MjQzNzMgMTIuNzg0MDUzOSw5LjU5NzI1MjAxIEwxMi43ODQwNTM5LDkuNTk3MjUyMDEgWiBNNS43MzMxMDQyOCwzLjQ0NDAzOTQgQzUuNzMzMTA0MjgsMy4wMjE0Nzk3MyA2LjA3NTY1NjU3LDIuNjc4OTI3NDMgNi40OTgyMTYyNSwyLjY3ODkyNzQzIEM2LjkyMDc3NTkyLDIuNjc4OTI3NDMgNy4yNjMzMjgyMiwzLjAyMTQ3OTczIDcuMjYzMzI4MjIsMy40NDQwMzk0IEw3LjI2MzMyODIyLDYuMjAzMTQzMTIgQzcuMjYzMzI4MjIsNi42MjU3MDI4IDYuOTIwNzc1OTIsNi45NjgyNTUwOSA2LjQ5ODIxNjI1LDYuOTY4MjU1MDkgQzYuMDc1NjU2NTcsNi45NjgyNTUwOSA1LjczMzEwNDI4LDYuNjI1NzAyOCA1LjczMzEwNDI4LDYuMjAzMTQzMTIgTDUuNzMzMTA0MjgsMy40NDQwMzk0IEw1LjczMzEwNDI4LDMuNDQ0MDM5NCBaIE02LjQ5ODIxNjI1LDEwLjMzNzE4MiBDNi4xMzAxNzUzMywxMC4zMzkzOTIgNS43OTcxNTEyNSwxMC4xMTkzNjc5IDUuNjU0ODEzMzQsOS43Nzk5NTgyNCBDNS41MTI0NzU0Myw5LjQ0MDU0ODU3IDUuNTg4OTQwMDEsOS4wNDg3OTc2NCA1Ljg0ODQ2NDM0LDguNzg3ODI2MTUgQzYuMTA3OTg4NjgsOC41MjY4NTQ2NSA2LjQ5OTMwODM2LDguNDQ4MjEyODYgNi44Mzk1MDQyNyw4LjU4ODY2MTIzIEM3LjE3OTcwMDE4LDguNzI5MTA5NiA3LjQwMTU3MjY4LDkuMDYwOTA1MDQgNy40MDE0MDkzMSw5LjQyODk1MjU2IEM3LjQwMjM0MTc3LDkuOTI4MzIxMTQgNi45OTkyNTY3OSwxMC4zMzQ0MDg2IDYuNDk5ODk1MDQsMTAuMzM3MTgyIEw2LjQ5ODIxNjI1LDEwLjMzNzE4MiBaIiBpZD0iRm9ybWFfMV9jb3B5Ij48L3BhdGg+ICAgICAgICAgICAgICAgIDwvZz4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=) center center no-repeat;
}

.imconnector-network-block-title:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 35px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAxNSI+ICA8cGF0aCBmaWxsPSIjNGE3NGE1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zNDIuOTc4OTQzLDUxMDcuODQ3ODEgTDM0Mi4wOTk2Myw1MTA3Ljg0NzgxIEwzNDIuMDk5NjMsNTExMC42NTY5OCBMMzQyLjI3NTUwNyw1MTEwLjY1Njk4IEwzNDIuOTc4OTQzLDUxMTAuNjU2OTggTDM0NC45MTM0NDYsNTExMC42NTY5OCBMMzQ0LjkxMzQ0Niw1MTA5Ljc3OTExIEwzNDIuOTc4OTQzLDUxMDkuNzc5MTEgTDM0Mi45Nzg5NDMsNTEwNy44NDc4MSBaIE0zNDIuNzg2NjAzLDUxMTMuNTQ3NzcgQzM0MC43MzI3MjksNTExMy41NDc3NyAzMzkuMDY3NzE2LDUxMTEuODgyNzYgMzM5LjA2NzcxNiw1MTA5LjgyODg5IEMzMzkuMDY3NzE2LDUxMDcuNzc1MDEgMzQwLjczMjcyOSw1MTA2LjExIDM0Mi43ODY2MDMsNTEwNi4xMSBDMzQ0Ljg0MDQ3OCw1MTA2LjExIDM0Ni41MDU0OSw1MTA3Ljc3NTAxIDM0Ni41MDU0OSw1MTA5LjgyODg5IEMzNDYuNTA1NDksNTExMS44ODI3NiAzNDQuODQwNDc4LDUxMTMuNTQ3NzcgMzQyLjc4NjYwMyw1MTEzLjU0Nzc3IEwzNDIuNzg2NjAzLDUxMTMuNTQ3NzcgWiBNMzQ5LjU5Njc0Nyw1MTA3LjQzMjAxIEMzNDkuNDA1MTksNTEwNS40MjQ5MyAzNDcuNzQ4NzM5LDUxMDMuODU2NDIgMzQ1LjczMzU4Nyw1MTAzLjg1NjQyIEwzNDUuNzMzNTM4LDUxMDMuODU2NDIgQzM0NS4yODE0MTgsNTEwMy44NTY0MiAzNDQuODQ3NDk4LDUxMDMuOTM1NjUgMzQ0LjQ0Mzk4Myw1MTA0LjA4MDc4IEMzNDMuNTg2ODgxLDUxMDIuODIzMjUgMzQyLjE2MTUxNyw1MTAyIDM0MC41NDc3NzYsNTEwMiBDMzM3LjkyNzQwMSw1MTAyIDMzNS44MDMyNDksNTEwNC4xNjk3NSAzMzUuODAzMjQ5LDUxMDYuODQ2MDkgQzMzNS44MDMyNDksNTEwNi45NzIzNiAzMzUuODA3OTk0LDUxMDcuMDk3NTEgMzM1LjgxNzI4OSw1MTA3LjIyMTM1IEMzMzQuMTY1ODA0LDUxMDcuOTAwOTQgMzMzLDUxMDkuNTUyNzQgMzMzLDUxMTEuNDgyODIgQzMzMyw1MTEzLjk4MjUyIDMzNC45NTUzMiw1MTE2LjAxNTczIDMzNy4zODg4MzUsNTExNi4wNzQxMiBDMzM3LjQ3ODQzNyw1MTE2LjA4MDgyIDMzNy41Njg4Nyw1MTE2LjA4NDM0IDMzNy42NjAxMzYsNTExNi4wODQzNCBMMzQ4LjQyNTM0LDUxMTYuMDg0MzQgQzM0OC41MDgzODcsNTExNi4wODkyNCAzNDguNTkyMDIsNTExNi4wOTIgMzQ4LjY3NjI2NSw1MTE2LjA5MiBDMzUxLjA0NDk4Miw1MTE2LjA5MiAzNTIuOTY1Miw1MTE0LjEzMDgxIDM1Mi45NjUyLDUxMTEuNzExMzQgQzM1Mi45NjUyLDUxMDkuNjE0NjUgMzUxLjUyMzAwNiw1MTA3Ljg2MjM0IDM0OS41OTY3NDcsNTEwNy40MzIwMSBMMzQ5LjU5Njc0Nyw1MTA3LjQzMjAxIFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMzMgLTUxMDIpIi8+PC9zdmc+);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px 15px;
	left: 0;
	top: 0;
}

.imconnector-public-link-title {
	display: inline-block;
	vertical-align: top;
	width: 180px;
	padding: 10px 0 0 0;
	margin: 0 0 10px 0;
}

.imconnector-public-link-inner-copy-field-item {
	margin-left: 4px;
	padding: 5px;
	width: 248px;
	line-height: 38px;
	margin: 0 0 10px;
	height: 38px;
	border: 1px solid #c1c5c8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font: 14px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.imconnector-public-link-inner-copy-field-item-area {
	margin-left: 4px;
	padding: 9px 5px;
	width: 248px;
	line-height: 38px;
	margin: 0 0 10px;
	height: 90px;
	border: 1px solid #c1c5c8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font: 14px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
}

.imconnector-public-link-inner-copy-field-item-area:focus {
	outline: none;
}

.imconnector-public-link-inner-copy-field .tel-context-help {
	vertical-align: top;
	margin: 9px 0 0 7px;
}

.imconnector-public-link-settings-inner-upload-description-item {
	font-weight: var(--ui-font-weight-bold);
}
.imconnector-step-text {
	padding: 0 0 10px 0;
}
.imconnector-step-text-14 { font-size: 14px; }

.imconnector-field-control-box {
	padding: 0 0 14px 0;
}
.imconnector-network-whitespace-text {
	white-space: normal;
	overflow: hidden;
	max-width: 60%;
	text-overflow: ellipsis;
}