.settings-container
{
	padding: 24px 24px 0;
	overflow: visible;
}

.settings-container-title
{
	margin-bottom: 11px;
	cursor: pointer;
}

.settings-container-title::after
{
	display: inline-block;
	float: right;
	position: relative;;
	content: '';
	right: 6px;
	top: 7px;
	width: 8px;
	height: 8px;
	border: 2px solid var(--ui-color-base-default);
	border-top: none;
	border-left: none;
	transform: rotate(-135deg);
	opacity: 0.7;
	transition: .2s;
}

.settings-container-title-collapsed.settings-container-title::after
{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: .7;
}

.settings-section-list.settings-section-list-collapsed {
	max-height: 0;
	transition: max-height 0.3s ease-out;
	overflow: hidden;
}

.settings-section-list
{
	display: flex;
	flex-direction: column;
	transition: max-height 0.3s ease-in;
}

.settings-section-header
{
	display: flex;
	vertical-align: center;
	margin-bottom: 0;
	border: none;
	padding-bottom: 0;
}

.settings-section-header div
{
	padding: 0;
	margin: 0 10px 0 0;
}

.settings-section-header .ui-hint-icon
{
	margin-top: 6px;
}

.payment-methods-settings-wrapper
{
	max-height: 459px;
	overflow: scroll;
	ms-overflow-style: none;
	scrollbar-width: none;
}

.payment-methods-settings-wrapper::-webkit-scrollbar
{
	display: none;
}

.sms-container
{
	position: relative;
	padding: 13px 17px;
	background-color: #e5f9ff;
	border: 1px #2fc6f6 solid;
	border-radius: 18px;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-size: 14px;
	color: #0c0c0c;
	line-height: 20px;
}

.sms-container:before {
	content: '';
	width: 19px;
	height: 17px;
	position: absolute;
	top: -9px;
	left: -9px;
	background-image: url("../images/corner.svg");
}

.sms-link-path {
	color: #0b66c3;
}

.sms-link-plug {
	color: rgba(128, 134, 142, .7);
}

.sms-message-info {
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 4%);
	background-color: #fffeef;
	padding: 20px 20px 20px 25px;
	border-radius: 10px;
	height: 170px;
}

.sms-message-info-text {
	display: block;
	color: var(--ui-color-base-default, #333333);
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-size: var(--ui-font-size-lg, 15px);
	line-height: 18px;
	margin-bottom: 20px;
}

.sms-provider-selector-block {
	margin-top: 105px;
}

.sms-provider-selector {
	text-decoration: none;
	border-bottom: 1px dashed #828b95;
	cursor: pointer;
	color: #828b95;
	font-size: 15px;
}

.sms-provider-selector-hided-list {
	display: none;
}

.sms-provider-selector-list {
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	margin: 10px 0 0;
	padding: 8px 0;
	border-radius: var(--popup-window-content-border-radius);
	box-sizing: border-box;
	min-width: 200px;
	box-shadow: 0 7px 21px rgb(83 92 105 / 12%), 0 -1px 6px 0 rgb(83 92 105 / 6%);
}

.sms-provider-selector-list li {
	list-style-type: none;
	cursor: pointer;
	background-color: transparent;
	padding: 0 20px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 36px;
	text-decoration: none;
	outline: none;
	white-space: nowrap;

	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c68;
	line-height: 36px;
	vertical-align: middle;
}

.sms-provider-selector-list li:hover {
	background-color: #f5f5f6;
}

.sms-provider-empty-provider-list-text {
	font: 15px/20px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c69;
	margin-bottom: 20px;
	display: block;
}

.settings-section-icon-sms {
	background-image: url("../images/sms.svg");
	width: 17px;
	height: 13px;
	display: inline-block;
	margin-right: 6px;
}

.settings-section-icon-payment-methods {
	background-image: url("../images/payment-methods.svg");
	width: 12px;
	height: 14px;
	display: inline-block;
	margin-right: 6px;
}

.sms-provider-name {
	color: #a8adb4;
	font-size: 15px;
}

.sms-provider-message-title {
	color: #525c69;
	font-size: 13px;
	padding-bottom: 8px;
	opacity: 50%;
	padding-top: 6px;
}

.payment-systems-subtitle {
	padding: 10px 22px;
	background-color: #ecfafe;
	font-size: 15px;
	border-radius: 8px;
	color: #525c69;
}

.payment-method-icon-sbp {
	width: 18px;
	height: 20px;
	margin-top: 6px;
	background-image: url("../images/sbp.svg");
}

.payment-method-icon-sber {
	width: 22px;
	height: 22px;
	margin-top: 6px;
	background-image: url("../images/sber.svg");
}

.payment-system-status {
	background-color: #e4f5c8;
	border-radius: 50px;
	height: 24px;
	color: #589308;
	font-weight: 700;
	font-size: 9px;
	padding: 2px 8px;
}

.payment-system-status-connected {
	background-color: #e4f5c8;
	color: #589308;
}

.payment-system-status-not-connected {
	background-color: #eaebed;
	color: #828b95;
}

.payment-system-wrapper {
	padding: 15px 12px;
	border: 1px #e6e7e9 solid;
	border-radius: 8px;
	margin-top: 16px;
}

.payment-systems-section-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.terminal-image {
	background-image: url("../images/terminal.svg");
	width: 204px;
	height: 326px;
	background-size: cover;
	position: absolute;
	right: 16px;
	bottom: 20px;
	overflow: hidden;
}

.terminal-image-title {
	font-size: 9px;
	color: #333;
	margin-top: 28px;
	margin-left: 15px;
}

.terminal-image-paysystems-container {
	margin-top: 135px;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	max-height: 150px;
	overflow: scroll;
	ms-overflow-style: none;
	scrollbar-width: none;
}

.terminal-image-paysystems-container::-webkit-scrollbar
{
	display: none;
}

.terminal-image-paysystems-container .terminal-image-paysystem {
	border-radius: 3px;
	font-size: 9px;
	border: 1px #00a2e8 solid;
	padding: 5px;
	text-align: center;
	margin: 0 auto 8px;
	color: #333;
	width: 152px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.terminal-image-paysystems-container .terminal-image-no-paysystems-stub {
	text-align: center;
	font-size: 9px;
	padding: 0 25px;
	color: #6A737F;
	line-height: 1.5;
}

.terminal-image-paysystems-container .terminal-image-paysystem:before {
	background-size: 100% 100%;
	margin-right: 4px;
	width: 14px;
	height: 14px;
	content: '';
	display: inline-block;
	vertical-align: middle;
}

.terminal-image-paysystems-container div span {
	vertical-align: middle;
}

.terminal-image-paysystems-container .terminal-image-paysystem-sbp {
	background-color: #00a2e8;
	color: #ffffff;
}

.terminal-image-paysystem-sbp:before {
	background-image: url("../images/sbp-mobile.png");
}

.terminal-image-paysystem-sber-qr:before {
	background-image: url("../images/sber-qr-mobile.png");
}

.terminal-image-paysystem-link:before {
	background-image: url("../images/link-mobile.png");
}

.terminal-image-paysystem-wallet:before {
	background-image: url("../images/wallet-mobile.png");
}

.terminal-image-collapsed {
	display: none;
}

.terminal-image-wrapper {
	width: 204px;
	min-height: 326px;
	margin-left: 24px;
	margin-top: 16px;
	position: relative;
}

.payment-systems-container {
	flex-grow: 1;
	margin-bottom: 24px;
	margin-right: 40px;
}

.settings-setction-switcher-container {
	margin-top: 4px !important;
}

.payment-system-status-container {
	margin-top: 7px;
	margin-left: 62px;
}

.payment-system-set {
	font-size: 15px;
	color: #828b95;
	cursor: pointer;
}

.payment-system-set-connected {
	color: #828b95;
	border-bottom: 1px #828b95 solid;
}

.payment-system-set-not-connected {
	color: #0065a3;
	border-bottom: 1px #0065a3 solid;
}
