.intranet-user-profile-absence {
	display: flex;
	overflow: hidden;
	margin: 25px 0 3px 0;
	padding-top: 16px;
	border-top: 1px solid #e8ecee;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 15px;
	font-size: 12px;
}

.intranet-user-profile-absence-title {
	float: left;
	overflow: hidden;
	padding-right: 8px;
	font-weight: bold;
	color: #525C69;
}

.intranet-user-profile-absence-value {
	flex: 1;
	overflow: hidden;
}

.intranet-user-profile-absence-value-item {
	clear: both;
	display: block;
	overflow: hidden;
	margin-bottom: 2px;
	color: #858C96;
}

.intranet-user-profile-absence-value-item:last-child {
	margin-bottom: 0;
}