.sign-editor__scope {

	/*fonts*/
	--font_os_light: 	"OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font_os_regular: 	"OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font_os_semibold: "OpenSans-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font_os_bold: 	"OpenSans-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;

	/*colors*/
	--color_background_bar: rgba(82, 92, 105, .04);

	--with-bar: 300px;
}

.sign-editor__body {
	overflow: hidden;
}

.sign-editor__wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100vh;
	min-width: 1020px;
}

.sign-editor__header {
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 14px 20px 14px 23px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
	z-index: 1;
}

.sign-editor__header-title {
	flex: 1;
	display: inline-flex;
	align-items: center;
	font: 24px/26px var(--font_os_regular);
	color: rgba(51, 51, 51, 1);
}

.sign-editor__header-buttons {
	white-space: nowrap;
}

.sign-editor__container	{
	display: flex;
	flex: 1;
	overflow: hidden;
}

.sign-editor__content {
	flex: 1;
	overflow: auto;
	padding-right: var(--with-bar);
}

.sign-editor__bar {
	position: fixed;
	top: 59px;
	overflow-y: auto;
	overflow-x: hidden;
	right: 17px;
	height: calc(100vh - 59px);
	width: var(--with-bar);
	background: var(--color_background_bar);
	z-index: 1;
}

.sign-editor__bar::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.sign-editor__bar::-webkit-scrollbar-track {
	background: transparent;
}

.sign-editor__bar::-webkit-scrollbar-thumb {
	background: #dde2e6;
	border-radius: 5px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.sign-editor__bar:hover::-webkit-scrollbar-thumb {
	background: #d1d6da;
}

.sign-editor__bar:hover::-webkit-scrollbar-thumb:hover {
	background: #c8cdd2;
}

.sign-preview__image.--overflow-auto {
	cursor: -webkit-grab;
	cursor: grab;
	overflow: auto;
	pointer-events: auto;
	margin-bottom: -6px;
}





.sign-editor__header-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	padding: 14px 23px;
	box-sizing: border-box;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
}

.sign-editor__content-blocks--container {
	margin: 0 19px 0 22px;
	max-width: 256px;
	width: 100%;
}

.sign-editor__header-buttons {
	white-space: nowrap;
}

.sign-editor__content-wrapper {
	display: flex;
	justify-content: space-between;
	min-height: calc(100vh - 67px);
}

.sign-editor__content-document {
	padding: 40px 30px;
}

.sign-editor__content-blocks--wrapper {
	width: 25%;
	background: rgba(82,92,105,.04);
}

.sign-editor__content-document--wrapper {
	max-width: 672px;
	margin: 10px auto 20px;
	position: relative;
}

.sign-editor__content-document--page {
	display: flex;
	position: relative;
	box-shadow: 0 4px 16px 0 rgba(0,0,0,.12);
	border-radius: 2px;
	background-color: #fff;
	margin-bottom: 20px;
}

.sign-editor__content-document--page-info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
}

.sign-editor__content-document--page-info-value {
	display: inline-flex;
	align-items: center;
	height: 25px;
	padding: 0 11px;
	background: #EDEEF0;
	font-size: 11px;
	font-family: var(--font_os_semibold);
	color: #959ca4;
}

.sign-editor__content-document--page-info-value.--id {
	border-radius: 0 8px 0 0;
}

.sign-editor__content-document--page-info-value.--nav {
	border-radius: 8px 0 0 0;
}

.sign-editor__content-document--file {
	width: 100%;
	user-select: none;
}

.sign-editor__content-blocks {
	margin: 16px auto auto;
	border-radius: 6px;
	background: #fff;
}

.sign-editor__content-blocks:last-child {
	margin-bottom: 16px;
}

.sign-editor__content-block--header,
.sign-editor__content-block--item {
	font: 13px var(--font_os_semibold);
	padding: 10px 11px;
	border-bottom: 1px solid rgba(232,236,238,1);
}

.sign-editor__content-block--item-name {
	display: flex;
	overflow: hidden;
}

.sign-editor__content-block--item-name-value {
	flex: 1;
	overflow: hidden;
}

.sign-editor__content-block--item-name-value-text span {
	white-space: nowrap;
}

.sign-editor__content-block--item-name-hint {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: top;
	margin-top: 2px;
	width: 20px;
	height: 15px;
}

.sign-editor__content-block--item-name-hint .ui-hint-icon {
	margin: unset;
}

.sign-editor__content-block--header {
	color: #525c69;
}

.sign-editor__content-block--item {
	color: #333333;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sign-editor__content-blocks--btn-dashed {
	display: inline-block;
	white-space: nowrap;
	font-size: 12px;
	line-height: 14px;
	color: #A8ADB4;
	border-bottom: 1px dashed #a8adb4;
	margin-left: 10px;
	cursor: pointer;
	transition: .2s;
}

.sign-editor__content-blocks--btn-dashed:hover {
	color: #2066B0;
	border-color: rgba(32,102,176,.4);
}

.sign-editor-content-block-item-header {
	color: #525252;
}

.sign-editor__inline-block {
	display: inline-block;
}

.sign-editor-content-document-error {
	position: absolute;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	height: 30px;
	left: 0;
	top: 0;
	background: #fee7e7;
	color: red;
	text-align: center;
	padding-top: 10px;
	display: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sign-editor__bar-demo {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 256px;
	margin: 16px 19px 16px 22px;
	box-sizing: border-box;
	border: 2px solid #2fc6f6;
	background: #d3f5fd;
	border-radius: 6px;
	opacity: 1;
	transition: .5s;
}

.sign-editor__bar-demo.--hide {
	opacity: 0;
}

.sign-editor__bar-demo-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .2s;
	opacity: .5;
}

.sign-editor__bar-demo-close:hover {
	transition: unset;
	opacity: .75;
}

.sign-editor__bar-demo-close i {
	width: 8px;
	height: 8px;
	background: url(image/sign-editor-demo-cross.svg) center no-repeat;
	background-size: contain;
}

.sign-editor__bar-demo-header {
	display: block;
	text-align: center;
	padding: 13px 10px 0 10px;
}

.sign-editor__bar-demo-header-title {
	margin-bottom: 8px;
	font: 15px var(--font_os_semibold);
	color: #525c69;
}

.sign-editor__bar-demo-header-sub-title {
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 17px;
	color: rgba(82, 92, 105, .85);
}

.sign-editor__bar-demo-video-wrapper {
	display: block;
	position: relative;
	padding-top: 89%;
}

.sign-editor__bar-demo-video {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
}

#sign-editor-help-btn {
	margin-right: 20px;
	--ui-icon-service-bg-color: #b3b3b3;
}