.timeman-pwt-report-grid .main-grid-cell-content {
	margin: 15px 16px 15px;
}

.timeman-pwt-report-employee-container {
	display: inline-grid;
}

.timeman-pwt-report-employee {
	display: flex;
	align-items: center;
}

.timeman-pwt-report-employee-icon {
	margin-right: 8px;
}

.timeman-pwt-report-text {
	display: flex;
	align-items: center;
	font-size: 14px;
	height: 39px;
}

.timeman-pwt-report-link {
	font-size: 14px;
	cursor: pointer;
}

.timeman-pwt-report-row-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 8px;
	padding-bottom: 18px;
	height: 48px;
}

.timeman-pwt-report-row-title {
	display: flex;
	flex-direction: column;
	user-select: none;
}

.timeman-pwt-report-row-subtitle {
	display: flex;
	flex-direction: column;
}

.main-grid-plus-button {
	user-select: none;
}

.timeman-pwt-report-timeline-container {
	display: flex;
	align-items: center;
	font-size: 14px;
	height: 39px;
}

.timeman-pwt-report-timeline-chart {
	display: inline-block;
	height: 54px;
	width: calc(100% - 56px);
	margin: -20px 14px 40px;
}

.timeman-pwt-report-timeline-over-chart {
	display: inline-block;
	height: 54px;
	margin: -18px 25px 48px;
	position: absolute;
	left: 56px;
	right: 50px;
	z-index: 100;
}

.timeman-pwt-report-timeline-chart-container {
	display: flex;
	height: 48px;
	overflow: visible;
}

.timeman-pwt-report-timeline-chart-outline {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: 2px solid #e4e5e8;
	height: 30px;
	width: 100%;
	border-radius: 16px;
	top: 29px;
	padding-right: 8px;
	left: -6px;
}

.timeman-pwt-report-timeline-over-chart .timeman-pwt-report-timeline-chart-outline {
	opacity: 0;
}

.timeman-pwt-report-timeline-chart-outline-background {
	background-color: #f5f5f5;
	width: 100%;
	height: calc(100% - 4px);
	margin-right: -8px;
	border-radius: 10px;
}

.timeman-pwt-report-timeline-chart-interval {
	height: 24px;
	width: 100%;
	z-index: 100;
}

.timeman-pwt-report-timeline-chart-interval-first {
	border-radius: 10px 0 0 10px;
}

.timeman-pwt-report-timeline-chart-interval-last {
	border-radius: 0 10px 10px 0;
}

.timeman-pwt-report-timeline-chart-interval-round {
	border-radius: 10px;
}

.timeman-pwt-report-timeline-chart-interval-item {
	height: 100%;
	width: 100%;
}

.timeman-pwt-report-timeline-chart-interval-item-working {
	background-color: #8ceda9;
}

.timeman-pwt-report-timeline-chart-interval-item-personal {
	background-color: #b5bac0;
}

.timeman-pwt-report-timeline-chart-interval-item-inactive {
	background-color: #f5f5f5;
}

.timeman-pwt-report-timeline-chart-interval-item-working-custom {
	background-color: #77c18d;
}

.timeman-pwt-report-timeline-chart-interval-item-working.timeman-pwt-report-timeline-chart-interval-item-selected {
	background-color: #2FBE54;
}

.timeman-pwt-report-timeline-chart-interval-item-personal.timeman-pwt-report-timeline-chart-interval-item-selected {
	background-color: #868D95;
}

.timeman-pwt-report-timeline-chart-interval-item-transparent {
	background-color: transparent;
}

.timeman-pwt-report-timeline-chart-interval-marker-container {
	display: flex;
	justify-content: space-between;
}

.timeman-pwt-report-timeline-chart-interval-marker {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
}

.timeman-pwt-report-timeline-chart-interval-marker-start {
	margin: 0 -14px;
}

.timeman-pwt-report-timeline-chart-interval-marker-finish {
	margin-left: calc(100% - 16px);
}

.timeman-pwt-report-timeline-chart-interval-marker-line {
	height: 8px;
	width: 1px;
	margin-top: 10px;
	background-color: #b5bac0;
}

.timeman-pwt-report-timeline-chart-interval-marker-title {
	user-select: none;
	font: 12px/18px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.timeman-pwt-report-timeline-legend {
	display: flex;
	align-items: center;
}

.timeman-pwt-report-timeline-legend-item-marker-working {
	background-color: #8CEDA9;
}
.timeman-pwt-report-timeline-legend-item-marker {
	height: 8px;
	width: 8px;
	margin: 8px;
	border-radius: 50%;
}