.task-user-selector {
	margin-bottom: 15px;
}

.task-detail-sidebar-info-title {
	line-height: 32px;
}

.task-detail-sidebar-info-title-line {
	border-bottom: 1px solid #f0f1f2;
}

.task-user-selector.readonly .task-detail-sidebar-info-user,
.task-user-selector.single .task-detail-sidebar-info-user {
	padding-right: 12px;
}

.task-detail-sidebar-info-user-del {
	position: absolute;
	top: 2px;
	right: -6px;
	display: none;
	cursor: pointer;
}

.bx-touch .task-detail-sidebar-info-user-del,
.task-detail-sidebar-info-user:hover .task-detail-sidebar-info-user-del {
	display: block;
}

.task-user-selector.single .task-detail-sidebar-info-user-del {
	display: none;
}

.task-user-selector.readonly .task-user-selector-change.t-filled .task-user-selector-add,
.task-user-selector.readonly .task-user-selector-add.t-filled .task-user-selector-add,
.task-user-selector.readonly .task-detail-sidebar-info-user-del.t-filled .task-user-selector-add,
.task-user-selector.t-filled .task-user-selector-add {
	display: none;
}

.task-user-selector.readonly .task-user-selector-change.t-empty .task-user-selector-change,
.task-user-selector.readonly .task-user-selector-add.t-empty .task-user-selector-change,
.task-user-selector.readonly .task-detail-sidebar-info-user-del.t-empty .task-user-selector-change,
.task-user-selector.t-empty .task-user-selector-change {
	display: none;
}

.task-detail-sidebar-info-user {
	position: relative;
	padding: 8px 0;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.task-detail-sidebar-info-user-extranet,
.task-detail-sidebar-info-user-network,
.task-detail-sidebar-info-user-mail,
.task-detail-sidebar-info-user-email,
.task-detail-sidebar-info-user-crmemail {
}

.task-detail-sidebar-info-user-photo {
	width: 35px;
	min-width: 35px;
	height: 35px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0Ny4xODgiIGhlaWdodD0iNTQuMDYzIiB2aWV3Qm94PSIwIDAgNDcuMTg4IDU0LjA2MyI+PGRlZnM+PHN0eWxlPi5jbHMtMSB7IGZpbGw6ICNmZmY7IGZpbGwtcnVsZTogZXZlbm9kZDsgfTwvc3R5bGU+PC9kZWZzPjxwYXRoIGlkPSJTaGFwZV8yX2NvcHlfNCIgZGF0YS1uYW1lPSJTaGFwZSAyIGNvcHkgNCIgY2xhc3M9ImNscy0xIiBkPSJNNDcuMTggNTQuMDYyYzAtMy4yMTctMy42MS0xNi44MjYtMy42MS0xNi44MjYgMC0xLjk5LTIuNi00LjI2LTcuNzItNS41ODVhMTcuMzk0IDE3LjM5NCAwIDAgMS00Ljg4Ny0yLjIyM2MtLjMzLS4xODgtLjI4LTEuOTI1LS4yOC0xLjkyNWwtMS42NDgtLjI1YzAtLjE0Mi0uMTQtMi4yMjUtLjE0LTIuMjI1IDEuOTcyLS42NjMgMS43Ny00LjU3NCAxLjc3LTQuNTc0IDEuMjUyLjY5NSAyLjA2OC0yLjQgMi4wNjgtMi40IDEuNDgyLTQuMy0uNzM4LTQuMDQtLjczOC00LjA0YTI3LjA1IDI3LjA1IDAgMCAwIDAtNy45MThjLS45ODctOC43MDgtMTUuODQ3LTYuMzQ0LTE0LjA4NS0zLjUtNC4zNDMtLjgtMy4zNTIgOS4wODItMy4zNTIgOS4wODJsLjk0MiAyLjU2Yy0xLjg1IDEuMi0uNTY0IDIuNjUtLjUgNC4zMi4wOSAyLjQ2NiAxLjYgMS45NTUgMS42IDEuOTU1LjA5MyA0LjA3IDIuMSA0LjYgMi4xIDQuNi4zNzcgMi41NTYuMTQyIDIuMTIuMTQyIDIuMTJsLTEuNzg2LjIxN2E3LjEgNy4xIDAgMCAxLS4xNCAxLjczMmMtMi4xLjkzNi0yLjU1MyAxLjQ4NS00LjY0IDIuNC00LjAzMiAxLjc2Ny04LjQxNCA0LjA2NS05LjE5MyA3LjE2Uy0uMDEyIDU0LjA2LS4wMTIgNTQuMDZoNDcuMTl6Ii8+PC9zdmc+);
	background-color: #535c6a;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center
}

.task-detail-sidebar-info-user-title {
	flex: 1 1 100%;
	overflow: hidden;
	word-wrap: break-word;
	padding-left: 12px;
}

.task-detail-sidebar-info-user-name[href="javascript:void(0);"] {
	cursor: default;
	color: gray;
}

.task-detail-sidebar-info-user-name[href="javascript:void(0);"]:hover {
	text-decoration: none;
	border-bottom: 0 none;
}

.task-detail-sidebar-info-user-photo[href="javascript:void(0);"] {
	cursor: default;
}

.task-detail-sidebar-info-user-name {
	font-size: 13px;
	line-height: 19px;
}

.task-detail-sidebar-info-user-extranet .task-detail-sidebar-info-user-name,
.task-detail-sidebar-info-user-network .task-detail-sidebar-info-user-name,
.task-detail-sidebar-info-user-mail .task-detail-sidebar-info-user-name,
.task-detail-sidebar-info-user-email .task-detail-sidebar-info-user-name,
.task-detail-sidebar-info-user-crmemail .task-detail-sidebar-info-user-name {
	color: #bf7700;
}

.task-detail-sidebar-info-user-mail .task-detail-sidebar-info-user-name:before,
.task-detail-sidebar-info-user-email .task-detail-sidebar-info-user-name:before,
.task-detail-sidebar-info-user-network .task-detail-sidebar-info-user-name:before,
.task-detail-sidebar-info-user-extranet .task-detail-sidebar-info-user-name:before,
.task-detail-sidebar-info-user-crmemail .task-detail-sidebar-info-user-name:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 14px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -351px;
	margin-right: 5px;
}

.task-detail-sidebar-info-user-crmemail .task-detail-sidebar-info-user-name:before {
	background: url("/bitrix/js/tasks/css/images/icon-crmuser-block.png") no-repeat 0 0;
}

.task-detail-sidebar-info-user-mail .task-detail-sidebar-info-user-name:before,
.task-detail-sidebar-info-user-email .task-detail-sidebar-info-user-name:before {
	background-position: 0 -366px;
}

.task-detail-sidebar-info-user-name-link {
	color: #0b66c3;
	text-decoration: none;
}

.task-detail-sidebar-info-user-employee .task-detail-sidebar-info-user-name-link {
	display: inline-block;
	max-width: 185px;
}

.task-detail-sidebar-info-user-pos {
	font-size: 13px;
	color: #969ca5;
}

.task-detail-sidebar-info-user-wrap.invisible {
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.hidden {
	display: none;
}