.post-item-likes,
.post-item-likes-liked{
	color: #656d71;
	display:inline-block;
	font-size: 12px;
	padding: 9px 10px 0 0;
	font-weight: bold;
	height: 21px;
	line-height: 21px;
}
.post-item-likes-liked{
	color: #3372cd;
}
.post-item-likes-text{
	display:inline-block;
	margin-right: 3px;
	vertical-align:top;
}
.post-item-likes-counter{
	display:inline-block;
	position: relative;
	top: -7px;
	left: -4px;
	padding: 7px 0 7px 6px;
}
.post-item-likes .post-item-likes-counter, .post-item-likes-liked .post-item-likes-counter {
	display: none;
}
.post-item-likes.post-item-liked .post-item-likes-counter, .post-item-likes-liked.post-item-liked .post-item-likes-counter {
	display: inline-block;
}
.post-item-likes.post-item-liked .post-item-likes-text:after, .post-item-likes-liked.post-item-liked .post-item-likes-text:after{
	content:":";
}