.booking-booking-header-resource {
	box-sizing: border-box;
	min-width: calc(280px * var(--zoom));
	max-width: calc(280px* var(--zoom));
	min-height: 62px;
	padding: calc(13px * var(--half-zoom)) calc(10px * var(--half-zoom));
	display: flex;
	align-items: center;
	overflow: hidden;
	background: var(--ui-color-background-primary);
	border-right: 1px solid var(--ui-color-base-10);
}

.booking-booking-header-resource-title {
	flex: 1;
	margin-right: calc(8px * var(--half-zoom));
	overflow: hidden;
	white-space: nowrap;
}

.booking-booking-header-resource-name {
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: calc(var(--ui-font-size-lg) * var(--quater-zoom));
}

.booking-booking-header-resource-type {
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--ui-color-base-50);
	font-size: calc(var(--ui-font-size-3xs) * var(--quater-zoom));
}

.booking-booking-header-resource-profit {
	white-space: nowrap;
	color: var(--ui-color-base-50);
}

.booking.--zoom-is-less-than-07 .booking-booking-header-resource-profit {
	display: none;
}

.booking-booking-header-resource-actions {
	display: flex;
	margin-left: calc(8px * var(--half-zoom));
}

.booking-booking-header-resource-actions .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-35);
	--ui-icon-set__icon-size: 18px;
	cursor: pointer;
}

.booking-resource-menu-popup .menu-popup-item.--lock .menu-popup-item-text {
	color: var(--ui-color-base-50);
}

.booking-resource-menu-popup .menu-popup-item.--lock .menu-popup-item-icon {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjEyIj48cGF0aCBmaWxsPSIjZDVkN2RiIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03Ljk1MiA1SDl2N0gwVjVoMS4wNTJWMy40MTJhMy40NTIgMy40NTIgMCAwMTYuOSAwVjV6bS0uOTU2IDBsLjAxMi0xLjU4OEEyLjcgMi43IDAgMDA0LjUuOTNhMi43IDIuNyAwIDAwLTIuNTA4IDIuNDgyTDIuMDA1IDVoNC45OTF6TTUuMDIgOC44Nzl2MS4yODdIMy45ODFWOC44NzlhLjgxLjgxIDAgMDEtLjMwNi0uNjM0LjgyNS44MjUgMCAxMTEuNjUgMCAuODEuODEgMCAwMS0uMzA2LjYzNHoiLz48L3N2Zz4=) no-repeat center 1px;
}
