fieldset.bizproc-item {
	border: 1px solid #D8D8D8;
	padding: 0 1.5em 1.5em 1em;}
legend.bizproc-item-legend {
	padding: 0 1em;
	margin-left: 2em;
	font-size: 110%;
	color: #000000;}
div.bizproc-item-description {
	--font-style: italic;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-size: 97%;}
div.bizproc-item-text{
	margin: 1em 0 0 1em;}
div.bizproc-item-buttons{
	/*margin: 1.5em 0 0 1em;*/
	margin: 1.5em 0 0 0;
}

div.bizproc-item-buttons input {
	margin-right:0.7em;}

div.bizproc-task-document{
	margin-bottom:1.2em;}
div.bizproc-field label{
	display:block;
	width:30em;}
span.bizproc-field-value textarea{
	height:4em;
	width:25em;}
table.bizproc-task-table {
	border:none;}
table.bizproc-task-table td {
	width: auto!important;}
table.bizproc-task-table textarea
{
	width:100%;
	height:5em;
	box-sizing: border-box;
}
table.bizproc-task-table select
{
	width: 100%;
	box-sizing: border-box;
}
span.required {
	color: red;
}

table.bizproc-task-table tr {
	display: flex;
	flex-direction: column;
}

table.bizproc-task-table td:first-child {
	margin-bottom: 15px;
	text-align: left;
}

.bp-task-block .webform-small-button.add-field-button {
	margin: 5px 0 10px 0;
	background-image: url('plus.svg');
	-webkit-background-size: contain;
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;
	height: 26px;
	line-height: 29px;
	vertical-align: middle;
	display: inline-block;
	padding: 0 0 0 22px;
	color:#aaa;
	background-color: #e8f9fe;
}

.bp-task-block .webform-field-item-wrap {
	position: relative;
	padding-right: 23px;
}

.bp-task-block .webform-field-item-wrap .upload-file-name {
	word-break: break-word;
}

.bp-task-block .webform-field-item-wrap del {
	display: block;
	background: #e7e6eb;
	position: absolute;
	z-index: 2;
	bottom: 0;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	right: 1px;
	margin: -10px 0 0 0;
	top: 50%;
}

.bp-task-block .webform-field-item-wrap del:before,
.bp-task-block .webform-field-item-wrap del:after {
	position: absolute;
	content: '';
	background: #fff;
	margin-top: -7px;
	width: 2px;
	height: 12px;
	right: 9px;
	top: 11px;
}

.bp-task-block .webform-field-item-wrap del:after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.bp-task-block .webform-field-item-wrap del:before{
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.bp-task-block .bp-task-form {
	margin-top: 15px;
}

.bp-task-block .bp-task-form