@icon-set: url(/bitrix/js/tasks/css/images/media.png);

.bg-image (@y: 0, @x: 0) {
	background: @icon-set no-repeat @x @y;
}
.tasks-replication-view-switch {

}

.tasks-replication-view-disable {
	display: none;
}

.tasks-replication-view {
	&.enabled {
		.tasks-replication-view-enable {
			display: none;
		}
		.tasks-replication-view-disable {
			display: inline;
		}
	}
}

.tasks-replication-detail {
	&.invisible {
		opacity: 0;
		height: 0;
		overflow: hidden;
	}
}

.tasks-replication-detail-inner {
	margin-bottom: 10px;
}