.sign-b2e-hcm-link-mapping-container {
	border-radius: 8px;
	padding: 12px;
	background-color: var(--ui-color-palette-orange-15);
}

.sign-b2e-hcm-link-mapping-text {
	font: 13px/15.51px var(--ui-font-family-system);
	font-weight: var(--ui-font-weight-normal);
	color: var(--ui-color-palette-gray-80);
}

.sign-b2e-hcm-link-mapping-sync-button {
	color: var(--ui-color-link-primary-base);
	text-decoration-color: var(--ui-color-link-primary-base);
	text-decoration: underline;
	text-underline-position: under;
}

.sign-b2e-hcm-link-mapping-sync-button:hover {
	cursor: pointer;
}
