.ai__roles-dialog_empty-group-stub {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.ai__roles-dialog_empty-group-stub-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 343px;
}

.ai__roles-dialog_empty-group-stub-image {
	width: 343px;
	height: 172px;
	background-repeat: no-repeat;
	background-position: center center;
}

.ai__roles-dialog_empty-group-stub-image.--favorites {
	background-image: url(../../images/ai-roles-dialog-empty-favourite-group-stub.svg);
}

.ai__roles-dialog_empty-group-stub-image.--customs {
	background-image: url(../../images/ai-roles-dialog-empty-custom-group-stub.svg);
}
.ai__roles-dialog_empty-group-stub-text-link
{
	color: var(--ui-color-copilot-soft, #B095DC);
	text-decoration: underline;
}
.ai__roles-dialog_empty-group-stub-title {
	margin: 0;
	padding: 0;
	font-size: var(--ui-font-size-2xl);
	font-weight: var(--ui-font-weight-normal);
	line-height: var(--ui-font-line-height-3xs);
	color: var(--ui-color-text-primary);
	text-align: center;
}

.ai__roles-dialog_empty-group-stub-text {
	margin-top: 12px;
	padding: 0 4px;
	font-size: var(--ui-font-size-lg);
	line-height: var(--ui-font-line-height-3xs);
	letter-spacing: 0;
	text-align: center;
	color: var(--ui-color-base-50);
}

.ai__roles-dialog_empty-group-stub-text a {
	color: var(--ui-color-copilot-secondary);
	text-decoration: underline;
	text-underline-position: under;
}

.ai__roles-dialog_empty-group-stub-text a:hover {
	color: var(--ui-color-copilot-primary);
	text-decoration: underline;
}