.sign-blank-selector-upload-title {
	font: 19px/24px "OpenSans-Regular", Helvetica, Arial, sans-serif;
	color: #16b5e8;
	margin-bottom: 7px;
}

.sign-blank-selector-last-blanks-title {
	font: 16px/22px "OpenSans-Regular", Helvetica, Arial, sans-serif;
	color: #333333;
	margin-bottom: 2px;
}

.sign-blank-selector-last-blanks-list,
.sign-blank-selector-upload-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 -5px 30px;
}

.sign-blank-selector-last-blanks-list-item-icon-image > i {
	background: url("images/list-item-icon.svg") no-repeat 0 0;
	margin-top: -49px;
}

.sign-blank-selector-footer {
	display: flex;
	padding-top: 10px;
	padding-bottom: 30px;
	align-items: center;
	justify-content: center;
}