.crm-timeline__text-block {
	word-break: break-word;
	line-height: var(--ui-font-line-height-md, 1.4);
	color: var(--ui-color-text-primary, #333);
}

.crm-timeline__text-block.--color-green {
	color: var(--ui-color-palette-green-80, #688800);
}

.crm-timeline__text-block.--color-purple {
	color: var(--ui-color-copilot-primary, #8e52ec);
}

.crm-timeline__text-block.--color-primary {
	color: var(--ui-color-primary, #2fc6f6);
}

.crm-timeline__text-block.--color-warning {
	color: var(--ui-color-text-warning, #ffa900);
}

.crm-timeline__text-block.--color-danger {
	color: var(--ui-color-text-alert, #ff5752);
}

.crm-timeline__text-block.--color-success {
	color: var(--ui-color-primary-alt, #9dcf00);
}

.crm-timeline__text-block.--color-base-50 {
	color: var(--ui-color-base-50, #a8adb4);
}

.crm-timeline__text-block.--color-base-60 {
	color: var(--ui-color-base-60, #959ca4);
}

.crm-timeline__text-block.--color-base-70 {
	color: var(--ui-color-base-70, #828b95);
}

.crm-timeline__text-block.--color-base-90 {
	color: var(--ui-color-base-90, #525c69);
}

.crm-timeline__text-block.--weight-normal {
	font-weight: var(--ui-font-weight-normal, 400);
}

.crm-timeline__text-block.--weight-medium {
	font-weight: var(--ui-font-weight-medium, 500);
}

.crm-timeline__text-block.--weight-bold {
	font-weight: var(--ui-font-weight-bold, 700);
}

.crm-timeline__text-block.--size-xs {
	font-size: var(--ui-font-size-xs, 12px);
}

.crm-timeline__text-block.--size-sm {
	font-size: var(--ui-font-size-sm, 13px);
}

.crm-timeline__text-block.--size-md {
	font-size: var(--ui-font-size-md, 14px);
}

.crm-timeline__text-block.--size-lg {
	font-size: var(--ui-font-size-lg, 15px);
}

.crm-timeline__text-block.--size-xl {
	font-size: var(--ui-font-size-xl, 16px);
}

.crm-timeline__text-block.--decoration-none {
	text-decoration: none;
}

.crm-timeline__text-block.--decoration-underline {
	text-decoration: var(--ui-text-decoration-line-underline);
}

.crm-timeline__text-block.--decoration-dotted {
	text-decoration: var(--ui-text-decoration-line-underline) var(--ui-text-decoration-style-dotted);
}

.crm-timeline__text-block.--decoration-dashed {
	border-bottom: var(--ui-border-width-thin) var(--ui-text-decoration-style-dashed);
}
