.checkout-basket-pay-method-list {}

.checkout-basket-pay-method-item-container {
	display: flex;
	align-items: center;
	padding: 14px 0;
	border-bottom: 1px solid rgba(18, 18, 18, .1);
	flex-wrap: wrap;
	gap: 10px;
}

.checkout-basket-pay-method-list .checkout-basket-pay-method-item-container:last-child {
	border-bottom: none;
}

.checkout-basket-pay-method-item-logo-block {
	width: 66px;
	min-width: 66px;
	max-width: 66px;
	height: 46px;
	padding: 3px;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.checkout-basket-pay-method-logo {
	background-color: #fff;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
}

.checkout-basket-pay-method-text-block {
	padding-left: 10px;
	flex: 1;
}

.checkout-basket-pay-method-text {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font: 15px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
	word-break: break-word;
	overflow: hidden;
}

.checkout-basket-pay-method-btn-block {}

.checkout-basket-pay-method-helper { line-height: 15px; }

.checkout-basket-pay-method-helper-link {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font: 12px/15px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
	opacity: 0.4;
	border-bottom: 1px dashed;
	transition: 170ms linear all;
	word-break: break-word;
	overflow: hidden;
	cursor: pointer;
}

.checkout-basket-pay-method-helper-link:hover {
	color: #333;
	opacity: 1;
}

.checkout-basket-pay-method-description {
	/*padding: 4px 0;*/
	width: 100%;
	min-width: 100%;
	font: 15px/20px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
}
