.biconnector-key-grid-avatar.ui-icon.ui-icon-common-user,
.biconnector-key-grid-avatar.ui-icon.ui-icon-common-user-group {
	width: 22px;
	min-width: 22px;
	height: 22px;
}

.biconnector-key-grid-username-inner {
	display: inline-block;
	vertical-align: middle;
	max-width: 155px;
	height: 20px;
	line-height: 20px;
	color: #525C69;
	padding-left: 11px;
	overflow: hidden;
	text-overflow: ellipsis
}

.biconnector-key-grid-username {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	color: #525c69;
	text-decoration: none;
	white-space: nowrap;
	padding: 5px 0;
	margin: -5px 0;
}

.biconnector-key-grid-username:hover {
	background: #C0EDFD;
	text-decoration: none !important;
}

.biconnector-key-grid-username:hover {
	color: #525c69;
	text-decoration: none;
}

.biconnector-key-grid-avatar-empty {
	border-radius: 0;
}

.biconnector-key-grid-user {
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.biconnector-key-grid-username {
	max-width: 100%;
	display: inline-flex;
	align-items: center;
	overflow: hidden;
	vertical-align: middle;
	color: #525c69;
	text-decoration: none;
	white-space: nowrap;
	padding: 3.5px 13px 3.5px 4px;
	margin: -4px 0;
	transition: 250ms linear all;
	box-sizing: border-box;
	height: 29px;
	background: transparent;
	border-radius: 14.5px;
}

.biconnector-key-grid-access-key {
	border: none;
	background-color: transparent;
}

.biconnector-key-grid-access-key[type='password'] {
	font-family: Verdana;
}

.biconnector-key-grid-action-link {
	padding: 0;
	background: none;
	margin: 0;
	border: none;
	border-bottom: 1px dashed;
	font: 10px/12px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2066B0;
	margin-left: 12px;
	cursor: pointer;
	transition: 170ms linear all;
}

.biconnector-key-grid-action-link:hover {
	border-bottom-color: transparent;
}
