.bx-timeman-component-timeline-legend-item {
    display: flex;
}

.bx-timeman-component-timeline-legend-item-marker {
    height: 8px;
    width: 8px;
    margin: 8px;
    border-radius: 50%;
}

.bx-timeman-component-timeline-legend-item-marker-working {
    background-color: #8CEDA9;
}

.bx-timeman-component-timeline-legend-item-marker-personal {
    background-color: #b5bac0;
}

.bx-timeman-component-timeline-legend-item-marker-inactive {
    background-color: #f5f5f5;
}

.bx-timeman-component-timeline-legend-item-title {
    display: flex;
    align-items: center;
    color: #535c69;
    font: 13px/22px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    margin-right: 16px;
    user-select: none;
}