
.market-popup {
	font-family:  var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	/*font-family: 'Open Sans';*/
}

.market-popup__header {
	display: flex;
	padding: 10px 10px 12px;
	border-bottom: 4px solid #f5f7f8;
}

.market-popup__header-logo {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	border: 1px solid #dfe0e3;
	border-radius: var(--ui-border-radius-sm, 8px);
}

.market-popup__header-logo_img {
	width: 100%;
	max-width: 100%;
}

.market-popup__header-info {
	display: flex;
	flex-direction: column;
	max-width: calc(100% - 66px);
	padding: 8px 0 6px 8px;
	box-sizing: border-box;
}

.market-popup__header-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var(--ui-font-size-md, 14px);
	color: #151515;
}

.market-popup__header-title_highlight {
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.market-popup__header-additional {
	display: flex;
	margin-top: auto;
	align-items: center;
}

.market-popup__header-label {
	display: flex;
	align-items: center;
	padding: 1px 7px;
	margin-right: 6px;
	box-sizing: border-box;
	min-height: 18px;
	border-radius: var(--ui-border-radius-pill, 99rem);
	font-size: var(--ui-font-size-4xs, 10px);
	line-height: var(--ui-font-line-height-reset, 1);
	color: #828b95;
	background: #f1f4f6;
	white-space: nowrap;
}

.market-popup__header-label_version {
	padding: 1px 5px;
	margin-right: 5px;
	margin-left: -6px;
	border-radius: var(--ui-border-radius-pill, 99rem);
	font-weight: var(--ui-font-weight-semi-bold, 600);
	font-size: var(--ui-font-size-md, 14px);
	line-height: var(--ui-font-line-height-reset, 1);
	color: #ffffff;
	background: #51bef3;
	cursor: default;
}

.market-popup__header-label_svg {
	margin-left: -5px;
	margin-right: 5px;
}

.market-popup__header_about-buying {
	position: relative;
	padding-left: 11px;
	margin-left: 2px;
	font-size: var(--ui-font-size-5xs, 9px);
	color: #666666;
	white-space: nowrap;
}

.market-popup__header_about-buying::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 1px;
	height: 11px;
	background: #b3b3b3;
}

.market-popup__body {
	padding: 8px 11px;
}

.market-popup__row {
	display: flex;
	align-items: flex-start;
	margin-bottom: 8px;
}

.market-popup__title {
	display: flex;
	font-weight: var(--ui-font-weight-bold, 700);
	font-size: var(--ui-font-size-xl, 16px);
	line-height: var(--ui-font-line-height-reset, 1);
	color: #333333;
	margin-right: 14px;
}

.market-popup__title_svg {
	margin-right: 7px;
}

.market-popup__title_text {
	padding-top: 3px;
}

.market-popup__link-more {
	border-bottom: 1px dashed #dfe0e3;
	margin: auto;
	margin-right: 5px;
	font-size: var(--ui-font-size-sm, 13px);
	line-height: var(--ui-font-line-height-3xs, 1.2);
	color: #a8adb4;
	cursor: pointer;
}

.market-popup__link-more:hover {
	color: #a8adb4;
	border-color: #a8adb4;
}

.market-popup__content-description {
	margin-bottom: 15px;
	font-size: var( --ui-font-size-sm, 13px);
	line-height: var(--ui-font-line-height-sm, 1.35);
	color: #6a737f;
}

.market-popup__modules {
	display: flex;
	flex-wrap: wrap;
	align-items: self-start;
}

.market-popup__modules-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 15px;
}

.market-popup__modules-column:last-of-type {
	margin-right: 0;
}

.market-popup__modules-item {
	display: flex;
	align-items: center;
	padding: 2px 8px;
	min-height: 28px;
	margin-bottom: 12px;
	margin-right: 13px;
	box-sizing: border-box;
	border-radius: var(--ui-border-radius-pill, 99rem);
	font-size: var(--ui-font-size-md, 14px);
	line-height: var(--ui-font-line-height-md, 1.4);
	color: #525c69;
	background: #f1f4f6;
	overflow: hidden;
}

.market-popup__modules-item_img {
	margin-right: 6px;
	margin-left: -6px;
}

.market-popup__modules-item_text {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: default;
}

.market-popup__modules_more-block {
	width: 100%;
	margin-top: -4px;
	margin-left: 3px;
}

.market-popup__modules-item_link-more {
	border-bottom: 1px dashed #dfe0e3;
	font-size: var(--ui-font-size-lg, 15px);
	line-height: var(--ui-font-line-height-3xs, 1.2);
	color: #a8adb4;
	cursor: pointer;
}

.market-popup__modules-item_link-more:hover {
	color: #a8adb4;
	border-color: #a8adb4;
}

.market-popup__agreement {
	padding-top: 6px;
	margin-top: 17px;
	border-top: 1px solid #edeef0;
}

.market-popup__agreement input {
	cursor: pointer;
}

.market-popup__agreement_label-text {
	font-size: var(--ui-font-size-xs, 12px);
	line-height: var(--ui-font-line-height-reset, 1);
	color: #525c69;
	cursor: pointer;
}

.market-popup__agreement_label-link {
	border-bottom: 1px solid rgba(85,155,230,.8);
	color: #559be6;
}

.market-popup__agreement_label-link:hover {
	border-bottom-color: rgba(85,155,230,1);
}

.market-popup__agreement .ui-ctl {
	min-height: auto;
	margin: 11px 0 0;
}

.market-popup__window .popup-window-buttons {
	padding-bottom: 22px;
}

.market-popup__window .--hidden {
	display: none;
}

.market-install-loader {
	height: 90px;
}

.market-popup__success-button {
	text-align: center;
	padding: 10px 0 10px;
}

.market-popup__points-img {
	width: 437px;
}

.market-popup__points {
	font-family: 'Open Sans';
	padding-left: 37px;
	margin: 11px 0;
	font-size: var(--ui-font-size-xl, 16px);
	line-height: var(--ui-font-line-height-3xs, 1.2);
	color: #333333;
	list-style: none;
}

.market-popup__points-item {
	position: relative;
	margin-bottom: 19px;
}

.market-popup__points-item span {
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.market-popup__points-item::before {
	content: '';
	position: absolute;
	left: -32px;
	top: -3px;
	display: block;
	width: 24px;
	height: 24px;
	background: url("/bitrix/js/market/images/market-list-style.svg") center no-repeat;
}

.market-popup__points-item.--light {
	font-size: var(--ui-font-size-md, 14px);
	line-height: var(--ui-font-line-height-md, 1.4);
	color: #525c69;
}

.market-popup .ui-hint-icon {
	margin-top: 0;
}

.market-popup__info-app-launch {
	margin-top: 27px;
	text-align: center;
	font-size: var(--ui-font-size-xs, 12px);
	color: #a8adb4;
}

.market-popup__info-app-launch_counter {
	color: #525c69;
}




.market-popup__warning {
	display: flex;
	align-items: flex-start;
	font-size: var(--ui-font-size-4xs, 10px);
	line-height: var(--ui-font-line-height-3xs, 1.2);
	color: #bdc1c6;
}

.market-popup__warning-icon {
	flex-shrink: 0;
	margin-right: 9px;
}

.market-popup__versions-slider {
	position: relative;
	display: flex;
	flex-direction: column;
	max-height: 160px;
	padding: 10px;
	overflow: hidden;
	border-radius: var(--ui-border-radius-xs, 6px);
	background: #f1f4f6;
}

.market-popup__versions-nav {
	position: relative;
	display: flex;
	margin-bottom: 23px;
	transition: .2s;
}

.market-popup__versions-nav_item {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding: 2px 6px;
	margin: 0 3px;
	border-radius: var(--ui-border-radius-pill, 99rem);
	border: 3px solid #f1f4f6;
	transform: translate(-50%, 0);
	font-size: var(--ui-font-size-5xs, 9px);
	line-height: 10px;
	color: #bdc1c6;
	background: #ffffff;
	transition: .2s;
}

.market-popup__versions-nav_item.--active {
	color: #fff;
	background: #51bef3;
	border-color: #51bef3;
}

.market-popup__versions-nav_item-selected {
	flex-shrink: 0;
	margin-left: 5px;
	font-weight: var(--ui-font-weight-semi-bold, 600);
	font-size: var(--ui-font-size-xs, 12px);
	line-height: var(--ui-font-line-height-reset, 1);
}

.market-popup__versions-content-wrapper {
	overflow: hidden;
	flex: 1;
}

.market-popup__versions-content {
	position: relative;
	left: 0;
	display: flex;
	max-height: 115px;
	overflow: hidden;
	transition: .2s;
}

.market-popup__content.--slider {
	margin-top: 29px;
}

.market-popup__versions-content_item {
	flex: 1;
	box-sizing: border-box;
	padding: 0 15px;
	margin: 0 21px;
	overflow: auto;
}

.market-popup__versions-content_item p {
	margin-top: 0;
}

.market-popup__versions-nav_arrow {
	position: absolute;
	top: 50%;
	left: 6px;
	transform: translate(0, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	padding-right: 1px;
	box-sizing: border-box;
	border-radius: 50%;
	/*background: rgba(255,255,255,.7);*/
	background: rgba(255,255,255,1);
	cursor: pointer;
	opacity: 0.7;
	transition: .2s;
}

.market-popup__versions-nav_arrow.--right-arrow {
	left: auto;
	right: 6px;
	padding-right: 0;
	padding-left: 1px;
}

.market-popup__versions-nav_arrow:hover {
	/*background: rgba(255,255,255,1);*/
	opacity: 1;
}