.department-manager-title {
	color: #41474f;
	font-size: 14px;
	font-weight: bold;
}

.department-manager-name-block {
	display: inline-block;
	margin: 1px 25px 0 0;
	position: relative;
	vertical-align: top;
	white-space: nowrap;
	z-index: 1;
}

.department-manager-avatar {
	float: left;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	position: relative;
	margin: 0 20px 19px 0;
}

.department-manager-name {
	padding-right: 21px;
	position: relative;
}

.department-manager-info {
	display: inline-block;
	font-size: 13px;
	line-height: 17px;
	margin-right: 7px;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
	z-index: 1;
}

.department-manager-name-link {
	color: #2067b0;
	font-weight: bold;
}

.department-manager-post {
	font-size: 13px;
}

.department-manager-info-block {
	display: inline-block;
	margin: 11px 1px 20px;
	min-height: 51px;
	padding: 14px 7px 10px 0;
	position: relative;
}
