.tasks-scrum__sprints--completed-title {
	font: 11px/12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	margin: 0 0 13px 0;
	color: var(--tasks_scrum-white_alpha_80);
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
}

.tasks-scrum__sprints--completed-title-text {
	display: inline-block;
	padding: 6px 17px 5px;
	border-radius: var(--ui-border-radius-3xl, 29px);
	background: var(--tasks_scrum-black_alpha_10);
	position: relative;
}

.tasks-scrum__sprints--completed-title-text::after,
.tasks-scrum__sprints--completed-title-text::before {
	content: '';
	display: block;
	width: 100vw;
	height: 1px;
	background: var(--tasks_scrum-white_alpha_20);
	position: absolute;
	top: 46%;
}
.tasks-scrum__sprints--completed-title-text::before {
	right: calc(100% + 25px);
}

.tasks-scrum__sprints--completed-title-text::after {
	left: calc(100% + 25px);
}

.tasks-scrum__sprints--completed-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 3px 7px 3px 12px;
	border-radius: var(--ui-border-radius-xs, 2px);
	font-size: 14px;
	line-height: 17px;
	color: var(--tasks_scrum-white);
	background: var(--tasks_scrum-black_alpha_13);
	transition: .2s;
}

.tasks-scrum__sprints--completed-header.--hide {
	display: none;
}

.tasks-scrum__sprints--completed.--open .tasks-scrum__sprints--completed-header {
	/*margin-bottom: 6px;*/
	margin-bottom: 10px;
}

.tasks-scrum__sprints--completed-name {
	position: relative;
	box-sizing: border-box;
	padding-right: 21px;
	margin-right: 23px;
}

.tasks-scrum__sprints--completed-name::after {
	content: '';
	display: block;
	width: 1px;
	height: 100%;
	position: absolute;
	left: 100%;
	top: 0;
	background: var(--tasks_scrum-white_alpha_20);
}

.tasks-scrum__sprints--completed-stats {
	margin-right: auto;
	margin-top: -1px;
}

.tasks-scrum__sprints--completed-stats span {
	font-weight: var(--ui-font-weight-bold);
}

.tasks-scrum__sprints--completed-stats span:first-of-type {
	margin-right: 3px;
}

.tasks-scrum__sprints--completed-btn.ui-btn {
	margin: -1px 0 0 0;
	background-size: 14px;
	opacity: 0.7;
}

.tasks-scrum__sprints--completed .tasks-scrum__content {
	border-top: none;
	border-radius: var(--ui-border-radius-xs, 2px);
	background: var(--tasks_scrum-black_alpha_13);
	margin-bottom: 10px;
}

.tasks-scrum__sprints--completed .tasks-scrum__title {
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: var(--tasks_scrum-white_alpha_80);
	margin-top: 0;
	max-width: 100%;
}

.tasks-scrum__sprints--completed .tasks-scrum__content-header {
	padding: 5px 0 4px;
	min-height: auto;
}

.tasks-scrum__sprints--completed-list {
	display: none;
	height: 0;
	overflow: hidden;
	transition: .2s;
}

.tasks-scrum__sprints--completed-list.--visible {
	display: block;
}

.tasks-scrum__sprints--completed-list .tasks-scrum__sprint--btn-dropdown.ui-btn {
	width: 19px;
	background-size: 13px;
	opacity: 0.7;
	margin-top: 1px;
	--ui-btn-height: 25px;
}

.tasks-scrum__sprints--completed-list .tasks-scrum__content.--open .tasks-scrum__content-header {
	border-bottom: none;
	margin-bottom: 5px;
}


.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__sprints--completed .tasks-scrum__name-container {
	max-width: calc(50% - 20px);
}

.tasks-scrum__sprints--completed .tasks-scrum__content--event-params {
	text-align: right;
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: var(--tasks_scrum-white_alpha_80);
}

.tasks-scrum__sprints--completed .tasks-scrum__content--event-params span {
	font-weight: var(--ui-font-weight-bold);
}

.tasks-scrum-completed-sprints-observer-target {
	overflow: hidden;
}

.tasks-scrum__sprints--completed .tasks-scrum__content::before {
	display: none;
}

.tasks-scrum__sprints--completed .tasks-scrum__item--story-points-element,
.tasks-scrum__sprints--completed .tasks-scrum__item--responsible-photo,
.tasks-scrum__sprints--completed .tasks-scrum__item--responsible span {
	cursor: auto;
}

.tasks-scrum__sprints--completed-empty {
	display: none;
	text-align: center;
	justify-content: center;
	border-radius: var(--ui-border-radius-xs, 2px);
	padding: 12px 0 11px;
	color: var(--tasks_scrum-white_alpha_80);
	background: var(--tasks_scrum-white_alpha_13);
	box-shadow: 0 1px 1px var(--tasks_scrum-black_alpha_08);
}

.tasks-scrum__sprints--completed-empty.--open {
	display: flex;
}

.tasks-scrum__sprints--completed-list .tasks-scrum-entity-items-loader + .tasks-scrum__item {
	margin-top: 0;
}



@media (max-width: 1930px) {
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__sprints--completed-header {
		flex-wrap: wrap;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed-name {
		margin-right: 0;
		width: calc(100% - 35px);
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed-name::after {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__sprints--completed-stats {
		order: 1;
		width: calc(100% - 35px);
		margin-bottom: 5px;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__sprints--completed-stats > div {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (max-width: 1770px) {
	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__sprints--completed-header {
		flex-wrap: wrap;
	}

	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed-name {
		margin-right: 0;
		width: calc(100% - 35px);
	}

	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed-name::after {
		display: none;
	}

	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__sprints--completed-stats {
		order: 1;
		width: calc(100% - 35px);
		margin-bottom: 5px;
	}

	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__sprints--completed-stats > div {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (max-width: 1625px) {
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__content-header {
		flex-wrap: wrap;
	}
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__content--event-params {
		text-align: left;
		order: 1;
		margin-bottom: 5px;
		max-width: calc(100% - 30px);
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__name-container {
		max-width: calc(100% - 30px);
	}
}

@media (max-width: 1475px) {
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__sprints--completed-header {
		flex-wrap: wrap;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__sprints--completed-name {
		margin-right: 0;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__sprints--completed-name::after {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__sprints--completed.--open .tasks-scrum__sprints--completed-stats {
		order: 1;
		width: 100%;
		margin-bottom: 5px;
	}
}

@media (max-width: 1285px) {
	.tasks-scrum__sprints--completed-header {
		flex-wrap: wrap;
	}

	.tasks-scrum__sprints--completed-name {
		margin-right: 0;
	}

	.tasks-scrum__sprints--completed-name::after {
		display: none;
	}

	.tasks-scrum__sprints--completed.--open .tasks-scrum__sprints--completed-stats {
		order: 1;
		width: 100%;
		margin-bottom: 5px;
	}
}


