.tasks-scrum__item.--add-block {
	border-color: var(--tasks_scrum-grey-4);
	padding: 6px 11px 8px;
}

.tasks-scrum__item.--add-block.--disabled {
	opacity: 0.6;
}

.tasks-scrum__item--textarea {
	height: 60px;
	grid-column: 1 / 6;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: var(--tasks_scrum-light-grey);
	letter-spacing: 0;
	line-height: 16px;
	width: 100%;
	resize: none;
	padding: 0;
	border: none;
	outline: none;
}

.tasks-scrum__item--textarea::placeholder {
	color: var(--tasks_scrum-dark-grey_alpha_50);
	transition: .2s;
}

.tasks-scrum__item--textarea-help {
	font-family: "OpenSans-Italic", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: var(--tasks_scrum-dark-grey_alpha_60);
	grid-column: 1 / 6;
}

.tasks-scrum__item--textarea-help span::before {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 12px;
	height: 9px;
	margin: 6px 2px 0 0;
	background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='9' viewBox='0 0 12 9'%3E%3Cpath fill='%239AA0A8' fill-rule='evenodd' d='M7.89560765,-2.84217094e-14 L11.0291329,3.13352523 L7.86010193,6.30255618 L7.875,3.679 L3.15593627,3.67946698 C2.13895927,3.67946698 1.30536727,4.4646315 1.22828363,5.46183719 L1.22246653,5.61293671 C1.22246653,6.68076256 2.08811042,7.54640645 3.15593627,7.54640645 L3.15593627,7.54640645 L3.784,7.546 L3.784,8.668 L3.09857968,8.6686511 C1.38728138,8.6686511 -1.48894595e-14,7.28136972 -1.50990331e-14,5.57007142 C-1.53086067e-14,3.85877311 1.38728138,2.47149173 3.09857968,2.47149173 L7.881,2.471 L7.89560765,-2.84217094e-14 Z' transform='rotate(-180 5.515 4.334)'/%3E%3C/svg%3E%0A") center no-repeat;
}