@media (max-width: 2100px) {
	.biconnector-market__body-slider .market-catalog__content {
		--market-catalog__section-column: 4;
	}
}

@media (max-width: 1520px) {
	.biconnector-market__body-slider .market-catalog__content {
		--market-catalog__section-column: 3;
	}
}

.biconnector-market__body-slider .ui-side-panel-content {
	max-width: calc(100% - 240px);
}

.biconnector-market__body-slider .market-catalog {
	border-radius: 10px;
}

.biconnector-market__description {
	display: flex;
	align-items: flex-start;
	background-color: #F4FCFE;
}

.biconnector-market__section-icon {
	flex-shrink: 0;
	margin-right: 14px;
}

.biconnector-market__section-title {
	margin-bottom: 15px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-normal);
}

.biconnector-market__section-title span {
	color: var(--ui-color-link-primary-base);
}

.biconnector-market__content {
	padding-top: 6px;
}

.biconnector-market__section-paragraph {
	margin-bottom: 18px;
	font-size: var(--ui-font-size-lg);
}

.biconnector-market__section-link {
	border-bottom: var(--ui-border-width-thin) solid rgba(var(--ui-color-link-primary-base-rgb), .4);
	font-size: var(--ui-font-size-lg);
	color:  var(--ui-color-link-primary-base);
	transition: .2s;
}

.biconnector-market__section-link:hover {
	border-bottom-color: rgba(var(--ui-color-link-primary-base-rgb), 1);
}

.biconnector-market__info-block {
	padding: 11px 12px;
	margin-bottom: 20px;
	border-radius: var(--ui-border-radius-2xs);
	border: var(--ui-border-width-thin) solid #c3f0ff;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	background: #ecfafe;
	color: var(--ui-color-text-secondary);
}

.biconnector-market__info-title {
	display: flex;
	align-items: center;
	margin-bottom: 13px;
	font-weight: var(--ui-font-weight-bold);
	line-height: var(--ui-font-line-height-md);
}

.biconnector-market__info-title-icon {
	margin-right: 7px;
}

.biconnector-market__info-message {
	display: flex;
	align-items: center;
	white-space: nowrap;
	font-size: var(--ui-font-size-xs);
	line-height: var(--ui-font-line-height-sm);
}

.biconnector-market__info-message-subtitle {
	display: inline-block;
	margin-right: 10px;
	white-space: nowrap;
}

.biconnector-market__info-message-text {
	font-weight: var(--ui-font-weight-bold);
	color: var(--ui-color-accent-light-blue);
}

.biconnector-market__info-message-icon {
	flex-shrink: 0;
	display: block;
	width: 24px;
	height: 24px;
	margin-left: 13px;
	background: url(./images/biconnector-market__info-link-icon.svg) no-repeat center;
	background-size: contain;
	opacity: var(--ui-opacity-40);
	cursor: pointer;
	transition: .2s;
}

.biconnector-market__info-message-icon:hover {
	opacity: var(--ui-opacity-full);
}