.booking-booking-grid {
	position: relative;
	height: 100%;
	overflow: hidden;
	padding-bottom: 25px;
	--padding-top: 34px;
}

.booking-booking-grid-inner {
	position: relative;
	flex: 1;
	display: flex;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	padding-bottom: 25px;
}

.booking-booking-grid-columns {
	position: relative;
	display: flex;
	min-height: 100%;
	height: max-content;
	overflow-x: auto;
	overflow-y: hidden;
	padding-right: 260px;
}

.booking-booking-grid-columns-ears {
	max-width: calc(100% - 50px);
	min-height: max-content;
	max-height: max-content;
	height: max-content;
}

.booking-booking-grid-columns-ears .ui-ear {
	margin-right: 250px;
	top: 50%;
	transform: translateY(-50%);
	width: 48px;
	height: 48px;
	background-size: 48px;
	background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='5' width='38' height='38' rx='19' fill='%23525C69'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.8408 17.8721L24.7451 22.7764L26.0154 23.9998L24.7451 25.2241L19.8408 30.1284L21.5714 31.8589L29.4301 24.0003L21.5714 16.1416L19.8408 17.8721Z' fill='white' fill-opacity='0.94'/%3E%3C/svg%3E%0A");
}

.booking-booking-grid-columns-ears .ui-ear-left {
	transform: translateY(-50%) scaleX(-1);
}
