.tasks-scrum-kanban {
	overflow-x: hidden;
}

.tasks-scrum-parent-task-kanban-header {
	width: 99%;
	color: #333;
	font-size: 14px;
	font-weight: var(--ui-font-weight-bold);
	padding: 7px 0 7px 10px;
}

.tasks-scrum-parent-task-kanban .tasks-kanban-border {
	border-top: none;
	padding: 0;
}

.tasks-scrum-kanban-group-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-scrum-kanban-group-header-tick {
	cursor: pointer;
}

.tasks-scrum-kanban-group-header-tick .ui-btn.ui-btn-light {
	--ui-btn-background-hover: transparent;
	--ui-btn-background-active: transparent;
	--ui-btn-border-color-hover: transparent;
}

.tasks-scrum-kanban-group-header-name a {
	display: block;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	font-size: 16px;
	color: #333;
	letter-spacing: 0.4px;
	min-width: 1px;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	border: none;
	border-bottom: 1px solid transparent;
	background: none;
	outline: none;
	padding: 0;
}

.tasks-scrum-kanban-group-header-story-points {
	font: 14px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #525c69;
	margin-left: auto;
	padding-right: 10px;
	cursor: default;
}

.tasks-scrum-kanban-header {
	position: fixed;
	z-index: 1000;
	top: 0;
	height: auto;
}

.tasks-scrum-kanban-header-target-observer {
	overflow: hidden;
}

.tasks-scrum-kanban-header-target-observer.--with-margin {
	margin-bottom: 42px;
}

.tasks-scrum-wrapper #workarea-content {
	position: relative;
}

.tasks-kanban__start {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	padding: 0 25px 5%;
	color: #535b69;
	background-color: rgba(255,255,255,.67);
	border-radius: var(--ui-border-radius-md);
	font: 31px/42px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
}

.bitrix24-default-theme .tasks-kanban__start,
.bitrix24-dark-theme .tasks-kanban__start {
	background-color: rgba(255,255,255,.3);
}

.tasks-scrum-wrapper .ui-page-slider-workarea {
	min-height: calc(100vh - 65px - 80px - 151px);
}