.market-detail-slider-content-container {
	display: flex;
	min-height: 100%;
}

.market-app-install-wrapper {
}

#marketAppInstallForm {
	padding: 15px 15px 0;
	display: flex;
	height: 100vh;
	flex-direction: column;
	overflow: hidden;
	box-sizing: border-box;
}

.market-app-install-header {
	display: flex;
	align-items: center;
	padding: 12px;
	background: #fff;
	margin-bottom: 12px;
}

.market-app-install-header-image-block {
	width: 80px;
	height: 80px;
	max-width: 80px;
	min-width: 80px;
}

.market-app-install-header-image,
.market-app-install-header-image img,
.market-app-install-image-empty {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 13px;
}

.market-app-install-image-empty {
	background: url("images/default-upic-mp.png") no-repeat center;
	background-size: cover;
}

.market-app-install-header-description-block {
	padding-left: 19px;
}

.market-app-install-title {
	font: bold 18px/25px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 0 6px;
	text-align: left;
}

.market-app-install-header-descriptions {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.market-app-install-header-descriptions > span + span {
	margin-left: 24px;
}

.market-app-install-header-descriptions-version {
	font: 600 13px/18px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #828b95;
}

.market-app-install-header-descriptions-author {
	font: 13px/18px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #b8bfc9;
}

.market-detail-slider-content-inner {
	flex: 1;
	display: flex;
	max-width: 100%;
}

/*попап с белым фоном*/

.market-app-install-inner {
	min-height: 100%;
	box-sizing: border-box;
	flex: 1;
	overflow-y: auto;
	padding: 20px;
	background: #fff;
}

.market-app-install-inner-right-list-title {
	font: 18px/25px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	margin-bottom: 16px;
}

.market-app-install-inner-rights {
	color: #555;
	font-size: 14px;
}

.market-app-install-inner-rights-list {
	padding: 17px 0 0;
	border-top: 1px solid #edeef0;
	text-align: left;
}

.market-app-install-inner-rights-item {
	margin-bottom: 12px;
	border-radius: 4px;
	border: 1px solid #d4dce0;
	padding: 20px 17px;
}

.market-app-install-inner-rights-item-header {
	display: flex;
	align-items: center;
}

.market-app-install-inner-rights-item-icon {
	width: 18px;
	height: 18px;
}

.market-app-install-inner-rights-item-title {
	font: bold 14px/19px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c69;
	margin-left: 7px;
}

.market-app-install-inner-rights-item-description {
	font: 11px/16px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #828b95;
}

/**/

.market-app-install-footer {
	position: sticky;
	bottom: 0;
	background-color: #FBFBFB;
	margin-left: -15px;
	margin-right: -15px;
	box-shadow: 0 -10px 10px rgb(0 0 0 / 6%)
}

.market-app-install-confidentiality {
	font: 13px/19px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525C69;
	padding: 14px 24px;
	border-bottom: 1px solid #D4DCE0;
}

.market_install_notify_message {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fdfaea;
	border-color: #e5e0c4 #f1edd7 #f9f6e4;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px #ede8cc inset;
	color: #555;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 12px;
	padding: 11px 14px;
	position: relative;
}

.market_install_title_section {
	font-size: 18px;
	padding-top: 5px;
}

.market_install_title_icon_shadow {
	background: url("images/frame.png") no-repeat left top;
	height: 91px;
	left: 2px;
	position: absolute;
	top: 4px;
	width: 87px;
	z-index: 104;
}

.market_install_licebse_block {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #444;
}

#rest-configuration-import .rest-configuration-wrapper{
	margin: 0;
}

.mp_notice_cursiv {
	font-style: italic;
}

.rest-configuration-import-slider-modifier {
	padding: 0!important;
}

.rest-configuration-import-slider-modifier .ui-side-panel-wrap-title {
	padding-left: 15px;
}

.rest-configuration-import-slider-modifier #marketAppInstallForm {
	padding: 0px 15px;
}

.rest-configuration-import-slider-modifier .market-app-install-footer {
	position: fixed;
	width: 100%;
	text-align: left;
}

.rest-configuration-import-slider-modifier .market-app-install-inner {
	margin-bottom: 130px;
}

.app-install-helper-landing {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
	background-color: white;
}

.app-install-helper-landing .app-install-helper-landing-iframe {
	width: 100%;
	height: 100%;
}

.market-app__scope-list_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	padding: 19px 22px;
	font-family:  var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
}

.market-app__scope-list_header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 13px;
}

.market-app__scope-list_title {
	display: flex;
	align-items: center;
}

.market-app__scope-list_title-icon {
	margin-right: 6px;
}

.market-app__scope-list_title-text {
	font-weight: var(--ui-font-weight-light, 300);
	font-size: 26px;
	line-height: 32px;
	color: #333333;
}

.market-app__scope-list_content {
	flex: 1;
	border-radius: var(--ui-border-radius-lg, 12px);
	box-sizing: border-box;
	padding: 19px 16px;
	background: #fff;
}

.market-app__scope-list_content-top {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.market-app__scope-list_logo {
	--header-fixed_logo-box-side: 70px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	width: var(--header-fixed_logo-box-side);
	height: var(--header-fixed_logo-box-side);
	margin-right: 15px;
	border: 1px solid #d5d7db;
	border-radius: var(--ui-border-radius-sm, 8px);
	overflow: hidden;
}

.market-app__scope-list-name {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: var(--ui-font-weight-bold, 700);
	font-size: 20px;
	line-height: 21px;
	color: #525c69;
}

.market-app__scope-list_content-middle {
	margin-bottom: 25px;
	font-size: var(--ui-font-size-xl, 16px);
	line-height: var(--ui-font-line-height-reset, 1);
	color: #959ca4;
}

.market-app__scope-list_rights-item-header {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	font-weight: var(--ui-font-weight-bold, 700);
	font-size: var( --ui-font-size-md, 14px);
	line-height: 19px;
	color: #525c69;
}

.market-app__scope-list_rights-item {
	box-sizing: border-box;
	padding: 12px 12px;
	margin-bottom: 12px;
	border-radius: var(--ui-border-radius-lg, 12px);
	background: #f8fafb;
}

.market-app__scope-list_rights-item:last-of-type {
	margin-bottom: 0;
}


.market-app__scope-list_rights-item-icon {
	flex-shrink: 0;
	margin-right: 8px;
}

.market-app__scope-list_rights-item-description {
	font-size: 11px;
	line-height: 16px;
	color: #828b95;
}

.market-app__scope-list_block-btn {
	margin-bottom: 25px;
}

.market-app__scope-list_content-btn {
	--ui-btn-icon: url("/bitrix/js/market/images/market-detail__description-contact-icon.svg");
}

.market-app__scope-list_content-btn.ui-btn:after {
	background-image: var(--ui-btn-icon);
}