.disk-file-control {
	position: relative;
	padding: 15px 20px;
	background-color: #f8f9fa;
	border-top: none;
	box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.07);
}

.blog-comment-edit .disk-file-control {
	border-radius: 0 0 22px 22px;
}

.calendar-field-block .feed-add-post {
	border-radius: 7px;
	border: 1px solid rgba(82,92,105,.19);
	overflow: hidden;
}

.disk-file-control-panel {
	display: flex;
	flex-direction: column;
}

.disk-file-control-panel + .disk-file-control-panel {
	margin-top: 20px;
}

.disk-file-control-panel-doc-wrap {
	display: flex;
	align-items: center;
}

.disk-file-control-panel-file-wrap {
	display: flex;
	align-items: flex-start;
	padding: 0 5px;
	transition: opacity .3s;
}

.disk-file-control-panel-label {
	margin: 0 -13px 0 -35px;
}

.disk-file-control-panel-label-item {
	position: relative;
	margin-bottom: 9px;
	padding: 0 13px;
	display: block;
	font: 14px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: rgba(255,255,255,.5);
	transform: rotate(-90deg);
}

.disk-file-control-panel-label-item:before,
.disk-file-control-panel-label-item:after {
	content: '';
	position: absolute;
	top: -8px;
	left: -18px;
	display: block;
	width: 1px;
	height: 39px;
	background-color: rgba(255,255,255,.2);
	transform: rotate(90deg);
}

.disk-file-control-panel-label-item:after {
	top: -6px;
	left: auto;
	right: -14px;
	height: 35px;
}

.disk-file-control-panel-card-box {
	margin-right: 16px;
	border-radius: 12px 61px 12px 12px;
	transition: box-shadow .3s;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.09);
}

.disk-file-control-panel-card-box:hover {
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.11);
}

.feed-add-post .disk-file-control-panel {
	margin: 20px 0;
}

.disk-file-control-panel-card {
	position: relative;
	display: inline-block;
	padding: 0 11px;
	width: 130px;
	height: 166px;
	text-align: center;
	/*-webkit-clip-path: polygon(72% 0, 90% 14%, 104% 27%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 75%, 0% 35%, 0 0);*/
	/*clip-path: polygon(72% 0, 90% 14%, 104% 27%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 75%, 0% 35%, 0 0);*/
	background-image: url("data:image/svg+xml,%3Csvg width='130' height='166' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0h78.826a12 12 0 018.912 3.965l27.175 30.141A12 12 0 01130 42.142V154c0 6.627-5.373 12-12 12H12c-6.627 0-12-5.373-12-12V12C0 5.373 5.373 0 12 0z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
	box-sizing: border-box;
	cursor: pointer;
}

.disk-file-control-panel-card-icon {
	width: 44px;
	height: 52px;
	margin: 33px auto 15px auto;
	background-image: url("data:image/svg+xml,%3Csvg width='44' height='52' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23E5E8EB' d='M0 .087h31.355L43.91 11.745v39.347H0z'/%3E%3Cpath fill='%23535C69' opacity='.3' d='M31.215.087l12.694 11.44H31.215z'/%3E%3C/g%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
}

.disk-file-control-panel-card-btn {
	display: none;
	margin: 0 auto 7px auto;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #a8adb4;
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0l-.001 4H10v2H6v4H4V6H0V4h3.999L4 0h2z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 10px 10px;
}

.disk-file-control-panel-card-file .disk-file-control-panel-card,
.disk-file-thumb {
	position: relative;
	display: inline-block;
	padding: 0 11px;
	width: 120px;
	height: 122px;
	border-radius: 12px;
	background-color: #fff;
	text-align: center;
	transition: box-shadow .3s;
	clip-path: none;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.09);
	box-sizing: border-box;
	cursor: pointer;
}

.disk-file-control-panel-file-wrap {
	display: grid;
	align-items: center;
	grid-template-columns: minmax(75px,136px) minmax(75px,136px) minmax(3px,17px) minmax(75px,136px) minmax(75px,136px) minmax(59px,136px);
	margin-bottom: 15px;
	max-height: 140px;
}

@media (max-width: 1240px) {
	.feed-add-post .disk-file-control-panel-file-wrap {
		grid-template-columns: minmax(55px, 136px) minmax(55px, 136px) minmax(6px, 12px) minmax(55px, 136px) minmax(55px, 136px) minmax(50px, 136px);
	}

	.feed-add-post .disk-file-control-panel-card-box {
		margin-right: 5px;
	}

	.feed-add-post .disk-file-control-panel-card-file .disk-file-control-panel-card {
		padding: 5px;
		min-width: 55px;
	}

	.feed-add-post .disk-file-control-panel-file-wrap .disk-file-control-panel-card-content .disk-file-control-panel-card-icon {
		background-size: 50%;
	}

	.feed-add-post .disk-file-control-panel-file-wrap .disk-file-control-panel-card-icon--upload .disk-file-control-panel-card-content .disk-file-control-panel-card-icon {
		background-size: 35%;
	}

	.feed-add-post .disk-file-control-panel-card-name {
		font: 11px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	}
}

.disk-file-control-panel-file-wrap .disk-file-control-panel-card-box {
	box-shadow: none;
}

.disk-file-control-panel-file-wrap .disk-file-control-panel-card:hover {
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.11);
}

.disk-file-control-panel-card-box:last-child {
	margin-right: 0;
}

.disk-file-control-panel-card-file .disk-file-control-panel-card {
	padding: 11px;
	width: 100%;
	height: 100%;
	max-width: 120px;
	min-width: 75px;
}

.disk-file-control-panel-file-wrap .disk-file-control-panel-card-content .disk-file-control-panel-card-icon {
	margin: 0;
	width: 65%;
	height: 65%;
}

.disk-file-control-panel-card-file .disk-file-control-panel-card:before {
	content: '';
	display: block;
	padding-top: 100%;
}

.disk-file-control-panel-card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.disk-file-thumb-box {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -13px 20px -13px;
	border-bottom: 1px solid rgba(82,92,105,.1);
}

.disk-file-thumb-box:empty {
	display: none;
}

.disk-file-thumb {
	padding: 0;
	margin: 0 10px 20px 10px;
	border: 4px solid #fff;
}

.disk-file-thumb:hover {
	box-shadow: 0 5px 6px 0 rgba(0,0,0,.22);
}

.disk-file-thumb-preview.disk-file-thumb {
	display: flex;
	flex-direction: column;
}

.--edit-text-preview.disk-file-thumb {
	transition: box-shadow .3s;
	box-shadow: 0 0 0 2px #2fc6f6;
}

.disk-file-thumb-image {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-color: #edeef0;
	background-image: url("data:image/svg+xml,%3Csvg width='81' height='74' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(-10 -18)' fill='%23B9BEC4' fill-rule='evenodd' opacity='.2'%3E%3Cpath d='M10 92h81v-5.5L69.402 64.5 58.599 75.5 31.6 48 10 69.998V92z'/%3E%3Ccircle fill-rule='nonzero' cx='76' cy='28' r='10'/%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
}

.disk-file-thumb-preview .disk-file-thumb-image {
	flex: 1;
}

.--image-contain .disk-file-thumb-image {
	background-size: contain!important;
}

/*.disk-file-thumb-loader {*/
/*	position: absolute;*/
/*	top: 50%;*/
/*	left: 50%;*/
/*	display: none;*/
/*	flex-direction: column;*/
/*	padding: 6px 8px 4px 8px;*/
/*	height: 72px;*/
/*	border-radius: 8px;*/
/*	transform: translate(-50%,-50%);*/
/*	box-sizing: border-box;*/
/*	z-index: 4;*/
/*}*/

.disk-file-thumb-loader {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	padding: 0 1px 0 6px;
	width: 100%;
	height: 29px;
	border-radius: 8px 8px 0 0;
	background-color: rgba(47,198,246,.95);
	color: #fff;
	z-index: 100;
	box-sizing: border-box;
}

.disk-file-thumb-loader .ui-progressround {
	flex-direction: row;
	width: auto;
}

.disk-file-thumb-loader .ui-progressround-status-percent-incircle {
	top: -1px;
	left: 22px;
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	transform: none;
	white-space: nowrap;
}

.disk-file-thumb-loader .ui-progressround-track svg {
	margin-right: 4px;
}

.disk-file-thumb-loader-btn {
	display: inline-block;
	margin-left: auto;
	width: 24px;
	height: 24px;
	background: url("data:image/svg+xml,%3Csvg width='11' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7.122 5.637 3.904 3.905-1.504 1.504-3.905-3.904-3.905 3.904L.207 9.542l3.905-3.905L.207 1.732 1.712.227l3.905 3.905L9.522.227l1.504 1.505z' fill='%23FFF' fill-rule='evenodd' opacity='1'/%3E%3C/svg%3E") center no-repeat;
	background-size: 11px 11px;
	transition: opacity .3s;
	opacity: .4;
	cursor: pointer;
}

.disk-file-thumb-loader-btn:hover {
	opacity: 1;
}

.disk-file-thumb-loader .ui-progressround-text-before {
	display: none;
}

.disk-file-upload-error .disk-file-thumb-loader .ui-progressround-text-before {
	display: block;
	position: absolute;
	top: 3px;
	left: 27px;
	max-width: 70px;
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.disk-file-upload-error .disk-file-thumb-loader .ui-progressround-status-percent-incircle {
	display: none;
}

.disk-file-thumb-loader .ui-progressround-text-after {
	padding-top: 14px;
	max-width: 60px;
	font-size: 9px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	opacity: .7;
}

.disk-file-thumb-loader .ui-progressround-track {
	display: flex;
	margin: 0;
}

.disk-file-thumb-loader-size {
	order: 2;
	font: 11px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c69;
}

.disk-file-thumb-icon {
	display: none;
	margin: 22px auto 2px auto;
	width: 42px;
	height: 42px;
}

.disk-file-thumb-text-box {
	display: flex;
	align-items: center;
	height: 47px;
}

.disk-file-thumb-preview .disk-file-thumb-text-box {
	height: auto;
}

.disk-file-thumb-text {
	display: none;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	padding: 0 6px;
	margin-bottom: 6px;
	font: 11px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: rgba(82,92,105,.8);
	overflow: hidden;
	max-width: 100%;
	width: 100%;
	word-break: break-all;
	box-sizing: border-box;
}

.disk-file-thumb.disk-file-thumb-file .disk-file-thumb-image {
	display: none;
}

.disk-file-thumb.disk-file-thumb-file .disk-file-thumb-icon {
	display: block;
}

.disk-file-thumb.disk-file-thumb-file .disk-file-thumb-text,
.disk-file-thumb-preview .disk-file-thumb-text {
	display: -webkit-box;
}

.disk-file-thumb-preview .disk-file-thumb-text {
	padding: 4px 6px 0 6px;
	margin-bottom: 6px;
	height: auto;
	max-height: 49px;
	font-size: 12px;
	color: #525c69;
	line-height: 13px;
	box-sizing: border-box;
}

.disk-file-thumb-file-name {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	max-width: 100%;
	word-break: break-all;
}

.disk-file-thumb-file-extension {
	display: inline-block;
	margin-left: -3px;
	font: 12px/13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #a8adb4;
}

/*region Upload region */
.disk-file-thumb--active.disk-file-thumb:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 8px;
	background-color: #fff;
	opacity: .8;
	z-index: 1;
}

.disk-file-thumb--active .disk-file-thumb-loader {
	display: flex;
}

.disk-file-upload-error .disk-file-thumb-loader {
	background-color: rgba(255,87,82,.95);
}

.disk-file-upload-error.disk-file-thumb--active.disk-file-thumb:before {
	background-color: #FF5752;
	opacity: .2;
}

.disk-file-upload-error .task-report-circle-bar {
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.98.15a8.85 8.85 0 1 1 0 17.7 8.85 8.85 0 0 1 0-17.7Zm.001 2.893a5.957 5.957 0 1 0 0 11.914 5.957 5.957 0 0 0 0-11.914ZM8.98 11a1 1 0 1 1 0 2 1 1 0 0 1 0-2Zm1-6v5h-2V5h2Z' fill='%23FFF' fill-rule='evenodd' opacity='.7'/%3E%3C/svg%3E");
	transform: none;
}

.disk-file-upload-error .ui-progressround-track-bar-bg,
.disk-file-upload-error .ui-progressround-track-bar-progress {
	display: none;
}

/*endregion*/

.disk-file-thumb-btn-box,
.disk-file-thumb-btn-close-box {
	position: absolute;
	top: -4px;
	right: -4px;
	display: flex;
	align-items: center;
	padding: 0 4px ;
	border-radius: 0 14px 0 8px;
	background-color: #fff;
	transition: box-shadow .15s;
	z-index: 4;
}

.disk-file-thumb-btn-close-box {
	left: -4px;
	right: auto;
	width: 0;
	border-radius: 14px 0 8px 0;
	transition: width .15s;
	opacity: 0;
	pointer-events: none;
	box-sizing: border-box;
	overflow: hidden;
}

.disk-file-thumb:hover .disk-file-thumb-btn-close-box {
	width: 32px;
	opacity: 1;
	pointer-events: auto;
}

.disk-file-thumb-btn-close,
.disk-file-thumb-btn-more,
.disk-file-thumb-btn-text-copy {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity .3s;
	opacity: .5;
	cursor: pointer;
	z-index: 1;
}

.disk-file-thumb-btn-close,
.disk-file-thumb-btn-text-copy {
	margin-left: -24px;
	/*transform: translate(24px, 0);*/
	opacity: 0;
	transition: opacity .15s, transform .15s, margin-left .15s;
	pointer-events: none;
}

/*.disk-file-thumb:hover .disk-file-thumb-btn-box {*/
/*	box-shadow: 0 1px 0 0 rgba(82, 92, 105, .05), -1px 0 0 0 rgba(82, 92, 105, .05);*/
/*}*/

.disk-file-thumb:hover .disk-file-thumb-btn-close,
.disk-file-thumb.disk-file-thumb--active .disk-file-thumb-btn-close,
.disk-file-thumb:hover .disk-file-thumb-btn-text-copy,
.--edit-text-preview .disk-file-thumb-btn-text-copy {
	margin-left: 0;
	width: 25px;
	transform: translate(0, 0);
	opacity: .5;
	pointer-events: all;
}

.--edit-text-preview .disk-file-thumb-btn-text-copy,
.disk-file-thumb:hover.--edit-text-preview .disk-file-thumb-btn-text-copy {
	opacity: 1;
}

.disk-file-thumb-btn-more {
	z-index: 2;
}

.disk-file-thumb:hover .disk-file-thumb-btn-close:hover,
.disk-file-thumb-btn-more:hover,
.disk-file-thumb:hover .disk-file-thumb-btn-text-copy:hover {
	opacity: 1;
}

.disk-file-thumb-btn-close {
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.142 5.637l3.904 3.905-1.504 1.504-3.905-3.904-3.905 3.904L.227 9.542l3.905-3.905L.227 1.732 1.732.227l3.905 3.905L9.542.227l1.504 1.505z' fill='%23525C69' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.disk-file-thumb-btn-more {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0a2 2 0 110 4 2 2 0 010-4zm6 0a2 2 0 110 4 2 2 0 010-4zm6 0a2 2 0 110 4 2 2 0 010-4z' fill='%23525C69' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.disk-file-thumb-btn-text-copy {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.708 2.034V10h-2.416V2.034H7V0h9v2.034h-3.292Zm-8.543 1.86c-.088-.398.41-.678.699-.39l2.26 2.26a.4.4 0 0 1 0 .566L4.78 8.675c-.282.281-.764.022-.69-.37.088-.454.18-.963.252-1.418a.854.854 0 0 1-.091.005H.528a.5.5 0 0 1-.5-.5v-.69a.5.5 0 0 1 .5-.5h3.723c.056 0 .11.006.164.017a19.265 19.265 0 0 0-.25-1.325Z' fill='%23525C69'/%3E%3C/svg%3E");
}

.disk-file-thumb-btn-close-box .disk-file-thumb-btn-close {
	margin-left: 0;
	opacity: .5;
}

.--edit-text-preview .disk-file-thumb-btn-text-copy {
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.708 10V2.034H18V0H9v2.034h3.292V10h2.416ZM3.811 6.025 2.69 4.908l-.914.913L3.762 7.8l.05.049 3.445-3.402-.913-.913-2.533 2.49Zm.73 4.034a4.523 4.523 0 1 1 0-9.045 4.523 4.523 0 0 1 0 9.045Z' fill='%232FC6F6'/%3E%3C/svg%3E");
}

.disk-file-control-panel-card-file .disk-file-control-panel-card-name {
	color: #525c69;
}

.disk-file-control-panel-doc-wrap .disk-file-control-panel-card-btn {
	display: block;
}

.disk-file-control-panel-card--doc .disk-file-control-panel-card-icon,
.disk-file-control-panel-card--docx .disk-file-control-panel-card-icon {
	background-image: url("data:image/svg+xml,%3Csvg width='44' height='52' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23E5E8EB' d='M0 .087h27.728L38.83 11.745v39.347H0z'/%3E%3Cpath fill='%23535C69' opacity='.3' d='M27.604.087l11.226 11.44H27.604z'/%3E%3Cpath fill='%232C77B1' fill-rule='nonzero' d='M15.53 22.96H44v14.918H15.53z'/%3E%3Cpath d='M19.452 33.976h2.031c2.602 0 4.095-1.578 4.095-3.818 0-2.195-1.38-3.715-4.005-3.715h-2.12v7.533zm1.179-1.018V27.46h.841c1.918 0 2.85 1.086 2.85 2.71 0 1.508-.753 2.788-2.828 2.788h-.863zm9.746 1.132c2.11 0 3.68-1.52 3.68-3.852 0-2.264-1.514-3.864-3.68-3.864-2.154 0-3.69 1.577-3.69 3.864 0 2.32 1.547 3.852 3.69 3.852zm0-1.018c-1.458 0-2.434-1.074-2.434-2.834s.976-2.847 2.434-2.847c1.514 0 2.435 1.143 2.435 2.847 0 1.76-.977 2.834-2.435 2.834zM41 32.57a3.456 3.456 0 01-1.795.503c-1.57 0-2.547-1.154-2.547-2.811 0-1.567.943-2.87 2.603-2.87a3.806 3.806 0 011.873.48v-1.12c-.426-.205-1.099-.377-1.895-.377-2.312 0-3.837 1.737-3.837 3.921 0 2.206 1.323 3.795 3.668 3.795a4.49 4.49 0 002.256-.572l-.326-.949z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E");
}

.disk-file-control-panel-card--xls .disk-file-control-panel-card-icon,
.disk-file-control-panel-card--xlsx .disk-file-control-panel-card-icon{
	background-image: url("data:image/svg+xml,%3Csvg width='44' height='52' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23E5E8EB' d='M0 0h28.131l10.82 11.53v39.633H0z'/%3E%3Cpath fill='%23535C69' opacity='.3' d='M27.604.087l11.226 11.44H27.604z'/%3E%3Cpath fill='%2354B51E' fill-rule='nonzero' d='M15.53 22.96H44v14.918H15.53z'/%3E%3Cpath d='M21.738 33.976h1.29l2.008-2.904 1.884 2.904h1.336l-2.48-3.818 2.558-3.715h-1.302l-1.929 2.834-1.84-2.834h-1.335l2.424 3.75-2.614 3.783zm7.626 0h3.837v-1.018h-2.659v-6.515h-1.178v7.533zm4.117-.515c.515.378 1.278.63 2.13.63 1.482 0 2.547-.802 2.547-2.116 0-2.367-3.208-2.194-3.208-3.68 0-.675.55-.904 1.11-.904.595.009 1.18.161 1.706.446v-1.086c-.382-.205-1.01-.377-1.739-.377-1.481 0-2.333.926-2.333 2.035 0 2.275 3.22 2.08 3.22 3.669 0 .731-.64.994-1.325.994a2.919 2.919 0 01-1.637-.526l-.471.915z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E");
}

.disk-file-control-panel-card--ppt .disk-file-control-panel-card-icon,
.disk-file-control-panel-card--pptx .disk-file-control-panel-card-icon {
	background-image: url("data:image/svg+xml,%3Csvg width='44' height='52' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23E5E8EB' d='M0 .087h27.728L38.83 11.745v39.347H0z'/%3E%3Cpath fill='%23535C69' opacity='.3' d='M27.604.087l11.226 11.44H27.604z'/%3E%3Cpath fill='%23E89E00' fill-rule='nonzero' d='M15.53 22.96H44v14.918H15.53z'/%3E%3Cpath d='M22.265 33.976h1.178v-2.652h.37c.662 0 1.156-.103 1.548-.275.987-.423 1.358-1.291 1.358-2.172 0-.994-.427-1.714-1.156-2.103-.426-.228-.942-.331-1.649-.331h-1.65v7.533zm1.178-3.635v-2.915h.438c.437 0 .751.08.987.217.415.251.617.697.617 1.234 0 .606-.213 1.052-.662 1.27-.224.125-.527.194-.931.194h-.449zm4.721 3.635h1.179v-2.652h.37c.662 0 1.155-.103 1.548-.275.987-.423 1.357-1.291 1.357-2.172 0-.994-.426-1.714-1.155-2.103-.427-.228-.943-.331-1.65-.331h-1.649v7.533zm1.179-3.635v-2.915h.437c.438 0 .752.08.987.217.415.251.617.697.617 1.234 0 .606-.213 1.052-.662 1.27-.224.125-.527.194-.93.194h-.45zm6.347 3.635h1.179V27.46h2.007l.337-1.017h-5.665v1.017h2.142v6.516z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E");
}

.disk-file-control-panel-card--doc .disk-file-control-panel-card-btn {
	background-color: #2c77b1;
}

.disk-file-control-panel-card--xls .disk-file-control-panel-card-btn {
	background-color: #54b51e;
}

.disk-file-control-panel-card--ppt .disk-file-control-panel-card-btn {
	background-color: #e89e00;
}

.disk-file-control-panel-card-name {
	display: block;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: rgba(82,92,105,.9);
}

.disk-file-control-panel-create .disk-file-control-panel-card {
	background-color: rgba(255,255,255,.9);
}

.disk-file-control-panel-file-wrap .disk-file-control-panel-card-icon {
	margin: 23px auto 6px auto;
	width: 60px;
	height: 60px;
}

.disk-file-control-panel-card-icon.ui-icon i,
.disk-file-control-panel-card-icon i {
	border-radius: 0;
	background-color: transparent;
}

.disk-file-control-panel-card-divider {
	display: block;
	margin-right: 16px;
	min-width: 1px;
	width: 1px;
	height: 106px;
	background-color: rgba(82,92,105,.1);
}

.disk-file-control-panel-file-wrap .disk-file-control-panel-card-divider {
	height: calc(100% - 17px);
}

.disk-file-control-panel-card-icon--docs .disk-file-control-panel-card-icon {
	background-image: url("data:image/svg+xml,%3Csvg width='38' height='26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.14 12.362h33.72c.968 0 1.752.784 1.752 1.752v8.758a2.628 2.628 0 01-2.628 2.628H3.016a2.628 2.628 0 01-2.628-2.628v-8.758c0-.968.784-1.752 1.752-1.752zm10.586 4.92c-.555 0-.899.48-.899 1.07v.774c0 .59.344 1.069.9 1.069h18.29c.554 0 .923-.479.923-1.069v-.775c0-.59-.369-1.068-.924-1.068h-18.29zm-5.77 4.082a2.433 2.433 0 100-4.865 2.433 2.433 0 000 4.865zM7.828.5H30.2a2.19 2.19 0 011.943 1.18l4.374 7.999H1.702l4.164-7.964A2.19 2.19 0 017.827.5z' fill='%23525C69' fill-rule='evenodd' opacity='.5'/%3E%3C/svg%3E");
	background-size: 38px 26px;
}

.disk-file-control-panel-card-icon--b24 .disk-file-control-panel-card-icon {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 39 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.573 0c3.11.004 5.856 1.575 7.506 3.973a7.41 7.41 0 0 1 2.506-.432c3.882.005 7.07 2.995 7.44 6.818 3.72.82 6.504 4.168 6.5 8.17-.003 4.614-3.707 8.351-8.273 8.35-.16 0-.319-.005-.477-.014H8.998c-.178 0-.354-.007-.529-.02C3.774 26.737 0 22.857 0 18.088a8.811 8.811 0 0 1 2.545-6.197 8.668 8.668 0 0 1 2.895-1.93 9.297 9.297 0 0 1 2.658-7.255 9.107 9.107 0 0 1 6.475-2.706Zm.105 9.252c-1.66 0-3.056.51-4.063.968l.619 1.848c.9-.405 1.872-.792 3.055-.792.884 0 1.714.352 1.714 1.355 0 2.289-5.3 2.623-5.776 8.344h8.46v-2.042h-5.316c.742-2.447 5.158-3.345 5.158-6.548 0-1.83-1.255-3.133-3.851-3.133Zm11.146.035h-1.731l-5.83 7.393v1.531h5.211v2.764h2.35V18.21h1.73v-1.936h-1.73V9.287ZM23.58 12.86c-.035.229-.106 1.268-.106 2.165v1.25h-1.06c-.406 0-1.254.035-1.466.053Z' fill='%232FC6F6' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-size: 39px 27px;
}

.disk-file-control-panel-card-icon--google-docs .disk-file-control-panel-card-icon {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.47 19.36A8.25 8.25 0 0 0 16 24.234c1.461 0 2.84-.39 4.045-1.063l5.276 5.23A15.561 15.561 0 0 1 16 31.5a15.608 15.608 0 0 1-12.908-6.809Zm21.991-6.993c.44 0 .818.31.9.738.183.946.275 1.921.275 2.895 0 4.392-1.869 8.352-4.848 11.166l-5.178-5.134a8.14 8.14 0 0 0 1.84-2.4H16.06a.912.912 0 0 1-.916-.908v-5.449c0-.502.41-.908.916-.908ZM2.078 8.993l5.749 5.699c-.07.429-.134.86-.134 1.308 0 .448.064.88.134 1.308l-5.749 5.699A15.218 15.218 0 0 1 .364 16c0-2.524.626-4.901 1.714-7.007ZM16 .5c3.646 0 7.195 1.28 9.993 3.604a.903.903 0 0 1 .059 1.338l-3.91 3.877a.92.92 0 0 1-1.198.084A8.21 8.21 0 0 0 16 7.766a8.25 8.25 0 0 0-7.53 4.874L3.092 7.309A15.609 15.609 0 0 1 16 .5Z' fill='%23525C69' fill-rule='evenodd' opacity='.3'/%3E%3C/svg%3E");
	background-size: 32px 32px;
}

.disk-file-control-panel-card-icon--office365 .disk-file-control-panel-card-icon {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 57 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.2' d='M55.645 5.722L35.81.055a1.417 1.417 0 00-.935.054l-34 14.167c-.527.22-.87.735-.87 1.306v36.834c0 .777.625 1.41 1.402 1.417a1.417 1.417 0 00-.434 2.763l34.001 11.333a1.418 1.418 0 00.836.014l19.834-5.667a1.417 1.417 0 001.028-1.36V7.082a1.417 1.417 0 00-1.028-1.36zM2.057 53.682l8.5-4.25c.48-.24.782-.73.782-1.266v-30.06l25.5-6.375v47.534L1.638 53.85a1.222 1.222 0 00-.201-.017c.216-.003.428-.054.62-.15z' fill='%23000'/%3E%3C/svg%3E");
	background-size: 37px 37px;
}

.disk-file-control-panel-card-icon--dropbox .disk-file-control-panel-card-icon {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 70 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.2' fill='%23000'%3E%3Cpath d='M35.969 12.036L22.844.369a1.458 1.458 0 00-1.692-.178L.736 11.858a1.458 1.458 0 00-.187 2.406L15.133 25.93a1.459 1.459 0 001.674.105L35.765 14.37a1.458 1.458 0 00.204-2.333z'/%3E%3Cpath d='M35.829 36.718L16.87 23.594a1.458 1.458 0 00-1.736.055L.552 35.2a1.458 1.458 0 00.178 2.406l20.416 11.783a1.458 1.458 0 001.628-.11l13.125-10.209a1.458 1.458 0 00-.065-2.35h-.005z'/%3E%3Cpath d='M69.451 35.319L54.868 23.652a1.459 1.459 0 00-1.75-.06L34.16 36.715a1.458 1.458 0 00-.064 2.35l13.125 10.209c.466.363 1.105.41 1.619.117l20.416-11.667a1.458 1.458 0 00.187-2.406h.008z'/%3E%3Cpath d='M69.265 11.86L48.849.194a1.458 1.458 0 00-1.692.178L34.032 12.038a1.458 1.458 0 00.204 2.333l18.958 11.667c.23.14.495.214.764.213.331 0 .652-.112.91-.318l14.584-11.667a1.458 1.458 0 00-.187-2.406zM50.295 51.917a4.375 4.375 0 01-4.853-.344L35 43.46l-10.438 8.12a4.375 4.375 0 01-4.87.335l-5.108-2.945v4.99c0 .507.263.977.694 1.242l18.958 11.667a1.458 1.458 0 001.526 0L54.72 55.2c.432-.264.696-.735.697-1.242v-4.958l-5.122 2.916z'/%3E%3C/g%3E%3C/svg%3E");
	background-size: 37px 37px;
}

.disk-file-control-panel-card-icon--upload .disk-file-control-panel-card-icon {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 29' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232FC6F6' fill-rule='evenodd'%3E%3Cpath d='m11.673 8.13 8.962 8.148a1 1 0 0 1-.673 1.74h-5.98l.001 9.7a1 1 0 0 1-1 1H9.017a1 1 0 0 1-1-1v-9.7H2.037a1 1 0 0 1-.673-1.74l8.962-8.148a1 1 0 0 1 1.346 0Z'/%3E%3Crect width='22' height='5' rx='2'/%3E%3C/g%3E%3C/svg%3E");
	background-size: 22px 29px;
}

.disk-file-control-panel-card-icon--more .disk-file-control-panel-card-icon {
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5.167a3.833 3.833 0 110 7.666 3.833 3.833 0 010-7.666zm11.5 0a3.833 3.833 0 110 7.666 3.833 3.833 0 010-7.666zm11.5 0a3.833 3.833 0 110 7.666 3.833 3.833 0 010-7.666z' fill='%23525C69' fill-rule='evenodd' opacity='.3'/%3E%3C/svg%3E");
	background-size: 32px 8px;
}

.disk-documents-ears {
	margin: 0 -7px 15px -7px;
	order: -1;
}

.disk-file-control-panel-btn-upload-box {
	display: flex;
	align-items: center;
	height: 41px;
	order: 1;
}

.disk-file-control-panel-btn-upload {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	width: 100%;
	height: 41px;
	border-radius: 12px;
	border: 2px dashed rgba(82,92,105,.15);
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: rgba(82,92,105,.5);
	text-align: center;
	transition: height .3s, border .3s;
	box-sizing: border-box;
	cursor: pointer;
}

.disk-file-control-panel-btn-upload:hover {
	border: 2px dashed rgba(82,92,105,.30);
}

.bxu-file-input-over .disk-file-control-panel-btn-upload {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border: 2px dashed #2fc6f6;
	background-color: #fff;
	font: 15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	z-index: 5;
}

.bxu-file-input-over .disk-file-control-panel-file-wrap {
	opacity: 0;
	pointer-events: none;
}

.bxu-file-input-over .disk-file-control-panel-btn-settings {
	display: none;
}

.disk-file-control-panel-btn-settings {
	display: block;
	margin-left: 10px;
	width: 32px;
	height: 32px;
	background: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.691 11.078a3.158 3.158 0 01-3.769-3.77c.23-1.075 1.31-2.157 2.386-2.386a3.158 3.158 0 013.77 3.77 3.106 3.106 0 01-2.387 2.386zM13.83 6.57c-.113-.46-.276-.901-.488-1.313a.05.05 0 01.006-.053l.994-1.234a.7.7 0 00-.021-.905l-.63-.71a.7.7 0 00-.897-.127l-1.355.852a5.962 5.962 0 00-1.969-.895.05.05 0 01-.037-.04L9.173.586A.7.7 0 008.484 0h-.95a.698.698 0 00-.69.585l-.26 1.562a.05.05 0 01-.037.04 5.96 5.96 0 00-1.624.674.05.05 0 01-.053-.002l-1.263-.901a.7.7 0 00-.902.074l-.671.672a.7.7 0 00-.074.902l.903 1.265a.05.05 0 01.002.054 5.976 5.976 0 00-.669 1.611.05.05 0 01-.04.037l-1.57.262a.7.7 0 00-.585.69v.95a.7.7 0 00.585.69l1.57.262a.05.05 0 01.04.037c.118.469.287.918.508 1.335a.05.05 0 01-.005.054l-.99 1.226a.7.7 0 00.021.905l.63.71a.7.7 0 00.897.127l1.348-.846a.05.05 0 01.053 0 5.96 5.96 0 001.92.846l.267 1.594a.698.698 0 00.69.585h.95a.7.7 0 00.69-.585l.26-1.562a.05.05 0 01.036-.04 5.952 5.952 0 001.605-.663.05.05 0 01.053.002l1.317.94c.277.2.66.169.901-.074l.672-.671a.698.698 0 00.073-.902l-.937-1.314a.05.05 0 01-.002-.054c.298-.496.526-1.039.67-1.616a.05.05 0 01.04-.037l1.553-.259a.699.699 0 00.585-.69v-.95a.7.7 0 00-.585-.69l-1.585-.264z' fill='%23525C69' fill-rule='evenodd' opacity='1'/%3E%3C/svg%3E") center no-repeat;
	background-size: 16px 16px;
	transition: opacity .3s;
	opacity: .4;
	cursor: pointer;
}

.disk-file-control-panel-btn-settings:hover {
	opacity: 1;
}
/* region Popup */

.disk-uf-file-popup-settings .menu-popup-item-take .menu-popup-item-icon {
	background: url("data:image/svg+xml,%3Csvg width='12' height='9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.36 3.446L4.013 6.1 10.316 0l1.36 1.36-6.3 6.1-1.363 1.36-1.36-1.36L0 4.806z' fill='%232066B0' fill-rule='nonzero'/%3E%3C/svg%3E") center no-repeat;
}
.disk-uf-file-popup-settings .menu-popup-item-auto .menu-popup-item-icon:after {
	content: "Auto";
	display: inline-block;
	width: 100%;
	font-size: 70%;
	text-align: center;
}
.menu-popup-item-storage .menu-popup-item-icon {
	background: url("data:image/svg+xml,%3Csvg width='13' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.995 3.205v8.926H.011V3.205h12.984zM7.315.77l1.623 1.623H.01V.77h7.304z' fill='%239CA3AD' fill-rule='evenodd'/%3E%3C/svg%3E") center 0 no-repeat;
}

.menu-popup-item-rename.menu-popup-item-submenu::after {
	display: none;
}

.menu-popup-item.menu-popup-item-rename-form {
	height: auto;
}

.menu-popup-item-rename-form .menu-popup-item-icon {
	display: none;
}

.menu-popup-item-rename-form.menu-popup-item:hover{
	background-color: transparent;
}

.menu-popup-item-rename-form .menu-popup-item-text {
	padding: 10px 20px;
}

.menu-popup-item-rename-form .ui-btn-container {
	margin: 0;
}

.menu-popup-item-rename-form textarea {
	padding: 10px;
	height: 90px;
	margin: 0;
	border: 1px solid #c6cdd3;
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #333;
	box-sizing: border-box;
	width: 100%;
}

/* endregion */

.disk-file-thumb-icon.ui-icon-more i {
	background: transparent url("data:image/svg+xml,%3Csvg width='32' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5.167a3.833 3.833 0 110 7.666 3.833 3.833 0 010-7.666zm11.5 0a3.833 3.833 0 110 7.666 3.833 3.833 0 010-7.666zm11.5 0a3.833 3.833 0 110 7.666 3.833 3.833 0 010-7.666z' fill='%23525C69' fill-rule='evenodd' opacity='.3'/%3E%3C/svg%3E") center no-repeat;
	background-size: 32px 8px;
}

.disk-file-thumb--animate {
	animation: disk-file-thumb--animate .5s cubic-bezier(.44, .99, .48, 1);
}

@keyframes disk-file-thumb--animate {
	0% {
		transform: scale(.8);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.disk-uf-file__popup-menu_item .menu-popup-item-text {
	display: flex;
	align-items: center;
}

.disk-uf-file__popup-menu_item .ui-icon-set {
	margin-right: 3px;
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-70);
}
