.btn-add-field {background-image:url(images/add_field.gif);}
.btn-edit-list {background-image:url(images/edit_list.gif);}
.btn-view-elements {background-image:url(images/view_elements.gif);}
.btn-view-fields {background-image:url(images/view_fields.gif);}

.ajax-mode-err-container { margin: 0 0 16px 0; }



.crm-type-ui-card-message {
    position: relative;
    padding: 23px 40px 15px 24px;
    margin: 0 0 35px 0;
    border-radius: var(--ui-border-radius-sm, 4px);
    background: #eefafe;
}

.crm-type-ui-card-message .crm-type-ui-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.crm-type-ui-card-message-icon {
    width: 39px;
    height: 39px;
    margin-right: 11px;
    border-radius: 50%;
    background-color: #2fc6f6;
    background-position: center;
    background-repeat: no-repeat;
}

.crm-type-ui-card-message-icon--directions {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.08.924a3 3 0 012.28 1.05l2.627 3.07a3 3 0 01.721 1.95V18.93a1.929 1.929 0 01-1.929 1.929H2.418a1.929 1.929 0 01-1.93-1.929V2.853c0-1.065.864-1.93 1.93-1.93h8.663zm.19 2.387H2.731V18.6H14.49V6.964L11.27 3.31zM6.64 7.528l1.183 1.226-2.199 2.276 1.86 1.926 1.202-1.245v3.715H5.098L6.3 14.182 4.599 12.42a2 2 0 010-2.78l2.04-2.112zm5.608-.388l-1.202 1.244 1.7 1.761a2 2 0 010 2.78l-2.04 2.112-1.184-1.226 2.2-2.276-1.86-1.925-1.202 1.244V7.14h3.588z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.crm-type-ui-card-message-icon--kanban {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.135 7.873c.257 0 .54.198.63.442l1.632 3.126a.744.744 0 010 .44l-1.632 3.128a.725.725 0 01-.63.442H5.283l-.002-4.863h12.263c.237 0 .497-.158.628-.37l.054-.109 1.182-2.236h.727zM15.818.137a.73.73 0 01.581.341l1.572 3.228a.744.744 0 010 .44l-1.522 3.127a.725.725 0 01-.63.442H.965V.137h14.852z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.crm-type-ui-card-message-icon--custom-fields {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M16.3 0a.7.7 0 01.7.7v6.6a.7.7 0 01-.7.7H.7a.7.7 0 01-.7-.7V.7A.7.7 0 01.7 0h15.6zM15 2H2v4h13V2zM16.3 11a.7.7 0 01.7.7v6.6a.7.7 0 01-.7.7H.7a.7.7 0 01-.7-.7v-6.6a.7.7 0 01.7-.7h15.6zM15 13H2v4h13v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

.crm-type-ui-card-message-title {
    font: 21px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
    color: #333;
    margin-top: -5px;
}

.crm-type-ui-card-message-description {
    font: 13px/20px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: #525c69;
    margin-bottom: 14px;
}

.crm-type-ui-card-message-close-button {
    position: absolute;
    cursor: pointer;
    right: 8px;
    top: 8px;
    height: 20px;
    width: 20px;
    opacity: .3;
    transition: 250ms all ease;
}

.crm-type-ui-card-message-close-button:hover {
    opacity: 1;
}

.crm-type-ui-card-message-close-button::before,
.crm-type-ui-card-message-close-button::after {
    position: absolute;
    content: '';
    display: block;
    background-color: #515e68;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    -ms-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.crm-type-ui-card-message-close-button::after {
    width: 2px;
    height: 10px;
}

.crm-type-ui-card-message-actions {
    margin-top: -5px;
}

.crm-type-ui-card-message-without-angle::after {
    display: none;
}

[data-tab="common"] .crm-type-ui-card-message {
    margin-bottom: 14px;
}
