.intranet-settings-widget__logo-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 2px;
	min-width: 24px;
	height: 24px;
	cursor: pointer;
}

.intranet-settings-widget__logo-btn .ui-icon-set {
	margin-top: 3px;
	--ui-icon-set__icon-size: 19px;
	--ui-icon-set__icon-color: rgba(var(--ui-color-background-primary-rgb), var(--ui-opacity-50));
	transition: background-color .3s;
}

.intranet-settings-widget__logo-btn .ui-icon-set:hover {
	--ui-icon-set__icon-color: rgba(var(--ui-color-background-primary-rgb), var(--ui-opacity-70));
}

.bitrix24-dark-theme .intranet-settings-widget__logo-btn .ui-icon-set {
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-70));
}

.bitrix24-dark-theme .intranet-settings-widget__logo-btn .ui-icon-set:hover {
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-90));
}


.intranet-settings-widget__container {
	overflow: hidden;
}

/* -- Skeleton  -- */

.intranet-widget-skeleton__wrap {
	padding: 0 12px 12px 12px;
	width: 374px;
	border-radius: 20px;
	background: rgba(247, 248, 249, .88);
	box-shadow: 0 12px 27px rgba(0, 0, 0, .14);
	backdrop-filter: blur(20px);
	box-sizing: border-box;
	overflow: hidden;
}

.intranet-widget-skeleton__header {
	padding: 28px 28px 44px 28px;
	margin: -13px -12px -23px -23px;
	height: 80px;
	background: #d9d9d9;
	box-sizing: border-box;
}

.intranet-widget-skeleton__row {
	display: flex;
	margin-bottom: 12px;
}

.intranet-widget-skeleton__item {
	display: flex;
	align-items: center;
	padding: 12px;
	width: 100%;
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.94);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .09);
}

.intranet-widget-skeleton__item + .intranet-widget-skeleton__item {
	margin-left: 8px;
}

.intranet-widget-skeleton__item.--column {
	flex-direction: column;
}

.intranet-widget-skeleton__line,
.intranet-widget-skeleton__btn {
	position: relative;
	width: 100%;
	height: 6px;
	border-radius: 20px;
	background: #dfe0e3;
	overflow: hidden;
}

.intranet-widget-skeleton__line:before,
.intranet-widget-skeleton__line:after,
.intranet-widget-skeleton__btn:before,
.intranet-widget-skeleton__btn:after,
.intranet-widget-skeleton__circle:before,
.intranet-widget-skeleton__circle:after {
	content: '';
	display: block;
	position: absolute;
	left: -100%;
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, transparent 0%, #ededed 50%, transparent 100%);
	animation: intranet-widget-load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

.intranet-widget-skeleton__header .intranet-widget-skeleton__line {
	background: #edeef0;
}

.intranet-widget-skeleton__circle {
	position: relative;
	border-radius: 100%;
	background: #d9d9d9;
	overflow: hidden;
}

.intranet-widget-skeleton__footer {
	display: flex;
	justify-content: center;
}

.intranet-widget-skeleton__footer .intranet-widget-skeleton__line {
	margin-right: 12px;
}

.intranet-widget-skeleton__footer .intranet-widget-skeleton__line:last-child {
	margin-right: 0;
}

@keyframes intranet-widget-load {
	0% {
		left: -100%;
	}
	100% {
		left: 100%;
	}
}

/* -- Spotlight usage only  -- */
.header-logo-block .intranet-settings-widget__logo-btn {
	visibility: hidden;
}

.menu-collapsed-mode .header-logo-block .intranet-settings-widget__logo-btn {
	visibility: visible;
}

.menu-scroll-mode .menu-items-block .intranet-settings-widget__logo-btn {
	visibility: hidden;
}

.intranet-settings-widget-spotlight__wrapper {
	display: flex;
	flex-direction: column;
}

.intranet-settings-widget-spotlight__title {
	font-size: var(--ui-font-size-3xl, 22px);
	font-weight: var(--ui-font-weight-light, 300);
	color: var(--ui-color-palette-black-solid, #000000);
	text-align: left;
	margin-bottom: 10px;
}

.intranet-settings-widget-spotlight__description {
	font-size: var(--ui-font-size-lg, 15px);
	font-weight: var(--ui-font-weight-normal, 400);
	color: var(--ui-color-palette-gray-90, #525c69);
	text-align: left;
}
