.tasks-util-proc-popup-content {
  width: 400px;
}
.task-message-label {
  max-height: 297px;
  overflow-y: hidden;
}
.tasks-proc-notification-wrap.invisible {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.tasks-proc-notification {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex- start;
  -ms-flex-pack: start;
  justify-content: flex- start;
  -webkit-align-content: flex- start;
  -ms-flex-line-pack: start;
  align-content: flex- start;
  -webkit-align-items: flex- start;
  -ms-flex-align: start;
  align-items: flex- start;
}
.tasks-proc-notification-text {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 10px;
}
.tasks-proc-notification-buttons {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  position: relative;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.tasks-proc-notification-buttons .tasks-proc-notification-btn-start {
  margin-right: 25px;
}
.tasks-proc-notification-buttons .tasks-proc-notification-btn-cancel {
  position: absolute;
  top: 5px;
  right: -6px;
}
