div.bx-struct-item {
    border: 1px solid white;
    clear: both;
}
div.bx-struct-plus {
    background-image: url("images/signplus.gif");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 16px;
    width: 16px;
}
div.bx-struct-minus {
    background-image: url("images/signminus.gif");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 16px;
    width: 16px;
}
div.bx-struct-dot {
    background-image: url("images/signdot.gif");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    width: 16px;
}
div.bx-struct-name {
    border: 1px solid white;
    cursor: pointer;
    float: left;
    padding: 2px 11px 2px 2px;
}
div.bx-struct-name-over, div.bx-struct-item div.pressed {
    background-color: #E3E7F1;
    background-image: url("images/arr_down.gif");
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #B8C1DD;
}
div.bx-struct-item div.pressed {
    background-color: #CEDAEE;
}
div.bx-struct-sub {
    clear: both;
    margin-left: 18px;
}
div.bx-struct-dir {
    background-image: url("images/folder.gif");
    background-position: left center;
    background-repeat: no-repeat;
    cursor: move;
    float: left;
    height: 16px;
    margin: 0 2px;
    width: 16px;
}
div.bx-struct-file {
    background-image: url("images/file.gif");
    background-position: 18px center;
    background-repeat: no-repeat;
    cursor: move;
    float: left;
    height: 16px;
    margin: 0 2px 0 0;
    width: 34px;
}
div.bx-struct-settings {
    background-image: url("images/arr_down.gif");
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #B8C1DD;
    cursor: pointer;
    float: left;
    margin: 3px;
    padding: 3px 11px 3px 3px;
}
div.bx-struct-button {
    background-image: none;
    padding-right: 3px;
}
div.bx-struct-settings-over {
    background-color: #E1E6F0;
}
div.bx-struct-name-drag {
    background-color: #D3D3D3;
    border: 1px solid #BBBBBB;
}
div.bx-struct-selected {
	font-weight: bold;
}
div.bx-struct-drag {
    background-color: #D6DCEB;
    color: black !important;
    font-family: Verdana,Arial,sans-serif !important;
    font-size: 11px !important;
    opacity: 0.8;
    padding: 3px;
}
div.bx-struct-dragover {
    background-color: #D3D3D3;
    background-image: none;
    border: 1px solid #BBBBBB;
    cursor: move;
}
div.bx-struct-type-css {
    background-image: url("/bitrix/images/fileman/types/css.gif");
}
div.bx-struct-type-htaccess {
    background-image: url("/bitrix/images/fileman/types/htaccess.gif");
}
div.bx-struct-type-html {
    background-image: url("/bitrix/images/fileman/types/html.gif");
}
div.bx-struct-type-png {
    background-image: url("/bitrix/images/fileman/types/png.gif");
}
div.bx-struct-type-gif {
    background-image: url("/bitrix/images/fileman/types/gif.gif");
}
div.bx-struct-type-jpeg {
    background-image: url("/bitrix/images/fileman/types/jpeg.gif");
}
div.bx-struct-type-js {
    background-image: url("/bitrix/images/fileman/types/js.gif");
}
div.bx-struct-type-php {
    background-image: url("/bitrix/images/fileman/types/php.gif");
}
div.bx-struct-type-txt {
    background-image: url("/bitrix/images/fileman/types/txt.gif");
}
div.bx-struct-type-xml {
    background-image: url("/bitrix/images/fileman/types/xml.gif");
}
div.bx-struct-type-csv {
    background-image: url("/bitrix/images/fileman/types/csv.gif");
}
div.bx-struct-type-flash {
    background-image: url("/bitrix/images/fileman/types/flash.gif");
}
div.bx-struct-type-file {
    background-image: url("/bitrix/images/fileman/types/file.gif");
}

