.bx-selector-include .bx-selector-field {padding-bottom: 5px;}
.bx-selector-include .bx-selector-field input, .bx-selector-include .bx-selector-field select {width: 100%; }
.bx-selector-include .bx-selector-buttons {padding: 5px 0px;}

.bx-selector-include .bx-selector-buttons {text-align: right;}