.task-view-buttonset.timer-overtime .task-timeman-text {
	color: red !important;
}
.task-view-buttonset.timer-running .task-timeman-text {
	color: #92ad5e;
}

.task-view-button,
.task-timeman-link,
.task-more-button {
	display: none !important;
}

.task-view-buttonset.timer-start .task-view-button.timer-start,
.task-view-buttonset.timer-pause .task-view-button.timer-pause,
.task-view-buttonset.pause .task-view-button.pause,
.task-view-buttonset.start .task-view-button.start,
.task-view-buttonset.complete .task-view-button.complete,
.task-view-buttonset.approve .task-view-button.approve,
.task-view-buttonset.disapprove .task-view-button.disapprove,
.task-view-buttonset.edit .task-view-button.edit,
.task-view-buttonset.timer-visible .task-timeman-link,
.task-view-buttonset.more-button .task-more-button {
	display: inline-block !important;
}

.task-view-buttonset.inactive {
	opacity: 0.5;
}
.task-view-buttonset.inactive * {
	cursor: default !important;
}

/*timeman indicator*/

.task-timeman-text {
	color: #737373;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	font-weight: bold;
	min-width: 60px;
}

.task-timeman-link-popup .task-timeman-text {
	border-bottom: 1px dashed #737373;
}

.task-timeman-link-popup:hover .task-timeman-text {
	color: #585858;
	border-bottom: 1px dashed #585858;
}

.task-timeman-link {
	display: inline-block;
	margin-left: 2px;
	margin-right: 5px;
	vertical-align: middle;
	padding: 0 0 0 18px;
	position: relative;
	line-height: 15px;
}

.task-timeman-link-popup {
	cursor: pointer;
	padding-right: 13px;
}

.task-timeman-icon {
	background: url(/bitrix/js/tasks/css/images/task-sprite_8.png?2) no-repeat -21px -1141px;
	height: 15px;
	left: 0;
	bottom: 0;
	opacity: 0.8;
	position: absolute;
	width: 15px;
}

.task-timeman-link-popup .task-timeman-icon {
	top: 2px;
}

.task-button-icon-pause {
	background: url(/bitrix/js/tasks/css/images/task-sprite_8.png?2) no-repeat 0 -1137px;
	margin-right: 4px;
	width: 7px;
}

.webform-small-button:active .task-button-icon-pause{
	background-position: 0 -1136px;
}