.task-form-field .task-form-field-item[data-bx-type~="group"] {
  background: #ffd5d5;
}
.task-form-field .task-form-field-item[data-bx-type~="group"] .task-form-field-item-text {
  color: #b54827;
}
.task-form-field .task-form-field-item[data-bx-type~="group"].hover-delete {
  background-color: #ffa2a2;
}
.task-form-field .task-form-field-item[data-bx-type~="extranet"],
.task-form-field .task-form-field-item[data-bx-type~="mail"] {
  background: #ffed8b;
}
.task-form-field .task-form-field-item[data-bx-type~="extranet"] .task-form-field-item-text,
.task-form-field .task-form-field-item[data-bx-type~="mail"] .task-form-field-item-text {
  color: #bf7700;
}
.task-form-field .task-form-field-item[data-bx-type~="extranet"].hover-delete,
.task-form-field .task-form-field-item[data-bx-type~="mail"].hover-delete {
  background-color: #ffe558;
}
.task-form-field .task-form-field-item[data-bx-type~="extranet"] .task-form-field-item-text:before {
  display: inline-block;
  background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -351px;
}
.task-form-field .task-form-field-item[data-bx-type~="mail"] .task-form-field-item-text:before {
  display: inline-block;
  background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -366px;
}
.task-form-field .task-form-field-item[data-bx-type~="department"] {
  background: #e2e3e5;
}
.task-form-field .task-form-field-item[data-bx-type~="department"] .task-form-field-item-text {
  color: #535c69;
}
.task-form-field .task-form-field-item[data-bx-type~="department"].hover-delete {
  background-color: #c7c9cd;
}
