.bx-call-message__scope {
	--call-message__padding-top_body: 14px;
	--call-message__padding-right_body: 14px;
	--call-message__padding-bottom_body: 14px;
	--call-message__padding-left_body: 14px;
	--call-message__padding_body:
		var(--call-message__padding-top_body)
		var(--call-message__padding-right_body)
		var(--call-message__padding-bottom_body)
		var(--call-message__padding-left_body)
	;

	--call-message__border-radius: 10px;

	--call-message__text_primary-color: #333;

	--call-message__font-color_date: rgba(82, 92, 105, 0.40);
}

.bx-call-message__container {
	display: flex;
	flex-direction: column;
	padding: var(--call-message__padding_body);
	border-radius: var(--call-message__border-radius);
}

.bx-call-message__content-wrapper {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.bx-call-message__content {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.bx-call-message__icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.10);
	background-position: center;
	background-repeat: no-repeat;
	flex-shrink: 0;
}

.bx-call-message__icon--primary {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4898 9.16245L13.5108 10.6311C14.1215 11.081 14.1688 11.9701 13.6054 12.4772C11.4924 14.4356 7.97177 15.1958 3.33697 10.4435C-1.2979 5.69121 -0.376129 2.28926 1.73683 0.330898C2.29964 -0.176043 3.19623 -0.0921704 3.62458 0.52528L5.03805 2.53011C5.5331 3.26605 5.22041 4.26872 4.46091 4.76034L3.61245 5.30957C3.41748 5.43002 3.36316 5.6824 3.46778 5.87581C4.56505 7.74363 6.15032 9.3805 8.00435 10.5535C8.18926 10.657 8.45482 10.6035 8.58372 10.4328L9.18285 9.60919C9.70675 8.89133 10.7721 8.63946 11.4898 9.16245Z' fill='%2311A9D9'/%3E%3C/svg%3E");
}

.bx-call-message__icon--secondary {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4898 9.16245L13.5108 10.6311C14.1215 11.081 14.1688 11.9701 13.6054 12.4772C11.4924 14.4356 7.97177 15.1958 3.33697 10.4435C-1.2979 5.69121 -0.376129 2.28926 1.73683 0.330898C2.29964 -0.176043 3.19623 -0.0921704 3.62458 0.52528L5.03805 2.53011C5.5331 3.26605 5.22041 4.26872 4.46091 4.76034L3.61245 5.30957C3.41748 5.43002 3.36316 5.6824 3.46778 5.87581C4.56505 7.74363 6.15032 9.3805 8.00435 10.5535C8.18926 10.657 8.45482 10.6035 8.58372 10.4328L9.18285 9.60919C9.70675 8.89133 10.7721 8.63946 11.4898 9.16245Z' fill='%23959CA4'/%3E%3C/svg%3E");
}

.bx-call-message__icon--danger {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4898 9.16245L13.5108 10.6311C14.1215 11.081 14.1688 11.9701 13.6054 12.4772C11.4924 14.4356 7.97177 15.1958 3.33697 10.4435C-1.2979 5.69121 -0.376129 2.28926 1.73683 0.330898C2.29964 -0.176043 3.19623 -0.0921704 3.62458 0.52528L5.03805 2.53011C5.5331 3.26605 5.22041 4.26872 4.46091 4.76034L3.61245 5.30957C3.41748 5.43002 3.36316 5.6824 3.46778 5.87581C4.56505 7.74363 6.15032 9.3805 8.00435 10.5535C8.18926 10.657 8.45482 10.6035 8.58372 10.4328L9.18285 9.60919C9.70675 8.89133 10.7721 8.63946 11.4898 9.16245Z' fill='%23FF5752'/%3E%3C/svg%3E");
}

.bx-call-message__icon--active {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4898 9.16245L13.5108 10.6311C14.1215 11.081 14.1688 11.9701 13.6054 12.4772C11.4924 14.4356 7.97177 15.1958 3.33697 10.4435C-1.2979 5.69121 -0.376129 2.28926 1.73683 0.330898C2.29964 -0.176043 3.19623 -0.0921704 3.62458 0.52528L5.03805 2.53011C5.5331 3.26605 5.22041 4.26872 4.46091 4.76034L3.61245 5.30957C3.41748 5.43002 3.36316 5.6824 3.46778 5.87581C4.56505 7.74363 6.15032 9.3805 8.00435 10.5535C8.18926 10.657 8.45482 10.6035 8.58372 10.4328L9.18285 9.60919C9.70675 8.89133 10.7721 8.63946 11.4898 9.16245Z' fill='%238DBB00'/%3E%3C/svg%3E");
}

.bx-call-message__text {
	font: 13px/normal var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-medium, 500);
	color: var(--call-message__text_primary-color);
	margin-bottom: 2px;
}

.bx-call-message__date {
	color: var(--call-message__font-color_date);
}

.bx-call-message__reaction-list {
	margin-top: 0;
}
