.bic-export-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.bic-export-body {
	padding: 2px 18px;
	flex-grow: 1;
}

.bic-export-header {
	padding: 15px 36px 15px 18px;
}

.bic-export-subtitle {
	font-size: 13px;
	font-weight: 500;
	line-height: 18px;
	text-align: left;
	color: var(--ui-color-palette-gray-70);
}

.bic-export-dashboard-title {
	margin-top: 4px;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
	color: var(--ui-color-base-default);
}

.bic-setting-value.ui-switcher {
	margin-top: 10px;
}

.bic-export-hint {
	padding: 16px 0 9px 0;
	font-size: 14px;
	color: var(--ui-color-palette-gray-90);
}

.bic-setting-item-export-with-settings {
	margin-top: 12px;
}

.bic-setting-item {
	margin-top: 10px;
}

.bic-setting-title {
	display: flex;
	align-items: center;
	font-size: 13px;
	color: var(--ui-color-palette-gray-50);
	transition: .3s ease;
}

.bic-setting-value {
	font-size: 14px;
	color: var(--ui-color-palette-gray-90);
	margin-top: 4px;
}

.bic-settings-link {
	color: var(--ui-color-palette-gray-70);
	border-bottom: 1px dashed var(--ui-color-palette-gray-70);
	cursor: pointer;
}

.bic-scopes-not-to-export {
	color: var(--ui-color-palette-gray-50);
}

.bic-scope-hint-icon {
	margin-left: 2px;
	--ui-icon-set__icon-size: 15px;
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-50);
}

.bic-export-separator {
	border-top: 1px solid var(--ui-color-palette-gray-15);
}

.bic-export-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 14px 18px;
}

.bic-export-button {
	align-items: flex-end;
	vertical-align: bottom;
	min-width: 140px;
	text-transform: none;
}

.bic-setting-item.disabled .bic-setting-title,
.bic-setting-item.disabled .bic-setting-value,
.bic-settings-link.disabled,
.bic-export-hint.disabled {
	display: none;
}
