.crm-report-sales-target-config-button {
	vertical-align: middle;
	padding: 0 12px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
	line-height: 26px;
	height: 26px;
	border-radius: 15px;
	background: rgba(125, 214, 243, .2);
	transition: .1s;
	font-size: 12px;
	color: #828B95;
	cursor: pointer;
}

.crm-report-sales-target-config-button:hover {
	background: rgba(125, 214, 243, .28);
	color: #525C69;
}

.report-visualconstructor-dashboard-widget-dark .crm-report-sales-target-config-button {
	background: rgba(255, 255, 255, .1);
	color: rgba(255,255,255,.65);
}

.report-visualconstructor-dashboard-widget-dark .crm-report-sales-target-config-button:hover {
	background: rgba(255, 255, 255, .2);
	color: rgba(255,255,255,1);
	transition: .5s;
}