.bx-sign-user-party-popup .bx-user-party-popup-popup {
	background-color: var(--ui-color-palette-white-base);
	display: block;
	max-height: 200px;
	margin: 0 0 2px 0;
	padding: 0 8px 8px 8px;
	overflow-y: hidden;
	overflow-x: hidden;
	width: auto;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.bx-sign-user-party-popup .bx-user-party-popup-popup-head {
	display: flex;
	margin: 0 0 10px 0;
	border-bottom: 1px solid var(--ui-color-palette-gray-30);
}
.bx-sign-user-party-popup .bx-user-party-popup-popup-head-item {
	display: flex;
	align-items: center;
	margin: 0 11px 0 0;
	height: 35px;
	border-bottom: 2px solid transparent;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: var(--ui-color-palette-gray-90);
	transition: all .3s;
	white-space: nowrap;
	cursor: pointer;
}
.bx-sign-user-party-popup .bx-user-party-popup-popup-head-item:hover {
	border-color: var(--ui-color-palette-gray-30);
}
.bx-sign-user-party-popup .bx-user-party-popup-popup-head-item:last-child {
	margin: 0;
}
.bx-sign-user-party-popup .bx-user-party-popup-popup-head-item:first-child {
	margin: 0 17px 0 0;
}
.bx-sign-user-party-popup .bx-user-party-popup-popup-head-icon {
	margin: 0 2px 0 0;
}
.bx-sign-user-party-popup .bx-user-party-popup-popup-head-item-current {
	border-color: var(--ui-color-palette-blue-50);
	cursor: default;
	pointer-events: none;
}
.bx-sign-user-party-popup .bx-user-party-popup-popup-content-container {
	display: block;
	min-height: 180px;
	max-height: 180px;
	overflow-y: auto;

	scrollbar-track-color: var(--ui-color-palette-gray-02);
	scrollbar-base-color: var(--ui-color-palette-gray-30);
	scrollbar-shadow-color: var(--ui-color-palette-gray-30);
	scrollbar-highlight-color: var(--ui-color-palette-gray-30);
}

.bx-sign-user-party-popup .bx-user-party-popup-popup-content-container::-webkit-scrollbar {
	width: 6px;
}
.bx-sign-user-party-popup .bx-user-party-popup-popup-content-container::-webkit-scrollbar-track {
	border-radius: 3px;
	background: rgba(216,216,216,.2);
}
.bx-sign-user-party-popup .bx-user-party-popup-popup-content-container::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: var(--ui-color-palette-gray-30);
}

.bx-sign-user-party-popup .bx-user-party-popup-popup-content-container.bx-user-party-popup-popup-content-invisible {
	display: none;
}

.bx-sign-user-party-popup .bx-user-party-popup-popup-user-item {
	display: flex;
	align-items: center;
	margin: 0 0 8px 0;
	cursor: pointer;
	position: relative;
}
.bx-sign-user-party-popup .bx-user-party-popup-popup-user-item:hover .bx-user-party-popup-popup-user-name {
	text-decoration: underline;
}
.bx-sign-user-party-popup .bx-user-party-popup-popup-user-item:last-child {
	margin: 0;
}

.bx-sign-user-party-popup .bx-user-party-popup-popup-user-icon {
	display: inline-block;
	margin: 0 8px 0 0;
	width: 20px;
	height: 20px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2089%2089%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23535C69%22%20cx%3D%2244.5%22%20cy%3D%2244.5%22%20r%3D%2244.5%22/%3E%3Cpath%20d%3D%22M68.18%2071.062c0-3.217-3.61-16.826-3.61-16.826%200-1.99-2.6-4.26-7.72-5.585a17.363%2017.363%200%200%201-4.887-2.223c-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.695%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04a27.076%2027.076%200%200%200%200-7.918c-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217a7.147%207.147%200%200%201-.14%201.732c-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16-.78%203.093-3.095%2015.32-3.095%2015.32H68.18z%22%20fill%3D%22%23FFF%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	border-radius: 100%;
	background-size: cover;
	overflow: hidden;
}
.bx-sign-user-party-popup .bx-user-party-popup-popup-user-name {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: var(--ui-color-palette-gray-90);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bx-sign-user-party-popup .--user .bx-user-party-popup-popup-user-icon.--default {
	background-image: url('../images/user.svg');
}

.bx-sign-user-party-popup .--department .bx-user-party-popup-popup-user-icon.--default {
	background-image: url('../images/department.svg');
}

.bx-sign-user-party-popup .bx-user-party-popup-popup-user-item.--department {
	cursor: default;
	text-decoration: none;
}

.bx-sign-user-party-popup .bx-user-party-popup-popup-user-item.--department .bx-user-party-popup-popup-user-name  {
	cursor: default;
	text-decoration: none;
}
