.disk-fe-office-header,
.disk-fe-flipchart-header-logo-box,
.disk-fe-office-header-left,
.disk-fe-office-header-right {
	display: flex;
	align-items: center;
}

.disk-fe-office-header {
	justify-content: space-between;
	padding: 18px 21px 18px 21px;
	width: 100%;
	max-height: 57px;
	background: var(--ui-color-background-primary);
	box-sizing: border-box;
}

.disk-fe-office-header-left {
	margin-right: 15px;
}

.disk-fe-flipchart-header-logo {
	display: inline-flex;
	margin-right: 5px;
	width: 94px;
	height: 24px;
	background-image: url("data:image/svg+xml,%3Csvg width='169' height='29' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M79.091 13.115c0-1.268-1.049-1.713-2.165-1.713-1.495 0-2.723.489-3.862 1l-.781-2.335c1.272-.579 3.036-1.224 5.134-1.224 3.282 0 4.867 1.647 4.867 3.96 0 4.049-5.581 5.183-6.519 8.276h6.72v2.58H71.792c.603-7.23 7.3-7.652 7.3-10.544' fill='%230065A3'/%3E%3Cpath d='M87.195 17.72h1.34v-1.58c0-1.134.088-2.447.133-2.736l-3.326 4.382c.268-.022 1.34-.066 1.853-.066zm-5.246.511l7.366-9.343h2.188v8.832h2.188v2.446h-2.188v3.493h-2.969v-3.493H81.95v-1.935z' fill='%230065A3'/%3E%3Cpath d='M3.987 21.411c1.894 0 2.68-.602 2.68-1.867 0-.722-.283-1.224-.746-1.505-.504-.301-1.229-.381-2.055-.381H2.96v3.753h1.027zM.2 10.431h8.722l-.685 2.229H2.96v2.77h.906c1.43 0 2.7.18 3.686.702 1.169.602 1.874 1.686 1.874 3.372 0 2.369-1.43 4.155-5.5 4.155H.2V10.432zM10.916 14.165h2.64v3.794c0 .782-.021 1.545-.081 2.087h.06c.221-.381.685-1.184 1.229-1.967l2.719-3.914h2.659v9.494h-2.659v-3.793c0-.783.04-1.546.1-2.088h-.06a40.05 40.05 0 01-1.228 1.967l-2.72 3.914h-2.659v-9.494zM24.07 16.413h-2.84v-2.248h8.983l-.705 2.248H26.79v7.246h-2.72zM34.927 21.632c1.632 0 2.437-1.064 2.437-2.73 0-1.847-1.007-2.75-2.679-2.75-.342 0-.624.02-.926.12v5.16c.362.12.705.2 1.168.2zm-3.888-7.086a11.633 11.633 0 013.767-.622c3.545 0 5.338 1.987 5.338 4.978 0 2.85-1.934 4.958-5.016 4.958-.463 0-.926-.06-1.37-.18v4.736H31.04v-13.87zM41.433 14.165h2.639v3.794c0 .782-.02 1.545-.08 2.087h.06c.221-.381.685-1.184 1.228-1.967L48 14.165h2.659v9.494h-2.66v-3.793c0-.783.041-1.546.101-2.088h-.06a40.05 40.05 0 01-1.229 1.967l-2.719 3.914h-2.659v-9.494zM52.411 14.165h2.72v3.633h1.007c1.148 0 1.108-1.927 1.954-3.05.362-.503.926-.824 1.792-.824.282 0 .786.04 1.088.14v2.309c-.161-.06-.363-.1-.564-.1-.302 0-.504.1-.665.3-.483.603-.564 1.827-1.269 2.269v.04c.464.18.806.522 1.088 1.124l1.712 3.653h-2.94l-1.129-2.97c-.241-.583-.483-.844-.745-.844h-1.33v3.814h-2.719v-9.494zM61.717 18.962c0-3.01 2.337-5.038 5.137-5.038 1.289 0 2.135.361 2.638.683v2.268c-.685-.522-1.41-.803-2.336-.803-1.672 0-2.659 1.264-2.659 2.87 0 1.787 1.007 2.75 2.538 2.75.846 0 1.49-.24 2.196-.642l.765 1.846c-.786.562-2.014.964-3.344.964-3.162 0-4.935-2.108-4.935-4.898' fill='%231EC6FA'/%3E%3Cpath d='M97.816 24.06c.758 0 1.373-.615 1.373-1.415s-.615-1.394-1.373-1.394c-.738 0-1.353.595-1.353 1.394 0 .8.615 1.415 1.353 1.415zm8.323-.185c4.694 0 7.605-2.747 7.605-6.847 0-3.997-2.603-6.662-7.38-6.662h-4.202v13.509h3.977zm.04-2.091h-1.557v-9.327h1.517c3.3 0 4.96 1.783 4.96 4.612 0 2.542-1.352 4.715-4.92 4.715zm14.166 2.296c2.89 0 4.859-2.173 4.859-5.084 0-2.911-1.968-5.063-4.859-5.063-2.89 0-4.838 2.152-4.838 5.063 0 2.911 1.948 5.084 4.838 5.084zm0-1.968c-1.537 0-2.337-1.312-2.337-3.116 0-1.784.8-3.095 2.337-3.095 1.538 0 2.337 1.311 2.337 3.095 0 1.804-.8 3.116-2.337 3.116zm11.173 1.968c1.332 0 2.542-.41 3.32-.943l-.717-1.681c-.676.369-1.353.656-2.255.656-1.66 0-2.747-1.086-2.747-3.075 0-1.784 1.066-3.136 2.87-3.136.943 0 1.681.266 2.358.758v-2.07c-.513-.329-1.394-.657-2.604-.657-2.89 0-5.125 2.153-5.125 5.167 0 2.808 1.743 4.981 4.9 4.981zm7.564 0c2.091 0 3.936-.881 3.936-3.013 0-3.383-4.55-2.788-4.55-4.326 0-.636.553-.881 1.373-.881 1.025 0 1.927.266 2.747.614v-2.07a8.457 8.457 0 00-2.85-.472c-2.275 0-3.67 1.21-3.67 2.932 0 3.239 4.552 2.624 4.552 4.264 0 .738-.718 1.025-1.702 1.025s-1.906-.328-2.644-.8l-.759 1.784c.8.492 2.05.943 3.567.943z' fill='%23525C69' fill-rule='nonzero' opacity='.5'/%3E%3C/g%3E%3C/svg%3E");
	background-position: left top -4px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.disk-fe-flipchart-header-logo.--v2 {
	background-image: url("data:image/svg+xml,%3Csvg width='167' height='29' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M79.091 13.115c0-1.268-1.049-1.713-2.165-1.713-1.495 0-2.723.489-3.862 1l-.781-2.335c1.272-.579 3.036-1.224 5.134-1.224 3.282 0 4.867 1.647 4.867 3.96 0 4.049-5.581 5.183-6.519 8.276h6.72v2.58H71.792c.603-7.23 7.3-7.652 7.3-10.544' fill='%230065A3'/%3E%3Cpath d='M87.195 17.72h1.34v-1.58c0-1.134.088-2.447.133-2.736l-3.326 4.382c.268-.022 1.34-.066 1.853-.066zm-5.246.511l7.366-9.343h2.188v8.832h2.188v2.446h-2.188v3.493h-2.969v-3.493H81.95v-1.935z' fill='%230065A3'/%3E%3Cpath d='M3.987 21.411c1.894 0 2.68-.602 2.68-1.867 0-.722-.283-1.224-.746-1.505-.504-.301-1.229-.381-2.055-.381H2.96v3.753h1.027zM.2 10.431h8.722l-.685 2.229H2.96v2.77h.906c1.43 0 2.7.18 3.686.702 1.169.602 1.874 1.686 1.874 3.372 0 2.369-1.43 4.155-5.5 4.155H.2V10.432zM10.916 14.165h2.64v3.794c0 .782-.021 1.545-.081 2.087h.06c.221-.381.685-1.184 1.229-1.967l2.719-3.914h2.659v9.494h-2.659v-3.793c0-.783.04-1.546.1-2.088h-.06a40.05 40.05 0 01-1.228 1.967l-2.72 3.914h-2.659v-9.494zM24.07 16.413h-2.84v-2.248h8.983l-.705 2.248H26.79v7.246h-2.72zM34.927 21.632c1.632 0 2.437-1.064 2.437-2.73 0-1.847-1.007-2.75-2.679-2.75-.342 0-.624.02-.926.12v5.16c.362.12.705.2 1.168.2zm-3.888-7.086a11.633 11.633 0 013.767-.622c3.545 0 5.338 1.987 5.338 4.978 0 2.85-1.934 4.958-5.016 4.958-.463 0-.926-.06-1.37-.18v4.736H31.04v-13.87zM41.433 14.165h2.639v3.794c0 .782-.02 1.545-.08 2.087h.06c.221-.381.685-1.184 1.228-1.967L48 14.165h2.659v9.494h-2.66v-3.793c0-.783.041-1.546.101-2.088h-.06a40.05 40.05 0 01-1.229 1.967l-2.719 3.914h-2.659v-9.494zM52.411 14.165h2.72v3.633h1.007c1.148 0 1.108-1.927 1.954-3.05.362-.503.926-.824 1.792-.824.282 0 .786.04 1.088.14v2.309c-.161-.06-.363-.1-.564-.1-.302 0-.504.1-.665.3-.483.603-.564 1.827-1.269 2.269v.04c.464.18.806.522 1.088 1.124l1.712 3.653h-2.94l-1.129-2.97c-.241-.583-.483-.844-.745-.844h-1.33v3.814h-2.719v-9.494zM61.717 18.962c0-3.01 2.337-5.038 5.137-5.038 1.289 0 2.135.361 2.638.683v2.268c-.685-.522-1.41-.803-2.336-.803-1.672 0-2.659 1.264-2.659 2.87 0 1.787 1.007 2.75 2.538 2.75.846 0 1.49-.24 2.196-.642l.765 1.846c-.786.562-2.014.964-3.344.964-3.162 0-4.935-2.108-4.935-4.898' fill='%231EC6FA'/%3E%3Ctext opacity='.5' font-family='BlissPro-Bold, Bliss Pro' font-size='19' font-weight='bold' fill='%23525C69'%3E%3Ctspan x='94.56' y='24'%3E.Äîêñ%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");
}

.disk-fe-flipchart-header-logo.--eng {
	width: 122px;
	background-image: url("data:image/svg+xml,%3Csvg width='169' height='29' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M6.083 21.498c1.542 0 2.313-.526 2.313-1.74 0-1.03-.77-1.617-2.049-1.617H4.663v3.357h1.42zm-.365-5.622c1.217 0 1.846-.688 1.846-1.557 0-.91-.608-1.618-1.907-1.618h-.994v3.175h1.055zm-3.836-5.44h4.201c2.902 0 4.2 1.679 4.2 3.377 0 1.092-.547 2.164-1.582 2.69v.04c1.603.425 2.496 1.719 2.496 3.215 0 2.023-1.583 4.004-4.749 4.004H1.882V10.436z' fill='%231EC6FA'/%3E%3Cpath d='M1.883 23.965H80.56V8.746H1.883z'/%3E%3Cpath d='M12.638 23.762h2.74v-9.565h-2.74v9.565zm-.284-12.517c0-.87.71-1.577 1.664-1.577.933 0 1.643.667 1.643 1.577 0 .89-.71 1.618-1.643 1.618-.954 0-1.664-.708-1.664-1.618zM17.995 21.275v-4.954H16.23v-2.123h1.765v-2.245l2.76-.789v3.034h2.902l-.63 2.123h-2.272v4.267c0 .89.284 1.193.913 1.193.528 0 1.055-.182 1.42-.425l.792 1.86c-.71.486-1.968.749-2.922.749-1.826 0-2.963-1.011-2.963-2.69M24.631 14.197h2.313l.305 1.012c.811-.749 1.583-1.254 2.617-1.254.467 0 1.036.141 1.462.445l-.954 2.265a2.344 2.344 0 00-1.218-.364c-.588 0-1.055.202-1.785.788v6.673h-2.74v-9.565zM31.856 23.762h2.74v-9.565h-2.74v9.565zm-.285-12.517c0-.87.71-1.577 1.664-1.577.934 0 1.644.667 1.644 1.577 0 .89-.71 1.618-1.644 1.618-.953 0-1.664-.708-1.664-1.618zM38.917 18.95l-3.51-4.753h2.84L40.4 17.11l2.151-2.913h2.84l-3.55 4.753 3.591 4.812h-2.84l-2.212-2.992-2.233 2.992h-2.84z' fill='%231EC6FA'/%3E%3Cpath d='M54.218 13.158c0-1.277-1.057-1.726-2.181-1.726-1.507 0-2.744.493-3.89 1.009l-.788-2.353c1.282-.583 3.059-1.233 5.173-1.233 3.305 0 4.902 1.659 4.902 3.99 0 4.078-5.622 5.221-6.567 8.337h6.77v2.6H46.864c.607-7.284 7.354-7.71 7.354-10.624' fill='%230065A3'/%3E%3Cpath d='M62.382 17.797h1.35v-1.59c0-1.144.089-2.466.134-2.757l-3.35 4.415c.269-.023 1.349-.068 1.866-.068zm-5.285.516L64.518 8.9h2.204v8.897h2.204v2.466h-2.204v3.518h-2.99v-3.518h-6.635v-1.95z' fill='%230065A3'/%3E%3Cpath d='M72.489 23.171c.703 0 1.273-.57 1.273-1.311s-.57-1.292-1.273-1.292c-.684 0-1.254.551-1.254 1.292s.57 1.311 1.254 1.311zM80.203 23c4.351 0 7.049-2.546 7.049-6.346 0-3.705-2.413-6.175-6.84-6.175h-3.895V23h3.686zm.038-1.938h-1.444v-8.645h1.406c3.059 0 4.598 1.653 4.598 4.275 0 2.356-1.254 4.37-4.56 4.37zM93.37 23.19c2.679 0 4.503-2.014 4.503-4.712s-1.824-4.693-4.503-4.693c-2.679 0-4.484 1.995-4.484 4.693 0 2.698 1.805 4.712 4.484 4.712zm0-1.824c-1.425 0-2.166-1.216-2.166-2.888 0-1.653.741-2.869 2.166-2.869 1.425 0 2.166 1.216 2.166 2.869 0 1.672-.741 2.888-2.166 2.888zm10.355 1.824c1.235 0 2.356-.38 3.078-.874l-.665-1.558c-.627.342-1.254.608-2.09.608-1.539 0-2.546-1.007-2.546-2.85 0-1.653.988-2.907 2.66-2.907.874 0 1.558.247 2.185.703v-1.919c-.475-.304-1.292-.608-2.413-.608-2.679 0-4.75 1.995-4.75 4.788 0 2.603 1.615 4.617 4.541 4.617zm7.011 0c1.938 0 3.648-.817 3.648-2.793 0-3.135-4.218-2.584-4.218-4.009 0-.589.513-.817 1.273-.817.95 0 1.786.247 2.546.57v-1.919a7.838 7.838 0 00-2.641-.437c-2.109 0-3.401 1.121-3.401 2.717 0 3.002 4.218 2.432 4.218 3.952 0 .684-.665.95-1.577.95-.912 0-1.767-.304-2.451-.741l-.703 1.653c.741.456 1.9.874 3.306.874z' fill='%23525C69' fill-rule='nonzero' opacity='.5'/%3E%3C/g%3E%3C/svg%3E");
}

.disk-fe-flipchart-header-logo-name {
	font-size: 17px;
	font-weight: var(--ui-font-weight-bold);
	color: rgba(var(--ui-color-base-90-rgb), .44);
	letter-spacing: -1px;
}

.disk-fe-office-header-mode {
	position: relative;
	padding-left: 16px;
	margin: 3px 0 0 14px;
}

.disk-fe-office-header-mode:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	height: 15px;
	width: 1px;
	background-color: rgba(82,92,105,.15);
	transform: translateY(-50%);
}

.disk-fe-office-header-mode-text {
	display: inline-block;
	margin-right: 14px;
	font: 13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: rgba(var(--ui-color-base-solid-rgb), .3);
}

.disk-fe-office-header-online {
	position: relative;
	display: inline-block;
	margin-right: 22px;
	padding-left: 14px;
	font: var(--ui-font-size-md) var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	color: var(--ui-color-base-90);
}

.disk-fe-office-header-online:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--ui-color-primary);
	transform: translateY(-50%);
}

.disk-fe-flipchart__popup .disk-fe-office-access-setting-popup-icon-box {
	display: flex;
	align-items: center;
	color: var(--ui-color-base-90);
}

.disk-fe-flipchart__popup .disk-fe-office-access-setting-popup-icon-box .ui-icon-set {
	margin-right: 9px;
	--ui-icon-set__icon-color: var(--ui-color-base-90);
}
