.biconnector-dashboard-edit__wrapper {
	display: block;
}

.biconnector-dashboard-edit__wrapper_form-row {
	position: relative;
	padding: 16px 12px 16px 59px;
	margin-bottom: 12px;
	border-radius: var(--ui-border-radius-md);
	background-color: var(--ui-color-base-02);
	overflow: hidden;
}

.biconnector-dashboard-edit__wrapper_form-row:before {
	content: '';
	position: absolute;
	top: 14px;
	left: 16px;
	width: 31px;
	height: 31px;
	border-radius: var(--ui-border-radius-circle);
	background-color: var(--ui-color-primary-alt);
	font-weight: var(--ui-font-weight-bold);
	font: var(--ui-font-size-xl) var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	color: var(--ui-color-on-primary-alt);
	text-align: center;
	line-height: 31px;
	z-index: 2;
}

.biconnector-dashboard-edit__wrapper_form-row:nth-child(1):before {
	content: '1';
}

.biconnector-dashboard-edit__wrapper_form-row:nth-child(1):after,
.biconnector-dashboard-edit__wrapper_form-row:nth-child(2):after,
.biconnector-dashboard-edit__wrapper_form-row:nth-child(3):after {
	content: '';
	position: absolute;
	top: 18px;
	left: 30px;
	width: 3px;
	height: 100%;
	background-color: var(--ui-color-tag-3);
}

.biconnector-dashboard-edit__wrapper_form-row:nth-child(2):before {
	content: '2';
}

.biconnector-dashboard-edit__wrapper_form-row:nth-child(2):after,
.biconnector-dashboard-edit__wrapper_form-row:nth-child(3):after {
	top: 0;
}

.biconnector-dashboard-edit__wrapper_form-row:nth-child(3):before {
	content: '3';
}

.biconnector-dashboard-edit__wrapper_form-row:nth-child(3):after {
	height: 20px;
}

.biconnector-dashboard-edit__wrapper_form-row .ui-alert-danger {
	background-color: transparent;
	margin-bottom: 0;
	padding: 0 0 8px 0;
}

.biconnector-dashboard-edit__wrapper_form-row .ui-ctl {
	margin-bottom: 8px;
}

.biconnector-dashboard-edit__info {
	display: flex;
	padding: 13px 18px 35px 18px;
	background: var(--ui-color-palette-blue-25);
	border-radius: var(--ui-border-radius-xs);
	font-size: var(--ui-font-size-md);
	color: var(--ui-color-base-90);
}

.biconnector-dashboard-edit__info_logo {
	margin-right: 15px;
	width: 8px;
	height: 18px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='18' fill='none'%3E%3Cpath fill='%23828B95' fill-rule='evenodd' d='M5.835 2.596c0-1.359-.786-2.098-2.17-2.098-1.358 0-2.145.739-2.145 2.098S2.307 4.74 3.666 4.74c1.383 0 2.17-.786 2.17-2.145Zm1.563 14.906V15.62l-1.216-.167c-.358-.047-.382-.095-.382-.476v-8.06H.866L.604 8.847 1.89 9.3c.238.072.31.238.31.5v5.175c0 .358-.048.43-.382.477l-1.215.167v1.883h6.794Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.biconnector-dashboard-edit__info_content {
	margin-top: 1px;
}

.biconnector-dashboard-edit_link {
	display: inline-block;
	border-bottom: 1px dashed rgba(var(--ui-color-base-70-rgb), var(--ui-opacity-40));
	font-size: var(--ui-font-size-sm);
	color: var(--ui-color-base-80);
	cursor: pointer;
}

.biconnector-dashboard-edit__wrapper .ui-alert {
	display: none;
}

.biconnector-dashboard-edit__wrapper_form-row.--error .ui-ctl-element {
	border-color: var(--ui-color-text-alert);
}

.biconnector-dashboard-edit__wrapper .biconnector-dashboard-edit__wrapper_form-row.--error .ui-alert {
	display: flex;
}
