.task-detail-group-label {
  vertical-align: middle;
  margin-right: 5px;
}
.task-detail-group-loader {
  display: none;
  vertical-align: middle;
}
.mode-loading .task-detail-group-loader {
  display: inline-block;
}
.mode-loading .task-dashed-link {
  display: none;
}
.task-group-field {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.task-group-field.invisible {
  display: none;
}
.group-item-set-empty-false .task-dashed-link {
  display: none;
}
.task-group-field-inner {
  position: relative;
  padding-right: 24px;
}
.task-group-field-label {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  line-height: 18px;
  color: #2067b0;
  border-bottom: 1px solid transparent;
}
.task-group-field-label:hover {
  border-bottom: 1px solid;
}
.task-group-field-title-del {
  width: 20px;
  cursor: pointer;
  height: 16px;
  display: none;
  position: absolute;
  top: 2px;
  right: 0;
  opacity: 0.5;
}
.task-group-field:hover .task-group-field-title-del {
  display: block;
}
.task-group-field-title-del:hover {
  opacity: 1;
}
.task-group-field-title-del:before {
  content: '';
  background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -14px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 13px;
  height: 12px;
}
.task-group-field:hover .task-group-field-title-del {
  display: inline-block;
}
.task-detail-group-link {
  border-bottom: 1px solid transparent;
}
.task-detail-group-link:hover {
  border-bottom: 1px solid;
}
.task-group-select.invisible {
  display: none;
}
