table.controller-form
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
	font-size:100%;
}

/*Table head*/
table.controller-form th
{
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.controller-form th, table.controller-form td
{
	border:1px solid #ADC3D5;
	padding: 3px 5px;
	vertical-align:top;
}

/* Only table cells*/
table.controller-form td
{
}
