.crm-phonetracker-detail-pagination {
	padding-left: 18px;
	margin-bottom: 5px;
	display: block;
	font: 15px/21px -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
	color: #828b95;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	outline: none;
}

.crm-phonetracker-detail-pagination div.container {
	height: 22px;
	float: left;
}

.crm-phonetracker-detail-pagination div.loader {
	height: 22px;
	width: 22px;
	float: left;
	position: relative;
}

.crm-phonetracker-detail-comments-container {
	background-color: #fff;
	padding: 0 16px 16px;
	border-top: 1px solid rgba(219, 221, 224, 0.5);
}

.crm-phonetracker-detail-comments { }

.crm-phonetracker-detail-comments-btn-container { padding: 16px 0 4px; }

.crm-phonetracker-detail-comments-btn {
	font: 15px/18px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
	color: #525C69;
	opacity: .5;
	transition: 190ms linear all;
}

.crm-phonetracker-detail-comments-btn:hover {
	opacity: .9;
	cursor: pointer;
}

.crm-phonetracker-detail-comments-empty {
	min-height: 175px;
	background: url(images/empty_comments.svg) no-repeat center 30px, url("data:image/svg+xml,%3Csvg width='15' height='24' viewBox='0 0 15 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' fill-rule='evenodd' clip-rule='evenodd' d='M13.6181 15.8582C13.2276 15.4676 12.5944 15.4676 12.2038 15.8581L8.38393 19.6781V1.5C8.38393 0.947716 7.93621 0.5 7.38393 0.5H7.12452C6.57223 0.5 6.12452 0.947715 6.12452 1.5V19.6781L2.30457 15.8581C1.91405 15.4676 1.28089 15.4676 0.890361 15.8581L0.707108 16.0414C0.316583 16.4319 0.316583 17.0651 0.707107 17.4556L6.54705 23.2955C6.93758 23.686 7.57074 23.686 7.96127 23.2955L13.8012 17.4555C14.1918 17.065 14.1918 16.4319 13.8013 16.0414L13.6181 15.8582Z' fill='%23525C69'/%3E%3C/svg%3E") no-repeat center calc(100% - 17px);
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #828b95;
	padding-top: 103px;
	padding-bottom: 50px;
	box-sizing: border-box;
}

.post-label-wrap {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	border-radius: 32px;
	padding: 3.5px 13px 3.5px 10px;
	background-color: #c2c6cb;
	margin: 0;
	margin-right: 10px;
	margin-top: 7px;
	text-align: center;
}

.post-label-icon { margin-right: 5px;}

.post-label-text {}

.post-label-text {
	font: 500 13px/15px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	margin: 0;
}

.crm-calltracker-notification .post-comment-balloon {
	background: rgba(255, 237, 177, 0.5);
	border: 1px solid rgba(221, 188, 72, 0.56);
	border-radius: 25px;
}

.crm-calltracker-notification .post-label-wrap {
	background: #f7a700;
}

.crm-phonetracker-event-name {
	font-weight: bold;
	font-size: 16px;
	color: #333 !important;
}

.crm-phonetracker-notification .post-comment-text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #828b95;
}

.ui-icon.crm-phonetracker-icon {
	--ui-icon-size: 34px;
	margin: 6px 8px 0 0;
	max-height: var(--ui-icon-size);
}

.ui-icon-service-callback.crm-phonetracker-icon i {
	--ui-icon-service-bg-color: #9dcf00;
	/*background-image: url(images/phone_icon.svg);*/
}

.crm-phonetracker-icon-status-unsuccessful i { --ui-icon-service-bg-color: #ff5752; }

.ui-icon-counter {
	position: absolute;
	right: -8px;
	top: -8px;
	width: 18px;
	height: 18px;
	background-color: #ff5752;
	text-align: center;
	border: 2px solid #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	vertical-align: middle;
	color: #fff;
	border-radius: 50%;
}

.ui-icon-cross {
	position: absolute;
	right: -8px;
	bottom: -5px;
	z-index: 1;
	padding: 5px;
	background: #FFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
	border-radius: 50%;
	line-height: 11px;
}

div.crm-phonetracker-detail-comments-empty { display: none; }

div.crm-phonetracker-detail-comments div.crm-phonetracker-detail-comments-empty:only-child { display: block; }

div[data-bx-role="loader-block"]:before {
	content: '';
	display: inline-block;
	margin-right: 5px;
	margin-top: 2px;
	width: 11px;
	height: 17px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2011%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M10.9624%207.8596C10.5479%208.98308%209.78382%209.94388%208.78248%2010.6006C7.78114%2011.2573%206.59545%2011.5753%205.39987%2011.5077C4.20429%2011.4402%203.06197%2010.9906%202.141%2010.2253C1.22002%209.45992%200.569031%208.41916%200.283813%207.25613C-0.0014051%206.09311%200.0942138%204.86925%200.5566%203.76464C1.01899%202.66002%201.82372%201.733%202.85239%201.11996C3.88105%200.506925%205.07933%200.240258%206.2709%200.359198C7.46246%200.478138%208.58438%200.976404%209.47157%201.78068L8.37832%202.98665C7.74935%202.41646%206.95397%202.06322%206.10922%201.9789C5.26447%201.89457%204.41496%202.08363%203.68569%202.51823C2.95642%202.95284%202.38591%203.61005%202.0581%204.39316C1.7303%205.17627%201.66251%206.04392%201.86471%206.86843C2.06692%207.69295%202.52844%208.43079%203.18135%208.97339C3.83427%209.51599%204.64412%209.83468%205.49171%209.88258C6.33931%209.93048%207.1799%209.70506%207.88979%209.23948C8.59969%208.77389%209.1414%208.09275%209.43521%207.29626L10.9624%207.8596Z%22%20fill%3D%22%23A8ADB4%22/%3E%0A%3C/svg%3E') no-repeat;
	animation: post-comment-active-progress 1s infinite linear;
}

div[data-bx-role="loader-block"] div { font-style: italic; }

div[data-bx-role="error-block"],
div[data-bx-status="failed"] div[data-bx-role="loader-block"] { display: none; }

div[data-bx-status="failed"] div[data-bx-role="error-block"] { display: block; }

div[data-bx-status="failed"] div[data-bx-role="error-block"] div {
	color: red;
	font-style: italic;
}

div[data-bx-status="failed"] .post-comment-balloon { background: #f3dadb; }
