table.bx-layout-inner-inner-table td.bx-layout-inner-inner-cont {
	padding-right: 63px;
}

.start-page table.bx-layout-inner-inner-table td.bx-layout-inner-inner-cont {
	padding-right: 81px;
}

.bx-im-fullscreen-popup {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	display: none;
	min-width: 590px;
	transition: background .3s;
}

.bx-im-fullscreen-popup-bitrix24 { 
	background: url("./images/bg-clouds.png") no-repeat -42px 33px #2fc6f7; 
}

.bx-im-fullscreen-popup .bx-desktop-placeholder {
	border-radius: 4px;
	display: inline-block;
	width: 92%;
	width: calc(100% - 100px);
	overflow: hidden;
	text-align: left;
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.20);
	position: relative;
}

.bx-im-fullscreen-popup .bx-desktop-appearance-menu {
	border-radius: 4px 0 0 4px;
}

.bx-im-fullscreen-popup .bx-messenger-box-contact {
	box-shadow: none;
}

.bx-im-fullscreen-popup .bx-desktop-appearance-content {
	box-shadow: none;
}

.bx-im-fullscreen-popup-table {
	border: 0;
	height: 100%;
	width: 100%;
	min-width: 590px;
}

.bx-im-fullscreen-popup-td1 {
	vertical-align: middle;
	height: 60px;
	padding-left: 63px;
	padding-right: 63px;
}

.bx-im-fullscreen-popup-td2 {
	text-align: center;
	vertical-align: middle;
}

.bx-im-fullscreen-popup-td3 {
	vertical-align: middle;
	padding-left: 63px;
	padding-right: 63px;
	height: 40px;
	color: #fff;
	padding-bottom: 4px;
}

.bx-im-fullscreen-popup-back {
	float: right;
	margin-top: 4px;
	position: relative;
}

.bx-im-fullscreen-popup-back-link {
	display: inline-block;
	color: #fff;
	padding: 7px 19px 7px 34px;
	border-radius: 18px;
	border: 1px solid rgba(255,255,255,.5);
	font-size: 14px;
	text-decoration: none;
	font-family: OpenSans-Semibold,sans-serif;
	background: rgba(255,255,255,.15);
}
.bx-im-fullscreen-popup-back-link::after, 
.bx-im-fullscreen-popup-back-link::before {
 	background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    margin-left: -23px;
    margin-top: 17px;
    position: absolute;
    width: 15px;
	top:0;
}
.bx-im-fullscreen-popup-back-link::after { transform: rotate(-45deg); }
.bx-im-fullscreen-popup-back-link::before { transform: rotate(45deg); }
.bx-im-fullscreen-popup-back-link:hover {  color: #fff;  }

.bx-im-fullscreen-popup-logo {
	height: 46px;
	float: left;
	margin-top: -5px;
	opacity: 1; 
	transition: opacity .4s;
}
.bx-im-fullscreen-popup-transparent .bx-im-fullscreen-popup-logo { opacity: 0; }

.bx-im-fullscreen-popup-logo span,
.bx-im-fullscreen-popup-logo a,
.bx-im-fullscreen-popup-logo a:hover {
	font-family: OpenSans-Semibold, sans-serif;
	font-size: 37px;
	color: #fff;
	cursor: pointer;
}

.bx-im-fullscreen-copy {
	display: inline-block;
	float: left;
	padding: 10px 20px;
	margin-left: -10px;
}

.bx-im-fullscreen-apps {
	display: inline-block;
	float: left;
	margin: -13px 0 0;
    padding: 17px 0 0;
}

.bx-im-fullscreen-apps-title {
	display: inline-block;
	height: 29px;
	line-height: 25px;
	vertical-align: top;
	padding-right: 15px;
	font-family: OpenSans-Semibold,sans-serif;
}

.bx-im-fullscreen-apps-buttons {
	display: inline-block;
	height: 29px;
	margin: -14px;
	padding: 10px;
}

.bx-im-fullscreen-apps-buttons-group {
	display: inline-block;
	color: #fff;
	padding: 5px 4px 1px;
	border-radius: 18px;
	border: 1px solid rgba(255,255,255,.5);
	font-size: 14px;
	text-decoration: none;
	font-family: OpenSans-Semibold,sans-serif;
	background: rgba(255,255,255,.15);
	margin-right: 10px;
}

.bx-im-fullscreen-apps-buttons-delimiter {
	display: inline-block;
	border-left: 1px solid rgba(255,255,255,.5);
	height: 17px;
}

.bx-im-fullscreen-app-icon {
	display: inline-block;
	margin-right: 12px;
	margin-left: 12px;
}

.bx-im-fullscreen-app-windows {
	height: 16px;
	width: 16px;
	background: url(./images/app-windows.svg);
	background-size: cover;
}

.bx-im-fullscreen-app-osx {
	height: 18px;
	width: 14px;
	background: url(./images/app-apple.svg);
	background-size: cover;
}

.bx-im-fullscreen-app-linux {
	height: 18px;
	width: 15px;
	background: url(./images/app-linux.svg);
	background-size: cover;
}

.bx-im-fullscreen-app-appstore {
	height: 18px;
	width: 75px;
	background: url(./images/app-appstore.svg?v2);
	background-size: cover;
}

.bx-im-fullscreen-app-googleplay {
	height: 18px;
	width: 76px;
	margin-bottom: -1px;
	background: url(./images/app-googleplay.svg?v2);
	background-size: cover;
}


.bx-im-fullscreen-bg {
	display: inline-block;
	float: right;
	padding: 0 20px;
	margin-right: -20px;
	font-family: OpenSans-Semibold,sans-serif;
}

.bx-im-fulsscrenn-bg-title {
	vertical-align: top;
	display: inline-block;
	line-height: 31px;
	padding-right: 5px;
}

.bx-im-fulsscrenn-bg-wrap {
	display: inline-block;
	color: #fff;
    padding: 5px 4px;
	border-radius: 18px;
	border: 1px solid rgba(255,255,255,.5);
	font-size: 14px;
	text-decoration: none;
	font-family: OpenSans-Semibold,sans-serif;
	background: rgba(255,255,255,.15);
	position: relative;
	vertical-align: top;
	min-height: 18px;
}

.bx-im-fullscreen-bg-selector {
	display: block;
	width: 100%;
	height: 36px;
	margin-top: -27px;
	margin-bottom: -8px;
	opacity: 0;
}
.bx-im-fulsscrenn-bg-wrap-title {
	display: block;
	padding: 0 30px 0 10px;
}
.bx-im-fulsscrenn-bg-wrap:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid rgba(255,255,255,.5);
	right: 15px;
    top: 14px;
    position: absolute;
}

@media screen and (max-width: 800px) {
	.bx-im-fullscreen-apps-title { display: none;}
}
@media screen and (max-width: 600px) {
	.bx-im-fullscreen-bg { display: none;}
	.bx-im-fullscreen-popup-back { display: none;}
}
@media screen and (min-width: 1500px) {
	.bx-im-fullscreen-popup-td1,
	.bx-im-fullscreen-popup-td3 { padding-left: 150px; padding-right: 150px; }
	.bx-im-fullscreen-popup .bx-desktop-placeholder { width: 85%; }
}

.template-bitrix24 .bx-im-fullscreen-popup { 
	display: block; 
	transition: none 
}
.template-bitrix24 .bx-im-fullscreen-popup-logo { 
	transition: none 
}