.bx-call-user-list-component-scope {
	--call-user-list-avatar-border-color: #9B83F5;
	--call-user-list-avatar-border-color-active: #A8A6F9;
}

.bx-call-user-list-component {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 5px 8px;
	background: rgba(var(--ui-color-palette-white-base-rgb), 0.14);
	border-radius: 29px;
	border: 1px solid rgba(var(--ui-color-palette-white-base-rgb), 0.24);
	height: 33px;
	min-width: 50px;
	cursor: pointer;
	transition: 0.25s ease-in-out background, border;
}

.bx-call-user-list-component:hover {
	background: rgba(var(--ui-color-palette-white-base-rgb), 0.24);
	border: 1px solid rgba(var(--ui-color-palette-white-base-rgb), 0.34);
}

.bx-call-user-list-component__user-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: -4px;
}

.bx-call-user-list-component__user-item:first-child {
	margin: 0;
}

.bx-call-user-list-component:hover .bx-call-user-list-component__user-avatar {
	border: 2px solid var(--call-user-list-avatar-border-color-active);
}

.bx-call-user-list-component__user-avatar {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	flex-shrink: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 2px solid var(--call-user-list-avatar-border-color);
	transition: 0.25s ease-in-out border;
}

.bx-call-user-list-component__user-avatar.--icon {
	background-image: url('./images/user.svg');
	background-size: 17px 17px;
}

.bx-call-user-list-component__user-avatar.--more {
	font: 12px/var(--ui-font-line-height-xl) var(--ui-font-family-primary);
	font-weight: var(--ui-font-weight-medium, 500);
	color: rgba(var(--ui-color-palette-white-base-rgb), 0.6);
	margin-left: 6px;
	width: auto;
	border: none;
}

.bx-call-user-list-component:hover .bx-call-user-list-component__user-avatar.--more {
	border: none;
}