/** region slider **/
.booking-booking-slider .ui-slider-page {
	height: 100vh;
	overflow: hidden;
}

.booking-booking-slider .ui-side-panel-toolbar {
	margin: 0;
	padding: 0 18px;
	background: var(--ui-color-background-primary);
	border-bottom: 1px solid var(--ui-color-base-10);
}

.bitrix24-dark-theme .page-toolbar {
	margin-left: 18px;
}

.booking-booking-slider .ui-toolbar-filter-box .main-ui-filter-search,
.bitrix24-dark-theme .ui-toolbar-filter-box .main-ui-filter-search {
	padding: 2px;
	background-image: linear-gradient(#fff, #fff);
	box-shadow: inset 0 0 0 1px #c8d1d6;
	border: none !important;
}

.booking-booking-slider .ui-side-panel-wrap-workarea {
	position: relative;
	box-sizing: border-box;
	background-image: linear-gradient(var(--ui-color-base-03), var(--ui-color-base-03));
	border-radius: 0;
}
/** endregion slider **/

.ui-toolbar .ui-toolbar-title-box {
	padding: 0 !important;
	min-width: max-content !important;
}

.workarea-content {
	background-image: linear-gradient(var(--ui-color-base-03), var(--ui-color-base-03));
}

.workarea-content-paddings {
	box-sizing: border-box;
	position: relative;
	height: 100%;
	width: 100%;
}

.booking-toolbar-custom-html {
	display: flex;
	align-items: center;
	gap: 12px;
}

.booking-toolbar-custom-html.--margin-right {
	margin-right: 12px;
}

.booking-toolbar-custom-html.--margin-left {
	margin-left: 12px;
}

/** region hide footer **/
.bx-layout-inner-top-row tr:not(.bx-layout-inner-inner-top-row) .bx-layout-inner-inner-cont {
	padding-bottom: 10px;
}

.bx-layout-inner-top-row + tr {
	display: none;
}
/** endregion hide footer **/


/** region crm notifications agreement **/
.crm-agreement-terms-popup {
	height: 700px;
}

.crm-agreement-terms-popup .popup-window-titlebar {
	text-align: center;
	height: auto;
}

.crm-agreement-terms-popup .popup-window-titlebar-text {
	color: var(--ui-color-text-primary);
	font-size: 16px;
	font-weight: 500;
	padding: 5px 0;
}

.crm-agreement-terms-popup .popup-window-content {
	padding-top: 0;
}

.crm-agreement-terms-popup .popup-window-buttons {
	border-top: var(--ui-color-base-15) solid 1px;
	padding: 20px 0;
	margin: 0 20px;
}
/** endregion crm notifications agreement **/
