.task-form-field.readonly .task-form-field-item {
  background: #b8bcbf;
}
.task-form-field.readonly.flow .task-form-field-item {
	background: #e2e3e5;
}
.task-form-field.readonly .task-form-field-item .task-form-field-item-text {
  color: #f8f9fa;
}
.task-form-field.readonly.flow .task-form-field-item .task-form-field-item-text {
	color: #535c69;
}

.task-form-field-item-text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}
.task-form-field.readonly .task-form-field-item.hover-delete {
  background-color: #9da3a7;
}
.task-form-field.readonly .task-form-field-link {
  display: none;
}
.task-form-field .task-form-field-item[data-bx-type~="group"] {
  background: #ADE7E4;
}
.task-form-field .task-form-field-item[data-bx-type~="group"] .task-form-field-item-text {
  color: #116F6B;
}
.task-form-field .task-form-field-item[data-bx-type~="collaber"],
.task-form-field .task-form-field-item[data-bx-type~="collab"] {
	background: #D4FDB0;
}
.task-form-field .task-form-field-item[data-bx-type~="collaber"] .task-form-field-item-text,
.task-form-field .task-form-field-item[data-bx-type~="collab"] .task-form-field-item-text {
	color: #1E8D36;
}

.task-form-field.readonly .task-form-field-item[data-bx-type~="collaber"] {
	background: #b8bcbf;
}

.task-form-field.readonly .task-form-field-item[data-bx-type~="collaber"] .task-form-field-item-text {
	color: #535c69;
}

.task-form-field .task-form-field-item[data-bx-type~="group"].hover-delete {
  background-color: #8CDDDA;
}
.task-form-field .task-form-field-item[data-bx-type~="extranet"],
.task-form-field .task-form-field-item[data-bx-type~="mail"],
.task-form-field .task-form-field-item[data-bx-type~="crmemail"] {
  background: #ffed8b;
}
.task-form-field .task-form-field-item[data-bx-type~="extranet"] .task-form-field-item-text,
.task-form-field .task-form-field-item[data-bx-type~="mail"] .task-form-field-item-text,
.task-form-field .task-form-field-item[data-bx-type~="crmemail"] .task-form-field-item-text {
  color: #bf7700;
}
.task-form-field .task-form-field-item[data-bx-type~="extranet"].hover-delete,
.task-form-field .task-form-field-item[data-bx-type~="mail"].hover-delete,
.task-form-field .task-form-field-item[data-bx-type~="crmemail"].hover-delete {
  background-color: #ffe558;
}
.task-form-field .task-form-field-item[data-bx-type~="extranet"] .task-form-field-item-text:before {
	display: inline-block;
	height: 13px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -351px;
}
.task-form-field .task-form-field-item[data-bx-type~="mail"] .task-form-field-item-text:before {
  display: inline-block;
  background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -366px;
}
.task-form-field .task-form-field-item[data-bx-type~="crmemail"] .task-form-field-item-text:before {
  display: inline-block;
  background: url(/bitrix/js/tasks/css/images/icon-crmuser-block.png) no-repeat 0 0!important;
}
.task-form-field .task-form-field-item[data-bx-type~="department"] {
  background: #e2e3e5;
}
.task-form-field .task-form-field-item[data-bx-type~="department"] .task-form-field-item-text {
  color: #535c69;
}
.task-form-field .task-form-field-item[data-bx-type~="department"].hover-delete {
  background-color: #c7c9cd;
}
.task-form-field .tasks-h-invisible .invisible {
  width: 0;
  opacity: 0;
  overflow: hidden;
}

.task-form-field-item-flow {
	display: inline-flex;
	width: 10px;
	height: 30px;
	margin: auto;
	z-index: 1;
}

.task-form-field-project-icon {
	display: inline-block;
	margin-right: 8px;
	min-width: 22px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.task-form-field-item.--hide-delet-btn {
	padding-right: 10px;
}

.task-form-field-item.--hide-delet-btn .task-form-field-item-delete {
	display: none;
}

.tasks-preselected-collab-popup-title {
	padding-right: 20px;
}