.ai__prompt-master-progress {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	gap: 4px;
}

.ai__prompt-master-progress_step {
	width: 100%;
	height: 3px;
	background-color: var(--ui-color-base-15);
	transition: 0.2s ease-in-out background-color;
	border-radius: 10px;
}

.ai__prompt-master-progress_step.--passed {
	background-color: var(--ui-color-copilot-primary);
}