.ai__prompt-master-icon-selector {
	width: 40px;
	min-width: 40px;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	outline: none;
	border: var(--ui-border-width-thin) solid rgb(var(--ui-field-color-border-default));
	border-radius: var(--ui-border-radius-2xs);
	cursor: pointer;
	transition: 0.2s ease-in-out border-color;
}

.ai__prompt-master-icon-selector_selected-icon {
	width: 28px;
	height: 28px;
}

.ai__prompt-master-icon-selector:hover,
.ai__prompt-master-icon-selector:focus {
	transition-duration: 0s;
	border-color: var(--ui-color-copilot-secondary);
}


.ai__prompt-master-icon-selector_popup-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 4px 15px;
}

.ai__prompt-master-icon-selector_popup-content-icon {
	--ui-icon-set__icon-color: var(--ui-color-base-50);
	width: 32px;
	height: 32px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: var(--ui-border-radius-2xs);
	border: var(--ui-border-width-thin) solid var(--ui-color-background-transparent);
}

.ai__prompt-master-icon-selector_popup-content-icon.--selected {
	--ui-icon-set__icon-color: var(--ui-color-copilot-primary);
	background-color: var(--ui-color-copilot-soft, #F7F3FD);
	border-color: var(--ui-color-copilot-secondary);
	pointer-events: none;
}

.ai__prompt-master-icon-selector_popup-content-icon:hover {
	--ui-icon-set__icon-color: var(--ui-color-copilot-primary);
}
