.biconnector-usage-stat-number {
	white-space: nowrap;
}

.biconnector-usage-stat-number span {
	width: 4px;
	display: inline-block;
}

.biconnector-usage-stat-action-link {
	padding: 0;
	background: none;
	margin: 0;
	border: none;
	border-bottom: 1px dashed;
	color: #2066B0;
	cursor: pointer;
	transition: 170ms linear all;
}

.biconnector-usage-stat-action-link:hover {
	border-bottom-color: transparent;
}
