.task-detail-page .workarea-content-paddings{
	padding: 0;
}

.task-iframe-popup-side-slider .pagetitle-menu{
	padding-right: 0;
}

.task-iframe-popup,
.task-iframe-popup.task-form-page,
.task-iframe-popup.task-detail-page{
	background: #eef2f4 !important;
	padding: 0 15px 21px 21px;
}

.task-iframe-popup-iframe-popup{
	overflow: hidden !important;
}

.task-iframe-workarea {
	overflow: hidden;
	min-width: 800px;
	width: 100%; /* 0086952 */
}

.task-form-page .task-iframe-workarea{
	padding: 0;
}

.task-iframe-sidebar{
	padding-left: 14px;
	position: relative;
	width: 280px;
	float: right;
}

.task-iframe-content{
	overflow: hidden;
	height: 100%;
	padding: 0;
	min-height: 450px;
}

.task-iframe-popup-side-slider .task-form.tasks{
	padding: 15px 15px 20px;
	background-color: #fff;
	margin-bottom: 68px;
}

.task-iframe-popup-side-slider{
	height: auto !important;
}

.task-iframe-get-link-container{
	padding: 15px;
}

.task-page-link-btn {
	width: 40px;
	display: inline-block;
	height: 32px;
	cursor: pointer;
	opacity: .5;
	transition: 250ms opacity linear;
	vertical-align: middle;
	line-height: 36px;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjODA4NjhFIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS45OSA1Ljg5TDkuNTUgOC4zM2EzLjQ1IDMuNDUgMCAwIDEtNC44OCAwIDMuNDQ3IDMuNDQ3IDAgMCAxLS41MjQtLjY5Nkw1LjI4IDYuNWMuMDU0LS4wNTQuMTItLjA4NS4xODQtLjEyMi4wNzkuMjY4LjIxNS41MjEuNDI2LjczMmExLjcyNyAxLjcyNyAwIDAgMCAyLjQ0IDBsMi40NC0yLjQ0YTEuNzI2IDEuNzI2IDAgMCAwIDAtMi40NCAxLjcyNyAxLjcyNyAwIDAgMC0yLjQ0IDBsLS44NjguODY5YTQuMzI5IDQuMzI5IDAgMCAwLTIuMi0uMjRMNy4xMSAxLjAxMWEzLjQ1IDMuNDUgMCAwIDEgNC44OCA0Ljg4ek01LjUzOCA5LjkwMmwtLjg2OC44NjhhMS43MjggMS43MjggMCAwIDEtMi40NCAwIDEuNzI4IDEuNzI4IDAgMCAxIDAtMi40NGwyLjQ0LTIuNDRhMS43MjYgMS43MjYgMCAwIDEgMi40NCAwYy4yMS4yMS4zNDcuNDY0LjQyNi43MzEuMDY0LS4wMzcuMTMtLjA2Ny4xODQtLjEyMWwxLjEzMy0xLjEzM2EzLjM5IDMuMzkgMCAwIDAtLjUyMy0uNjk3IDMuNDUgMy40NSAwIDAgMC00Ljg4IDBMMS4wMSA3LjExYTMuNDUgMy40NSAwIDAgMCA0Ljg4IDQuODhsMS44NS0xLjg1YTQuMzI2IDQuMzI2IDAgMCAxLTIuMjAyLS4yMzh6Ii8+PC9zdmc+) no-repeat center;
}
.task-page-link-btn:hover {
	opacity: 1;
}