.tracker-agreement-popup-content {
	margin: 15px 0 0 0;
	padding: 20px 27px;
	border-radius: 2px;
	background: #EEF2F4;
}

.tracker-agreement-popup-list {
	margin: 0;
	padding: 0 0 0 13px;
}

.tracker-agreement-popup-list-item {
	padding: 0 0 0 16px;
}

.tracker-agreement-popup-inner-list {
	margin: 14px 0 0 0;
	padding: 0 0 0 15px;
}

.tracker-agreement-popup-inner-list-item {
	padding: 0 0 24px 10px;
	list-style-type: disc;
}

.tracker-agreement-popup-description {
	margin: 20px 0 0 0;
}
