.bx-vi-phones-title {
	border-bottom: 1px solid #edeef0;
	color: #535c69;
	font-size: 21px;
	margin: 0 15px 9px;
	padding: 10px 5px 20px;
}
.bx-vi-phones-block-1 {
	background: url("./images/phone.png?new") no-repeat scroll 10px 13px;
	padding: 0 20px 20px 157px;
	display: table-cell;
	height: 123px;
	min-height: 133px;
	vertical-align: middle;
}
.bx-vi-phones-block-2 {
	padding: 0 20px 20px;
	margin-top: -38px;
}
.bx-vi-phones-block-2 p { padding: 2px 0;}
.bx-vi-phones-block-2 h3 {
	padding-top: 30px;
	font-size: 18px;
}
.bx-vi-phones-connect { width: 527px; height: 264px; border-radius: 3px; background: url(./images/connect_en.png)}
.bx-vi-phones-connect-ru { background: url(./images/connect_ru.png)}
.bx-vi-phones-connect-de { background: url(./images/connect_de.png)}
.bx-vi-phones-call-without-browser { width: 399px; height: 296px; border-radius: 3px; background: url(./images/browser_en.png)}
.bx-vi-phones-call-without-browser-ru { background: url(./images/browser_ru.png) }
.bx-vi-phones-call-without-browser-de { background: url(./images/browser_de.png) }