.telephony-report-call-duration-grid {}
.telephony-report-call-duration-grid-user,
.telephony-report-call-duration-grid-user-name {
	display: flex;
	align-items: center;
}

.telephony-report-call-duration-grid-value {
	display: inline-block;
}

.telephony-report-call-duration-grid-value-up,
.telephony-report-call-duration-grid-value-down {
	position: static;
	padding-left: 0;
	font: 14px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #525c69;
}

.telephony-report-call-duration-grid-value-compare {
	display: flex;
	margin: 0 8px 0 0;
	padding: 0 8px 0 0;
	border-right: 1px solid rgba(82,92,105,.17);
}

.telephony-report-call-duration-grid-value-up:before,
.telephony-report-call-duration-grid-value-down:before {
	content: '';
	display: inline-block;
	margin-right: 5px;
	position: static;
	width: 0;
	height: 0;
	border-style: solid;
	transform: initial;
}

.telephony-report-call-duration-grid-value-up:before {
	border-width: 0 5.5px 7px 5.5px;
	border-color: transparent transparent #7cd500 transparent;
}

.telephony-report-call-duration-grid-value-down:before {
	border-width: 7px 5.5px 0 5.5px;
	border-color: #ff5752 transparent transparent transparent;
}

.telephony-report-call-duration-grid-value-clickable {
	display: flex;
	align-items: center;
	cursor: pointer;
	border-bottom: 1px dashed transparent;
	transition: ease-in .2s;
}

.telephony-report-call-duration-grid-value-clickable:hover {
	color: #2066B0;
	border-bottom: 1px dashed #2066B0;
}

.telephony-report-call-duration-grid-user,
.telephony-report-call-duration-grid-user-name {
	display: flex;
	align-items: center;
}

.telephony-report-call-duration-grid-user-icon.ui-icon {
	display: inline-block;
	margin: 0 9px 0 0;
	width: 23px;
	height: 23px;
	border-radius: 100%;
}

.telephony-report-call-duration-grid-user-name {
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}