.crm-timeline__card-title {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	margin-right: 9px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font: var(--crm-timeline__card-font-title);
	color: var(--ui-color-text-primary, #333);
	transition: color 0.2s linear;
}

a.crm-timeline__card-title:hover {
	color: var(--ui-color-text-secondary, rgba(51,51,51,.9));
	transition-duration: unset;
}

.crm-timeline__card-title.--light {
	color: var(--ui-color-base-50, #a8adb4);
}

.crm-timeline__card-title.--action {
	cursor: pointer;
}

.crm-timeline__card-title.--action.--light:hover,
.crm-timeline__card-title.--action.--light:focus {
	color: var(--ui-color-base-70, #828b95);
	transition-duration: unset;
}

.crm-timeline__card-title:last-child {
	margin-right: unset;
}