.booking-booking-resources-dialog-header-input-container {
	position: relative;
	display: flex;
	margin: 8px 8px 0;
}

.booking-booking-resources-dialog-header-input {
	flex: 1;
	box-sizing: border-box;
	height: 35px;
	padding: 10px 30px 10px 10px;
	border-radius: 4px;
	border: 1px solid var(--ui-color-base-35);
	font-size: var(--ui-font-size-lg);
	transition: border-color .2s;
}

.booking-booking-resources-dialog-header-input:focus,
.booking-booking-resources-dialog-header-input:hover {
	border-color: var(--ui-color-palette-blue-50);
}

.booking-booking-resources-dialog-header-input-icon {
	position: absolute;
	display: flex;
	right: 6px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}

.booking-booking-resources-dialog-header-input-icon .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-70);
	--ui-icon-set__icon-size: 20px;
}
