.mobile-grid {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	background: rgba(223,226,228,0.5);
	overflow: hidden;
}

.mobile-grid-desc {
	font-size: 12px;
	color: #000;
	padding: 14px 18px 7px;
}

.mobile-grid-field-list-title {
	padding: 10px 18px 6px;
	font-size: 11px;
	color: #57686c;
	border-bottom: 1px solid #d8dde1;
}

.mobile-grid-field-list {
	border-bottom: 1px solid #d8dde1;
	background: #fff;
	padding-left: 18px;
}

.mobile-grid-field-item,
.mobile-grid-field-item-select {
	position: relative;
	font-size: 16px;
	line-height: 20px;
	padding: 15px 11px;
	color: #566573;
	border-bottom: 1px solid #d8dde1;
}

.mobile-grid-field-item:last-child,
.mobile-grid-field-item-select:last-child {
	border-bottom: none;
}

.mobile-grid-field-item:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 4px;
	height: 4px;
	background: #949ca5;
	border-radius: 50%;
}

a.mobile-grid-field-item {
	display: block;
	text-decoration: none;
	color: #2f83e2;
	padding-left: 0;
}
a.mobile-grid-field-item:before {
	content: none;
}

.mobile-grid-field-item-select {
	padding: 15px 45px 15px 0;
}

.mobile-grid-field-item-select:before {
	content: '';
	position: absolute;
	right: 9px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 1px solid #cdcdcd;
}

.mobile-grid-field-item-selected:before {
	background: #79cd00;
	border: 1px solid #79cd00;
}

.mobile-grid-field-item-select:after {
	content: '';
	position: absolute;
	width: 6px;
	height: 11px;
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	right: 19px;
	top: 0;
	bottom: 4px;
	margin: auto;
}